<div class="article-grid-item">
  <div class="article-item-image">
    <a href="{{ article.url }}">
      {% include 'rimg', img: article.image, size: 'x450' %}
      {% if template.suffix == 'case_studies' %}
        <div class="hover-content">
          <span>Read Study</span>
          <span>{% render 'icon-arrow-right' %}</span>
        </div>
    {% endif %}
    </a>
  </div>
  {% if template.suffix == 'case_studies' %}
    <div class="eyebrow">{{ article.published_at | date: '%B %d, %Y'   }}</div>
  {% endif %}
  <div class="article-item-title">{{ article.title }}</div>
  {% unless template.suffix == 'case_studies' %}
    <div class="article-item-excerpt">{{ article.excerpt }}</div>
    <a href="{{ article.url }}" class="read-more">
      <span>Read More</span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.23401 0.634376C7.38403 0.484399 7.58748 0.400146 7.79961 0.400146C8.01174 0.400146 8.21519 0.484399 8.36521 0.634376L13.1652 5.43438C13.3152 5.5844 13.3994 5.78784 13.3994 5.99998C13.3994 6.21211 13.3152 6.41555 13.1652 6.56558L8.36521 11.3656C8.21433 11.5113 8.01225 11.5919 7.80249 11.5901C7.59273 11.5883 7.39208 11.5042 7.24375 11.3558C7.09543 11.2075 7.01129 11.0069 7.00947 10.7971C7.00765 10.5873 7.08828 10.3853 7.23401 10.2344L10.6684 6.79998H1.39961C1.18744 6.79998 0.983953 6.71569 0.833924 6.56566C0.683895 6.41563 0.599609 6.21215 0.599609 5.99998C0.599609 5.7878 0.683895 5.58432 0.833924 5.43429C0.983953 5.28426 1.18744 5.19998 1.39961 5.19998H10.6684L7.23401 1.76558C7.08403 1.61555 6.99978 1.41211 6.99978 1.19998C6.99978 0.987844 7.08403 0.784398 7.23401 0.634376V0.634376Z" fill="#F26969"/>
        </svg>
      </span>
    </a>
  {% endunless %}
</div>
