{%- capture cart_item_options -%}
  {%- unless item.variant.title == 'Default Title' -%}
    <span class="cart-item-options">
      {%- if item.variant.title != 'Default title' -%}
        {{ item.variant.title | replace: ' /', ',' }}
      {%- endif -%}
    </span>
  {%- endunless -%}
{%- endcapture -%}

{% if item.variant.inventory_management != blank and item.variant.inventory_policy == 'deny' %}
  {% assign max = item.variant.inventory_quantity %}
{% else %}
  {% assign max = blank %}
{% endif %}

{% assign quantity_name = 'quantity-' | append: item.key %}

<article class="cart-item" data-cart-item="{{ item.id }}">
  {%- if item.image -%}
    <figure class="cart-item-column cart-item-column-image cart-item-image">
      <a href="{{ item.url }}"></a>
      {%
        include 'rimg',
        img: item.image,
        size: '120x',
        lazy: true
      %}
    </figure>
  {%- endif -%}

  <div class="cart-item-column cart-item-column-information">
    <div class="cart-item-information-row">
      <span class="cart-item-title">
        {% if item.properties.subscription_id %}
          {% assign handle_size = item.product.handle | size %}
          {% assign handle_size = handle_size | minus:2 %}
          <a href="https://marketplace.oceanworks.co/products/{{ item.product.handle | slice: 0, handle_size }}">{{ item.product.title }}</a>
        {% else %}
        <a href="{{ item.url }}">{{ item.product.title }}</a>
        {% endif %}
      </span>

      {% unless cart_item_options == blank %}
        <span class="cart-item-options">
          {{ cart_item_options }}
        </span>
      {% endunless %}
      
      <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_properties" style="display:none !important;"></span>
      {% assign propertySize = item.properties | size %}
      {% if propertySize > 0 %}
      {% for p in item.properties %}
      {% assign first_character_in_key = p.first | truncate: 1, '' %}
      {% unless p.last == blank or first_character_in_key == '_' %}
      {{ p.first }}:
      {% if p.last contains '/uploads/' %}
      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
      {% else %}
      {{ p.last }}
      {% endif %}
      {% endunless %}
      {% endfor %}
      {% endif %}

      <div class="cart-item-prices">
        {% if item.original_price != item.final_price %}
          <span class="money cart-item-price cart-item-original-price">{{ item.original_price | money }}</span>
        {% endif %}
        <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>
        <span class="money cart-item-price cart-item-final-price">{{ bold_item_price | money }}</span>
      </div>

      {% if item.discount_allocations.size > 0 %}
        <div class="cart-item-discounts">
          {% for discount_allocation in item.line_level_discount_allocations %}
            <span class="cart-item-discount">
              {%- include 'icon', id: 'sale-tag', class: 'cart-item-discount-sale-tag' -%}
              {{ discount_allocation.discount_application.title }} (-<span class="money">{{ discount_allocation.amount | money }}</span>)
            </span>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="cart-item-remove" data-cart-item-remove>{{ 'cart.remove_item' | t }}</div>

    <div class="cart-item-quantity">
      {%
        include 'quantity',
        max: max,
        value: item.quantity,
        input_name: quantity_name
      %}
    </div>

    <div class="cart-item-line-prices">
      {% if item.original_line_price != item.final_line_price %}
        <span class="money cart-item-line-price cart-item-original-line-price">{{ item.original_line_price | money }}</span>
      {% endif %}
      <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" style="display:none !important;"></span>
      <span class="money cart-item-line-price cart-item-final-line-price">{{ bold_item_line_price | money }}</span>
    </div>
  </div>
</article>