<div class="header-minicart">
  <script
    type="application/json"
    data-section-id="null"
    data-section-type="header-minicart"
    data-section-data>
    {
      "moneyFormat": {{ shop[settings.currency_display_format] | default: shop.money_format | strip_html | json }}
    }
  </script>

  <div class="header-minicart-drawer minicart-wrapper" data-header-minicart-drawer>
    <div class="header-minicart-header">
      <h2 class="header-minicart-heading" data-header-minicart-title="{{ 'cart.title_minicart' | t }}">
        {{ 'cart.title_minicart' | t }} ({%- include 'bold-options-hybrid-cart-item-count' with cart -%}
{{- bold_options_hybrid_item_count -}})
      </h2>

      <button
        class="header-minicart-slideout-dismiss"
        type="button"
        aria-label="{{ 'general.form.close' | t }}"
        data-site-header-minicart-dismiss
      >
        {%- include 'icon', id: 'close' -%}
      </button>
    </div>
    <div class="header-minicart-content-loading">
      <div class="spinner"></div>
    </div>
    <div class="header-minicart-content" data-cart-items></div>
    <div class="header-minicart-footer">
      <div class="header-minicart-footer-wrapper">
        <div
          class="header-minicart-discounts"
          data-cart-discounts-simplified
        ></div>
        <div
          class="header-minicart-interactions"
        >
          <a
            class="product-menu-button-secondary"
            href="/cart"
          >
              {{ 'product.view_cart' | t }}
          </a>
          <a
            class="product-menu-button"
            href="/cart"
          >
            <span>
              {{ 'cart.button_checkout_title' | t }}
            </span>
            <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>
            <span class="money" data-cart-subtotal></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
