<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 0.75C12.3921 0.75 15.75 4.10786 15.75 8.25C15.75 10.051 15.1152 11.7036 14.0572 12.9965L17.0303 15.9697L15.9697 17.0303L12.9965 14.0572C11.7036 15.1152 10.051 15.75 8.25 15.75C4.10786 15.75 0.75 12.3921 0.75 8.25C0.75 4.10786 4.10786 0.75 8.25 0.75ZM8.25 2.25C4.93629 2.25 2.25 4.93629 2.25 8.25C2.25 11.5637 4.93629 14.25 8.25 14.25C11.5637 14.25 14.25 11.5637 14.25 8.25C14.25 4.93629 11.5637 2.25 8.25 2.25Z" fill="#1E3261"/>
</svg>
