<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
  <path d="M3.33398 10L8.00065 5.33337L12.6673 10" stroke="#235AA7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
