<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
  <path d="M20.2927 14.7072L21.707 13.293L28.4141 20.0001L21.707 26.7072L20.2927 25.293L24.585 21.0001H11.9998V19.0001H24.585L20.2927 14.7072Z" fill="#235AA7"/>
  <rect x="1" y="1" width="38" height="38" rx="19" stroke="#235AA7" stroke-width="2"/>
</svg>
