{%- if id == 'arrow' -%}
  <svg class="{{ class }}" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
    <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"/>
  </svg>
{%- endif -%}

{% if id == 'big-arrow' %}
  <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.90592 9.88C8.62761 9.88 8.3493 9.74085 8.21014 9.60169L0 1.5307L1.5307 0L8.90592 7.37521L16.2811 0L17.8118 1.5307L9.74085 9.60169C9.46254 9.74085 9.18423 9.88 8.90592 9.88Z" fill="currentColor"/>
  </svg>
{% endif %}

{%- if id == 'cart-stroke' -%}
  <svg class="{{ class }}" xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20">
    <path fill="currentColor" fill-rule="evenodd" d="M9 18v2H.77c-.214 0-.422-.09-.567-.248-.145-.158-.218-.37-.2-.586L1.03 6.86c.035-.404.364-.706.77-.706h2.314V4.872C4.114 2.186 6.306 0 9 0s4.886 2.186 4.886 4.872v1.282H16.2c.406 0 .735.302.77.705l1.027 12.306c.018.216-.055.428-.2.586-.145.158-.353.248-.568.248H9v-2H2l.852-10H9V0v8h6.148L16 18H9zM6 4.89V6h6V4.89C12 3.295 10.654 2 9 2S6 3.296 6 4.89z"/>
  </svg>
{%- endif -%}

{%- if id == 'cart' -%}
  <svg class="{{ class }}" xmlns="http://www.w3.org/2000/svg" width="33" height="37" viewBox="0 -1 33 37">
    <path fill="currentColor" fill-rule="evenodd" d="M16.04 2.75c-3.285 0-5.958 2.673-5.958 5.958V11H22V8.708c0-3.285-2.674-5.958-5.96-5.958zm-14.666 33c-.383 0-.753-.16-1.012-.444-.258-.282-.39-.66-.357-1.046l1.833-22c.06-.72.647-1.26 1.37-1.26H7.33V8.708c0-4.8 3.907-8.708 8.71-8.708 4.8 0 8.707 3.907 8.707 8.708V11h4.124c.71 0 1.31.554 1.37 1.26l1.833 22c.03.383-.1.764-.356 1.046-.26.283-.63.444-1.013.444H1.374z"/>
  </svg>
{%- endif -%}

{%- if id == 'checkmark' -%}
  <svg class="{{ class }}" xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11">
    <path fill="currentColor" d="M0.888090221,6.09464768 C0.684927298,5.88845086 0.355535116,5.88845086 0.152372193,6.09464768 C-0.0507907309,6.3008445 -0.0507907309,6.6351556 0.152372193,6.84135243 L4.09745885,10.8453523 C4.29905186,11.0499558 4.62534396,11.0517674 4.82913039,10.8494146 L14.8435811,0.905414788 C15.0489545,0.701486155 15.0525582,0.367195061 14.8516301,0.158754732 C14.650702,-0.0496855971 14.3213295,-0.0533430489 14.1159561,0.150585585 L4.46932056,9.72935769 L0.888090221,6.09464768 Z"></path>
  </svg>
{%- endif -%}

{%- if id == 'close' -%}
  <svg class="{{ class }}" xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15">
    <path fill="currentColor" fill-rule="evenodd" d="M15 1.218L13.78 0 7.5 6.282 1.22 0 0 1.218 6.282 7.5 0 13.782 1.22 15 7.5 8.718 13.78 15 15 13.782 8.718 7.5"/>
  </svg>
{%- endif -%}

{%- if id == 'contact-directions' -%}
  <svg class="{{ class }}" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path fill="currentColor" d="M16.484 16.933L10 13.597l-6.484 3.336L10 3.589l6.484 13.344zM19 19.522L10 1 1 19.522l9-4.63 9 4.63z" fill-rule="evenodd"/>
  </svg>
{%- endif -%}

{%- if id == 'contact-email' -%}
  <svg class="{{ class }}" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path fill="currentColor" d="M18.339 3H1.665C.75 3 0 3.728 0 4.626v9.752C0 15.272.748 16 1.665 16h16.67c.917 0 1.665-.728 1.665-1.622V4.626C20.004 3.728 19.256 3 18.339 3zm-.45 1.085L9.998 10.57 2.115 4.085h15.774zM1.11 14.247V4.675l5.86 4.817-5.86 4.755zm.913.668l5.809-4.713 1.807 1.487a.57.57 0 0 0 .716 0l1.811-1.487 5.817 4.713H2.023zm16.871-.67l-5.863-4.753 5.863-4.82v9.572z" fill-rule="evenodd"/>
  </svg>
{%- endif -%}

{%- if id == 'contact-hours' -%}
  <svg class="{{ class }}" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path fill="currentColor" d="M.987 9.5A9.028 9.028 0 0 1 9.5.987v1.74h1V.987A9.028 9.028 0 0 1 19.013 9.5h-1.74v1h1.74a9.028 9.028 0 0 1-8.513 8.513v-1.74h-1v1.74A9.028 9.028 0 0 1 .987 10.5h1.74v-1H.987zM10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10zM7.626 7.374l-.707.707L10 11.16l4.899-4.898-.707-.707L10 9.747 7.626 7.374z" fill-rule="evenodd"/>
  </svg>
{%- endif -%}

{%- if id == 'contact-phone' -%}
  <svg class="{{ class }}" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path fill="currentColor" d="M4.723 1a.631.631 0 0 0-.44.181L1.725 3.713C1.237 4.196 1 4.872 1 5.6c0 2.35 1.835 5.62 4.947 8.625C9.059 17.229 12.447 19 14.883 19c.754 0 1.455-.23 1.955-.7l2.622-2.469a.585.585 0 0 0 .007-.856l-4.144-4a.638.638 0 0 0-.861-.019l-2.13 1.888c-1.042-.6-1.995-1.28-2.81-2.07C8.696 9.978 8 9.065 7.377 8.07l1.955-2.063a.586.586 0 0 0-.019-.831l-4.144-4A.635.635 0 0 0 4.723 1zm.013 1.456L8.013 5.62 6.135 7.594a.583.583 0 0 0-.078.7c.723 1.226 1.568 2.348 2.584 3.331a15.637 15.637 0 0 0 3.45 2.5.64.64 0 0 0 .726-.081l2.046-1.813 3.277 3.163-2.17 2.043c-.233.22-.589.363-1.087.363-1.75 0-5.1-1.573-8.055-4.425S2.243 7.288 2.243 5.6c0-.481.15-.825.376-1.05l2.117-2.094z" fill-rule="evenodd"/>
  </svg>
{%- endif -%}

{%- if id == 'heart' -%}
  <svg class="{{ class }}" xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16">
    <path fill="currentColor" fill-rule="evenodd" d="M9 16c-.184 0-.367-.05-.53-.152C8.125 15.632 0 10.49 0 5c0-2.757 2.243-5 5-5 1.594 0 3.07.837 4 2.08C9.93.837 11.406 0 13 0c2.757 0 5 2.243 5 5 0 5.49-8.124 10.632-8.47 10.848-.163.1-.346.152-.53.152z"/>
  </svg>
{%- endif -%}

{%- if id == 'search' -%}
  <svg
    class="{{ class }}"
    width="20px"
    height="20px"
    viewBox="0 0 20 20"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <path fill="currentColor" d="M18.2779422,16.9108333 L13.7837755,12.4166667 C14.6912755,11.2533333 15.1887755,9.8325 15.1887755,8.33333333 C15.1887755,6.5525 14.4946088,4.87833333 13.2354422,3.62 C11.9771088,2.36 10.3029422,1.66666667 8.52210884,1.66666667 C6.74127551,1.66666667 5.06710884,2.36 3.80877551,3.62 C2.54960884,4.87833333 1.85544218,6.5525 1.85544218,8.33333333 C1.85544218,10.1141667 2.54960884,11.7883333 3.80877551,13.0466667 C5.06710884,14.3066667 6.74127551,15 8.52210884,15 C10.0212755,15 11.4421088,14.5033333 12.6054422,13.595 L17.0996088,18.0883333 L18.2779422,16.9108333 L18.2779422,16.9108333 Z M8.52210884,13.3333333 C7.18627551,13.3333333 5.93127551,12.8133333 4.98710884,11.8691667 C4.04210884,10.925 3.52210884,9.66916667 3.52210884,8.33333333 C3.52210884,6.99833333 4.04210884,5.7425 4.98710884,4.79833333 C5.93127551,3.85333333 7.18627551,3.33333333 8.52210884,3.33333333 C9.85794218,3.33333333 11.1129422,3.85333333 12.0571088,4.79833333 C13.0021088,5.7425 13.5221088,6.99833333 13.5221088,8.33333333 C13.5221088,9.66916667 13.0021088,10.925 12.0571088,11.8691667 C11.1129422,12.8133333 9.85794218,13.3333333 8.52210884,13.3333333 L8.52210884,13.3333333 Z"></path>
  </svg>
{%- endif -%}

{%- if id == 'share' -%}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="4 7 18 13">
    <path fill="currentColor" fill-rule="evenodd" d="M14.917 10.145V7.54c0-.555.323-.71.73-.335l5.622 5.158c.403.37.388.964-.028 1.32l-5.567 4.77c-.42.357-.758.202-.758-.36v-3.158c-4.498 0-7.57.4-9.917 4.6 0 0 1.63-9.39 9.917-9.39z"/>
  </svg>
{%- endif -%}

{%- if id == 'mobilenav-toggle' -%}
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14" fill="none">
    <path d="M0 0H24V2H0V0Z" fill="white"/>
    <path d="M0 6H24V8H0V6Z" fill="white"/>
    <path d="M20 12H0V14H20V12Z" fill="white"/>
  </svg>
{%- endif -%}

{%- if id == 'play' -%}
  <svg class="{{ class }}" xmlns="http://www.w3.org/2000/svg" width="24" height="39" viewBox="0 0 24 39">
    <path fill="currentColor" fill-rule="evenodd" d="M24 19.355L0 38.71V0"/>
  </svg>
{%- endif -%}

{%- if id == 'loader' -%}
  <svg class="{{ class }}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <g fill="currentColor" fill-rule="evenodd">
      <path class="loader-element-phalange" d="M11,2 L11,6 C11,6.55228475 11.4477153,7 12,7 C12.5522847,7 13,6.55228475 13,6 L13,2 C13,1.44771525 12.5522847,1 12,1 C11.4477153,1 11,1.44771525 11,2 Z"/>
      <path class="loader-element-phalange" d="M16.9471068,8.46710678 L19.7771068,5.63710678 C20.1676311,5.24658249 20.1676311,4.61341751 19.7771068,4.22289322 C19.3865825,3.83236893 18.7534175,3.83236893 18.3628932,4.22289322 L15.5328932,7.05289322 C15.1423689,7.44341751 15.1423689,8.07658249 15.5328932,8.46710678 C15.9234175,8.85763107 16.5565825,8.85763107 16.9471068,8.46710678 Z"/>
      <path class="loader-element-phalange" d="M18,13 L22,13 C22.5522847,13 23,12.5522847 23,12 C23,11.4477153 22.5522847,11 22,11 L18,11 C17.4477153,11 17,11.4477153 17,12 C17,12.5522847 17.4477153,13 18,13 Z"/>
      <path class="loader-element-phalange" d="M15.5328932,16.9471068 L18.3628932,19.7771068 C18.7534175,20.1676311 19.3865825,20.1676311 19.7771068,19.7771068 C20.1676311,19.3865825 20.1676311,18.7534175 19.7771068,18.3628932 L16.9471068,15.5328932 C16.5565825,15.1423689 15.9234175,15.1423689 15.5328932,15.5328932 C15.1423689,15.9234175 15.1423689,16.5565825 15.5328932,16.9471068 Z"/>
      <path class="loader-element-phalange" d="M11,18 L11,22 C11,22.5522847 11.4477153,23 12,23 C12.5522847,23 13,22.5522847 13,22 L13,18 C13,17.4477153 12.5522847,17 12,17 C11.4477153,17 11,17.4477153 11,18 Z"/>
      <path class="loader-element-phalange" d="M5.63710678,19.7771068 L8.46710678,16.9471068 C8.85763107,16.5565825 8.85763107,15.9234175 8.46710678,15.5328932 C8.07658249,15.1423689 7.44341751,15.1423689 7.05289322,15.5328932 L4.22289322,18.3628932 C3.83236893,18.7534175 3.83236893,19.3865825 4.22289322,19.7771068 C4.61341751,20.1676311 5.24658249,20.1676311 5.63710678,19.7771068 Z"/>
      <path class="loader-element-phalange" d="M2,13 L6,13 C6.55228475,13 7,12.5522847 7,12 C7,11.4477153 6.55228475,11 6,11 L2,11 C1.44771525,11 1,11.4477153 1,12 C1,12.5522847 1.44771525,13 2,13 Z"/>
      <path class="loader-element-phalange" d="M4.22289322,5.63710678 L7.05289322,8.46710678 C7.44341751,8.85763107 8.07658249,8.85763107 8.46710678,8.46710678 C8.85763107,8.07658249 8.85763107,7.44341751 8.46710678,7.05289322 L5.63710678,4.22289322 C5.24658249,3.83236893 4.61341751,3.83236893 4.22289322,4.22289322 C3.83236893,4.61341751 3.83236893,5.24658249 4.22289322,5.63710678 Z"/>
    </g>
  </svg>
{% endif %}

{% if id == 'checkout-lock' %}
  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 11.1667C2.5 10.0622 3.39543 9.16675 4.5 9.16675H15.5C16.6046 9.16675 17.5 10.0622 17.5 11.1667V16.3334C17.5 17.438 16.6046 18.3334 15.5 18.3334H4.5C3.39543 18.3334 2.5 17.438 2.5 16.3334V11.1667Z" fill="currentColor"/>
    <path d="M5.83337 9.16675V5.83341C5.83337 3.53223 7.69885 1.66675 10 1.66675C12.3012 1.66675 14.1667 3.53223 14.1667 5.83341V9.16675" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{%- if id == 'sale-tag' -%}
  <svg class="{{ class }}" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
    <g fill="none" fill-rule="evenodd">
      <path fill="currentColor" fill-rule="nonzero" d="M.716104 7.30623l.393576.39406.00024-.00024-.393816-.39382zm0 .80971l.393816-.39382-.00024-.00024-.393576.39406zM4.8841 12.2839l.39406-.3935-.00024-.0003-.39382.3938zm.80971 0l-.39382-.3938-.00024.0003.39406.3935zm5.42289-5.42282l.3938.39382v-.00001l-.3938-.39381zm.3351-.80923h-.5569v.00002l.5569-.00002zM6.94819 1.548218l-.00002.556942h.00002v-.556942zm-.80924.335165l-.39381-.393826v.00001l.39381.393816zM.322529 6.91218c-.212053.21179-.33120529.4992-.33120529.79891H1.1052c0-.00405.00161-.00794.00448-.0108l-.787151-.78811zm-.33120529.79891c0 .2997.11915229.58711.33120529.79891l.787151-.78812c-.00287-.00286-.00448-.00674-.00448-.01079H-.00867629zm.33096429.79866L4.49028 12.6778l.78764-.7877-4.168-4.16798-.787632.78763zM4.49004 12.6775c.2118.2121.49921.3312.79891.3312v-1.1139c-.00405 0-.00793-.0016-.01079-.0044l-.78812.7871zm.79891.3312c.29971 0 .58712-.1191.79891-.3312l-.78811-.7871c-.00286.0028-.00675.0044-.0108.0044v1.1139zm.79867-.3309l5.42288-5.4229-.7877-.78763-5.42281 5.42283.78763.7877zm5.42288-5.42291c.319-.31908.4983-.75183.4983-1.20306l-1.1139.00004c0 .15581-.0619.30523-.1721.41541l.7877.78761zm.4983-1.20304V2.02228h-1.1139v4.02957h1.1139zm0-4.02957c0-.569405-.4616-1.03100207-1.031-1.03100207V2.10516c-.0458 0-.0829-.03711-.0829-.08288h1.1139zM10.9778.99127793H6.94819V2.10516h4.02961V.99127793zm-4.02959 0C6.49698.9912614 6.06422 1.170498 5.74515 1.489557l.78761.787653c.11017-.11017.2596-.17206.41541-.17205L6.94821.99127793zM5.74514 1.489567L.322288 6.91242l.787632.78763L6.53277 2.2772l-.78763-.787633z"/>
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.11388" d="M8.74317 3.86992c.21877 0 .39612.17735.39612.39611 0 .21877-.17735.39612-.39612.39612-.21877 0-.39612-.17735-.39612-.39612 0-.21876.17735-.39611.39612-.39611"/>
    </g>
  </svg>
{%- endif -%}

{% if id == 'popup-close' %}
  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none">
    <path d="M16 8L12 12M12 12L8 16M12 12L8 8M12 12L16 16" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}
