<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
  <path d="M25.2928 20.2929L26.707 21.7071L19.9999 28.4142L13.2928 21.7071L14.707 20.2929L18.9999 24.5851V12H20.9999V24.5851L25.2928 20.2929Z" fill="white"/>
  <rect x="39" y="1" width="38" height="38" rx="19" transform="rotate(90 39 1)" stroke="white" stroke-width="2"/>
</svg>
