<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
  <path d="M19.7073 14.7072L18.293 13.293L11.5859 20.0001L18.293 26.7072L19.7073 25.293L15.415 21.0001H28.0002V19.0001H15.415L19.7073 14.7072Z" fill="#235AA7"/>
  <rect x="1" y="1" width="38" height="38" rx="19" stroke="#235AA7" stroke-width="2"/>
</svg>
