{% assign article = articles[settings.article] %}

<div class="image-tile">
  <div class="image-wrap">
    {% assign image = settings.image | default: article.image %}
    {% if article != blank %}
      <a href="{{ article.url }}">
    {% endif %}
    {% include 'rimg', img: image %}
    {% if article != blank %}
      </a>
    {% endif %}
    <div class="eyebrow">
      {% assign article_date = article.created_at | date: format: 'abbreviated_date' %}
      {{ settings.eyebrow_text | default: article_date }}
    </div>
    <div class="title white">{{ settings.title | default: article.title }}</div>
  </div>
</div>
