{% comment %}
  A shared page header, with title and subtitle.

  @param title
  @param subtitle
{% endcomment %}

<header class="masthead">
  <h1 class="masthead-title{% if font == "heading" %} section_title{% endif %}">{{ title }}</h1>

  {% if subtitle != blank %}
    <h2 class="masthead-subtitle">{{ subtitle }}</h2>
  {% endif %}
  
  {% if demo_video != blank %}
  <div style="text-align: center;">
    <a class="collection-featured-item-cta" href="/pages/oceanworks-ocean-plastic-marketplace-demo" style="color: #f26969;">
      <span class="collection-featured-item-cta-text">Watch 60-Second Demo Video</span>
      <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
        <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
        </svg>
      </span>
  	</a>
  </div>
  {% endif %}
</header>
