{% if shop.permanent_domain == 'oceansmade.myshopify.com' %}
  <script src="https://shopifyorderlimits.s3.amazonaws.com/limits/oceansmade.myshopify.com?v=67d&r=20200901112516&shop=oceansmade.myshopify.com"></script>
{% endif %}
