{% if ow_footer_cta_title != '' %}

<div id="shopify-section-section-99x" class="shopify-section section-featured-collections" style="background: #235aa7; padding: 50px; color: white;"> 

  <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-left">
      <div class="collection-featured-item-info">
        {% if ow_footer_cta_title != '' %}
        <h4 class="collection-featured-item-title" style="color: white;">
          {{ow_footer_cta_title}}
        </h4>
        {% endif %}
          
        <div class="collection-featured-item-description" style="margin-top: -10px;">
          <div class="page" title="Page 3">
            <div class="section">
              <div class="layoutArea">
                <div class="column">
                  {%if ow_footer_cta_description != '' %}
                  <p>
                    {{ow_footer_cta_description}}
                    {% if ow_footer_cta_button_a_text != '' %}
                    <a href="{{ow_footer_cta_button_a_url}}">
                      <span class="">{{ow_footer_cta_button_a_text}} &raquo;</span>
                    </a>
                    {% endif %}
                  </p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if ow_footer_cta_button_b_text != '' %}
        <a class="collection-featured-item-cta" href="{{ow_footer_cta_button_b_url}}" style="color: white;">
          <span class="collection-featured-item-cta-text">{{ow_footer_cta_button_b_text}}</span>
          <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
            <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
            </svg>
          </span>
        </a>
        {% endif %}
      </div>
      <figure class="collection-featured-item-image">
        <a href="/pages/demo-the-marketplace">
          <img src={{ 'whale_white.png' | asset_img_url: '900x' }} alt="Recycled ocean plastic solutions for growing sustainable brands.">
        </a>
      </figure>
    </article>
  </section>

</div>
<br/><br/>

{% endif %}