{% if ow_header_background_image and ow_header_background_image != ''%}

  <div class="shopify-section-page-header-with-background" style="background-image: url( '{{ ow_header_background_image | img_url: 'master' }}' ); background-size: cover;">
    <div class="shopify-section-page-header-with-background-inner{%if ow_header_dark_text %}  shopify-section-page-header-with-background-dark-text{% endif %}" style="background: rgba(30, 90, 168, 0.85);">
      {% if ow_header_subtitle %}
        {% include 'masthead', title: page.title, subtitle: ow_header_subtitle %}
      {% else %}
        {% include 'masthead', title: page.title, font: "heading" %}
      {% endif %}
    </div>
  </div>

{% else %}

  {% include 'masthead', title: page.title, font: "heading" %}

{% endif %}