{% if paginate.previous or paginate.next %}
  <ul class="pagination" role="navigation" aria-label="pagination">
    {% if paginate.previous %}
      <li class="pagination-previous">
        <a href="{{ paginate.previous.url }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="14" viewBox="0 0 17 14" fill="none">
            <path d="M8.70726 1.70712L7.29304 0.292908L0.585938 7.00001L7.29304 13.7071L8.70726 12.2929L4.415 8.00001H17.0002V6.00001H4.415L8.70726 1.70712Z" fill="#235AA7"/>
          </svg>
        </a>
      </li>
    {% endif %}

    {% for part in paginate.parts %}
      {% if part.is_link %}
        <li>{{ part.title | link_to: part.url }}</li>
      {% else %}
        {% if part.title == '&hellip;' %}
          <li class="pagination-ellipsis">{{ part.title }}</li>
        {% else %}
          <li class="pagination-active">{{ part.title | link_to: part.url }}</li>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if paginate.next %}
      <li class="pagination-next">
        <a href="{{ paginate.next.url }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="14" viewBox="0 0 17 14" fill="none">
            <path d="M8.29274 1.70712L9.70696 0.292908L16.4141 7.00001L9.70696 13.7071L8.29274 12.2929L12.585 8.00001H-0.000150681V6.00001H12.585L8.29274 1.70712Z" fill="#235AA7"/>
          </svg>
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}
