<form class="product-form-nojs" method="post" action="/cart/add" data-productid="{{ product.id }}">
<!-- Begin ReCharge code -->
{% if product.available %}{% endif %}
<!-- End ReCharge code -->

  {% if product.has_only_default_variant %}
    <input name="id" data-productid="{{ product.id }}" value="{{ bold_selected_or_first_available_variant.id }}" type="hidden">
{%- unless qb_loaded == 'true' -%}
<div class='shappify-qty-msg'>{{bold_selected_or_first_available_variant.metafields.shappify_csp.pricing_html}}</div>
{%- assign qb_loaded = 'true' -%}
{%- endunless -%}

  {% else %}
    <div class="product-form-nojs-variants">
      <select class="product-form-nojs-variants-select" name="id" data-productid="{{ product.id }}">
        {% for variant in product.variants %}
{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
          <option value="{{ variant.id }}">
            {{ variant.title }} - <span class="money" data-product-id="{{ product.id }}">{{ bold_variant_price | money }}</span>
          </option>
        {% endfor%}
      </select>

      <span class="product-form-nojs-variants-select-arrow">
        {%- include 'icon', id: 'arrow' -%}
      </span>
    </div>

  {% endif %}
  
  <input
    class="product-form-nojs-quantity"
    type="number"
    min="1"
    name="quantity"
    value="1"
  />
  
  <button
    class="product-form-nojs-atc-button"
    type="submit"
  >
    {{ 'product.add_to_cart.available' | t }}
  </button>
</form>
