{% comment %}
  Display options for a product

  @param product
         The product to show options for.

  @param type
         Can be "radio" or "select".
{% endcomment %}

{% assign _type = type | default: 'radio' %}


{% if product.has_only_default_variant %}
  <input name="id" data-productid="{{ product.id }}" type="hidden" value="{{ bold_selected_or_first_available_variant.id }}">
{%- unless qb_loaded == 'true' -%}
<div class='shappify-qty-msg'>{{bold_selected_or_first_available_variant.metafields.shappify_csp.pricing_html}}</div>
{%- assign qb_loaded = 'true' -%}
{%- endunless -%}


{% else %}
  <div
       style="display: none;"
    class="
      product-options
      product-options-count-{{ product.options.size }}
      product-options-type-{{ _type }}
    "
    data-product-options
  >
    {% comment %}
      Variant select. This is the source-of-truth for which variant to add.
    {% endcomment %}
    <select name="id" data-productid="{{ product.id }}" style="display: none;" data-variants>
      {% for variant in product.variants %}
		{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
        <option value="{{ variant.id }}">
          {{ variant.title }} - <span class="money" data-product-id="{{ product.id }}">{{ bold_variant_price | money }}</span>
        </option>
      {% endfor %}
    </select>

    {% comment %}
      Option inputs
    {% endcomment %}
    {%- for option in product.options_with_values -%}
      <div class="option">
        <div class="option-header" style="display: none !important;">
          <span class="option-name">{{ option.name }}</span>
        </div>

        <div class="option-values">
          {% assign optionIndex = forloop.index %}

          {% comment %}
            Radio button options
          {% endcomment %}
          {% if _type == 'radio' %}
{%- assign optName = 'options' | append: forloop.index -%}
{%- assign option_values = [optName] | default: option.values -%}
{%- for value in option_values -%}
              <div
                class="
                  option-value
                  {% if option.selected_value == value %}option-selected{% endif %}
                "
              >

                <input
                  class="option-value-input"
                  type="radio"
                  name="{{ option.name | url_encode }}"
                  value="{{ value | escape }}"
                  tabindex="0"
                  aria-label="{{ value | escape }}"
                  {% if option.selected_value == value %}checked{% endif %}
                  data-product-option="{{ 'option' | append: optionIndex }}"
                >
                <label class="option-value-name">{{ value }}</label>
              </div>
            {% endfor %}
          {% endif %}

          {% comment %}
            Select dropdown options
          {% endcomment %}
          {% if _type == 'select' %}
            <div class="option-select">
              <select
                class="option-select-input"
                name=""
                tabindex="0"
                data-product-option="{{ 'option' | append: optionIndex }}"
              >
{%- assign optName = 'options' | append: forloop.index -%}
{%- assign option_values = [optName] | default: option.values -%}
{%- for value in option_values -%}
                  <option
                    value="{{ value | escape }}"
                    {% if option.selected_value == value %}selected{% endif %}
                  >{{ value }}</option>
                {% endfor %}
              </select>

              <span class="option-select-arrow">
                {%- include 'icon', id: 'arrow' -%}
              </span>
            </div>
          {% endif %}

        </div>
      </div>
    {%- endfor -%}

  </div>
{%- unless qb_loaded == 'true' -%}
<div class='shappify-qty-msg'>{{bold_selected_or_first_available_variant.metafields.shappify_csp.pricing_html}}</div>
{%- assign qb_loaded = 'true' -%}
{%- endunless -%}


{% endif %}
