{%- include 'bold-cart' -%}
{% capture product_menu_classes %}
  product-menu
  {% if product.has_only_default_variant %}
    product-menu-default-variant
  {% endif %}
  {% if settings.use_highlighted_menu %}
    product-menu-highlight
  {% endif %}
  {% if show_payment_button %}
    product-menu-payment-buttons
  {% endif %}
{% endcapture %}

{% if product.has_only_default_variant %}
  {% assign product_menu_desktop_default_state = 'addtocart' %}

  {% if show_payment_button %}
    {% assign product_menu_mobile_default_state = 'selectoptions' %}
  {% else %}
    {% assign product_menu_mobile_default_state = 'addtocart' %}
  {% endif %}
{% else %}
  {% assign product_menu_mobile_default_state = 'selectoptions' %}
  {% assign product_menu_desktop_default_state = 'selectoptions' %}
{% endif %}

{% assign payment_buttons = blank %}

{% if product != blank and show_payment_button %}
  {% capture throwaway %}
    {% form 'product', product, data-productid: product.id, class: 'product-form' %}
<!-- Begin ReCharge code -->
{% if product.available %}{% endif %}
<!-- End ReCharge code -->

      {% capture payment_buttons %}
        {{ form | payment_button }}
      {% endcapture %}
    {% endform %}
  {% endcapture %}
{% endif %}

{%
  form 'product',
  product,
  class: product_menu_classes,
  data-product-menu: '',
  data-product-menu-desktop-default-state: product_menu_desktop_default_state,
  data-product-menu-mobile-default-state: product_menu_mobile_default_state,
  data-product-menu-state: product_menu_mobile_default_state
%}
<!-- Begin ReCharge code -->
{% if product.available %}{% endif %}
<!-- End ReCharge code -->

  <div class="product-menu-slideout" data-product-menu-slideout>
    <div class="product-menu-slideout-header">
      <h2 class="product-menu-slideout-heading">
        <span data-product-menu-slideout-heading="product-title">{{ product.title }}</span>
        <span data-product-menu-slideout-heading="minicart-title">{{ 'cart.title_minicart' | t }}</span>
      </h2>

      <button
        class="product-menu-slideout-dismiss"
        type="button"
        aria-label="{{ 'general.form.close' | t }}"
        data-product-menu-slideout-dismiss
      >
        {%- include 'icon', id: 'close' -%}
      </button>
    </div>

    <div
      class="product-menu-slideout-addtocart"
      data-product-menu-slideout-state="addtocart"
      {% if product.has_only_default_variant %}
        data-product-menu-slideout-no-animation
        {% unless show_payment_button %}
          data-product-menu-mobile-slideout-hidden
        {% endunless %}
        data-product-menu-desktop-slideout-hidden
      {% endif %}
    >
      <p
        class="product-menu-addtocart-failure-message"
        data-product-menu-addtocart-failure-message
      ></p>

      {%- include 'product-options' -%}
    </div>

    <div
      class="product-menu-slideout-addtocart-success"
      data-product-menu-slideout-state="addtocart-success"
    >

      <div
        class="product-menu-addtocart-success-message minicart-wrapper"
        data-cart-items
      ></div>
    </div>
  </div>

  <div class="product-menu-buttons" data-product-menu-buttons>
    <div class="product-menu-buttons-content">
      <div
        class="product-menu-buttons-discounts"
        data-cart-discounts-simplified
      ></div>
      <div class="product-menu-buttons-info">
        <a
          class="product-menu-buttons-quickshop-link"
          href="{{ product.url | within: collection }}"
        >
            {{ 'product.quickshop_cta' | t }}{%- include 'icon', id: 'arrow' -%}
        </a>

        <span class="product-menu-buttons-heading">
          {{ product.title }}
        </span>

        <div class="product-menu-buttons-breadcrumbs">
          {%- include 'breadcrumbs' -%}
        </div>
      </div>

      <div
        class="product-menu-buttons-selectoptions"
        data-product-menu-buttons-state="selectoptions"
      >
        <button
          class="product-menu-button"
          type="button"
          data-product-menu-button="selectoptions"
        >
          {% include 'icon',
            id: 'cart-stroke',
          %}
          <div>{{ 'product.select_options' | t }}</div>
        </button>
      </div>

      <div
        class="product-menu-buttons-addtocart"
        data-product-menu-buttons-state="addtocart"
      >
        <div class="product-menu-quantity">
          {% include 'quantity' %}
        </div>

        <button
          class="product-menu-button"
          type="button"
          data-product-menu-button="addtocart"
          data-product-menu-button-addtocart
          data-product-atc
        >
          <span
            class="product-menu-addtocart"
            data-product-menu-button-addtocart-text
          >
            {{ 'product.add_to_cart.available' | t }}
          </span>

          <span
            class="money"
            data-product-menu-button-addtocart-price
          >
            {{ bold_cart_total_price | money }}
          </span>

          <span class="spinner"></span>
        </button>

        {{ payment_buttons }}
      </div>

      <div
        class="product-menu-buttons-addtocart-success"
        data-product-menu-buttons-state="addtocart-success"
      >
        <a
          class="product-menu-button-secondary"
          href="/cart"
        >
            {{ 'product.view_cart' | t }}
        </a>

        {% comment %}
        <a
          class="product-menu-button product-menu-button-minicart-checkout"
          href="/checkout"
        >
          <span>
            {{ 'cart.button_checkout_title' | t }}
          </span>

          <span
            class="money"
            data-product-menu-button-checkout-price
          >
          </span>
        </a>
        {% endcomment %}
      </div>
    </div>
  </div>
{% endform %}
