{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}

{% assign payment_buttons = blank %}

{% if product != blank and show_payment_button %}
  {% capture throwaway %}
    {% form 'product', product, data-productid: product.id, class: 'product-form' %}
<!-- Begin ReCharge code -->
{% if product.available %}{% endif %}
<!-- End ReCharge code -->

      {% capture payment_buttons %}
        {{ form | payment_button }}
      {% endcapture %}
    {% endform %}
  {% endcapture %}
{% endif %}

{% capture form_classes %}
  product-form-inline
  {% if show_payment_button %}
    product-form-payment-buttons
  {% endif %}
{% endcapture %}

{%
  form 'product',
  product,
  class: form_classes,
  data-product-form-inline: '',
	data-productid: product.id
%}
<!-- Begin ReCharge code -->
{% if product.available %}{% endif %}
<!-- End ReCharge code -->

  {% include 'product-options', type: 'select' %}

{% unless qb_loaded == 'true' %}
<div id="shappify-qty-msg">{{bold_selected_or_first_available_variant.metafields.shappify_csp.pricing_html}}</div>{% assign qb_loaded = 'true' %}
{% endunless %}

<div class="bold_options" data-product-id="{{ product.id }}"></div>

{% comment %}
{% if product.selected_or_first_available_variant.sku contains "OR." or product.selected_or_first_available_variant.sku contains "AR." or product.selected_or_first_available_variant.sku contains "PCR." %}
<div class="shappify-qty-msg-x bold_qb_grid-x" style="margin-top: -11px;">
	<table class="shappify_qb_grid">
		
		<tbody>
			<tr>
				<td>2,000+</td>
				<td>
					Inquire with Account Manager
				</td>
			</tr>
		</tbody>
	</table>
</div>
{% endif %}
{% endcomment %}

{% assign showBulkPricing = false %}
{% if product.metafields.oceanworks["moq_price_kg"] and product.metafields.oceanworks["moq_price_kg"] != "" %}
{% if product.metafields.oceanworks["20__mt_price_kg"] and product.metafields.oceanworks["20__mt_price_kg"] != "" %}
	{% assign showBulkPricing = true %}
{% endif %}
{% endif %}

{% comment %}
{% if showBulkPricing == true %}
<div class="shappify-qty-msg-x bold_qb_grid-x">
	<table class="shappify_qb_grid">
		<thead>
			<tr>
				<th>Bulk Quantity (Lead Times Vary)</th>
				<th>Bulk Price</th>
			</tr>
		</thead>
		<tbody>
		{% if product.metafields.oceanworks["moq_price_kg"] and product.metafields.oceanworks["moq_price_kg"] != "" %}
			<tr>
				<td>MOQ</td>
				<td>
					<span class="money" data-currency-usd="${{product.metafields.oceanworks["moq_price_kg"]}} USD" data-currency="USD">${{product.metafields.oceanworks["moq_price_kg"]}} USD</span> Each
				</td>
			</tr>
          {% endif %}
		{% if product.metafields.oceanworks["20__mt_price_kg"] and product.metafields.oceanworks["20__mt_price_kg"] != "" %}
			<tr>
				<td>20,000+</td>
				<td>
					<span class="money" data-currency-usd="${{product.metafields.oceanworks["20__mt_price_kg"]}} USD" data-currency="USD">${{product.metafields.oceanworks["20__mt_price_kg"]}} USD</span> Each
				</td>
			</tr>
          {% endif %}
		</tbody>
	</table>
</div>
{% endif %}
{% endcomment %}

  <br/>
  <div class="product-form-inline-atc">
    {% include 'quantity' %}


    <button
      class="product-form-inline-atc-button"
      type="submit"
      data-product-atc
    >
      <span data-product-inline-atc-text>{{ 'product.add_to_cart.available' | t }}</span>
      <span class="spinner"></span>
    </button>

    {{ payment_buttons }}
  </div>
{% endform %}
