<script type="application/json" data-images>
  {
    {%- for image in product.images %}
      {%- capture rimg_string -%}
        {%
          include 'rimg',
          img: image,
          size: '1050x',
          lazy: true
        %}
      {%- endcapture -%}
      "{{ image.id }}": {{ rimg_string | strip_newlines | json }}{%- unless forloop.last %},{%- endunless -%}
    {%- endfor -%}
  }
</script>

{% assign productTags = product.tags | join:',' | downcase %}

{% assign selected_variant = bold_selected_or_first_available_variant %}
{%- include 'bold-variant' with selected_variant, output: 'none' -%}
{% assign selected_image = selected_variant.image | default: product.featured_image %}

{%- if onboarding or product.images.size > 0 -%}
  <section
    class="
      product-gallery
      product-gallery-layout-{{ layout }}
      
    {% if product.images.size > 1 %}
      product-gallery-{{ gallery_layout | replace: '_', '-' }}
           {% endif %}
    "
    data-product-gallery-layout="{{ layout }}"
           style="flex-wrap: wrap;"
  >
    
    
{% comment %}
{% if product.metafields.oceanworks.certifications and product.metafields.oceanworks.certifications contains "FDA" %}
<div class="product-attribute-top-right">
  <a href="#"><img src="{{ 'Oceanworks_Food_Grade_Icon' | append: '.png' | asset_img_url: '300x' }}"
   style=""
    class="product-attribute-image" /></a>
</div>
{% elsif product.available %}
<div class="product-attribute-top-right">
  <img src="{{ 'Oceanworks_Samples_Icon' | append: '.png' | asset_img_url: '300x' }}"
   style="height: auto;"
    class="product-attribute-image" />
</div>
{% endif %} 
  
{% endcomment %}
    
    
       	{% if product.metafields.oceanworks.owg_product and product.metafields.oceanworks.owg_product == "true" %}
		
    <div class="product-attribute-top-right" style="top: 0; left: 0; width: 150px; height: 150px;">
      <a href="https://oceanworks.co/pages/oceanworks-guaranteed"><img src="{{ 'oceanworks_guaranteed_blue' | append: '.png' | asset_img_url: '300x' }}"
       style=""
        class="product-attribute-image" /></a>
    </div>
        
        {% endif %}
      
  
    {% capture product_images %}
    {% if product.images.size > 1 %}
    <div class="product-images-scrollable" data-product-images-scroll-container>
      
     

      <div class="product-images" data-product-images>
        {%- for image in product.images -%}
          <figure
            class="
              product-image
              {% if selected_image == image %}
                product-image-selected
              {% endif %}
            "
            data-product-image
            data-product-image-index="{{ forloop.index0 }}"
            data-product-image-id="{{ image.id }}"
            {% if layout == 'standard' %}
              data-product-image-zoom
            {% endif %}
            {% if layout == 'alternate' %}
              role="button"
            {% endif %}
          >
            {%
              include 'rimg',
              img: image,
              size: '1050x',
              scale: 1.5,
              lazy: true
            %}
          </figure>
        {% else %}
          <figure
            class="
              product-image
              product-image-selected
              product-image-placeholder
            "
            data-product-image
            data-product-image-index="0"
            data-product-image-id="0"
            {% if layout == 'alternate' %}
              role="button"
            {% endif %}
          >
            {{ 'product-1' | placeholder_svg_tag }}
          </figure>
        {%- endfor -%}
      </div>

      {% if layout == 'alternate' %}
        <button
          class="product-images-scroll-down"
          type="button"
          data-product-images-scroll-down
        >
          {%- include 'icon', id: 'big-arrow' -%}
        </button>
        <button
          class="product-images-scroll-up"
          type="button"
          data-product-images-scroll-up
        >
          {%- include 'icon', id: 'big-arrow' -%}
        </button>
      {% endif %}
      
       <!-- attr -->
      
    </div>
    {% endif %}
  {% endcapture %}

  {% capture product_selected_image %}
      <figure
        class="product-selected-image"
        data-product-selected-image
        data-product-selected-image-default="{{ product.featured_image.id }}"
        {% unless onboarding %}
          data-product-image-zoom
        {% endunless %}
      >
        {% if onboarding %}
          {{ 'product-1' | placeholder_svg_tag }}
        {% else %}
          {%
            include 'rimg',
            img: selected_image,
            size: '1050x',
            scale: 1.5,
            lazy: true
          %}
        {% endif %}
      </figure>
  {% endcapture %}

  {% if gallery_layout == 'slideshow_thumbnails_bottom' %}
    {{ product_images }}
    {{ product_selected_image }}
  {% endif %}

  {% if gallery_layout == 'slideshow_thumbnails_left' %}
    {{ product_images }}
    {{ product_selected_image }}
  {% endif %}

  {% if gallery_layout == 'slideshow_thumbnails_right' %}
    {{ product_selected_image }}
    {{ product_images }}
  {% endif %}

  {% if gallery_layout == 'single_column' %}
    {{ product_images }}
  {% endif %}
    
    
    <div style="flex: 0 0 100%;">
    
    
    {% assign productTags = product.tags | join:',' | downcase %}
     
      
      
      
      <div class="product-attributes" style="position: relative	; z-index: 999;margin-top: 40px;">
      
      {% assign continent = '' %}
  
        
  {% if product.metafields.oceanworks.source_continent and product.metafields.oceanworks.source_continent != "" %}
        {% assign airtable_continent = product.metafields.oceanworks.source_continent | downcase %}
        {% if airtable_continent contains 'australia' %}
            {% assign continent = "OCEANIA" %}
        {% elsif airtable_continent contains 'oceana' %}
            {% assign continent = "OCEANIA" %}
        {% elsif airtable_continent contains 'oceania' %}
            {% assign continent = "OCEANIA" %}
        {% elsif airtable_continent contains 'north america' %}
            {% assign continent = "NA" %}
        {% elsif airtable_continent contains 'europe' %}
            {% assign continent = "EUROPE" %}
        {% elsif airtable_continent contains 'south america' %}
            {% assign continent = "SA" %}
        {% elsif airtable_continent contains 'asia' %}
            {% assign continent = "ASIA" %}
        {% elsif airtable_continent contains 'africa' %}
            {% assign continent = "AFRICA" %}
        {% endif %}
   {% endif %}
    
    <!-- Continent: {{continent}} -->


  {% if continent and continent != '' %}
        <div class="product-attribute">
          <div class="product-attribute-border"></div>
    <img src="{{ continent | append: '.png' | asset_img_url: '300x' }}"
         style=""
         class="product-attribute-image" />
        </div>
  {% endif %}
    
       {% if product.metafields.oceanworks.onboarding___independent_test and product.metafields.oceanworks.onboarding___independent_test != "" %}
		 <div class="product-attribute">
          <div class="product-attribute-border"></div>
    <img src="{{ 'lab_tested.png' | asset_img_url: '300x' }}"
           style=""
         class="product-attribute-image" />
        </div>
        {% endif %}
        
    {% assign source = '' %}

        
        

        {% if product.metafields.oceanworks.api___source_type and product.metafields.oceanworks.api___source_type != "" %}
			{% assign airtable_source = product.metafields.oceanworks.api___source_type | downcase %}
        
            {% if airtable_source contains 'coastal' %}
                {% assign source = "coastal" %}
            {% elsif airtable_source contains 'highseas' %}
                {% assign source = "highseas" %}
            {% elsif airtable_source contains 'high seas' %}
                {% assign source = "highseas" %}
            {% elsif airtable_source contains 'offshore' %}
                {% assign source = "highseas" %}
            {% elsif airtable_source contains 'off shore' %}
                {% assign source = "highseas" %}
            {% elsif airtable_source contains 'near shore' %}
                {% assign source = "nearshore" %}
            {% elsif airtable_source contains 'nearshore' %}
                {% assign source = "nearshore" %}
            {% elsif airtable_source contains 'oceanbound' %}
                {% assign source = "oceanbound" %}
            {% elsif airtable_source contains 'ocean-bound' %}
                {% assign source = "oceanbound" %}
            {% elsif airtable_source contains 'preconsumer' %}
                {% assign source = "preconsumer" %}
            {% elsif airtable_source contains 'pre-consumer' %}
                {% assign source = "preconsumer" %}
            {% elsif airtable_source contains 'waterway' %}
                {% assign source = "waterway" %}
            {% elsif airtable_source contains 'mixed sources' %}
                {% assign source = "mixed_sources" %}
            {% elsif airtable_source contains 'averted' %}
                {% assign source = "averted" %}
            {% elsif airtable_source contains 'pcr' %}
                {% assign source = "pcr" %}
            {% elsif airtable_source contains 'post consumer' %}
                {% assign source = "pcr" %}
            {% elsif airtable_source contains 'postconsumer' %}
                {% assign source = "pcr" %}
            {% elsif airtable_source contains 'post-consumer' %}
                {% assign source = "pcr" %}
            {% elsif airtable_source contains 'post consumer' %}
                {% assign source = "pcr" %}
            {% elsif airtable_source contains 'pir' %}
                {% assign source = "pir" %}
            {% elsif airtable_source contains 'post industrial' %}
                {% assign source = "pir" %}
            {% elsif airtable_source contains 'postindustrial' %}
                {% assign source = "pir" %}
            {% elsif airtable_source contains 'post-industrial' %}
                {% assign source = "pir" %}
            {% endif %}
        
        {% endif %}
    
    <!-- source: {{source}} -->

  {% if source and source != '' %}
        <div class="product-attribute">
          <div class="product-attribute-border"></div>
    <a href="/pages/{{source}}"><img src="{{ source | append: '.png' | asset_img_url: '300x' }}"
         style=""
          class="product-attribute-image" /></a>
        </div>
  {% endif %}
    {% if product.metafields.oceanworks.certifications and product.metafields.oceanworks.certifications contains "FDA" %}
        
        <div class="product-attribute">
          <div class="product-attribute-border"></div>
          <img src="{{ 'OW_Food_Grade_Product_Attr.png' | asset_img_url: '300x' }}"
            class="product-attribute-image"  />
        </div>
        {% endif %}
    
  <div class="product-desc">
    {% unless productTags contains "hidedescription" %}
    {% if product.metafields.oceanworks.automated_description and product.metafields.oceanworks.automated_description != "" %}
    
    <a style="color: #235aa7;" href="#" class="show_hide">Read Full Description</a>
    <p class="automated_description">{{product.metafields.oceanworks.automated_description}}</p>
    <script type="text/javascript">
      $(document).ready(function () {
          $(".automated_description").hide();
          $(".show_hide").show();
          $(".show_hide").on("click", function (e) {
              e.preventDefault();
              var txt = $(".automated_description").is(':visible') ? 'Read Full Description' : 'Read Less';
              $(".show_hide").text(txt);
              $(this).next('.automated_description').slideToggle(200);
              return false;
          });
      });
    </script>
    {% endif %}
    {% endunless %}
    
    {{ product.description }}
  </div>
        
        
        
        
        
        
    </div>
      
      
      
    
    
    
    
    </div>
    
  </section>


{%- endif -%}







