{%- comment -%}
  A shared product item component

  @param product

  @param product_style
    What styling should the product image be given

  @param use_badges
    Whether to display product sale badges or display in-line

  @param show_vendors
    Whether to display product vendors

  @param use_quickshop
    Whether to use the quickshop or not
{%- endcomment -%}

{%- assign product_style = product_style | default: 'natural' -%}
{%- assign use_badges = use_badges | default: true -%}
{%- assign show_vendors = show_vendors | default: false -%}
{%- assign on_sale = false -%}
{% assign product_grid_show_second_image = section.settings.product_grid_show_second_image %}

{%- for variant in product.variants -%}
{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
  {%- if bold_variant_price < variant.compare_at_price -%}
    {%- assign on_sale = true -%}
  {%- endif -%}
{%- endfor -%}

{%- capture price -%}
  <span class="money" data-variant-price>
    <span class="money" data-product-id="{{ product.id }}">{{ bold_price_min | money }}</span>
  </span>
{%- endcapture -%}

{% assign productTags = product.tags | join:',' | downcase %}

<article style="position: relative;" class="
  {% if product.metafields.global and product.metafields.global.tds %}has-tds{% else %}missing-tds{% endif %}
  product-item
  product-item-style-{{ product_style }}
  {% unless product.featured_image %}product-item-no-image{% endunless %}"
  data-product-item="{{ product.id }}"
  {%- if use_quickshop -%}data-use-quickshop{%- endif -%}>
  <a href="{{ product.url | within: collection }}">

    
    {% if product.metafields.oceanworks.owg_product and product.metafields.oceanworks.owg_product contains "true" %}
  <a href="https://oceanworks.co/pages/oceanworks-guaranteed"><img src="https://cdn.shopify.com/s/files/1/0022/9847/8638/t/39/assets/Oceanworks_Guaranteed_Plastic_128x128.png"
    style="position: absolute; z-index: 996; left: 0; width: 55px;  margin-left: -7px; margin-top: 0px; height: auto;"
                                                                   class="" /></a>
    {% endif %}
    {% comment %}
    {% if product.metafields.oceanworks.certifications and product.metafields.oceanworks.certifications contains "FDA" %}
  <img src="{{ 'Oceanworks_Food_Grade_Icon' | append: '.png' | asset_img_url: '300x' }}"
    style="position: absolute; z-index: 996; right: 0; width: 55px;  margin-right: -7px; margin-top: 0px; height: auto;"
    class="" />
{% elsif product.available %}
  <img src="{{ 'Oceanworks_Samples_Icon' | append: '.png' | asset_img_url: '300x' }}"
    style="position: absolute; z-index: 996; right: 0; width: 55px;  margin-right: -7px; margin-top: 0px; height: auto;"
    class="" />
    {% endif %}
    {% endcomment %}
    
    
    <figure class="product-item-image" data-product-item-image>
      {%- if product.featured_image -%}
        {% if product_grid_show_second_image and product.images.size > 1 %}
          {%
            include 'rimg',
            img: product.images[1].src,
            size: '512x',
            lazy: true,
            class: 'product-image-alternate',
          %}
        {% endif %}
        {%
          include 'rimg',
          img: product.featured_image,
          size: '512x',
          lazy: true,
        %}
      {%- else -%}
        {%- capture index -%}
          {%- cycle '1', '2', '3', '4', '5', '6' -%}
        {%- endcapture -%}
        {{ 'product-' | append: index | placeholder_svg_tag }}
      {%- endif -%}
      {%- if true == false and use_badges -%}
        {%- if product.available != true -%}
          {% comment %}
      		<span class="product-item-badge">{{ 'product.item.availability.out_of_stock' | t }}</span>
      	  {% endcomment %}
      	  <!--<span class="product-item-badge">TONNAGE AVAILABLE</span>-->
        {%- elsif on_sale -%}
          <span class="product-item-badge">{{ 'product.item.badges.on_sale' | t }}</span>
        {%- else -%}
      	  <span class="product-item-badge">SAMPLES AVAILABLE</span>
        {%- endif -%}
      {%- endif -%}
    </figure>
  </a>

  <h1 class="product-item-title">
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
  </h1>

  {% if show_vendors %}
    <h2 class="product-item-vendor">
      <a href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
    </h2>
  {% endif %}
  
  {% if customer %}

  <div class="product-price product-item-price">
    {% assign samplesAvailable = false %}
     {% for tag in product.tags %}
      {% if tag contains 'Samples Available' %}
        {% assign samplesAvailable = true %}
      {% endif %}
    {% endfor %}
    {% if samplesAvailable %}
      {%- unless use_badges -%}
        {%- if product.available != true -%}
          {{ 'product.item.availability.out_of_stock' | t }}
        {%- elsif on_sale and bold_price_varies -%}
          {{ 'product.item.price.on_sale_range_html' | t: price: price }}
        {%- elsif on_sale -%}
          {{ 'product.item.price.on_sale_html' | t: price: price }}
        {%- elsif bold_price_varies -%}
          {{ 'product.item.price.range_html' | t: price: price }}
        {%- else -%}
          <span class="money" data-product-id="{{ product.id }}">{{ price }}</span>
        {%- endif -%}
      {%- else -%}
        {%- if on_sale and bold_price_varies -%}
          {{ 'product.item.price.on_sale_range_html' | t: price: price }}
        {%- elsif on_sale -%}
          {{ 'product.item.price.on_sale_html' | t: price: price }}
        {%- elsif bold_price_varies -%}
          {{ 'product.item.price.range_html' | t: price: price }}
        {%- else -%}
          <span class="money" data-product-id="{{ product.id }}">{{ price }}</span>
        {%- endif -%}
      {%- endunless -%}
    {% else %}
    	<a style="font-size: 14px; color: #235aa7;" href="{{ product.url | within: collection }}">Request a Quote &raquo;</a>
    {% endif %}
  </div>
  
  {% endif %}

  {%- capture product_quickshop_markup -%}
    {%- include 'product-quickshop' -%}
  {%- endcapture -%}

  <script
    type="application/json"
    data-quickshop-markup>
    {{ product_quickshop_markup | json }}
  </script>
</article>
