{% comment %}
  A shared price component, with compare at price, and regular price

  @param variant
{% endcomment %}



{% assign productTags = product.tags | join:',' | downcase %}
{% if productTags contains "impact" %}

          {% assign variant = bold_selected_or_first_available_variant %}
          {%- include 'bold-variant' with variant, output: 'none' -%}

          <div class="product-price-box">
                    <span class="xproduct-box-maintext">


                        <div style="margin-bottom: 5px;">
                          <small>
                            <em>Make an impact starting at:</em>
                          </small>
                        </div>
                        <div class="product-price" style="margin-bottom: 10px;">
                          <span class="money-x">

                            <span class="money" data-product-id="{{ product.id }}">{{ bold_variant_price | money }}</span>
                          </span>
                        </div>

                    </span>
                </div>

{% elsif productTags contains "priced" %}

              {% assign variant = bold_selected_or_first_available_variant %}
              {%- include 'bold-variant' with variant, output: 'none' -%}

                    <div class="product-price-box">
                        <span class="xproduct-box-maintext">
                            <div class="product-price" style="margin-bottom: 0px;">
                              <span class="money-x">

                                <span class="money" data-product-id="{{ product.id }}">{{ bold_variant_price | money }}</span>
                              </span>
                            </div>

                        </span>
                    </div>

{% else %}

    {% if customer %}

                    {% if product.available %}
                        {% comment %}

                        <div class="product-price-box">
                      <span class="xproduct-box-maintext">

                        {% assign productTags = product.tags | join:',' | downcase %}

                        {% assign variant = bold_selected_or_first_available_variant %}
                        {%- include 'bold-variant' with variant, output: 'none' -%}

                        {% if true == false and product.metafields.oceanworks.public_bulk_price and product.metafields.oceanworks.public_bulk_price != "" %}
                          <div style="margin-bottom: 5px;">
                            <small>
                              <em>Current container load pricing:</em>
                            </small>
                          </div>
                          <div class="product-price" style="margin-bottom: 10px;">
                            <span class="money-x">
                              <span class="money" style="font-weight: strong; font-size: 36px;">${{product.metafields.oceanworks.public_bulk_price}}</span> {% if product.metafields.oceanworks.unit and product.metafields.oceanworks.unit != "" %}/ {{product.metafields.oceanworks.unit}} {%endif%}
                            </span>
                          </div>
                        {% endif %}

                        {% if product.available %}
                          <div style="margin-bottom: 5px;">
                              <small>
                                  <em>Sample for as little as:</em>
                              </small>
                          </div>
                          <div class="product-price" style="margin-bottom: 0px;">
                              <span
                                class="
                                  money
                                  money-compare-at
                                  {%
                                    if onboarding
                                    or variant.compare_at_price == blank
                                    or bold_variant_price == variant.compare_at_price
                                  %}
                                    money-compare-at-hidden
                                  {% endif %}
                                "
                                data-variant-compare-at-price
                              >
                                {{ variant.compare_at_price | money }}
                              </span>
                              <span class="money" data-variant-price>
                                {% if onboarding %}
                                  {{ 'product.onboarding.price' | t }}
                                {% else %}
                                  <span class="money" data-product-id="{{ product.id }}">{{ bold_variant_price | money }}</span>
                                {% endif %}
                              </span>
                            {% if product.metafields.oceanworks.api___product_categories and product.metafields.oceanworks.api___product_categories contains "Resin" %}
                                    / KG
                                  <span style="font-size: 10px;">&nbsp;(Subject to MOQ)</span>
                            {% endif %}
                          </div>
                        {% endif %}
                      </span>
                  </div>
                {% endcomment %}
            {% endif %}


    {% else %}

                        {% comment %}
			{% if product.available %}			

                {% if product.available or product.metafields.oceanworks.public_bulk_price and product.metafields.oceanworks.public_bulk_price != "" %}


                  <div class="product-price-box">
                      <span class="xproduct-box-maintext">

                        {% assign productTags = product.tags | join:',' | downcase %}

                        {% assign variant = bold_selected_or_first_available_variant %}
                        {%- include 'bold-variant' with variant, output: 'none' -%}

                        {% comment %}
                        {% if product.metafields.oceanworks.public_bulk_price and product.metafields.oceanworks.public_bulk_price != "" %}
                          <div style="margin-bottom: 5px;">
                            <small>
                              <em>Bulk pricing starting at:</em>
                            </small>
                          </div>
                          <div class="product-price" style="margin-bottom: 10px;">
                            <span class="money-x">
                              <span class="money-x">$<span style="filter: blur(4px);">X.XX</span></span> {% if product.metafields.oceanworks.unit and product.metafields.oceanworks.unit != "" %}/ {{product.metafields.oceanworks.unit}} {%endif%}
                              <span style="font-size: 10px;">&nbsp;<a href="/pages/request-a-demo?product={{ product.selected_or_first_available_variant.sku }}" style="font-size: 12px; color: white;">Login for pricing &raquo;</a></span>
                            </span>
                          </div>
                        {% endif %}
                        {% endcomment %}
                        
                        
                        {% comment %}

                        {% if product.available %}
                          <div style="margin-bottom: 5px;">
                              <small>
                                  <em>Sample for as little as:</em>
                              </small>
                          </div>
                          <div class="product-price-x" style="margin-bottom: 0px;">

                              <span class="money-x-y">
                                $<span style="filter: blur(4px);">XX.XX</span>
                              </span>
                              {% if product.metafields.oceanworks.api___product_categories and product.metafields.oceanworks.api___product_categories contains "Resin" %} / KG{% endif %}
                              <span style="font-size: 10px;">&nbsp;<a href="/pages/request-a-demo?product={{ product.selected_or_first_available_variant.sku }}" style="font-size: 12px; color: white;">Login for pricing &raquo;</a></span>

                          </div>
                        {% endif %}
                        {% endcomment %}
                      </span>
                  </div>

                {% endif %}
                {% endif %}


                        {% endcomment %}

    {% endif %}

{% endif %}