{%- assign variant = bold_selected_or_first_available_variant -%}
{%- include 'bold-variant' with variant, output: 'none' -%}
{%- assign enable_cart_redirection = settings.quickshop_enable_cart_redirection -%}

{% assign gallery_position = settings.quickshop_gallery_position %}
{% assign gallery_layout = settings.quickshop_gallery_layout %}

{% if settings.quickshop_enable_menu_form %}
  {% assign enable_inline_form = false %}
{% else %}
  {% assign enable_inline_form = true %}
{% endif %}

{% comment %}
Standard layout is the full size, scrollable image list
Alternate layout is any of the thumbnail layouts
{% endcomment %}
{% assign layout = 'standard' %}
{% if gallery_layout contains 'thumbnails' %}
  {% assign layout = 'alternate' %}
{% endif %}

{% assign thumbnails_direction = 'vertical' %}
{% if gallery_layout contains 'bottom' %}
  {% assign thumbnails_direction = 'horizontal' %}
{% endif %}

{% capture added_to_cart_link %}
  {% include 'icon', id: 'checkmark' %}
  {{ 'product.added_to_cart_link_html' | t }}
{% endcapture %}

<div
  class="product-quickshop-backdrop"
  data-quickshop>
  <script
    type="application/json"
    data-quickshop-data>
    {
      "product": {%- include 'bold-product', output: 'json' -%},
      "selected_or_first_available_variant": {{ bold_selected_or_first_available_variant | json }},
      "money_format": {{ shop.money_format | json }},
      "enable_cart_redirection": {{ enable_cart_redirection | json }},
      "form_is_inline": {{ enable_inline_form | json }},
      "use_history": false,
      "images_layout": {{ layout | json }},
      "thumbnails_direction": {{ thumbnails_direction | json }},
      "text": {
        "added_to_cart_link": {{ added_to_cart_link | json }},
        "product_available": {{ 'product.add_to_cart.available' | t | json }},
        "product_unavailable": {{ 'product.add_to_cart.unavailable' | t | json }}
      },
      "images": {
        {%- for image in product.images %}
          {%- capture rimg_string -%}
            {%
              include 'rimg',
              img: image,
              attr: 'data-product-image-featured',
              size: '1050x'
            %}
          {%- endcapture -%}
          "{{ image.id }}": {{ rimg_string | strip_newlines | json }}{%- unless forloop.last %},{%- endunless -%}
        {%- endfor -%}
      }
    }
  </script>
  <section class="product-quickshop">
    <div class="
        product-quickshop-details-container
        {% unless enable_inline_form %}product-quickshop-menu-enabled{% endunless %}
      "
      data-quickshop-container
    >
      <button
        class="product-quickshop-button-dismiss"
        type="button"
        aria-label="{{ 'general.form.close' | t }}"
        data-product-quickshop-button-dismiss>
        {%- include 'icon', id: 'close' -%}
      </button>

      <div class="product-alert">
        <div class="product-alert-content">
          <div class="product-alert-dismiss">{% include 'icon', id: 'close' %}</div>
          <div class="product-alert-message"></div>
        </div>
      </div>
      {% capture product_images %}
        {%
          include 'product-images',
          gallery_layout: gallery_layout,
          gallery_position: gallery_position,
          layout: layout,
        %}
      {% endcapture %}

      {% capture product_details %}
        <section class="product-details" data-product-details>
          <h1 class="product-title">{{ product.title }}</h1>

          {% include 'product-price' %}

          <div class="product-rte rte" data-product-description>
            {{ product.description }}
          </div>

          {% if enable_inline_form %}
            {%
              include 'product-form-inline',
              show_payment_button: settings.quickshop_show_payment_button
            %}

            <a
              class="product-menu-buttons-quickshop-link"
              href="{{ product.url | within: collection }}"
            >
                {{ 'product.quickshop_cta' | t }}{%- include 'icon', id: 'arrow' -%}
            </a>
          {% endif %}
        </section>
      {% endcapture %}

      {% if gallery_position == 'left' %}
        {{ product_images }}
        {{ product_details }}
      {% endif %}

      {% if gallery_position == 'right' %}
        {{ product_details }}
        {{ product_images }}
      {% endif %}

      {% if enable_inline_form == false %}
        {%-
          include 'product-menu',
          product: product,
          show_payment_button: settings.quickshop_show_payment_button
        -%}
      {% endif %}
    </div>
  </section>
</div>
