{% comment %}

  A quantity control, with increment and decrement buttons.

  @param value (optional)
         The current quantity. Defaults to 1.

{% endcomment %}

{% assign val = value | default: 1 %}
{% assign name = input_name | default: 'quantity' %}

{% if min != blank and val < min %}
  {% assign val = min %}
{% endif %}

{% if max != blank and val > max %}
  {% assign val = max %}
{% endif %}

<div class="quantity" data-quantity>
  
  {% if true == false %}
  
  <input
    class="quantity-input"
    type="hidden"
    name="{{ name }}"
    value="1"
  >
  
  <select id="weight">

    <option value="1">10 KG</option>

    <option value="5">50 KG</option>

    <option value="10">100 KG</option>

  </select>
  
  <script type="text/javascript">
    
    jQuery(function($) {
    
      $("#weight").change(function() {
        
        console.log('weight change!', $(this).val());

         $('.quantity-input').val($(this).val());
        
        console.log('new val', $('.quantity-input').val());

      });

    });
    
  </script>
  
  {% else %}
  
  <button
    class="quantity-decrement"
    type="button"
    aria-label="{{ 'general.form.decrement' | t }}"
    data-quantity-decrement
  >
    &minus;
  </button>

  <input
    class="quantity-input"
    type="number"
    name="{{ name }}"
    min=0
    value="{{ val | escape }}"
    aria-label="{{ 'general.form.input_quantity' | t }}"
    data-quantity-input
  >

  <button
    class="quantity-increment"
    type="button"
    aria-label="{{ 'general.form.increment' | t }}"
    data-quantity-increment
  >
    &plus;
  </button>
  
  {% endif %}
  
</div>
