{%- assign display_info = false -%}

{%- if block.settings.title != blank or block.settings.text != blank -%}
  {%- assign display_info = true -%}
{%- endif -%}

{%- if display_info or block.settings.link_text != blank -%}
  {%- assign display_info = true -%}
{%- endif -%}

<article
  class="
    slideshow-slide
    slideshow-slide-layout-{{ block.settings.layout }}
    {%- unless block.settings.image -%}slideshow-slide-no-image{%- endunless -%}"
  data-slideshow-slide
  data-slideshow-slide-layout="{{ block.settings.layout }}"
  {{ block.shopify_attributes }}>
  <figure class="slideshow-slide-image" data-slideshow-slide-image data-slideshow-layout="{{ block.settings.layout }}">
    
    {% capture image %}
      {%- if block.settings.image -%}
        {%
          include 'rimg',
          img: 'https://cdn.shopify.com/s/files/1/0022/9847/8638/files/white_slide_bg.png',
          size: '1280x',
          crop: 'center',
          lazy: true
        %}
      {%- else -%}
       
      {%- endif -%}
    {% endcapture %}
    {%- if block.settings.link != blank -%}
      <a href="{{ block.settings.link }}">
        <img src="https://cdn.shopify.com/s/files/1/0022/9847/8638/files/white_slide_bg.png" />
      </a>
    {% else %}
      <img src="https://cdn.shopify.com/s/files/1/0022/9847/8638/files/white_slide_bg.png" />
    {%- endif -%}
  </figure>
  {%- if display_info -%}
    <div class="slideshow-slide-info">
      <h2
        class="slideshow-slide-title"
        {% if block.settings.text_color != blank %}
          style="color: {{ block.settings.text_color }};"
        {% endif %}
      >
        {%- if block.settings.link != blank -%}
          <a
            href="{{ block.settings.link }}"
          >
            {{ block.settings.title | escape }}
          </a>
        {% else %}
          {{ block.settings.title | escape }}
        {%- endif -%}
      </h2>
      <div
        class="slideshow-slide-text"{% if block.settings.text_color != blank %}
        style="color: {{ block.settings.text_color }};"{% endif %}
      >
        {%- if block.settings.link != blank -%}
          <a
            href="{{ block.settings.link }}"
          >
            {{ block.settings.text }}
          </a>
        {% else %}
          {{ block.settings.text }}
        {%- endif -%}
        {%- if block.settings.image -%}
        <br/>
        <div class="slideshow-logo">
        {%
            include 'rimg',
            img: block.settings.image,
            size: '200x',
            lazy: true
          %}
        </div>
        {%- endif -%}
      </div>

      {%- if block.settings.link_text != blank -%}
        <a
          class="slideshow-slide-link"
          href="{{ block.settings.link }}"
          {% if block.settings.text_color != blank %}
            style="color: {{ block.settings.text_color }};"
          {% endif %}
        >
          <span class="slideshow-slide-link-text">{{ block.settings.link_text | escape }}</span>
          <span class="slideshow-slide-link-arrow">{%- include 'icon', id: 'arrow' -%}</span>
        </a>
      {%- endif -%}
    </div>
  {%- endif -%}
</article>
