<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->

{% comment %}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
 function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500); 
</script>
<script type="text/javascript">
  function recaptcha_callback(){
    $('.button').prop("disabled", false);
  }
</script>
{% endcomment %}

<form action="https://api.oceanworks.co/" method="POST" id="lead_form">

  
{% comment %}<input type=hidden name='captcha_settings' value='{"keyname":"OW_reCAPTCHA","fallback":"true","orgId":"00Df20000012TX5","ts":""}'>
{% endcomment %}
  
  <input type=hidden name="oid" value="00Df20000012TX5">
  <input type=hidden name="retURL" value="https://oceanworks.co/pages/thank-you-lead-{{ lead_type | downcase }}">

  <!-- Product Auto-Fill From URL -->
  <input type="hidden" id="00N5w00000G5AFi" name="00N5w00000G5AFi" value="" />

  <!-- Lead Type -->
  <input type="hidden" id="00Nf200000E2bJw" name="00Nf200000E2bJw" title="Lead Type" value="{{ lead_type }}" />
  
  <!-- Direction -->
  <input type="hidden" id="00N5w00000E3jeV" name="00N5w00000E3jeV" title="Direction" value="Inbound" />
    
  <!-- SKU -->
  <input type="hidden" id="00N5w00000G5AFi" name="00N5w00000G5AFi" title="SKU" value="" />
  
  <!-- UTM Source -->
  <input type="hidden" id="00N5w00000G594h" name="00N5w00000G594h" value="" />
  
  <!-- UTM Medium -->
  <input type="hidden" id="00N5w00000G594r" name="00N5w00000G594r" value="" />
  
  <!-- UTM Campaign -->
  <input type="hidden" id="00N5w00000G5994" name="00N5w00000G5994" value="" />
  
  <!--  ----------------------------------------------------------------------  -->
  <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
  <!--  these lines if you wish to test in debug mode.                          -->
  <!--  <input type="hidden" name="debug" value=1>                              -->
  <!--  <input type="hidden" name="debugEmail" value="prcheek@gmail.com">       -->
  <!--  ----------------------------------------------------------------------  -->

  <label for="first_name">First Name <small>(required)</small></label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" {% if customer %} value="{{customer.first_name}}"{% endif %} required /><br>

  <label for="last_name">Last Name <small>(required)</small></label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text"{% if customer %} value="{{customer.last_name}}"{% endif %} required /><br>
  
  {% unless customer %}
  <label for="title">Job Title <small>(required)</small></label><input  id="title" maxlength="40" name="title" size="20" type="text" required /><br>
  {% endunless %}
  <label for="company">Company <small>(required)</small></label><input  id="company" maxlength="40" name="company" size="20" type="text" required /><br>
  
  
  <label for="email">Email <small>(required)</small></label><input  id="email" maxlength="80" name="email" size="20" type="text" {% if customer %} value="{{customer.email}}"{% endif %} required /><br>
  
  {% unless customer %}
  <label for="phone">Phone</label><input  id="phone" maxlength="40" name="phone" size="20" type="text" /><br>

  <label for="url">Website <small>(required)</small></label><input  id="url" maxlength="80" name="url" size="20" type="text" required /><br>

  {% if exclude_qualification_questions != "y" %}
  <label for="industry">Industry <small>(required)</small></label>
  <select  id="industry" name="industry" required>
  <option value="">Choose One...</option>
  <option value="Automotive / Components">Automotive / Components</option>
  <option value="Apparel">Apparel</option>
  <option value="Beauty">Beauty</option>
  <option value="Chemicals">Chemicals</option>
  <option value="Consulting">Consulting</option>
  <option value="Electronics">Electronics</option>
  <option value="Engineering">Engineering</option>
  <option value="Environmental">Environmental</option>
  <option value="Financial Services">Financial Services</option>
  <option value="Food &amp; Beverage">Food &amp; Beverage</option>
  <option value="Footwear">Footwear</option>
  <option value="Furniture">Furniture</option>
  <option value="Government">Government</option>
  <option value="Healthcare">Healthcare</option>
  <option value="Hospitality">Hospitality</option>
  <option value="Industrial">Industrial</option>
  <option value="Jewelry / Watches">Jewelry / Watches</option>
  <option value="Luggage">Luggage</option>
  <option value="Promotional Content">Promotional Content</option>
  <option value="Recreation">Recreation</option>
  <option value="Technology">Technology</option>
  <option value="Textiles">Textiles</option>
  <option value="Telecommunications">Telecommunications</option>
  <option value="Other">Other</option>
  </select><br>
  
  Number of Employees <small>(required)</small>
  <br/>
  <select  id="00N5w00000E3EpM" name="00N5w00000E3EpM" title="No. of Employees Range" required>
  <option value="">Choose One...</option>
  <option value="1-10">1-10</option>
  <option value="11-50">11-50</option>
  <option value="51-200">51-200</option>
  <option value="201-500">201-500</option>
  <option value="501-1,000">501-1,000</option>
  <option value="1,001-5,000">1,001-5,000</option>
  <option value="5,001-10,000">5,001-10,000</option>
  <option value="10,001+">10,001+</option>
  </select><br>
  
  Company Type <small>(required)</small>
  <br/>
  <select  id="00N5w00000G599n" name="00N5w00000G599n" title="Type" required>
  <option value="">--None--</option>
  <option value="Agency">Agency</option>
  <option value="Brand">Brand</option>
  <option value="Manufacturer">Manufacturer</option>
  <option value="Packaging Manufacturer">Packaging Manufacturer</option>
  <option value="Plastics Industry">Plastics Industry</option>
  </select><br>
  
  Headquarters Country <small>(required)</small>
  <br/>
  <select  id="country_hq" name="country_hq" title="Headquarters Country" required>
    <option value="">--None--</option>
    <option>Afghanistan</option>
    <option>Albania</option>
    <option>Algeria</option>
    <option>Andorra</option>
    <option>Angola</option>
    <option>Antigua and Barbuda</option>
    <option>Argentina</option>
    <option>Armenia</option>
    <option>Australia</option>
    <option>Austria</option>
    <option>Azerbaijan</option>
    <option>Bahamas</option>
    <option>Bahrain</option>
    <option>Bangladesh</option>
    <option>Barbados</option>
    <option>Belarus</option>
    <option>Belgium</option>
    <option>Belize</option>
    <option>Benin</option>
    <option>Bhutan</option>
    <option>Bolivia</option>
    <option>Bosnia and Herzegovina</option>
    <option>Botswana</option>
    <option>Brazil</option>
    <option>Brunei</option>
    <option>Bulgaria</option>
    <option>Burkina Faso</option>
    <option>Burundi</option>
    <option>Cabo Verde</option>
    <option>Cambodia</option>
    <option>Cameroon</option>
    <option>Canada</option>
    <option>Central African Republic</option>
    <option>Chad</option>
    <option>Chile</option>
    <option>China</option>
    <option>Colombia</option>
    <option>Comoros</option>
    <option>Congo (Congo-Brazzaville)</option>
    <option>Costa Rica</option>
    <option>Côte d'Ivoire</option>
    <option>Croatia</option>
    <option>Cuba</option>
    <option>Cyprus</option>
    <option>Czechia (Czech Republic)</option>
    <option>Democratic Republic of the Congo</option>
    <option>Denmark</option>
    <option>Djibouti</option>
    <option>Dominica</option>
    <option>Dominican Republic</option>
    <option>Ecuador</option>
    <option>Egypt</option>
    <option>El Salvador</option>
    <option>Equatorial Guinea</option>
    <option>Eritrea</option>
    <option>Estonia</option>
    <option>Eswatini (fmr. \Swaziland\")"</option>
    <option>Ethiopia</option>
    <option>Fiji</option>
    <option>Finland</option>
    <option>France</option>
    <option>Gabon</option>
    <option>Gambia</option>
    <option>Georgia</option>
    <option>Germany</option>
    <option>Ghana</option>
    <option>Greece</option>
    <option>Grenada</option>
    <option>Guatemala</option>
    <option>Guinea</option>
    <option>Guinea-Bissau</option>
    <option>Guyana</option>
    <option>Haiti</option>
    <option>Holy See</option>
    <option>Honduras</option>
    <option>Hong Kong</option>
    <option>Hungary</option>
    <option>Iceland</option>
    <option>India</option>
    <option>Indonesia</option>
    <option>Iran</option>
    <option>Iraq</option>
    <option>Ireland</option>
    <option>Israel</option>
    <option>Italy</option>
    <option>Jamaica</option>
    <option>Japan</option>
    <option>Jordan</option>
    <option>Kazakhstan</option>
    <option>Kenya</option>
    <option>Kiribati</option>
    <option>Kuwait</option>
    <option>Kyrgyzstan</option>
    <option>Laos</option>
    <option>Latvia</option>
    <option>Lebanon</option>
    <option>Lesotho</option>
    <option>Liberia</option>
    <option>Libya</option>
    <option>Liechtenstein</option>
    <option>Lithuania</option>
    <option>Luxembourg</option>
    <option>Madagascar</option>
    <option>Malawi</option>
    <option>Malaysia</option>
    <option>Maldives</option>
    <option>Mali</option>
    <option>Malta</option>
    <option>Marshall Islands</option>
    <option>Mauritania</option>
    <option>Mauritius</option>
    <option>Mexico</option>
    <option>Micronesia</option>
    <option>Moldova</option>
    <option>Monaco</option>
    <option>Mongolia</option>
    <option>Montenegro</option>
    <option>Morocco</option>
    <option>Mozambique</option>
    <option>Myanmar (formerly Burma)</option>
    <option>Namibia</option>
    <option>Nauru</option>
    <option>Nepal</option>
    <option>Netherlands</option>
    <option>New Zealand</option>
    <option>Nicaragua</option>
    <option>Niger</option>
    <option>Nigeria</option>
    <option>North Korea</option>
    <option>North Macedonia</option>
    <option>Norway</option>
    <option>Oman</option>
    <option>Pakistan</option>
    <option>Palau</option>
    <option>Palestine State</option>
    <option>Panama</option>
    <option>Papua New Guinea</option>
    <option>Paraguay</option>
    <option>Peru</option>
    <option>Philippines</option>
    <option>Poland</option>
    <option>Portugal</option>
    <option>Qatar</option>
    <option>Romania</option>
    <option>Russia</option>
    <option>Rwanda</option>
    <option>Saint Kitts and Nevis</option>
    <option>Saint Lucia</option>
    <option>Saint Vincent and the Grenadines</option>
    <option>Samoa</option>
    <option>San Marino</option>
    <option>Sao Tome and Principe</option>
    <option>Saudi Arabia</option>
    <option>Senegal</option>
    <option>Serbia</option>
    <option>Seychelles</option>
    <option>Sierra Leone</option>
    <option>Singapore</option>
    <option>Slovakia</option>
    <option>Slovenia</option>
    <option>Solomon Islands</option>
    <option>Somalia</option>
    <option>South Africa</option>
    <option>South Korea</option>
    <option>South Sudan</option>
    <option>Spain</option>
    <option>Sri Lanka</option>
    <option>Sudan</option>
    <option>Suriname</option>
    <option>Sweden</option>
    <option>Switzerland</option>
    <option>Syria</option>
    <option>Taiwan</option>
    <option>Tajikistan</option>
    <option>Tanzania</option>
    <option>Thailand</option>
    <option>Timor-Leste</option>
    <option>Togo</option>
    <option>Tonga</option>
    <option>Trinidad and Tobago</option>
    <option>Tunisia</option>
    <option>Turkey</option>
    <option>Turkmenistan</option>
    <option>Tuvalu</option>
    <option>Uganda</option>
    <option>Ukraine</option>
    <option>United Arab Emirates</option>
    <option>United Kingdom</option>
    <option>United States of America</option>
    <option>Uruguay</option>
    <option>Uzbekistan</option>
    <option>Vanuatu</option>
    <option>Venezuela</option>
    <option>Vietnam</option>
    <option>Yemen</option>
    <option>Zambia</option>
    <option>Zimbabwe</option>
  </select><br>
  
  
  Manufacturing Country <small>(optional)</small>
  <br/>
  <select  id="country_manufacturing" name="country_manufacturing" title="Manufacturing Country" required>
    <option value="">--None--</option>
    <option>Afghanistan</option>
    <option>Albania</option>
    <option>Algeria</option>
    <option>Andorra</option>
    <option>Angola</option>
    <option>Antigua and Barbuda</option>
    <option>Argentina</option>
    <option>Armenia</option>
    <option>Australia</option>
    <option>Austria</option>
    <option>Azerbaijan</option>
    <option>Bahamas</option>
    <option>Bahrain</option>
    <option>Bangladesh</option>
    <option>Barbados</option>
    <option>Belarus</option>
    <option>Belgium</option>
    <option>Belize</option>
    <option>Benin</option>
    <option>Bhutan</option>
    <option>Bolivia</option>
    <option>Bosnia and Herzegovina</option>
    <option>Botswana</option>
    <option>Brazil</option>
    <option>Brunei</option>
    <option>Bulgaria</option>
    <option>Burkina Faso</option>
    <option>Burundi</option>
    <option>Cabo Verde</option>
    <option>Cambodia</option>
    <option>Cameroon</option>
    <option>Canada</option>
    <option>Central African Republic</option>
    <option>Chad</option>
    <option>Chile</option>
    <option>China</option>
    <option>Colombia</option>
    <option>Comoros</option>
    <option>Congo (Congo-Brazzaville)</option>
    <option>Costa Rica</option>
    <option>Côte d'Ivoire</option>
    <option>Croatia</option>
    <option>Cuba</option>
    <option>Cyprus</option>
    <option>Czechia (Czech Republic)</option>
    <option>Democratic Republic of the Congo</option>
    <option>Denmark</option>
    <option>Djibouti</option>
    <option>Dominica</option>
    <option>Dominican Republic</option>
    <option>Ecuador</option>
    <option>Egypt</option>
    <option>El Salvador</option>
    <option>Equatorial Guinea</option>
    <option>Eritrea</option>
    <option>Estonia</option>
    <option>Eswatini (fmr. \Swaziland\")"</option>
    <option>Ethiopia</option>
    <option>Fiji</option>
    <option>Finland</option>
    <option>France</option>
    <option>Gabon</option>
    <option>Gambia</option>
    <option>Georgia</option>
    <option>Germany</option>
    <option>Ghana</option>
    <option>Greece</option>
    <option>Grenada</option>
    <option>Guatemala</option>
    <option>Guinea</option>
    <option>Guinea-Bissau</option>
    <option>Guyana</option>
    <option>Haiti</option>
    <option>Holy See</option>
    <option>Honduras</option>
    <option>Hong Kong</option>
    <option>Hungary</option>
    <option>Iceland</option>
    <option>India</option>
    <option>Indonesia</option>
    <option>Iran</option>
    <option>Iraq</option>
    <option>Ireland</option>
    <option>Israel</option>
    <option>Italy</option>
    <option>Jamaica</option>
    <option>Japan</option>
    <option>Jordan</option>
    <option>Kazakhstan</option>
    <option>Kenya</option>
    <option>Kiribati</option>
    <option>Kuwait</option>
    <option>Kyrgyzstan</option>
    <option>Laos</option>
    <option>Latvia</option>
    <option>Lebanon</option>
    <option>Lesotho</option>
    <option>Liberia</option>
    <option>Libya</option>
    <option>Liechtenstein</option>
    <option>Lithuania</option>
    <option>Luxembourg</option>
    <option>Madagascar</option>
    <option>Malawi</option>
    <option>Malaysia</option>
    <option>Maldives</option>
    <option>Mali</option>
    <option>Malta</option>
    <option>Marshall Islands</option>
    <option>Mauritania</option>
    <option>Mauritius</option>
    <option>Mexico</option>
    <option>Micronesia</option>
    <option>Moldova</option>
    <option>Monaco</option>
    <option>Mongolia</option>
    <option>Montenegro</option>
    <option>Morocco</option>
    <option>Mozambique</option>
    <option>Myanmar (formerly Burma)</option>
    <option>Namibia</option>
    <option>Nauru</option>
    <option>Nepal</option>
    <option>Netherlands</option>
    <option>New Zealand</option>
    <option>Nicaragua</option>
    <option>Niger</option>
    <option>Nigeria</option>
    <option>North Korea</option>
    <option>North Macedonia</option>
    <option>Norway</option>
    <option>Oman</option>
    <option>Pakistan</option>
    <option>Palau</option>
    <option>Palestine State</option>
    <option>Panama</option>
    <option>Papua New Guinea</option>
    <option>Paraguay</option>
    <option>Peru</option>
    <option>Philippines</option>
    <option>Poland</option>
    <option>Portugal</option>
    <option>Qatar</option>
    <option>Romania</option>
    <option>Russia</option>
    <option>Rwanda</option>
    <option>Saint Kitts and Nevis</option>
    <option>Saint Lucia</option>
    <option>Saint Vincent and the Grenadines</option>
    <option>Samoa</option>
    <option>San Marino</option>
    <option>Sao Tome and Principe</option>
    <option>Saudi Arabia</option>
    <option>Senegal</option>
    <option>Serbia</option>
    <option>Seychelles</option>
    <option>Sierra Leone</option>
    <option>Singapore</option>
    <option>Slovakia</option>
    <option>Slovenia</option>
    <option>Solomon Islands</option>
    <option>Somalia</option>
    <option>South Africa</option>
    <option>South Korea</option>
    <option>South Sudan</option>
    <option>Spain</option>
    <option>Sri Lanka</option>
    <option>Sudan</option>
    <option>Suriname</option>
    <option>Sweden</option>
    <option>Switzerland</option>
    <option>Syria</option>
    <option>Taiwan</option>
    <option>Tajikistan</option>
    <option>Tanzania</option>
    <option>Thailand</option>
    <option>Timor-Leste</option>
    <option>Togo</option>
    <option>Tonga</option>
    <option>Trinidad and Tobago</option>
    <option>Tunisia</option>
    <option>Turkey</option>
    <option>Turkmenistan</option>
    <option>Tuvalu</option>
    <option>Uganda</option>
    <option>Ukraine</option>
    <option>United Arab Emirates</option>
    <option>United Kingdom</option>
    <option>United States of America</option>
    <option>Uruguay</option>
    <option>Uzbekistan</option>
    <option>Vanuatu</option>
    <option>Venezuela</option>
    <option>Vietnam</option>
    <option>Yemen</option>
    <option>Zambia</option>
    <option>Zimbabwe</option>
  </select><br>
  {% endif %}
  {% endunless %}
  
  {% if exclude_qualification_questions != "y" %}
  Materials <small>(required)</small>
  <br/>
  <select  id="00Nf200000E2SZ7" multiple="multiple" name="00Nf200000E2SZ7" title="Materials">
  <option value="PET">PET</option>
  <option value="HDPE">HDPE</option>
  <option value="PP">PP</option>
  <option value="LDPE">LDPE</option>
  <option value="LLDPE">LLDPE</option>
  <option value="HIPS">HIPS</option>
  <option value="ABS">ABS</option>
  <option value="PC">PC</option>
  <option value="Nylon">Nylon</option>
  <option value="Compounded Resins">Compounded Resins</option>
  <option value="Yarn">Yarn</option>
  <option value="Fabric">Fabric</option>
  <option value="Zippers">Zippers</option>
  <option value="Buttons">Buttons</option>
  <option value="Components">Components</option>
  </select><br>
  
  Sources Types <small>(required)</small>
  <br/>
  <select  id="sources" multiple="multiple" name="sources" title="Sources">
  <option value="Post-Consumer: Ocean">Post-Consumer: Ocean</option>
  <option value="Post-Consumer: Other">Post-Consumer: Other</option>
  <option value="Pre-Consumer / Post-Industrial">Pre-Consumer / Post-Industrial</option>
  <option value="Bioplastic">Bioplastic</option>
  </select><br>
  {% else %}
  {% endif %}
  
  {% unless customer %}
  <label for="lead_source">How would you describe yourself? <small>(required)</small></label>
  <br/>
  <select  id="inquiry_type" name="inquiry_type" required>
  <option value="">Choose One...</option>
  <option value="Customer">Customer (I'd like to purchase ocean plastic)</option>
  <option value="Partner">Partner (I'd like to partner with Oceanworks)</option>
  <option value="Supplier">Supplier (I'd like to list products with Oceanworks)</option>
  <option value="Consumer">Consumer (I have questions about an ocean plastic product)</option>
  <option value="Press / Media">Press / Media (I'd like to cover Oceanworks publicly)</option>
  <option value="Careers">Job Seeker (I'd like to work with Oceanworks)</option>
  <option value="Student">Student (I'm working on a school project)</option>
  <option value="Other">Other</option>
  </select><br>
  {% endunless %}

  <label for="description">
  	{% if exclude_qualification_questions != "y" %}
    How would you like to engage with Oceanworks? <small>(required)</small>
    {% else %}
    How can we help you? <small>(required)</small>
    {% endif %}
    <br/>
    <a href="https://oceanworks.zendesk.com/hc/en-us" target="_blank"><small>Have you reviewed our FAQs yet?</small></a>
  </label><textarea name="description" required></textarea><br>

  {% unless customer %}
  <div id="lead_source_wrapper">
  <label for="lead_source">How did you hear about Oceanworks? <small>(required)</small></label>
  <br/>
  <select  id="lead_source" name="lead_source" required>
  <option value="">Choose One...</option>
  <option value="Search Engine">Search Engine</option>
  <option value="Social Media">Social Media</option>
  <option value="Press">Press</option>
  <option value="Partner">Partner</option>
  <option value="Word of Mouth">Word of Mouth</option>
  <option value="Trade Show">Trade Show</option>
  <option value="Other">Other</option>
  </select><br>
  </div>
  {% endunless %}
  
  {% if exclude_qualification_questions != "y" %}
  <label for="00N5w00000E3Gus"><input style="display: inline; width: auto;" id="00N5w00000E3Gus" name="00N5w00000E3Gus" type="checkbox" value="1" /> Do you have internal manufacturing capabilities?</label><br>
  <br/>
  <label for="00N5w00000E3Gux"><input style="display: inline; width: auto;" id="00N5w00000E3Gux" name="00N5w00000E3Gux" type="checkbox" value="1" /> Do you have an internal research &amp; development team? </label><br>
  <br/>
  {% endif %}
  {% unless customer %}
  <label for="emailOptOut"><input style="display: inline; width: auto;" id="emailOptOut" name="emailOptOut" type="checkbox" value="1" /> Would you like to opt out of our newsletter?</label><br>
  <br/>
  {% endunless %}
  <br/>
  
  
{% comment %}<div class="g-recaptcha" data-sitekey="6LdxpMEUAAAAALCtqxderMxfrYkncJcX6vIeor0e" data-callback="recaptcha_callback"></div>
  <br/>
{% endcomment %}
  
  <input type="submit" name="submit" class="button" onClick="gtag_report_conversion()" 
{% comment %}disabled 
{% endcomment %}/>

</form>

<script type="text/javascript">
  function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
      vars[key] = value;
    });
    return vars;
  }
  var product = decodeURIComponent(getUrlVars()["product"]);
  document.getElementById("00N5w00000G5AFi").value = product;
  if(document.getElementById("product-name")) document.getElementById("product-name").innerHTML = "" + product;
  
  Element.prototype.remove = function() {
    this.parentElement.removeChild(this);
  }
  NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
      for(var i = this.length - 1; i >= 0; i--) {
          if(this[i] && this[i].parentElement) {
              this[i].parentElement.removeChild(this[i]);
          }
      }
  }
  
  if(Cookies.get('ow_lead_source') && Cookies.get('ow_lead_source') != '') {
  	document.getElementById("lead_source_wrapper").remove();
    var input = document.createElement("input");
    input.setAttribute("type", "hidden");
    input.setAttribute("name", "ow_lead_source");
    input.setAttribute("id", "ow_lead_source");
    input.setAttribute("value", Cookies.get('ow_lead_source'));
    document.getElementById("lead_form").appendChild(input);
  }
  
  if(Cookies.get('ow_utm_source') && Cookies.get('ow_utm_source') != '') {
  	document.getElementById("00N5w00000G594h").setAttribute('value', Cookies.get('ow_utm_source'));
  }
  if(Cookies.get('ow_utm_medium') && Cookies.get('ow_utm_medium') != '') {
  	document.getElementById("00N5w00000G594r").setAttribute('value', Cookies.get('ow_utm_medium'));
  }
  if(Cookies.get('ow_utm_campaign') && Cookies.get('ow_utm_campaign') != '') {
  	document.getElementById("00N5w00000G5994").setAttribute('value', Cookies.get('ow_utm_campaign'));
  }
  
  
</script>
  
<!-- Event snippet for Lead - Thank You Page conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
function gtag_report_conversion(url) {
  console.log('repoting conversion');
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-664495528/vSaICNOC18UBEKjL7bwC',
      'event_callback': callback
  });
  return false;
}
</script>