<div class="template-account">
  <div class="template-account-title">
    <h1>{{ 'customers.account.header' | t }}</h1>
    (<a href="/account">{{ 'customers.account.logout' | t | customer_logout_link }}</a>)
  </div>

  <div class="account-order-history">

    <h2>{{ 'customers.account.order_history' | t }}</h2>
    <p><em>Click into any order to access certificates, datasheets, and additional documentation.</em></p>

    {% if customer.orders.size > 0 %}
      {% paginate customer.orders by 20 %}
        <table class="account-order-history-orders">
          <thead>
            <tr>
              <th class="first">{{ 'customers.account.order' | t }}</th>
              <th>{{ 'customers.account.payment' | t }}</th>
              <th>{{ 'customers.account.fulfillment' | t }}</th>
              <th class="last">Total</th>
            </tr>
          </thead>

          <tbody>
            {% for order in customer.orders %}
              <tr class="{% if order.cancelled %}cancelled_order{% endif %}">
                <td class="order-number first">
                  {{ order.name | link_to: order.customer_url }}
                  <span class="date">- {{ order.created_at | date: format: 'short_day_month_year' }}</span>
                </td>
                <td class="payment-status {{ order.financial_status }}">
                  {{ order.financial_status | capitalize }}
                </td>
                <td class="fulfillment-status {{ order.fulfillment_status }}">
                  {{ order.fulfillment_status | capitalize }}
                </td>
                <td class="total last"><span class="money">{{ order.total_price | money }}</span></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% include 'pagination' %}
      {% endpaginate %}
    {% else %}
      <p class="empty">{{ 'customers.account.empty' | t }}</p>
    {% endif %}

  </div>
  <div class="account-info">

    <h2 class="name">{{ customer.name }}</h2>

    <span class="email"><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></span>

    {% if customer.default_address != nil %}
      <h2>{{ 'customers.account.default_address' | t }}</h2>
      <p class="account-info-address">
        {% assign address = customer.default_address %}
        <span>{{ address.first_name }} {{ address.last_name }}</span>
        {% if address.company != blank %}
          <span>{{ address.company }}</span>
        {% endif %}
        {% if address.street != blank %}
          <span>{{ address.street }}</span>
        {% endif %}
        {% if address.city != blank or address.province_code != blank %}
          <span>{{ address.city }}{% if address.province_code %}, {{ address.province_code }}{% endif %}</span>
        {% endif %}
        {% if address.country != blank or address.zip != blank %}
          <span>{{ address.country }} {{ address.zip }}</span>
        {% endif %}
        {% if address.phone != blank %}
          <span>{{ address.phone }}</span>
        {% endif %}
      </p>
    {% endif %}

    {% if customer.addresses_count == 0 %}
      <a href="/account/addresses">{{ 'customers.account.new_address_link' | t }}</a>
    {% else %}
      <p>
        <a href="/account/addresses">
          {{ 'customers.account.view_addresses' | t, count: customer.addresses_count }}
        </a>
      </p>
    {% endif %}

  </div>
</div>
