<div class="template-account-order">
  <h1 class="template-account-order-title">{{ 'customers.order.header' | t: order_number: order.name }}</h1>
  <p class="template-account-order-subtitle">
    <a href="/account">&laquo; {{ 'customers.account.header' | t }}</a>
  </p>

  <div class="template-account-order-history">
    <div class="template-account-order-shipping-info">
      {%- if order.shipping_address -%}
        <div class="account-address account-shipping-address">
          <h2>{{ 'customers.order.shipping_address' | t }}</h2>
          <p>
            <span>{{ order.shipping_address.first_name }} {{ order.shipping_address.last_name }}</span>
            {% if order.shipping_address.company != blank %}
              <span>{{ order.shipping_address.company }}</span>
            {% endif %}
            {% if order.shipping_address.street != blank %}
              <span>{{ order.shipping_address.street }}</span>
            {% endif %}
            {% if order.shipping_address.city != blank or order.shipping_address.province_code != blank %}
              <span>{{ order.shipping_address.city }}
                {% if order.shipping_address.province_code %}
                  , {{ order.shipping_address.province_code }}
                {% endif %}</span>
            {% endif %}
            {% if order.shipping_address.country != blank or order.shipping_address.zip != blank %}
              <span>{{ order.shipping_address.country }} {{ order.shipping_address.zip }}</span>
            {% endif %}
            {% if order.shipping_address.phone != blank %}
              <span>{{ order.shipping_address.phone }}</span>
            {% endif %}
          </p>
        </div>
      {%- endif -%}

      <div class="account-address account-shipping-address">
        <h2>{{ 'customers.order.billing_address' | t }}</h2>
        <p>
          <span>{{ order.billing_address.first_name }} {{ order.billing_address.last_name }}</span>
          {% if order.billing_address.company != blank %}
            <span>{{ order.billing_address.company }}</span>
          {% endif %}
          {% if order.billing_address.street != blank %}
            <span>{{ order.billing_address.street }}</span>
          {% endif %}
          {% if order.billing_address.city != blank or order.billing_address.province_code != blank %}
            <span>{{ order.billing_address.city }}
              {% if order.billing_address.province_code %}
                , {{ order.billing_address.province_code }}
              {% endif %}
            </span>
          {% endif %}
          {% if order.billing_address.country != blank or order.billing_address.zip != blank %}
            <span>{{ order.billing_address.country }} {{ order.billing_address.zip }}</span>
          {% endif %}
          {% if order.billing_address.phone != blank %}
            <span>{{ order.billing_address.phone }}</span>
          {% endif %}
        </p>
      </div>
    </div>
    
    <table class="account-order">
      <thead class="account-order-header">
        <tr class="account-order-header-row">
          <th class="order-item-image-title first">{{ 'customers.order.item' | t }}</th>
          <th class="order-item-title-title">{{ 'customers.order.item' | t }}</th>
          <th class="order-item-price-title">{{ 'customers.order.price' | t }}</th>
          <th class="order-item-quantity-title">{{ 'customers.order.quantity' | t }}</th>
          <th class="order-item-total-title last">{{ 'customers.order.total' | t }}</th>
        </tr>
      </thead>

      <tbody>
        {% for line_item in order.line_items %}
          <tr class="order-item {% if order.cancelled %}cancelled_order{% endif %}">
            <td class="order-item-image first">
              <a href="{{ line_item.product.url }}">
                {%- if line_item.image -%}
                  <img alt="{{ line_item.title | escape }}" src="{{ line_item | img_url: 'small' }}">
                {%- else -%}
                  {% comment %} {{ 'product-1' | placeholder_svg_tag }} {% endcomment %}
                {%- endif -%}
              </a>
            </td>
            <td class="order-item-info">
              {%- capture line_item_options -%}
                {%- unless line_item.variant.title == 'Default Title' -%}
                  <span class="order-item-options">
                    {%- if line_item.variant.title != 'Default title' -%}
                      {{ line_item.variant.title | replace: ' /', ',' }}
                    {%- endif -%}
                  </span>
                {%- endunless -%}
              {%- endcapture -%}

              <span class="order-item-title">
                {% if line_item.product.title %}
                  <a href="{{ item.url }}" style="font-size: 20px; font-weight: bold;">{{ line_item.product.title }}</a>
                {% else %}
                  {{ line_item.title }}
                {% endif %}
              </span>

              {% unless line_item_options == blank %}
                <span class="order-item-options">
                  {{ line_item_options }}
                </span>
              {% endunless %}
              
              {% if line_item.product.metafields.oceanworks.tds_url %}
              <a class="article-excerpt-read-more" href="{{line_item.product.metafields.oceanworks.tds_url}}?email={{customer.email}}" target="_blank">
                <span class="article-excerpt-read-more-text">Download TDS</span>
                <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                  <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
                  </svg>
              	</span>
              </a>
              {% endif %}
              
              {% if line_item.product.metafields.oceanworks.msds_url %}
              <a class="article-excerpt-read-more" href="{{line_item.product.metafields.oceanworks.msds_url}}" target="_blank">
                <span class="article-excerpt-read-more-text">Download MSDS</span>
                <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                  <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
                  </svg>
              	</span>
              </a>
              {% endif %}
              
              {% if line_item.product.metafields.oceanworks.materials_cert_url %}
              <a class="article-excerpt-read-more" href="{{line_item.product.metafields.oceanworks.materials_cert_url}}" target="_blank">
                <span class="article-excerpt-read-more-text">Material Certificate</span>
                <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                  <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
                  </svg>
              	</span>
              </a>
              {% endif %}
              
              {% assign start_date_for_select_assets = '2019-11-01' | date: '%s' %}
              {% assign order_date = order.created_at | date: '%s' %}

              {% if start_date_for_select_assets > order_date %}
              {% else %}
                {% if line_item.fulfillment == null %}
                {% else %}
                <a class="article-excerpt-read-more" href="https://certificates.oceanworks.co/transaction/{{line_item.id}}/view" target="_blank">
                  <span class="article-excerpt-read-more-text">Transaction Certificate</span>
                  <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                    <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
                    </svg>
                  </span>
                </a>

                <a class="article-excerpt-read-more" href="https://trackandtrace.oceanworks.co/trackandtrace-v2/{{line_item.id}}" target="_blank">
                  <span class="article-excerpt-read-more-text">Track and Trace</span>
                  <span class="article-excerpt-read-more-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                    <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
                    </svg>
                  </span>
                </a>
                {% endif %}
              {% endif %}

              {% if line_item.discount_allocations.size > 0 %}
                <div class="order-item-discounts">
                  {% for discount_allocation in line_item.line_level_discount_allocations %}
                    <span class="order-item-discount">
                      {%- include 'icon', id: 'sale-tag', class: 'order-item-discount-sale-tag' -%}
                      {{ discount_allocation.discount_application.title }} (-<span class="money">{{ discount_allocation.amount | money }}</span>)
                    </span>
                  {% endfor %}
                </div>
              {% endif %}<!-- Bold:POv2 -->
{% assign propertySize = line_item.properties | size %}
{% if propertySize > 0 %}
{% for p in line_item.properties %}
{% assign first_character_in_key = p.first | truncate: 1, '' %}
{% unless p.last == blank or first_character_in_key == '_' %}
{{ p.first }}:
{% if p.last contains '/uploads/' %}
<a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
{% else %}
{{ p.last }}
{% endif %}
{% endunless %}
{% endfor %}
{% endif %}
<!-- Bold:POv2 -->

            </td>
            <td class="order-item-prices-wrapper">
              <div class="order-item-prices">
                {% if line_item.original_price != line_item.final_price %}
                  <span class="money order-item-price order-item-original-price">{{ line_item.original_price | money }}</span>
                {% endif %}
                <span class="money order-item-price order-item-final-price">{{ line_item.final_price | money }}</span>
              </div>
            </td>
            <td class="order-item-quantity"><span>{{ line_item.quantity }}</span></td>
            <td class="order-item-total last">
              <div class="order-item-line-prices">
                {% if line_item.original_line_price != line_item.final_line_price %}
                  <span class="money order-item-line-price order-item-original-line-price">{{ line_item.original_line_price | money }}</span>
                {% endif %}
                <span class="money order-item-line-price order-item-final-line-price">{{ line_item.final_line_price | money }}</span>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <ul class="account-order-subtotals">
      <li class="account-order-subtotal">
        <span class="account-order-subtotal-label">{{ 'customers.order.subtotal' | t }}</span>
        <span class="account-order-subtotal-value money" data-money>{{ order.line_items_subtotal_price | money }}</span>
      </li>
      {% if order.cart_level_discount_applications.size > 0 %}
        <li class="account-order-subtotal">
          <span class="account-order-subtotal-label">{{ 'customers.order.discounts' | t }}</span>
          <div class="account-order-discounts">
            {% for discount_application in order.cart_level_discount_applications %}
              <div class="account-order-discount">
                <span class="account-order-discount-title">
                  {%- include 'icon', id: 'sale-tag', class: 'account-order-discount-sale-tag' -%}
                  {{ discount_application.title }}
                </span>

                <span class="account-order-discount-amount">
                  -<span class="money">{{ discount_application.total_allocated_amount | money }}</span>
                </span>
              </div>
            {% endfor %}
          </div>
        </li>
      {% endif %}
      {% for shipping_method in order.shipping_methods %}
        <li class="account-order-shipping">
          <span class="account-order-subtotal-label">{{ 'customers.order.shipping' | t }} ({{ shipping_method.title }})</span>
          <span class="account-order-subtotal-value money" data-money>{{ shipping_method.price | money }}</span>
        </li>
      {% endfor %}
      {% for tax_line in order.tax_lines %}
        <li class="account-order-order-tax">
          <span class="account-order-subtotal-label">{{ 'customers.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</span>
          <span class="account-order-subtotal-value money" data-money>{{ tax_line.price | money }}</span>
        </li>
      {% endfor %}
    </ul>

    <ul class="account-order-total">
      <li>
        <span class="account-order-total-label">{{ 'customers.order.total' | t }}</span>
        <span class="account-order-total-value money" data-money>{{ order.total_price | money }}</span>
      </li>
    </ul>
  </div>
</div>

			<!-- PERFECT AUDIENCE INTEGRATION START -->
			{% include 'perfect-audience-order-status' %}
			<!-- PERFECT AUDIENCE INTEGRATION END -->
		