<div class="page-content template-account-register">

  <h1 class="template-account-register-title">Finish Creating Your Account</h1>
  
  <p style="text-align: center;">Ready to dive in? Complete the form below for access to the Oceanworks Marketplace. Review available materials, select your samples, and place your orders.</p>
  <p style="text-align: center;"><em>Already have an account? <a href="/account/login">Login &raquo;</a></em></p>

  
  
  {% form 'create_customer' %}
  
    <input type="hidden" name="return_to" value="/collections">

    {% if form.errors %}
      {{ form.errors | default_errors }}
    {% endif %}

    <div class="input-wrapper">
      <label class="input-label" for="customer[first_name]">
        {{ 'general.form.first_name' | t }}
      </label>
      <input
        id="customer_first_name"
        class="input-field {% if form.errors contains 'first_name' %}error{% endif %}"
        type="text"
        value="{{ form.first_name }}"
        name="customer[first_name]">

      {% if form.errors contains 'first_name' %}
        <p class="error-message">
          {{ 'general.form.first_name' | t }} {{ form.errors.messages['first_name'] }}
        </p>
      {% endif %}
    </div>

    <div class="input-wrapper">
      <label class="input-label" for="customer[last_name]">{{ 'general.form.last_name' | t }}</label>
      <input
        id="customer_last_name"
        class="input-field {% if form.errors contains 'last_name' %}error{% endif %}"
        type="text"
        placeholder=""
        value="{{ form.last_name }}"
        name="customer[last_name]">

      {% if form.errors contains 'last_name' %}
        <p class="error-message">
          {{ 'general.form.last_name' | t }} {{ form.errors.messages['last_name'] }}
        </p>
      {% endif %}
    </div>

    <div class="input-wrapper">
      <label class="input-label" for="customer[note][company]">{{ 'general.form.company' | t }}</label>
      <input
        id="customer_company"
        class="input-field {% if form.errors contains 'company' %}error{% endif %}"
        type="text"
        placeholder=""
        value="{{ form.company }}"
        name="customer[note][company]">

      {% if form.errors contains 'company' %}
        <p class="error-message">
          {{ 'general.form.company' | t }} {{ form.errors.messages['company'] }}
        </p>
      {% endif %}
    </div>

    <div class="input-wrapper">
      <label class="input-label" for="customer[email]">{{ 'general.form.email' | t }}</label>
      <input
        id="customer_email"
        class="input-field {% if form.errors contains 'email' %}error{% endif %}"
        type="text"
        value="{{ form.email }}"
        name="customer[email]">

      {% if form.errors contains 'email' %}
        <p class="error-message">
          {{ 'general.form.email' | t }} {{ form.errors.messages['email'] }}
        </p>
      {% endif %}
    </div>

    <div class="input-wrapper">
      <label class="input-label" for="customer[password]">Create {{ 'general.form.password' | t }}</label>
      <input
        id="customer_password"
        class="input-field {% if form.errors contains 'password' %}error{% endif %}"
        type="password"
        name="customer[password]">

      {% if form.errors contains 'password' %}
        <p class="error-message">
          {{ 'general.form.password' | t }} {{ form.errors.messages['password'] }}
        </p>
      {% endif %}
    </div>

    <div class="input-wrapper">
      <label class="input-label" for="customer[note][agree_to_tos]">
        <input
        id="customer_agree_to_tos"
        type="checkbox"
        name="customer[note][agree_to_tos]"
        style="appearance: checkbox; -moz-appearance: checkbox; -webkit-appearance: checkbox; display: inline-block; width: 30px; height: 30px; margin-right: 15px;">
        <div style="display: inline-block; width: auto; position: relative; top: -10px;">I agree to the <a href="/pages/oceanworks-platform-terms-conditions" target="_blank">Oceanworks Platform Terms &amp; Conditions</a></div>
      </label>
      

      {% if form.errors contains 'agree_to_tos' %}
        <p class="error-message">
          You must agree to the Terms and Conditions to proceed.
        </p>
      {% endif %}
    </div>
 
  {% if cart.item_count > 0 %}
    <input type="hidden" name="return_to" value="/cart" />
  {% else %}
    <input type="hidden" name="return_to" value="/collections">
  {% endif %}

    <div class="input-wrapper">
      <input class="button" type="submit" value="{{ 'customers.register.submit' | t }}">
    </div>

  {% endform %}
</div>