<!doctype html>
<!--[if IE 9]><html class="ie9 no-js"><![endif]-->
<!--[if !IE]><!--><html class="no-js"><!--<![endif]-->
<head>

  {% unless customer %}

  <!--
<style type="text/css">
.navmenu-id-materials { width: 1px !important; visibility: hidden !important; }
</style>
-->
  {% if template contains 'customers' %}
  {% assign send_to_login = false %}
  {% else %}
  {% assign send_to_login = true %}
  {% endif %}
  {% endunless %}

  {% if send_to_login and request.path != "/challenge" and template contains 'ddd' %}
  <meta content="0; url=/pages/demo-the-marketplace" http-equiv="refresh" />
  {% else %}

  <meta charset="utf-8">


  {%- assign og_title = page_title -%}
{%- assign og_url = canonical_url -%}
{%- assign og_type = 'website' -%}
{%- assign og_description = page_description | default: shop.description | default: shop.name -%}

{%- if settings.share_image -%}
  {%- capture og_image_tags -%}
    <meta property="og:image" content="http:{{ settings.share_image | img_url: '1200x1200' }}">
  {%- endcapture -%}

  {%- capture og_image_secure_url_tags -%}
    <meta property="og:image:secure_url" content="https:{{ settings.share_image | img_url: '1200x1200' }}">
  {%- endcapture -%}
{%- endif -%}

{%- case template.name -%}
  {%- when 'product' -%}
    {%- assign og_title = product.title | strip_html -%}
    {%- assign og_type = 'product' -%}

    {%- if product.images.size > 0 -%}
      {%- capture og_image_tags -%}
        {%- for image in product.images limit:3 -%}
          <meta property="og:image" content="http:{{ image.src | product_img_url: '1200x1200' }}">
        {%- endfor -%}
      {%- endcapture -%}

      {%- capture og_image_secure_url_tags -%}
        {%- for image in product.images limit:3 -%}
          <meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: '1200x1200' }}">
        {%- endfor -%}
      {%- endcapture -%}
    {%- endif -%}

  {%- when 'article' -%}
    {%- assign og_title = article.title | strip_html -%}
    {%- assign og_type = 'article' -%}
    {%- assign og_description = article.excerpt_or_content | strip_html -%}

    {%- if article.image -%}
      {%- capture og_image_tags -%}
        <meta property="og:image" content="http:{{ article.image | img_url: '1200x1200' }}">
      {%- endcapture -%}

      {%- capture og_image_secure_url_tags -%}
        <meta property="og:image:secure_url" content="https:{{ article.image | img_url: '1200x1200' }}">
      {%- endcapture -%}
    {%- endif -%}

  {%- when 'collection' -%}
    {%- assign og_title = collection.title | strip_html -%}
    {%- assign og_type = 'product.group' -%}

    {%- if collection.image -%}
      {%- capture og_image_tags -%}
        <meta property="og:image" content="http:{{ collection.image | img_url: '1200x1200' }}">
      {%- endcapture -%}

      {%- capture og_image_secure_url_tags -%}
        <meta property="og:image:secure_url" content="https:{{ collection.image | img_url: '1200x1200' }}">
      {%- endcapture -%}
    {%- endif -%}

  {%- when 'password' -%}
    {%- assign og_title = shop.name -%}
    {%- assign og_url = shop.url -%}
    {%- assign og_description = shop.description | default: shop.name -%}

{%- endcase -%}

<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:title" content="{{ og_title }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:description" content="{{ og_description }}">

{%- if template.name == 'product' -%}
  <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">
  <meta property="og:price:currency" content="{{ shop.currency }}">
{%- endif -%}

{{ og_image_tags }}
{{ og_image_secure_url_tags }}

{%- unless settings.social_twitter_link == blank -%}
  <meta name="twitter:site" content="{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}">
{%- endunless -%}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ og_title }}">
<meta name="twitter:description" content="{{ og_description }}">

  <script>
window['_fs_debug'] = false;
window['_fs_host'] = 'fullstory.com';
window['_fs_script'] = 'edge.fullstory.com/s/fs.js';
window['_fs_org'] = 'ZXAN3';
window['_fs_namespace'] = 'FS';
(function(m,n,e,t,l,o,g,y){
    if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
    g=m[e]=function(a,b,s){g.q?g.q.push([a,b,s]):g._api(a,b,s);};g.q=[];
    o=n.createElement(t);o.async=1;o.crossOrigin='anonymous';o.src='https://'+_fs_script;
    y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
    g.identify=function(i,v,s){g(l,{uid:i},s);if(v)g(l,v,s)};g.setUserVars=function(v,s){g(l,v,s)};g.event=function(i,v,s){g('event',{n:i,p:v},s)};
    g.anonymize=function(){g.identify(!!0)};
    g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
    g.log = function(a,b){g("log",[a,b])};
    g.consent=function(a){g("consent",!arguments.length||a)};
    g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
    g.clearUserCookie=function(){};
    g.setVars=function(n, p){g('setVars',[n,p]);};
    g._w={};y='XMLHttpRequest';g._w[y]=m[y];y='fetch';g._w[y]=m[y];
    if(m[y])m[y]=function(){return g._w[y].apply(this,arguments)};
    g._v="1.3.0";
})(window,document,window['_fs_namespace'],'script','user');
</script>

  <script
  src="https://browser.sentry-cdn.com/5.29.2/bundle.min.js"
  integrity="sha384-ir4+BihBClNpjZk3UKgHTr0cwRhujAjy/M5VEGvcOzjhM1Db79GAg9xLxYn4uVK4"
  crossorigin="anonymous"
></script>

  <script type="text/javascript">
    Sentry.init({
      dsn: 'https://660e99e9e16a4f4c95093dcf62be109a@o501045.ingest.sentry.io/5581669',
      integrations: [
      ]
    });
  </script>

  <title>
    {{- page_title -}}

    {%- if current_tags -%}
    {%- assign meta_tags = current_tags | join: ', ' %}
    {{ 'title.tags' | t: tags: meta_tags -}}
    {%- endif -%}

    {%- if current_page != 1 -%}
    {{- 'title.page' | t: page: current_page -}}
    {%- endif -%}

    {%- unless page_title contains shop.name -%}
    {{- 'title.shop' | t: shop: shop.name -}}
    {%- endunless -%}
  </title>

  {% if page_description != blank %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% if template contains 'collection' and current_tags %}
  <meta name="robots" content="noindex" />
  <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
  {% else %}
  <link rel="canonical" href="{{ canonical_url }}" />
  {% endif %}

  <meta name="viewport" content="width=device-width">

  {%
      include 'social-meta-tags',
  twitter_handle: settings.twitter_handle
  %}

  <script>
    document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
    if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
  </script>

  {{ 'font-face.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'bold-custom.css' | asset_url | stylesheet_tag }}
  {{ 'ocean-style.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts', fonts: 'font_title|font_body|font_label' %}

  {{ content_for_header }}
  {%- include 'bold-options-hybrid' -%}
  {%- include 'bold-common' -%}
{%- render 'sc-includes' -%}
{%- render 'bold-includes' -%}
  {%- include 'bold-product' with product, hide_action: 'header' -%}

  <script
          src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha256-oE03O+I6Pzff4fiMqwEGHbdfcW7a3GRRxlL+U49L5sA=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://use.typekit.net/job2edr.css">
  <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
  <script>
      Weglot.initialize({
          api_key: 'wg_0d9e779801b263546b8acb7dd35751e44'
      });
  </script>

  <!-- Global site tag (gtag.js) - Google Ads: 664495528 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-664495528"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-664495528');
  </script>


  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  {% render 'minmaxify-head' %}

<!--begin-boost-pfs-filter-css-->
  {% include 'boost-pfs-style' %}
<!--end-boost-pfs-filter-css-->


</head>

{% assign transparent_header = false %}
{% if template.suffix == 'reduce' or template.suffix == 'impact' or template.suffix == 'guarantee' or template.suffix == 'track' or template.suffix == 'sustainable' or template.suffix == 'resource' or template.suffix == 'pcr-collection' or template.suffix == 'faq' or template.name == 'blog' or template.suffix == 'suppliers-v2' or template.suffix == 'jobs' or template.suffix == 'about' or template.suffix == 'contact' or page.handle == 'oceanworks-guaranteed-authenticity' %}
  {% assign transparent_header = true %}
{% endif %}

<body class="page-template-{{ template | replace: '_', '-' }} {% if transparent_header == true %}page-template-index{% endif %} {% unless template.name == 'article' %}{{ template | handleize }}{% endunless %} {% if customer %} logged-in{%else%} logged-out{%endif%}">
  {% if template contains 'password' %}
  <main class="site-main">
    {{ content_for_layout }}
  </main>
  {% else %}

    {% section 'pxs-announcement-bar' %}
    {% section 'static-header' %}

    {% include 'header-minicart' %}
    {% section 'static-contactbar' %}

    <main class="site-main">
      {{ content_for_layout }}
    </main>

    {% section 'site-footer' %}
  {% endif %}

  {%- if template contains 'cart' -%}
  {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js' | script_tag }}
  {{ '/services/javascripts/countries.js' | script_tag }}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {%- endif -%}

  {%- if template contains 'customer' -%}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {%- endif -%}

  <script>
    document.querySelectorAll('.link-arrow').forEach(($link) => {
      $link.addEventListener('click', () => {
        let handle = $link.getAttribute('data-target');
        let $target = document.querySelector(`.popup.grid-detail[data-handle="${handle}"]`);
        if($target) {
          $target.classList.add('active');
        }
      })
    })
    document.querySelectorAll('.popup-trigger').forEach(($trigger) => {
      $trigger.addEventListener('click', () => {
        let handle = $trigger.getAttribute('data-popup');
        let $target = document.querySelector(`.popup[data-handle="${handle}"]`);
        if($target) {
          $target.classList.add('active');
        }
      })
    })
    document.querySelectorAll('.popup .popup-close').forEach(($btn_close) => {
      $btn_close.addEventListener('click', () => {
        $btn_close.closest('.popup').classList.remove('active');
      })
    })

    document.querySelectorAll('.popup-bg').forEach(($bg) => {
      $bg.addEventListener('click', () => {
        $bg.closest('.popup').classList.remove('active');
      })
    })
  </script>
  
  <script
          src="{{ 'handy.js' | asset_url }}"
          data-scripts
          data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}"
          data-shopify-cart-url="{{ 'jquery.cart.js' | asset_url }}"
          data-shopify-currencies="//cdn.shopify.com/s/javascripts/currencies.js"
          data-shopify-qrcode="{{ 'vendor/qrcode.js' | shopify_asset_url }}"
          ></script>

  {% include 'structured-data' %}
  <!-- Begin ReCharge code -->

  <!-- End ReCharge code -->



  <script type="text/javascript">

    /*
      jQuery('.cart-form').on('submit', function(e) {
        if(!jQuery('#agree-to-terms').checked) {
          alert('You must agree to the terms to proceed. Please review the terms, agree by checking the box, and then proceed to checkout.');
        	return false;
        }
        return true;
      });
      */
      jQuery.fn.serializeObject = function()
      {
         var o = {};
         var a = this.serializeArray();
         jQuery.each(a, function() {
             if (o[this.name]) {
                 if (!o[this.name].push) {
                     o[this.name] = [o[this.name]];
                 }
                 o[this.name].push(this.value || '');
             } else {
                 o[this.name] = this.value || '';
             }
         });
         return o;
      };



    jQuery('#lead_form').on('submit', function(e) {
      e.preventDefault();
      console.log('submit!');
      if(!jQuery('body').hasClass('page-template-page.contact')) {
        if(
          jQuery('#email').val() == '' ||
          jQuery('#email').val().indexOf('gmail') >= 0 ||
          jQuery('#email').val().indexOf('yahoo') >= 0 ||
          jQuery('#email').val().indexOf('hotmail') >= 0
        ) {
            alert('We require that you use a business email address to continue. Please enter your business email then try again.');
            return false;
        }
      }

      var leadData = jQuery("#lead_form").serializeObject();

      	// Track for Klaviyo
      	 var _learnq = window._learnq || [];

         _learnq.push(['identify', {
          '$email' : jQuery('#email').val(),
          '$first_name' : jQuery('#first_name').val(),
          '$last_name' : jQuery('#last_name').val()
         }]);
        _learnq.push(['track', 'Became Lead']);
      if(leadData.emailOptOut == 1 || leadData.emailOptOut == '1') {
        _learnq.push(['track', 'Newsletter Opt Out']);
      }

      jQuery.post(
        "https://api.oceanworks.co/api/leads",
        jQuery("#lead_form").serializeObject()
      ).done(function( data ) {
        console.log(data);
        if(data.error == false) {
          window.location = "https://oceanworks.co/pages/thank-you-lead-customer";
        } else {
          alert( "Sorry, there was a problem submitting your information. Please email info@oceanworks.co for more information." );
          return false;
        }
      })
      .fail(function() {
        alert( "Sorry, there was a problem submitting your information. Please email info@oceanworks.co for more information." );
        return false;
      });


    });

    setTimeout(function() {
      if(jQuery('.bold_options').length > 0 && jQuery('.bold_qb_grid').children().length > 0) {
        console.log('bold_options', jQuery('.bold_qb_grid').children().length);
        jQuery('.bold_options').after(`
          <div class="shappify-qty-msg-x bold_qb_grid-x" style="margin-top: -11px;">
              <table class="shappify_qb_grid">

                  <tbody>
                      <tr>
                          <td>2,000+</td>
                          <td>
                              Inquire with Account Manager
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
          `);
      }
    }, 1000);

    jQuery('#create_customer').on('submit', function(e) {
      console.log('submit!');
      if(jQuery('#customer_first_name').val() == '') {
        alert('You must enter your first name.');
        return false;
      }
      if(jQuery('#customer_first_name').val() == '') {
        alert('You must enter your last name.');
        return false;
      }
      if(jQuery('#customer_company').val() == '') {
        alert('You must enter your company name.');
        return false;
      }
      if(!jQuery('#customer_agree_to_tos').prop("checked")) {
          alert('You must check the box to agree to the Oceanworks Platform Terms and Conditions to proceed.');
          return false;
          e.preventDefault();
      }
      return true;
    });

    jQuery('.hide-boost-pfs-filter-collection-description').on('click', function(e) {
      e.preventDefault();
      jQuery('.show-boost-pfs-filter-collection-description').css('display', 'inline-block');
      jQuery('.hide-boost-pfs-filter-collection-description').css('display', 'none');
      jQuery('.boost-pfs-filter-collection-description').css('display', 'none');
      return false;
    });

    jQuery('.show-boost-pfs-filter-collection-description').on('click', function(e) {
      e.preventDefault();
      jQuery('.show-boost-pfs-filter-collection-description').css('display', 'none');
      jQuery('.hide-boost-pfs-filter-collection-description').css('display', 'inline-block');
      jQuery('.boost-pfs-filter-collection-description').css('display', 'block');
      return false;
    });

    if(window.location.href.indexOf('tds') >= 0) {
      jQuery('.has-tds').css('border', '1px solid green');
      jQuery('.missing-tds').css('border', '1px solid red');
    }

    jQuery('.flickity-button.flickity-prev-next-button.previous').html(`<svg class="flickity-button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve" width="512px" height="512px"><g><g>
<path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225   c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#235AA7"/>
    </g></g> </svg>`);

    jQuery('.flickity-button.flickity-prev-next-button.next').html(`<svg class="flickity-button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve" width="512px" height="512px"><g><g>
<path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5   c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z   " data-original="#000000" class="active-path" data-old_color="#000000" fill="#235AA7"/>
    </g></g> </svg>`);

    jQuery('a[href^="https://sustainablebrands.com"]').attr('target', '_blank');

  </script>


  <script type="text/javascript" charset="utf-8">
    var shappify_customer_tags = {{ customer.tags | json }}
  </script>

  <!-- LinkedIn Tracking -->
  <script type="text/javascript">
  _linkedin_partner_id = "1759474";
  window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
  window._linkedin_data_partner_ids.push(_linkedin_partner_id);
  </script><script type="text/javascript">
  (function(){var s = document.getElementsByTagName("script")[0];
  var b = document.createElement("script");
  b.type = "text/javascript";b.async = true;
  b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
  s.parentNode.insertBefore(b, s);})();
  </script>
  <noscript>
  <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1759474&fmt=gif" />
  </noscript>

  <script type="text/javascript">
    function getAllUrlParams(url) {

      // get query string from url (optional) or window
      var queryString = url ? url.split('?')[1] : window.location.search.slice(1);

      // we'll store the parameters here
      var obj = {};

      // if query string exists
      if (queryString) {

        // stuff after # is not part of query string, so get rid of it
        queryString = queryString.split('#')[0];

        // split our query string into its component parts
        var arr = queryString.split('&');

        for (var i = 0; i < arr.length; i++) {
          // separate the keys and the values
          var a = arr[i].split('=');

          // set parameter name and value (use 'true' if empty)
          var paramName = a[0];
          var paramValue = typeof (a[1]) === 'undefined' ? true : a[1];

          // (optional) keep case consistent
          paramName = paramName.toLowerCase();
          if (typeof paramValue === 'string') paramValue = paramValue.toLowerCase();

          // if the paramName ends with square brackets, e.g. colors[] or colors[2]
          if (paramName.match(/\[(\d+)?\]$/)) {

            // create key if it doesn't exist
            var key = paramName.replace(/\[(\d+)?\]/, '');
            if (!obj[key]) obj[key] = [];

            // if it's an indexed array e.g. colors[2]
            if (paramName.match(/\[\d+\]$/)) {
              // get the index value and add the entry at the appropriate position
              var index = /\[(\d+)\]/.exec(paramName)[1];
              obj[key][index] = paramValue;
            } else {
              // otherwise add the value to the end of the array
              obj[key].push(paramValue);
            }
          } else {
            // we're dealing with a string
            if (!obj[paramName]) {
              // if it doesn't exist, create property
              obj[paramName] = paramValue;
            } else if (obj[paramName] && typeof obj[paramName] === 'string'){
              // if property does exist and it's a string, convert it to an array
              obj[paramName] = [obj[paramName]];
              obj[paramName].push(paramValue);
            } else {
              // otherwise add the property
              obj[paramName].push(paramValue);
            }
          }
        }
      }

      return obj;
    }

    if(getAllUrlParams().utm_source && getAllUrlParams().utm_medium) {
      console.log(getAllUrlParams().utm_source, getAllUrlParams().utm_medium);
      if(getAllUrlParams().utm_source.toLowerCase() == 'google' && getAllUrlParams().utm_medium.toLowerCase() == 'cpc') {
          console.log('via Google Ad!');
        Cookies.set('ow_lead_source', 'Google Ad')
      }
      if(getAllUrlParams().utm_source.toLowerCase() == 'linkedin' && getAllUrlParams().utm_medium.toLowerCase() == 'cpc') {
          console.log('via LinkedIn Ad!');
        Cookies.set('ow_lead_source', 'LinkedIn Ad')
      }
    }

    if(getAllUrlParams().utm_source) {
      Cookies.set('ow_utm_source', getAllUrlParams().utm_source);
    }
    if(getAllUrlParams().utm_medium) {
      Cookies.set('ow_utm_medium', getAllUrlParams().utm_medium);
    }
    if(getAllUrlParams().utm_campaign) {
      Cookies.set('ow_utm_campaign', getAllUrlParams().utm_campaign);
    }

    console.log('OW* URL Params', getAllUrlParams());
    console.log('OW* Cookies', Cookies.get());
  </script>

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<!--begin-boost-pfs-js-->
  {% include 'boost-pfs' %}
<!--end-boost-pfs-js-->
  {{ 'ocean-script.js' | asset_url | script_tag }}
</body>

{% endif %}

</html>
