<style>
  .section-with-bg-{{ section.id }} {
    background-image: url({{ section.settings.bg_image | img_url: '2048x' }});
  }

  @media (max-width: 768px) {
    .section-with-bg-{{ section.id }} {
      background-image: url({{ section.settings.bg_image_mobile | img_url: '1024x' }});
    }
  }
</style>
<div class="section-with-bg section-with-bg-{{ section.id }}">
  <div class="container">
    <div class="impact-logo">
      <img src="{{ section.settings.impact_logo | img_url: '500x' }}" alt="impact logo">
    </div>
    <div class="section_title white">{{ section.settings.title | replace: '+', '<span class="plus-sign">+</span>' }}</div>
    <div class="bottom_arrow">
      <div class="title white">How It Works</div>
      <div class="down-icon">{% render 'icon-arrow-down' %}</div>
    </div>
  </div>
</div>
{%- schema -%}
{
  "name": "Impact Banner",
  "class": "banner-impact ocean_full_width",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image Mobile"
    },
    {
      "type": "image_picker",
      "id": "impact_logo",
      "label": "Impact Logo"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom Text"
    }
  ]
}
{%- endschema -%}
