{%- assign settings = section.settings -%}
{%- assign blocks = section.blocks -%}

{% assign button_link = '#' %}

{% if settings.button_link != blank %}
  {% assign button_link = settings.button_link %}
{% endif %}

{% assign bg_color = settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank %}
  {% assign has_bg = true %}
{% endunless %}

{% capture container %}
    {{ settings.container }}
{% endcapture %}

<section class="video-container {{settings.class}}">
  <div class="sf__slide-bg">
    {% if settings.video != '' %}
      <video loop="" playsinline="" muted="" autoplay="" preload="auto" poster="{{settings.poster}}">
        <source src="{{settings.video}}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    {% else %}
      <div class="bg-image-slider">
        {% for block in section.blocks %}
          <div class="slide-image">
            <img src="{{ block.settings.slide_image | img_url: '2048x' }}" alt="{{ block.settings.slide_image.alt }}">
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div
    class="sf__slide-block slide__block-desktop flex sf__slide-block--middle-center container-fluid w-full h-full py-24 relative video-text-container"
    style=""
  >
    <div class="sf__slide-content max-w-4xl w-max text-center">
      <div class="slide__block-subtitle text-base mb-[14px] text-white">{{ settings.logo }}</div>

      <h2 class="slide__block-title text-5xl mb-5 text-white lg:leading-tight xl:leading-tight 2xl:leading-tight">
        {{ settings.heading }}
      </h2>

      <div class="slide__block-description text-base mb-7 text-white">
        <p>{{ settings.description }}</p>
      </div>

      <a href="{% if settings.button_target != blank %}#{{ settings.button_target }}{% else %}{{ settings.button_link | default: '#' }}{% endif %}" class="button button-secondary button-large">
        {{ settings.button_text }}
      </a>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Banner Video",
  "class": "ocean_full_width noborder",
  "settings": [
    {
      "type": "text",
      "id": "video",
      "label": "Video Link",
      "default": "https://cdn.shopify.com/s/files/1/0552/1155/6951/files/BannerVideo.mp4"
    },
    {
      "type": "image_picker",
      "id": "poster",
      "label": "Poster Image"
    },
    {
      "type": "text",
      "id": "logo",
      "label": "Logo Text",
      "default": "Oceanworks"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Responsible Plastic Solutions"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Oceanworks is the global sourcing engine for responsible plastic"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "The oceanworks Guarantee"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_target",
      "label": "Button target selector(ID)"
    },
    {
      "type": "text",
      "id": "class",
      "label": "Custom Class",
      "default": "nav-remove"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner Video",
      "category": "Custom",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
