<style>
  .section-with-bg-{{ section.id }} {
    background-image: url({{ section.settings.bg_image | img_url: '2048x' }});
  }

  @media (max-width: 768px) {
    .section-with-bg-{{ section.id }} {
      background-image: url({{ section.settings.bg_image_mobile | img_url: '1024x' }});
    }
  }
</style>
<div class="section-with-bg section-with-bg-{{ section.id }}">
  <div class="container">
    <div class="eyebrow pineapple-yellow">{{ section.settings.eyebrow_text }}</div>
    <div class="section_title white">{{ section.settings.title }}</div>
  </div>
  <div class="hide--desktop blog-scroll-down" data-scroll-down>
    <span>{{ section.settings.title }}</span>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" fill="none">
        <path d="M6 9L0.803847 9.78799e-07L11.1962 7.02746e-08L6 9Z" fill="white"/>
      </svg>
    </span>
  </div>
</div>

{% schema %}
{
  "name": "Blog Banner",
  "class": "blog-banner ocean_full_width",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image Mobile"
    },
    {
      "type": "text",
      "id": "eyebrow_text",
      "label": "Eyebrow Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ]
}
{% endschema %}
