<style>
  .section-with-bg-{{ section.id }} {
    background-image: url({{ section.settings.bg_image | img_url: '2048x' }});
  }

  @media (max-width: 768px) {
    .section-with-bg-{{ section.id }} {
      background-image: url({{ section.settings.bg_image_mobile | img_url: '1024x' }});
    }
  }
</style>
<div class="section-with-bg section-with-bg-{{ section.id }}">
  <div class="container">
    <div class="text-wrap">
      <div class="eyebrow pineapple-yellow">{{ section.settings.eyebrow_text }}</div>
      <div class="section_title section_title_large white">{{ section.settings.title }}</div>
      <div class="description-text white">{{ section.settings.description }}</div>
      {% if section.settings.btn_text != blank %}
        <div class="cta-wrap">
          <a href="{% if section.settings.btn_anchor_id != blank %}#{{ section.settings.btn_anchor_id }}{% else %}{{ section.settings.btn_link }}{% endif %}" class="button button-secondary">{{ section.settings.btn_text }}</a>
        </div>
      {% endif %}
    </div>
    <div class="image-wrap">
      <img src="{{ section.settings.iphone_image | img_url: '1000x' }}" alt="iphone image">
    </div>
  </div>
</div>
{%- schema -%}
{
  "name": "Built In Transparency",
  "class": "built-in-transparency ocean_full_width",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image Mobile"
    },
    {
      "type": "text",
      "id": "eyebrow_text",
      "label": "Eyebrow Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    },
    {
      "type": "paragraph",
      "content": "or"
    },
    {
      "type": "text",
      "id": "btn_anchor_id",
      "label": "Anchor target ID"
    },
    {
      "type": "image_picker",
      "id": "iphone_image",
      "label": "IPhone Image"
    }
  ]
}
{%- endschema -%}
