{%- assign settings = section.settings -%}
{%- assign blocks = section.blocks -%}


{% assign button_link = '#' %}

{% if  settings.button_link  != blank %}
  {% assign button_link = settings.button_link %}
{% endif %}




{% assign bg_color = settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}

{% capture container %}
    {{ settings.container }}
{% endcapture %}

<div class="full-width-container header-choice">
  <section style="background-image: linear-gradient({{ settings.background_color_first }} {{settings.percentage_gradient}}%, {{settings.background_color_second}});" id="variety">
 
    <div class="{{ container }}" >
      <div class="choice-collection">
      <div class="flex flex-wrap choose-section items-center {{ settings.custom_class }}">
        <div class="w-full lg:w-4/12 main-image">
          {% if settings.image != blank %}
              <img src="{{ settings.image | img_url: ''}}">
          {% else %}
              {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
          {% endif %}
        </div>
        <div class="w-full lg:w-3/12 px-6 icon-section">
          <ul class="flex flex-wrap icon-list">
               {% for block in blocks %}
            		{% if settings.icon_grid == 'icon-double' %}
                      <li class="w-full mb-4 icon-single" data-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>

                          {% if block.settings.collection_url != blank %}
                              {%- assign tag = 'a' -%}
                          {% else %}
                              {%- assign tag = 'span' -%}
                          {% endif %}

                          <{{ tag }} {% if block.settings.collection_url != blank %}href="{{ block.settings.collection_url }}"{% endif %} class="collection-logo__logo">

                            {% if block.settings.collection_image != blank %}
                                <img src="{{ block.settings.collection_image | img_url: ''}}">
                            {% else %}
                                {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
                            {% endif %}

                          </{{ tag }}>
                      </li>
                    {% else %}
                        <li class="w-full mb-4 icon-double" data-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>

                          {% if block.settings.collection_url != blank %}
                              {%- assign tag = 'a' -%}
                          {% else %}
                              {%- assign tag = 'span' -%}
                          {% endif %}

                          <{{ tag }} {% if block.settings.collection_url != blank %}href="{{ block.settings.collection_url }}"{% endif %} class="collection-logo__logo">

                            {% if block.settings.collection_image != blank %}
                                <img src="{{ block.settings.collection_image | img_url: ''}}">
                            {% else %}
                                {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
                            {% endif %}

                          </{{ tag }}>
                      </li>
                    {% endif %}
              {% endfor %}
          </ul>
        </div>
        <div class="w-full lg:w-5/12 content-section">
              <div class="heading-wrapper">
                  <h3 style="color: {{settings.text_color}}">{{ settings.heading }}</h3>
              </div>
              <div class="border-left-box" style="border-color: {{settings.text_color}}">
                  {% if settings.description != blank %}
                    <p style="color: {{settings.text_color}}">{{ settings.description }}</p>
                  {% endif %}
              </div>


              <a href="{{ button_link }}" class="sf__btn sf__btn-medium choice-btn btn-rel" style="color: {{settings.button_text_color}}; border-color: {{settings.button_text_color}}; ">
                <span class="btn-bg" style="background-color:{{settings.button_bg_color}};opacity: {{settings.button_opacity}};"></span>
                <span class="rel">{{ settings.button_text }}</span>
              </a>
            </div>
      </div>
    </div>
    </div>
  </section>
</div>
{% schema %}
{
    "name": "Choices Collections",
    "class": "ocean_full_width noborder",
    "settings": [
       {
            "type": "header",
            "content": "Section header"
        },
 		{
          "type": "checkbox",
          "id": "show_fullscreen",
          "label": "Show full-screen images",
          "info": "If enabled, images will be resized to fit the entire screen.",
          "default": true
        },
        {
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default": "Heading"
        },
        {
            "type":"textarea",
            "id":"description",
            "label":"Description"
        },
		{
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#ffffff"
        },
        {
            "type":"text",
            "id":"button_text",
            "label":"Button Text",
            "default": "Explore now"
        },
        {
            "type":"url",
            "id":"button_link",
            "label":"Button Link"
        },
		{
            "type": "color",
            "id": "button_bg_color",
            "label": "Button Background Color",
            "default": "#1e3260"
        },
		{
            "type": "color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#ffffff"
        },
		{
            "type":"text",
            "id":"button_opacity",
            "label":"Button Background Opacity",
            "default": "0.5"
        },
        {
            "type": "header",
            "content": "Image"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
        {
            "type": "color",
            "id": "background_color_first",
            "label": "Background color First",
            "default": "#ffffff "
        },
		{
            "type": "color",
            "id": "background_color_second",
            "label": "Background color Second",
            "default": "#cbecec"
        },
		{
            "type": "text",
            "id": "percentage_gradient",
            "label": "Gradient First Color Height in Percentage",
			"default": "60"
        },
		{
        "type": "select",
        "id": "icon_grid",
        "label": "Icon Grid",
        "default": "icon-double",
        "options": [
            {
              "value": "icon-single",
              "label": "One Column"
            },
            {
              "value": "icon-double",
              "label": "Two Column"
            }
          ]
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "Custom classes"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Collection Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "collection_image",
                    "label": "Collection Image"
                },
                {
                    "type": "url",
                    "id": "collection_url",
                    "label": "Collection url"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Choices Collections",
            "category": "Custom",
            "blocks": [
                {
                    "type": "image"
                }
            ]
        }
    ]
}
{% endschema %}
