{%- assign products_per_page = section.settings.products_per_page -%}
{%- paginate collection.products by products_per_page -%}

{%- comment -%} COLLECTION HEADER {%- endcomment -%}
<div class="boost-pfs-filter-collection-header-wrapper">
  <div class="boost-pfs-container-default">
    <div class="boost-pfs-section-header">
      <h1 class="boost-pfs-filter-collection-header" style="margin-top: 10px;">
        <span role="text">
          {{ collection.title }}
          <a class="show-boost-pfs-filter-collection-description" href="#" style="font-size: 14px;">(show more)</a>
          <a class="hide-boost-pfs-filter-collection-description" href="#" style="font-size: 14px; display: none;">(show less)</a>
        </span>
      </h1>
      {%- if collection.description != blank -%}
        <div class="boost-pfs-filter-collection-description rte" style="display: none;">
          {{ collection.description }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
{%- comment -%} END COLLECTION HEADER {%- endcomment -%}
{%- comment -%} TOOLBAR TOP MOBILE {%- endcomment -%}
<div class="boost-pfs-filter-toolbar-top-mobile">
    <div class="boost-pfs-filter-top-sorting boost-pfs-filter-top-sorting-mobile boost-pfs-filter-custom-sorting">{%- include 'boost-pfs-filter-skeleton', type: 'button' -%}</div>
    <div class="boost-pfs-filter-tree-mobile-button">{%- include 'boost-pfs-filter-skeleton', type: 'button' -%}</div>
</div>
{%- comment -%} END TOOLBAR TOP MOBILE {%- endcomment -%}


{%- comment -%} TOOLBAR {%- endcomment -%}
<div class="boost-pfs-filter-default-toolbar">
    <div class="boost-pfs-container-default boost-pfs-filter-default-toolbar-inner">
      <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-type">
        <div class="boost-pfs-filter-top-display-type">{%- include 'boost-pfs-filter-skeleton', width: 2 -%}</div>
      </div>
      <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-count">
        <span class="boost-pfs-filter-total-product">{%- include 'boost-pfs-filter-skeleton', width: 1 -%}</span>
      </div>
      <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-custom-sorting boost-pfs-filter-top-sorting">{%- include 'boost-pfs-filter-skeleton', width: 1 -%}</div>
    </div>
</div>
{%- comment -%} END TOOLBAR {%- endcomment -%}

<div class="boost-pfs-container-default boost-pfs-filter-wrapper-page">
  <div class="boost-pfs-filter-wrapper">
    <div class="boost-pfs-filter-left-col">
      <div class="boost-pfs-filter-refine-by-wrapper-v"></div>
      <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v">{%- include 'boost-pfs-filter-skeleton', type: 'filter-tree' -%}</div>
    </div>
    <div class="boost-pfs-filter-right-col">
      <div class="boost-pfs-filter-products" data-bc-sort="{{ collection.default_sort_by }}">
        {%- for product in collection.products -%}
          {%- include 'boost-pfs-filter-product-item', product: product -%}
        {%- endfor -%}
      </div>
      <div class="boost-pfs-filter-bottom-pagination boost-pfs-filter-bottom-pagination-default">
        {%- if paginate.pages > 1 -%}
          {%- include 'boost-pfs-filter-pagination' -%}
        {%- endif -%}
      </div>
      <div class="boost-pfs-filter-load-more"></div>
    </div>
  </div>

  {%- comment -%} start-bc-most-popular-template {%- endcomment -%}
    <div class="boost-pfs-most-popular-products-wrapper boost-pfs-widget-slider-wrapper">
      <div class="boost-pfs-most-popular-products boost-pfs-widget-products owl-carousel"></div>
    </div>
  {%- comment -%} end-bc-most-popular-template {%- endcomment -%}

  {%- comment -%} start-bc-recently-viewed-template {%- endcomment -%}
    <div class="boost-pfs-recent-products-wrapper boost-pfs-widget-slider-wrapper">
      <div class="boost-pfs-recent-products boost-pfs-widget-products owl-carousel"></div>
    </div>
  {%- comment -%} end-bc-recently-viewed-template {%- endcomment -%}
</div>
{%- endpaginate -%}
<script>
  // Declare boostPFSThemeConfig variable
  var boostPFSThemeConfig = {
    label: {
      sorting_heading: {%- assign temp = 'collections.sorting.title' | t  -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Sorting" {%- endunless -%},
      sorting_best_selling: {%- assign temp = 'collections.sorting.best_selling' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Best Selling" {%- endunless -%},
      sorting_featured: {%- assign temp = 'collections.sorting.featured' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Featured" {%- endunless -%},
      sorting_manual: {%- assign temp = 'collections.sorting.manual' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Featured" {%- endunless -%},
      sorting_title_ascending: {%- assign temp = 'collections.sorting.az' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Alphabetically, A-Z" {%- endunless -%},
      sorting_title_descending: {%- assign temp = 'collections.sorting.za' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Alphabetically, Z-A" {%- endunless -%},
      sorting_price_ascending: {%- assign temp = 'collections.sorting.price_ascending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Lowest Price" {%- endunless -%},
      sorting_price_descending: {%- assign temp = 'collections.sorting.price_descending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Highest Price" {%- endunless -%},
      sorting_created_ascending: {%- assign temp = 'collections.sorting.created_ascending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Date, Old to New" {%- endunless -%},
      sorting_created_descending: {%- assign temp = 'collections.sorting.created_descending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Date, New to Old" {%- endunless -%},
      sorting_date_ascending: {%- assign temp = 'collections.sorting.date_ascending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Date, Old to New" {%- endunless -%},
      sorting_date_descending: {%- assign temp = 'collections.sorting.date_descending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Date, New to Old" {%- endunless -%},
      sorting_sale_descending: {%- assign temp = 'collections.sorting.sale_descending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "% Off" {%- endunless -%},
      sorting_relevance: {%- assign temp = 'collections.sorting.relevance' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Relevance" {%- endunless -%},
      toolbar_viewas: "View As",
      items_with_count_one: "product",
      items_with_count_other: "Products",
    },
    label_basic: {
      sale: {{ section.settings.sale_label | json }},
      sold_out: {{ section.settings.soldout_label | json }},
      from: {{ section.settings.from | json }},
    },
    custom: {
      products_per_page: {%- if products_per_page -%} {{ products_per_page | json }} {%- else -%} 24 {%- endif -%},
      products_per_row: {%- if section.settings.products_per_row -%} {{ section.settings.products_per_row }} {%- else -%} 3 {%- endif -%},
      products_per_row_mobile: {%- if section.settings.products_per_row_mobile -%} {{ section.settings.products_per_row_mobile }} {%- else -%} 2 {%- endif -%},
      show_vendor: {%- if section.settings.show_vendor -%} {{ section.settings.show_vendor | json }} {%- else -%} false {%- endif -%},
      show_price: {%- if section.settings.show_price -%} {{ section.settings.show_price | json }} {%- else -%} false {%- endif -%},
      show_sale_label: {%- if section.settings.show_sale_label -%} {{ section.settings.show_sale_label | json }} {%- else -%} false {%- endif -%},
      show_sold_out_label: {%- if section.settings.show_sold_out_label -%} {{ section.settings.show_sold_out_label | json }} {%- else -%} false {%- endif -%},
      active_image_swap: {%- if section.settings.active_image_swap -%} {{ section.settings.active_image_swap | json }} {%- else -%} false {%- endif -%},
      show_sorting: {%- if section.settings.show_sorting -%} {{ section.settings.show_sorting | json }} {%- else -%} false {%- endif -%},
      display_item_swatch: {%- if section.settings.display_item_swatch -%} {{ section.settings.display_item_swatch | json }} {%- else -%} false {%- endif -%},
    }
  };

  // Declare Templates
  var boostPFSTemplate = {
      'soldOutClass': ' sold-out',
      'saleClass': ' on-sale',
      'soldOutLabelHtml': {%- render 'boost-pfs-filter-html', layout: 'soldOutLabelHtml' -%},
      'saleLabelHtml': {%- render 'boost-pfs-filter-html', layout: 'saleLabelHtml' -%},
      'tagLabelHtml': {%- render 'boost-pfs-filter-html', layout: 'tagLabelHtml' -%},
      'vendorHtml': {%- render 'boost-pfs-filter-html', layout: 'vendorHtml' -%},
      // Grid Template
      'productGridItemHtml': {%- render 'boost-pfs-filter-html', layout: 'productGridItemHtml' -%},
      // For List View
      // List Template
      'productListItemHtml': {%- render 'boost-pfs-filter-html', layout: 'productListItemHtml' -%},
      // End For List View
      'productListPlaceholderHtml': {%- render 'boost-pfs-filter-html', layout: 'productListPlaceholderHtml' -%},
      // Pagination Template
      'previousActiveHtml': {%- render 'boost-pfs-filter-html', layout: 'previousActiveHtml' -%},
      'previousDisabledHtml': {%- render 'boost-pfs-filter-html', layout: 'previousDisabledHtml' -%},
      'nextActiveHtml': {%- render 'boost-pfs-filter-html', layout: 'nextActiveHtml' -%},
      'nextDisabledHtml': {%- render 'boost-pfs-filter-html', layout: 'nextDisabledHtml' -%},
      'pageItemHtml': {%- render 'boost-pfs-filter-html', layout: 'pageItemHtml' -%},
      'pageItemSelectedHtml': {%- render 'boost-pfs-filter-html', layout: 'pageItemSelectedHtml' -%},
      'pageItemRemainHtml': {%- render 'boost-pfs-filter-html', layout: 'pageItemRemainHtml' -%},
      'paginateHtml': {%- render 'boost-pfs-filter-html', layout: 'paginateHtml' -%},
      // Sorting Template
      'sortingHtml': {%- render 'boost-pfs-filter-html', layout: 'sortingHtml' -%},
      // Show Limit Template
      'showLimitHtml': {%- render 'boost-pfs-filter-html', layout: 'showLimitHtml' -%},
      // Breadcrumb Template
      'breadcrumbHtml': {%- render 'boost-pfs-filter-html', layout: 'breadcrumbHtml' -%},
      'breadcrumbDivider': {%- render 'boost-pfs-filter-html', layout: 'breadcrumbDivider' -%},
      'breadcrumbItemLink': {%- render 'boost-pfs-filter-html', layout: 'breadcrumbItemLink' -%},
      'breadcrumbItemSelected': {%- render 'boost-pfs-filter-html', layout: 'breadcrumbItemSelected' -%},
  };
</script>

{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "range",
        "id": "products_per_page",
        "label": "Products per page",
        "min": 2,
        "max": 50,
        "step": 1,
        "default": 24
      },
      {
        "type": "range",
        "id": "products_per_row",
        "label": "Products per row on Desktop",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "products_per_row_mobile",
        "label": "Products per row on Mobile",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 2
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendor",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_price",
        "label": "Show price",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_sale_label",
        "label": "Show sale label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_sold_out_label",
        "label": "Show sold out label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "active_image_swap",
        "label": "Active image swap",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_sorting",
        "label": "Enable collection sorting",
        "default": true
      },
      {
        "type": "text",
        "id": "soldout_label",
        "label": "Sold Out Label",
        "default": "Sold out"
      },
      {
        "type": "text",
        "id": "sale_label",
        "label": "Sale Label",
        "default": "Sale"
      },
      {
        "type": "text",
        "id": "from",
        "label": "From",
        "default": "from"
      },
      {
        "type": "checkbox",
        "id": "display_item_swatch",
        "label": "Enable Display Item Swatch",
        "default": true
      }
    ]
  }
{% endschema %}