
{%- assign settings = section.settings -%}
{%- assign blocks = section.blocks -%}


{% assign bg_color = settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}

{% capture container %}
    {{ settings.container }}
{% endcapture %}

<section style="background-image: linear-gradient({{ settings.background_color_first }} {{settings.percentage_gradient}}%, {{ settings.background_color_second }} {{settings.percentage_gradient2}}% ,{{settings.background_color_third}} 100%);" class="content-icon-box" id="impact">
  <div class="{{ container }} content-icon {{ settings.custom_class }}">
      <div class="flex flex-wrap">
      {% if settings.heading != blank %}
        <div class="w-100 heading-wrapper">
          <h3 style="color: {{settings.text_color}}">{{ settings.heading }}</h3>
        </div>
      {% endif %}

      {% if settings.description != blank %}
        <div class="w-100 icon-card">
          <p style="color: {{settings.text_color}}">{{ settings.description }}</p>
        </div>
      {% endif %}

      <div class="w-100 icon-circle-wrapper">
          <div class="flex flex-wrap circle-card-block">
          {% for block in blocks %}
            <div class="{{ block.settings.custom_icon_class }} image-card" style="background-image: url('{{ block.settings.icon_bg | img_url: ''}}');">
                {% if block.settings.icon_image != blank %}
                  <img src="{{ block.settings.icon_image | img_url: ''}}">
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
                {% endif %}
                {% if block.settings.icon_heading != blank %}
                  <p style="color: {{settings.text_color}}">{{ block.settings.icon_heading }}</p>
                {% endif %}
            </div>
          {% endfor %}
          </div>
        
        	{% if settings.button_link != blank and settings.button_text != blank%}
            <div class="button-wrapper px-3 py-8">
              <div class="text-center">
                <a href="{{ settings.button_link }}" class="sf__btn sf__btn-inverted sf__btn-small cs-btn" style="background-color:{{settings.button_color}}; color: {{settings.button_text_color}}; border-color: {{settings.button_color}};">{{ settings.button_text }}</a>
              </div>
            </div>
            {% endif %}
      </div>
    </div>
  </div>
</section>


{% schema %}
{
    "name": "Content Icon Box",
"class": "ocean_full_width noborder",
    "settings": [
       {
            "type": "header",
            "content": "Section header"
        },
        {
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default": "Heading"
        },
        {
            "type":"textarea",
            "id":"description",
            "label":"Description"
        },
		{
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#ffffff"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "Custom classes"
        },
		{
            "type": "color",
            "id": "background_color_first",
            "label": "Background color First",
            "default": "#4B8C9E"
        },
		{
            "type": "text",
            "id": "percentage_gradient",
            "label": "Gradient First Color Height in Percentage",
			"default": "0"
        },
		{
            "type": "color",
            "id": "background_color_second",
            "label": "Background color Second",
            "default": "#4B8C9E"
        },
		{
            "type": "text",
            "id": "percentage_gradient2",
            "label": "Gradient Second Color Height in Percentage",
			"default": "40"
        },
		{
            "type": "color",
            "id": "background_color_third",
            "label": "Background color Third",
            "default": "#4B8C9E"
        },
		{
            "type": "color",
            "id": "button_color",
            "label": "Button Color",
            "default": "#ffce6d"
        },
		{
            "type": "color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#0f489f"
        },
        {
            "type":"text",
            "id":"button_text",
            "label":"Button Text",
            "default": "Explore now"
        },
        {
            "type":"url",
            "id":"button_link",
            "label":"Button Link"
        }
    ],
    "blocks": [
        {
            "type": "icon_item",
            "name": "Icon Item",
            "settings": [
				{
                  "type": "image_picker",
                  "id": "icon_bg",
                  "label": "Icon Background"
                },
                 {
                    "type":"text",
                    "id":"icon_heading",
                    "label":"Heading",
                    "default": "Heading"
                },
                {
                    "type": "image_picker",
                    "id": "icon_image",
                    "label": "Image"
                },
				{
                    "type": "text",
                    "id": "custom_icon_class",
                    "label": "Custom Icon classes"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Content Icon Box",
            "category": "Custom",
            "blocks": [
                {
                    "type": "icon_item"
                }
            ]
        }
    ]
}
{% endschema %}