{% assign set = section.settings %}

<div class="container">

  {% if set.image != blank %}
    <div class="image-wrapper hide--mobile text-center">
      {%
        include 'rimg',
        img: set.image,
        size: '1200x',
        lazy: true
      %}
    </div>
    {% assign mob_img = set.mob_image | default: set.image %}
    <div class="image-wrapper hide--desktop text-center">
      {%
        include 'rimg',
        img: mob_img,
        size: '800x',
        lazy: true
      %}
    </div>
  {% endif %}

  {% if set.title != blank %}
    <h2 class="section_title inshore-blue text-center">{{ set.title }}</h2>
  {% endif %}
  {% if set.desc != blank %}
    <div class="description-text text-center">{{ set.desc }}</div>
  {% endif %}
  {% if set.btn_label != blank %}
    <div class="btn-wrapper">
      <a href="javascript:;" class="button button-primary button-large no-radius m-auto popup-trigger" data-popup="contact">{{ set.btn_label }}</a>
    </div>
  {% endif %}
</div>


<div class="popup" data-handle="contact">
  <div class="popup-bg"></div>
  <div class="popup-wrapper">
    <button class="popup-close">{% render 'icon', id: 'popup-close' %}</button>
    <div class="klaviyo-form-M4Rx45"></div>
  </div>
</div>

{% schema %}
{
  "name": "Contact form",
  "class": "section-contact-form",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mob_image",
      "label": "Mobile image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    }
  ]
}
{% endschema %}