{%- assign settings = section.settings -%}
{%- assign blocks = section.blocks -%}

{% assign bg_color = settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}

{% capture container %}
    {{ settings.container }}
{% endcapture %}

{% if section.blocks.size > 3 %}
    {% assign items = 2 %}
{% endif %}


<section
    id="sf__brand-list-{{ section.id }}"
    class="customer-logo-list"
    data-section-type="customer-logo"
    data-section-id="{{ section.id }}"
    style="background-image: linear-gradient({{ settings.background_color_first }} {{settings.percentage_gradient}}%, {{settings.background_color_second}});"
>
    <div class="{{ container }}">
        <div class="section__header text-center">
            <h2 class="section__heading" style="color: {{settings.heading_color}}">{{settings.heading}}</h2>
    	</div>
        <div class="customer-logo__container">
               <ul class="flex flex-wrap">
                    {% for block in blocks %}
                        {% assign max_width = '100%' %}

                        {% if block.settings.max_width != blank %}
                            {% assign max_width = block.settings.max_width %}
                        {% endif %}

                        {% if block.settings.image_link != blank %}
                            {%- assign tag = 'a' -%}
                        {% else %}
                            {%- assign tag = 'div' -%}
                        {% endif %}
                        <li class="customer-logo-image" data-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
                            <{{ tag }} {% if block.settings.image_link != blank %}href="{{ block.settings.image_link }}"{% endif %} class="customer-logo__logo h-full flex items-center{% if enable_slider == false %} px-4 py-6{% endif %}">
                                {% if block.settings.image != blank %}
                                    <img src="{{ block.settings.image | img_url: ''}}">
                                {% else %}
                                    {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
                                {% endif %}
                            </{{ tag }}>
                        </li>
                    {% endfor %}
               </ul>
        </div>
    </div>
</section>


{% schema %}
{
    "name": "Customer Logo",
    "class": "ocean_full_width noborder",
    "settings": [
       {
            "type": "header",
            "content": "Section header"
        },
		{
            "type": "color",
            "id": "background_color_first",
            "label": "Background color First",
            "default": "#deab5a "
        },
		{
            "type": "color",
            "id": "background_color_second",
            "label": "Background color Second",
            "default": "#5badb4"
        },
		{
            "type": "text",
            "id": "percentage_gradient",
            "label": "Gradient First Color Height in Percentage",
			"default": "60"
        },
        {
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default": "Trusted by"
        },
		{
            "type": "color",
            "id": "heading_color",
            "label": "Heading Color",
            "default": "#8e8067"
        },
        {
            "type": "select",
            "id": "header_alignment",
            "label": "Text alignment",
            "default": "center",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                }
            ]
        },
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "Custom classes"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "url",
                    "id": "image_link",
                    "label": "Image Link"
                },
                {
                    "type": "text",
                    "id": "max_width",
                    "label": "Image width (px)",
                    "default": "150px",
                    "placeholder": "eg: 100px",
                    "info": "Leave blank to use original width."
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Customer Logo",
            "category": "Image",
            "blocks": [
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                }
            ]
        }
    ]
}
{% endschema %}
