<div id="shopify-section-section-995" class="shopify-section section-featured-collections"> 

  <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-left">
      <div class="collection-featured-item-info">
        <h4 class="collection-featured-item-title"><a href="{% if customer %}/collections{% else %}/pages/demo-the-marketplace{% endif %}">
          Recycled Plastic Solutions
          </a></h4>
        <div class="collection-featured-item-description">
          <div class="page" title="Page 3">
            <div class="section">
              <div class="layoutArea">
                <div class="column">
                  <p>
                    Oceanworks® is the global marketplace for recycled plastic materials and products.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <a class="collection-featured-item-cta" href="/pages/services">
          <span class="collection-featured-item-cta-text">Learn More</span>
        </a>
        <span class="or homepage-or-new-line-mobile" style="font-family: Georgia, sans-serif; padding: 10px; font-size: 14px; color: #999; font-style: italic;">- or -</span>
        <a class="collection-featured-item-cta" href="{% if customer %}/collections{% else %}/pages/request-a-demo{% endif %}">
          <span class="collection-featured-item-cta-text">{% if customer %}Get Samples{% else %}Get Samples{% endif %}</span>
          <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
            <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
            </svg>
          </span>
        </a>
        <br/>
        <a href="/pages/for-suppliers" style="font-size: 16px; font-style: italic; text-decoration: none; border-bottom: 1px solid #BBB; color: #BBB;">Are you a <strong>supplier</strong> of recycled ocean plastic?</a>
      </div>
      <figure class="collection-featured-item-image">
        <img src={{ 'whale.png' | asset_img_url: '900x' }} alt="Recycled plastic solutions for growing sustainable brands.">
      </figure>
    </article>
  </section>

</div>

<div id="shopify-section-section-992" class="shopify-section section-featured-collections" style="margin-top: 45px; padding-bottom: 0px; border-bottom: none;"> 

  <section class="collection-featured" style="text-align: center;">
    <a href="/search">
          <img src={{ 'OW_Materials.jpg' | asset_img_url: 'master' }} alt="Dozens of choices. One click away." style="max-width: 95%;">
        </a>
  </section>

</div>

<div id="shopify-section-section-9434" class="shopify-section section-featured-collections" style="border: none; margin-top: 45px; padding-bottom: 10px;"> 


</div>

</div>

  <div id="shopify-section-section-933" class="shopify-section certify-full section-featured-collections" style="width: 100%; max-width: 100%; margin-left: 0px; margin-right: 0px; background: #6DC3C4; margin-top: 10px; padding: 30px;"> 

    <div style="width: 1000px; max-width: 90%; margin: 0 auto;">
      
  <section class="collection-featured" style="text-align: center; margin-bottom: 5px; margin-top: 25px;">
    <h4 class="collection-featured-item-title" style="color: white;">Oceanworks Featured Partner</h4>
  </section>
    <section class="collection-featured" style="margin-top: 40px;">
      <article class="collection-featured-item collection-featured-item-alignment-right">
        <figure class="collection-featured-item-image" style="vertical-align: top;">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/3X_hvaIpejI?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>
        <div class="collection-featured-item-info">
          {%comment%}
          <img src={{ 'materials_across.png' | asset_img_url: '900x' }} alt="HDPE, PP, PET, Zippers, Fabric, and Fiber" style="width: 100%;">
          {%endcomment%}
          <h4 class="collection-featured-item-title" style="color: #fff; margin-top: 10px; margin-left: 20px; font-weight: normal; font-size: 19.5px;">
            "We are proud to be working with Oceanworks® to achieve a common goal in helping protect our environment and educate consumers on the importance of keeping plastic waste out of our oceans."
            </h4>
          <div class="collection-featured-item-description" style=" margin-left: 20px;">
            <div class="page" title="Page 3">
              <div class="section">
                <div class="layoutArea">
                  <div class="column">
                    <p style="color: #eee; font-size: 16px; padding-top: 10px;">
                      <span style="font-family: Narin; text-transform: uppercase; letter-spacing: 1.6px;">Joy Delis</span><br/>
                      <em>Marketing Director, The Clorox Company ANZ</em>
                    </p>
                      <img src={{ 'GladOceanworksLight.png' | asset_img_url: 'master' }} alt="Glad x Oceanworks" style="max-width: 300px;">

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </article>
    </section>
    </div>

  </div>


<div id="shopify-section-section-1" class="shopify-section section-slideshow shopify-section-first">
  
  <div id="shopify-section-section-995" class="shopify-section section-featured-collections" style="margin-top: 0px !important;"> 


<div id="shopify-section-section-996" class="shopify-section section-featured-collections" style="margin-top: 0px !important;"> 

  <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-right">
      <figure class="collection-featured-item-image">
        <a href="/pages/services">
          <img src={{ 'oceanworks_marketplace_mockup.png' | asset_img_url: '900x' }} alt="Dozens of choices. One click away.">
        </a>
      </figure>
      <div class="collection-featured-item-info">
        {%comment%}
        <img src={{ 'materials_across.png' | asset_img_url: '900x' }} alt="HDPE, PP, PET, Zippers, Fabric, and Fiber" style="width: 100%;">
        {%endcomment%}
        <h4 class="collection-featured-item-title"><a href="/pages/services">
          Variety of Choices, One Click Away
          </a></h4>
        <div class="collection-featured-item-description">
          <div class="page" title="Page 3">
            <div class="section">
              <div class="layoutArea">
                <div class="column">
                  <p>
                    HDPE, PET, PP, and Fiber. We have what you need, with material samples and more than 15,000 tons per month readily available.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="collection-featured-item-cta" href="/collections">
          <span class="collection-featured-item-cta-text">Explore the Marketplace</span>
          <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
            <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
            </svg>
          </span>
        </a>
      </div>
    </article>
  </section>

</div>

<div id="shopify-section-section-995" class="shopify-section section-featured-collections"> 

  <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-left">
      <div class="collection-featured-item-info">
        <h4 class="collection-featured-item-title"><a href="/pages/sources">
          Global Network of Recycled Plastic Sources
          </a></h4>
        <div class="collection-featured-item-description">
          <div class="page" title="Page 3">
            <div class="section">
              <div class="layoutArea">
                <div class="column">
                  <p>
                    Recycled plastics are intercepted and recycled around the world, from Alaska to Haiti to Southeast Asia, protecting sea life, reducing pollution and minimizing reliance on virgin plastics. Your sources sets the stage for your brand's sustainability story.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="collection-featured-item-cta" href="/pages/sources">
          <span class="collection-featured-item-cta-text">Explore The Sources</span>
          <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
            <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
            </svg>
          </span>
        </a>
      </div>
      <figure class="collection-featured-item-image">
        <a href="/pages/sources">
          <img src={{ 'oceanworks_global_network.jpg' | asset_img_url: '900x' }} alt="Recycled plastic solutions for growing sustainable brands.">
        </a>
      </figure>
    </article>
  </section>

</div>

<div id="shopify-section-static-list-collections" class="homepage-icons shopify-section section-list-collections">
  <h4 class="collection-featured-item-title" style="text-align: center;"><a href="/pages/services">
          Simple, fast, and trusted recycled plastic supply from around the world
          </a></h4>
    <div class="list-collections">

        <article class="collection-item" data-collection-item="">
            <figure class="collection-item-image" data-collection-item-image="">
                <a href="/pages/sampling">
                  
                    <img style="width: 60%;" src={{ 'easy.png' | asset_img_url: '200x' }} alt="Easy Sampling" />

                </a>
            </figure>
            <div class="collection-item-info" data-collection-item-info="">
                <span class="collection-item-title"><a href="/pages/sampling">Easy Sampling</a></span>
          		<div class="collection-item-description">Immediate access to 100's of materials<br/></div>
          	</div>
          		
        </article>
        <article class="collection-item" data-collection-item="">
            <figure class="collection-item-image" data-collection-item-image="">
                <a href="/pages/material-pre-qualification">
                  
                    <img style="width: 60%;" src={{ 'handshake.png' | asset_img_url: '200x' }} alt="Supplier & Materials Qualification" />

                </a>
            </figure>
            <div class="collection-item-info" data-collection-item-info="">
                <span class="collection-item-title"><a href="/pages/material-pre-qualification">Material Pre-Qualification</a></span>
          		<div class="collection-item-description">Vetted suppliers with strict quality standards<br/> </div>
          	</div>
        </article>
        <article class="collection-item" data-collection-item="">
            <figure class="collection-item-image" data-collection-item-image="">
                <a href="/pages/track-trace">

                    <img style="width: 60%;" src={{ 'global.png' | asset_img_url: '200x' }} alt="Track & Trace" />

                </a>
            </figure>
            <div class="collection-item-info" data-collection-item-info="">
                <span class="collection-item-title"><a href="/pages/track-trace">Visual Track &amp; Trace</a></span>
          		<div class="collection-item-description">Digital chain of custody and real-time visibility<br/> </div>
          	</div>
        </article>
      <article class="collection-item" data-collection-item="">
            <figure class="collection-item-image" data-collection-item-image="">
                <a href="/pages/global-supply-logistics">

                    <img style="width: 60%;" src={{ 'forklift.png' | asset_img_url: '200x' }} alt="Oceanworks Guaranteed" />

                </a>
            </figure>
            <div class="collection-item-info" data-collection-item-info="">
                <span class="collection-item-title"><a href="/pages/global-supply-logistics">Global Supply &amp; Logistics</a></span>
          		<div class="collection-item-description">High capacity sources and hassle-free logistics<br/></div>
          	</div>
        </article>
      <article class="collection-item" data-collection-item="">
            <figure class="collection-item-image" data-collection-item-image="">
                <a href="/pages/marketing">

                    <img style="width: 60%;" src={{ 'oceanworks_guaranteed.png' | asset_img_url: '200x' }} alt="Oceanworks Guaranteed" />

                </a>
            </figure>
            <div class="collection-item-info" data-collection-item-info="">
                <span class="collection-item-title"><a href="/pages/marketing">Marketing &amp; Media</a></span>
          		<div class="collection-item-description">Trusted impact stories drive consumer sales results<br/></div>
          	</div>
        </article>
      
      <a class="collection-featured-item-cta" href="/pages/services">
          <span class="collection-featured-item-cta-text">Explore our Services</span>
          <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
            <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
            </svg>
          </span>
        </a>
      <br/>
      <br/>

    </div>

</div>



<div id="shopify-section-static-list-collections" class="homepage-steps shopify-section section-list-collections">
  <h4 class="collection-featured-item-title" style="text-align: center;">
  	O/W marketplace is for brands eager to move fast and establish leadership in recycled plastic. 
  </h4>
    <div class="list-collections">

        <article class="collection-item" data-collection-item="">
            <figure class="collection-item-image" data-collection-item-image="">
                <em>Step 1</em>
            </figure>
            <div class="collection-item-info" data-collection-item-info="">
                <span class="collection-item-title"><a href="/pages/sampling">Sample O/W Materials</a></span>
          		<div class="collection-item-description">
              
                  <ul style="font-size: 16px; text-align: left;">
                      <li>Browse O/W catalog of recycled materials</li>
                      <li>Access verified technical data sheets (TDS)</li>
                      <li>Easily sample materials at any quantity</li>
                      <li>Ask questions of our technical experts</li>
                  </ul>
              </div>
          	</div>
          		
        </article>
        <article class="collection-item" data-collection-item="">
            <figure class="collection-item-image" data-collection-item-image="">
                <em>Step 2</em>
            </figure>
            <div class="collection-item-info" data-collection-item-info="">
                <span class="collection-item-title">Develop a Product Plan</span>
          		<div class="collection-item-description">
                  <ul style="font-size: 16px; text-align: left;">
                    <li>Select your base O/W material</li>
                    <li>Receive volume price quotes</li>
                    <li>Confirm lead-times with O/W logistics</li>
                    <li>Complete additional testing or customization</li>
                  </ul>
              
              	</div>
          	</div>
        </article>
        <article class="collection-item" data-collection-item="">
            <figure class="collection-item-image" data-collection-item-image="">
              <em>Step 3</em>
            </figure>
            <div class="collection-item-info" data-collection-item-info="">
                <span class="collection-item-title">Launch Your Product</span>
          		<div class="collection-item-description">
              
                    <ul style="font-size: 16px; text-align: left;">
                        <li>Prepare go-to-market campaign</li>
                        <li>Visualize with O/W marketing assets</li>
                        <li>Incorporate your impact metrics</li>
                        <li>Authenticate your story with O/W mark and QR</li>
                    </ul>
              
              	</div>
          	</div>
        </article>
      
      <a class="collection-featured-item-cta" href="{% if customer %}/collections{% else %}/pages/request-a-demo{% endif %}">
          <span class="collection-featured-item-cta-text">Get Started Now</span>
          <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
            <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
            </svg>
          </span>
        </a>
      <br/>
      <br/>

    </div>

</div>

{%comment%}
<div id="shopify-section-section-991" class="shopify-section section-featured-collections" style="padding-bottom: 60px;"> 

  <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-right">
      <figure class="collection-featured-item-image">
        <a href="/pages/services">
          <img src={{ 'warner-babcock-institute.png' | asset_img_url: '900x' }} alt="Warner Babcock Institute" style="margin: 0 auto; margin-bottom: 50px; width: 60%;">
        </a>
      </figure>
      <div class="collection-featured-item-info">
        <h4 class="collection-featured-item-title"><a href="/pages/services">
          Ocean Plastic Chemistry Expertise
          </a></h4>
        <div class="collection-featured-item-description">
          <div class="page" title="Page 3">
            <div class="section">
              <div class="layoutArea">
                <div class="column">
                  <p>
                    We're proud to partner with John Warner and the acclaimed Warner Babcock Institute providing Oceanworks with technical advisory services and state-of-the-art independent laboratory testing on all of our materials. Just one of the many ways Oceanworks drives value to our marketplace members and suppliers around the world. 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>

</div>
{%endcomment%}


<script
  type="application/json"
  data-section-type="dynamic-slideshow"
  data-section-id="{{ section.id }}"
  data-section-data>
  {
    "should_autoplay": {{ section.settings.should_autoplay | json }},
    "autoplay": {{ section.settings.slide_autoplay | json }},
    "slide_count": {{ section.blocks.size | json }}
  }
</script>

<div style="border-bottom: 1px solid #e6e6e6;" class="slideshow slideshow-slides-{{ section.blocks.size }}" data-slideshow>
  {%- for block in section.blocks -%}
    {%- include 'slideshow-slide' -%}
  {%- endfor -%}
</div>

<div id="shopify-section-section-982" class="shopify-section section-featured-collections" style="margin-top: 45px; padding-bottom: 45px;"> 

  <section class="collection-featured" style="text-align: center;">
    <h4 class="collection-featured-item-title" style="text-align: center;"><a href="/blogs/press">
          Read about Oceanworks and our customers in:
      </a></h4>
    <br/>
    <a href="/blogs/press">
          <img src={{ 'Oceanworks_Press.png' | asset_img_url: 'master' }} alt="" style="max-width: 95%;">
        </a>
  </section>

</div>


{% schema %}
{
  "name": "Slideshow",
  "class": "section-slideshow",
  "settings": [
    {
      "id": "should_autoplay",
      "type": "checkbox",
      "label": "Auto-rotate slides",
      "default": false
    },
    {
      "id": "slide_autoplay",
      "type": "range",
      "label": "Autoplay delay",
      "min": 3,
      "max": 10,
      "unit": "sec",
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "layout",
          "type": "select",
          "label": "Text layout",
          "info": "Only affects desktop devices and tablets in landscape mode",
          "options": [
            {
              "group": "Default",
              "value": "default-left",
              "label": "Left"
            },
            {
              "group": "Default",
              "value": "default-right",
              "label": "Right"
            },
            {
              "group": "Full width",
              "value": "full-width-left",
              "label": "Left"
            },
            {
              "group": "Full width",
              "value": "full-width-center",
              "label": "Center"
            },
            {
              "group": "Full width",
              "value": "full-width-right",
              "label": "Right"
            }
          ],
          "default": "default-left"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "info": "Only affects desktop devices and tablets in landscape mode",
          "default": "#292929"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Heading",
          "default": "Slide"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Subheading",
          "default": "<p>Introduce customers to your shop with lifestyle imagery and product photography.</p>"
        },
        {
          "id": "link",
          "type": "url",
          "label": "Link"
        },
        {
          "id": "link_text",
          "type": "text",
          "label": "Link text",
          "default": "Slide link"
        }
      ]
    }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "category": "Image",
      "name": "Slideshow",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide",
          "settings": {
            "layout": "default-right"
          }
        }
      ]
    }
  ]
}

{% endschema %}

<!--
</div>
  <div style="background: #1FABA9; padding: 50px; text-align: center;">
    <img src="{{ 'oceanworks-infographic-white.png' | asset_img_url: '900x' }}"
           style="width: 600px; max-width: 75%;" />
  </div>
<div class="shopify-section">
-->