{% assign onboarding = false %}
{% assign gallery_position = section.settings.gallery_position_desktop %}
{% assign gallery_position_mobile = section.settings.gallery_position_mobile %}
{% assign gallery_layout = section.settings.gallery_layout %}

{% if section.settings.product_handle == blank %}
  {% assign onboarding = true %}
{% endif %}

{% assign product = all_products[section.settings.product_handle] %}

{% capture added_to_cart_link %}
  {% include 'icon', id: 'checkmark' %}
  {{ 'product.added_to_cart_link_html' | t }}
{% endcapture %}

{% comment %}
Standard layout is the full size, scrollable image list
Alternate layout is any of the thumbnail layouts
{% endcomment %}
{% assign layout = 'standard' %}
{% if gallery_layout contains 'thumbnails' %}
  {% assign layout = 'alternate' %}
{% endif %}

{% assign thumbnails_direction = 'vertical' %}
{% if gallery_layout contains 'bottom' %}
  {% assign thumbnails_direction = 'horizontal' %}
{% endif %}

<script
  type="application/json"
  data-section-type="dynamic-product"
  data-section-id="{{ section.id }}"
  data-section-data>
  {
    "onboarding": {{ onboarding | json }},
    "product": {%- include 'bold-product', output: 'json' -%},
    "selected_variant": {{ product.selected_variant | json }},
    "selected_or_first_available_variant": {{ bold_selected_or_first_available_variant | json }},
    "money_format": {{ shop.money_format | json }},
    "form_is_inline": true,
    "enable_cart_redirection": {{ section.settings.enable_cart_redirection | json }},
    "use_history": false,
    "images_layout": {{ layout | json }},
    "thumbnails_direction": {{ thumbnails_direction | json }},
    "text": {
      "added_to_cart_link": {{ added_to_cart_link | json }},
      "product_available": {{ 'product.add_to_cart.available' | t | json }},
      "product_unavailable": {{ 'product.add_to_cart.unavailable' | t | json }}
    }
  }
</script>

<div class="product-alert">
  <div class="product-alert-content">
    <div class="product-alert-dismiss">{% include 'icon', id: 'close' %}</div>
    <div class="product-alert-message"></div>
  </div>
</div>
{% capture product_images %}
  {%
    include 'product-images',
    gallery_layout: gallery_layout,
    gallery_position: gallery_position,
    layout: layout,
    onboarding: onboarding
  %}
{% endcapture %}

{% capture product_vendor_title_price %}
    {% if section.settings.show_product_vendor %}
      <h2 class="product-vendor">
        <a href="{{ product.vendor | url_for_vendor }}">
          {% if onboarding %}
            {{ 'product.onboarding.vendor' | t }}
          {% else %}
            {{ product.vendor }}
          {% endif %}
        </a>
      </h2>
    {% endif %}

    <h1 class="product-title">
      {% if onboarding %}
        {{ 'product.onboarding.title' | t}}
      {% else %}
        {{ product.title }}
      {% endif %}
    </h1>

    {%
      include 'product-price',
      onboarding: onboarding
    %}
{% endcapture %}

{% capture product_details %}
<section class="product-details product-details-relative" data-product-details>
    {{ product_vendor_title_price }}

    <div class="product-rte rte">
      {% if onboarding %}
        {{ 'product.onboarding.description' | t }}
      {% else %}
        {{ product.description }}
      {% endif %}
    </div>

    {% unless onboarding %}
      {% include 'product-form-nojs' %}

      {%
        include 'product-form-inline',
        show_payment_button: section.settings.show_payment_button
      %}
    {% endunless %}

    {% if section.settings.enable_social_sharing %}
      {% include 'share-buttons' %}
    {% endif %}

  </section>
{% endcapture %}

<div
  class="product-wrapper {% if product.images.size == 0 %}product-wrapper-no-images{% endif %}"
  data-product-wrapper
>
{% if gallery_position_mobile == 'below_title' %}
  <div class="product-details-mobile">
    {{ product_vendor_title_price }}
  </div>
{% endif %}

{% if gallery_position == 'left' %}
  {{ product_images }}
  {{ product_details }}
{% endif %}

{% if gallery_position == 'right' %}
  {{ product_details }}
  {{ product_images }}
{% endif %}

</div>

{% schema %}
{
  "name": "Featured product",
  "class": "section-featured-product",
  "settings": [
    {
      "type": "product",
      "id": "product_handle",
      "label": "Product"
    },
    {
      "id": "show_product_vendor",
      "type": "checkbox",
      "label": "Show product vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_cart_redirection",
      "label": "Enable cart redirection",
      "info": "Automatically sends users to the Cart page after adding a product.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "select",
      "id": "gallery_layout",
      "options": [
         { "value": "slideshow_thumbnails_bottom", "label": "Slideshow thumbnails bottom" },
         { "value": "slideshow_thumbnails_left", "label": "Slideshow thumbnails left" },
         { "value": "slideshow_thumbnails_right", "label": "Slideshow thumbnails right" },
         { "value": "single_column", "label": "List view" }
      ],
      "label": "Desktop layout",
      "default": "slideshow_thumbnails_left"
    },
    {
      "type": "select",
      "id": "gallery_position_desktop",
      "options": [
         { "value": "left", "label": "Left" },
         { "value": "right", "label": "Right" }
      ],
      "label": "Desktop position",
      "default": "left"
    },
    {
      "type": "select",
      "id": "gallery_position_mobile",
      "options": [
         { "value": "below_title", "label": "Below title" },
         { "value": "above_title", "label": "Above title" }
      ],
      "label": "Tablet & mobile position",
      "default": "above_title"
    },
    {
      "type": "header",
      "content": "Sharing"
    },
    {
      "type": "checkbox",
      "id": "enable_social_sharing",
      "label": "Enable social sharing",
      "default": false
    }
  ],
  "presets": [
    {
      "category": "Product",
      "name": "Featured product"
    }
  ]
}

{% endschema %}