<style>
  .section-with-bg-{{ section.id }} {
    background-image: url({{ section.settings.bg_image | img_url: '2048x' }});
  }

  @media (max-width: 768px) {
    .section-with-bg-{{ section.id }} {
      background-image: url({{ section.settings.bg_image_mobile | img_url: '1024x' }});
    }
  }
</style>
<div class="section-with-bg section-with-bg-{{ section.id }}">
  <div class="container">
    <div class="eyebrow pineapple-yellow">{{ section.settings.eyebrow_text }}</div>
    <div class="section_title section_title_large white">{{ section.settings.title }}</div>
    <form class="search-form">
      <input class="faq-search-input" placeholder="{{ section.settings.placeholder }}">
      <div class="search-icon">{% render 'icon-search' %}</div>
    </form>
    <div class="description-text white">{{ section.settings.description }}</div>
  </div>
</div>
{% schema %}
{
  "name": "FAQs Banner",
  "class": "faq-banner ocean_full_width",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image Mobile"
    },
    {
      "type": "text",
      "id": "eyebrow_text",
      "label": "Eyebrow Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "placeholder",
      "label": "Search input placeholder"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    }
  ]
}
{% endschema %}
