<div class="container">
  <div class="title-and-link">
    <div class="title">{{ section.settings.faq_group_title }}</div>

  </div>
  <div class="accordion faq-accordion">
    {% for block in section.blocks %}
      <div class="accordion-item" data-accordion-title="{{ block.settings.question }}">
        <div class="accordion-title">
          <span>{{ block.settings.question }}</span>
          <span class="chevron">{% render 'icon-chevron' %}</span>
        </div>
        <div class="accordion-content">{{ block.settings.answer }}</div>
      </div>
    {% endfor %}
  </div>
</div>
{%- schema -%}
{
  "name": "FAQ Group Content",
  "class": "faq_content ocean_full_Width",
  "settings": [
    {
      "type": "text",
      "id": "faq_group_title",
      "label": "FAQ Group Title"
    }
  ],
  "blocks": [
    {
      "type": "faq-item",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "text",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Group Content"
    }
  ]
}
{%- endschema -%}
