<div class="container">
  {% if section.settings.title != blank %}
    <h2 class="section_title text-center inshore-blue">{{ section.settings.title }}</h2>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="image-text-grid flex">
      {% for block in section.blocks %}
        <div class="grid-item">
          <div class="image-wrapper">
            {%
              include 'rimg',
              img: block.settings.image,
              size: '500x',
              lazy: true
            %}
          </div>
          <div class="grid-info">
            {% if block.settings.title != blank %}
              <div class="grid-title">{{ block.settings.title }}</div>
            {% endif %}
            {% if block.settings.subtitle != blank %}
              <div class="grid-subtitle">{{ block.settings.subtitle }}</div>
            {% endif %}
            {% if block.settings.btn_link != blank %}
              <div class="btn-wrapper">
                <a href="{{ block.settings.btn_link }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none">
                    <path d="M15.6468 10.8686L10.3515 5.6L11.9596 4L20 12L11.9596 20L10.3515 18.4L15.6468 13.1314L4 13.1314V10.8686L15.6468 10.8686Z" fill="#000000"/>
                  </svg>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if section.settings.desc != blank %}
    <div class="description-text inshore-blue m-auto text-center">{{ section.settings.desc }}</div>
  {% endif %}
</div>
{% schema %}
{
  "name": "Featured impact program",
  "class": "section-featured-impact-program ocean_full_width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "imgae-with-text",
      "name": "Image with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button link"
        }
      ]
    }
  ]
}
{% endschema %}