<div class="container">
  <div class="section_title inshore-blue">{{ section.settings.title }}</div>
</div>
<div class="partner-content-wrap">
  <div class="container">
    <div class="partner-details-group">
      {% for block in section.blocks %}
        <div
          class="partner-details-item"
          data-partner-details="{{ block.settings.partner_name }}"
          {% unless forloop.first %}
            style="display: none;"
          {% endunless %}
        >
          <div class="text-wrap">
            <div class="eyebrow flats-blue">{{ block.settings.eyebrow_text }}</div>
            <div class="section_title inshore-blue">{{ block.settings.title }}</div>
            <div class="description">
              {% comment %} <div class="diag-line">{% render 'icon-diag-line' %}</div> {% endcomment %}
              <div class="description-text inshore-blue">{{ block.settings.description }}</div>
            </div>
          </div>
          <div class="video-wrap">
            <iframe src="{{ block.settings.video_link }}"></iframe>
            {% if block.settings.btn_link != blank and block.settings.btn_label != blank %}
              <div class="btn-wrapper">
                <a href="{{ block.settings.btn_link }}" class="button button-primary">{{ block.settings.btn_label }}</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="partner-icons-slider">
    <div class="arrows">
      <div class="arrow-left" data-partner-slide-prev>{% render 'icon-arrow-left' %}</div>
      <div class="arrow-right" data-partner-slide-next>{% render 'icon-arrow-right' %}</div>
    </div>
    <div class="partner-icons">
      {% for block in section.blocks %}
        <div>
          <div class="partner-icon" data-partner-icon="{{ block.settings.partner_name }}" data-id="block-{{ block.id }}">
            {% assign number = forloop.index %}
            <div class="number">
              {%- if number < 10 -%}0{%- endif -%}
              {{- number -}}
            </div>
            <div class="icon-and-name">
              <div class="icon-wrap">
                {% include 'rimg', img: block.settings.icon %}
              </div>
              <div class="partner-name hidden">{{ block.settings.partner_name }}</div>
            </div>
            <style>
              [data-id="block-{{ block.id }}"] img {
                height: {{ block.settings.icon_height }}px;
              }
            </style>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{%- schema -%}
{
  "name": "Featured Partners",
  "class": "featured-partners-section ocean_full_width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "partner",
      "name": "Patner",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "range",
          "id": "icon_height",
          "label": "Icon height",
          "min": 10,
          "max": 100,
          "default": 28,
          "unit": "px"
        },
        {
          "type": "text",
          "id": "partner_name",
          "label": "Partner Name"
        },
        {
          "type": "text",
          "id": "eyebrow_text",
          "label": "Eyebrow Text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "video_link",
          "label": "Video Link"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Partners"
    }
  ]
}
{%- endschema -%}
