
{%- assign settings = section.settings -%}
{%- assign blocks = section.blocks -%}


{% assign bg_color = settings.background_color %}
{% assign has_bg = false %}


{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}


{% capture container %}
    {{ settings.container }}
{% endcapture %}


  <section class="global-mission" style="background-image: linear-gradient({{ settings.background_color_first }} {{settings.percentage_gradient}}%, {{settings.background_color_second}});">
    <div class="{{ container }} {{ settings.custom_class }} rel">
      {% if settings.bg_image != blank %}
    	<span class="bg-image" style="background-image: url('{{ settings.bg_image | img_url: ''}}')">
    	</span>
    	{% endif %}
      	<div class="flex container-small rel">
          <div class="w-100 heading-wrapper">
            <h3 style="color: {{settings.text_color}}">{{settings.heading}}</h3>
          </div>
      	</div>
      	<div class="flex flex-wrap items-start rel image-wrapper">
          <div class="w-100 lg:w-4/12">
            <div class="desc">
            	<p style="color: {{settings.text_color}}">{{settings.description}}</p>
            </div>
            {% if settings.button_link != blank and settings.button_text != blank%}
              <div class="button-wrapper">
                  <div class="{{ settings.custom_class }}">
                    <a href="{{ settings.button_link }}" class="sf__btn sf__btn-small cs-btn btn-rel" style="color: {{settings.button_text_color}}; border-color: {{settings.button_text_color}}; ">
                      <span class="btn-bg" style="background-color:{{settings.button_color}};opacity: {{settings.button_opacity}};"></span>
                      <span class="rel">{{ settings.button_text }}</span>
                    </a>
                  </div>
              </div>
            {% endif %}
          </div>
          <div class="w-100 lg:w-8/12">
            <div class="image-container">
              {% for block in blocks %}
              	<div class="image-box" style="top: {{block.settings.top_val}}%;left: {{block.settings.left_val}}%;">
                  <img src="{{ block.settings.user_image | img_url: ''}}" style="">
              	</div>
              {% endfor %}
            </div>
          </div>
      	</div>
    </div>
  </section>


{% schema %}
  {
    "name": "Global Mission",
	"class": "ocean_full_width noborder",
    "settings": [
		{
            "type": "header",
            "content": "Section header"
        },
		{
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default": "A GLOBAL MISSION, LOCALLY SOURCED"
        },
		{
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#000000"
        },
		{
            "type":"textarea",
            "id":"description",
            "label":"Description",
            "default": "Discover the global network of people that are on a mission to remove ocean plastic. "
        },
		{
            "type": "color",
            "id": "button_color",
            "label": "Button Color",
            "default": "#1e3260"
        },
		{
            "type": "color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#ffffff"
        },
        {
            "type":"text",
            "id":"button_text",
            "label":"Button Text",
            "default": "Explore now"
        },
        {
            "type":"url",
            "id":"button_link",
            "label":"Button Link"
        },
		{
            "type":"text",
            "id":"button_opacity",
            "label":"Button Background Opacity",
            "default": "0.5"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
        {
            "type": "color",
            "id": "background_color_first",
            "label": "Background color First",
            "default": "#5badb4 "
        },
		{
            "type": "color",
            "id": "background_color_second",
            "label": "Background color Second",
            "default": "#5badb4"
        },
		{
            "type": "text",
            "id": "percentage_gradient",
            "label": "Gradient First Color Height in Percentage",
			"default": "100"
        },
		{
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background Image"
		},
        {
            "type": "text",
            "id": "custom_class",
            "label": "Custom classes"
        }
	],
	"max_blocks": 4,
	"blocks": [
        {
            "type": "item",
            "name": "Images",
            "settings": [
                 {
                    "type": "image_picker",
                    "id": "user_image",
                    "label": "Person Image"
                },
                {
                    "type": "text",
                    "id": "top_val",
                    "label": "Top Position of Image In Percentage",
					"default": "0"
                },
                {
                    "type": "text",
                    "id": "left_val",
                    "label": "Left Position of Image In Percentage",
					"default": "0"
                }
            ]
        }
    ],
	"presets": [
        {
            "name": "Gloabl Mission",
            "category": "Custom",
            "blocks": [
                {
                    "type": "item"
                }
            ]
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
