<style>
  .section-with-bg-{{ section.id }} {
    background-image: url({{ section.settings.bg_image | img_url: '2048x' }});
  }

  @media (max-width: 768px) {
    .section-with-bg-{{ section.id }} {
      background-image: url({{ section.settings.bg_image_mobile | img_url: '1024x' }});
    }
  }
</style>
<div class="section-with-bg section-with-bg-{{ section.id }}">
  <div class="top-content container">
    <div class="text-wrap">
      <div class="eyebrow pineapple-yellow">{{ section.settings.eyebrow_text }}</div>
      <div class="section_title white">{{ section.settings.title }}</div>
      <div class="description-text white">{{ section.settings.description }}</div>
    </div>
    <div class="image-wrap">
      <img src="{{ section.settings.image | img_url: '768x' }}" alt="{{ section.settings.image.alt }}">
    </div>
  </div>
  <div class="bottom-content">
    <div class="container">
      <div class="icon-with-text-grid">
        {% for block in section.blocks %}
          <div class="icon-with-text-item">
            <div class="icon-wrap">
              <img src="{{ block.settings.icon | img_url: '120x' }}" alt="{{ block.settings.icon.alt }}">
            </div>
            <div class="title white">{{ block.settings.title }}</div>
            <div class="description-text white">{{ block.settings.subtitle }}</div>
            <div class="cta-wrap hide--l-desktop">
              <a href="{{ block.settings.btn_link }}" class="button button-primary">{{ block.settings.btn_text }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="icon-with-text-grid">
        {% for block in section.blocks %}
          <div class="icon-with-text-item">
            <div class="cta-wrap hide--laptop">
              <a href="{{ block.settings.btn_link }}" class="button button-primary">{{ block.settings.btn_text }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{%- schema -%}
{
  "name": "Guarantee Banner",
  "class": "guarantee-banner ocean_full_width",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image Mobile"
    },
    {
      "type": "text",
      "id": "eyebrow_text",
      "label": "Eyebrow Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        }
      ]
    }
  ]
}
{%- endschema -%}
