{%- assign settings = section.settings -%}
{%- assign blocks = section.blocks -%}


{% assign bg_color = settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}

{% capture container %}
    {{ settings.container }}
{% endcapture %}

{% if settings.image != blank %}
	<section id="guarantee" class="guarantee-section" style="background-image: url('{{ settings.image | img_url: ''}}');background-repeat: {{settings.background-repeat}}; background-position: {{settings.background-position}}; background-size: {{settings.background-size}}; background-color: {{ bg_color }};">
      <div class="{{ container }} {{ settings.custom_class }}">
        <div class="rel out-container">
          <div class="whale-icon">
            {% if settings.left_icon != blank %}
              <img src="{{ settings.left_icon | img_url: ''}}">
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
            {% endif %}
          </div>
          <div class="heading-wrapper">
            {% if settings.heading != blank %}
            <h3 class="{{ settings.custom_class }}" style="color: {{settings.text-color}}">{{ settings.heading }}</h3>
            {% endif %}
          </div>
          <div class="content-row">	
            <div class="flex flex-wrap">
              <div class="logo-icon">
                  {% if settings.center_icon != blank %}
                    <img src="{{ settings.center_icon | img_url: ''}}">
                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
                  {% endif %}
              </div>
              <div class="guarantee-text px-5">
                <div class="description-box pr-4">
                  {% if settings.description != blank %}
                    <p style="color: {{settings.text-color}}">{{ settings.description }}</p>
                  {% endif %}
                </div>
                {% if settings.button_link != blank and settings.button_text != blank%}
                  <div class="button-wrapper pt-8">
                    <a href="{{ settings.button_link }}" class="sf__btn sf__btn-inverted sf__btn-medium cs-btn" style="background-color:{{settings.button_color}}; color: {{settings.button_text_color}};">{{ settings.button_text }}</a>
                  </div>
                {% endif %}
              </div>
              <div class="certificate-section">
                <div class="yellow-box">
                  <h4 style="color: {{settings.certificate_color}}">{{ settings.certificate_title }}</h4>
                  <div class="certificate-icons">
                    {% for block in blocks %}
                      {% if block.settings.collection_url != blank %}
                          {%- assign tag = 'a' -%}
                      {% else %}
                          {%- assign tag = 'span' -%}
                      {% endif %}

                      <{{ tag }} {% if block.settings.collection_url != blank %}href="{{ block.settings.collection_url }}"{% endif %} class="certificate-logo">

                        {% if block.settings.collection_image != blank %}
                          <img src="{{ block.settings.collection_image | img_url: ''}}">
                        {% else %}
                          {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
                        {% endif %}
                        </{{ tag }}>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div>
    </section>
{% else %}
	<section id="guarantee" class="guarantee-section" style="background-color: {{ bg_color }};">
      <div class="{{ container }} {{ settings.custom_class }}">
        <div class="rel out-container">
          <div class="whale-icon">
            {% if settings.left_icon != blank %}
              <img src="{{ settings.left_icon | img_url: ''}}">
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
            {% endif %}
          </div>
          <div class="heading-wrapper">
            {% if settings.heading != blank %}
            <h3 class="{{ settings.custom_class }}" style="color: {{settings.text-color}}">{{ settings.heading }}</h3>
            {% endif %}
          </div>
          <div class="content-row">	
            <div class="flex flex-wrap">
                <div class="logo-icon">
                    {% if settings.center_icon != blank %}
                      <img src="{{ settings.center_icon | img_url: ''}}">
                    {% endif %}
                </div>
              <div class="guarantee-text px-5">
                <div class="description-box pr-4">
                  {% if settings.description != blank %}
                    <p style="color: {{settings.text-color}}">{{ settings.description }}</p>
                  {% endif %}
                </div>
                {% if settings.button_link != blank and settings.button_text != blank%}
                  <div class="button-wrapper pt-8">
                    <a href="{{ settings.button_link }}" class="sf__btn sf__btn-inverted sf__btn-medium cs-btn" style="background-color:{{settings.button_color}}; color: {{settings.button_text_color}};">{{ settings.button_text }}</a>
                  </div>
                {% endif %}
              </div>
              {% if  settings.show_certificate_section  != blank %}
              <div class="certificate-section">
                <div class="yellow-box">
                  <h4 style="color: {{settings.certificate_color}}">{{ settings.certificate_title }}</h4>
                  <div class="certificate-icons">
                    {% for block in blocks %}
                      {% if block.settings.collection_url != blank %}
                          {%- assign tag = 'a' -%}
                      {% else %}
                          {%- assign tag = 'span' -%}
                      {% endif %}

                      <{{ tag }} {% if block.settings.collection_url != blank %}href="{{ block.settings.collection_url }}"{% endif %} class="certificate-logo">

                        {% if block.settings.collection_image != blank %}
                          <img src="{{ block.settings.collection_image | img_url: ''}}">
                        {% else %}
                          {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
                        {% endif %}
                        </{{ tag }}>
                    {% endfor %}
                  </div>
                </div>
              </div>
                {% endif %}
                
            </div>
          </div>
        </div>
      </div>
    </section>
{% endif %}


{% schema %}
  
{
    "name": "Guarantee",
"class": "ocean_full_width noborder",
    "settings": [
       {
            "type": "header",
            "content": "Section header"
        },
		{
            "type": "color",
            "id": "button_color",
            "label": "Button Color",
            "default": "#1e3260"
        },
		{
            "type": "color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#ffffff"
        },
        {
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default": "Heading"
        },
        {
            "type":"text",
            "id":"button_text",
            "label":"Button Text",
            "default": "Explore now"
        },
        {
            "type":"url",
            "id":"button_link",
            "label":"Button Link"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
		{
            "type": "image_picker",
            "id": "image",
            "label": "Background Image"
		},
		{
            "type": "select",
            "id": "background-position",
            "label": "Background Position",
            "default": "center",
            "options": [
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "left top",
                    "label": "Left Top"
                },
                {
                    "value": "right top",
                    "label": "Right Top"
                },
                {
                    "value": "left bottom",
                    "label": "Left Bottom"
                },
                {
                    "value": "right bottom",
                    "label": "Right Bottom"
                }
            ]
        },
		{
            "type": "select",
            "id": "background-size",
            "label": "Background Size",
            "default": " ",
            "options": [
                {
                    "value": "contain",
                    "label": "Contain"
                },
                {
                    "value": "cover",
                    "label": "Cover"
                },
                {
                    "value": " ",
                    "label": "Default"
                }
            ]
        },
		{
            "type": "select",
            "id": "background-repeat",
            "label": "Background Repeat",
            "default": "no-repeat",
            "options": [
                {
                    "value": "no-repeat",
                    "label": "No Repeat"
                },
                {
                    "value": "repeat",
                    "label": "Repeat"
                }
            ]
        },
		{
            "type": "select",
            "id": "text-color",
            "label": "Text Color",
            "default": "#fff",
            "options": [
                {
                    "value": "#fff",
                    "label": "White"
                },
                {
                    "value": "#000",
                    "label": "Black"
                }
            ]
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Background color",
            "default": "rgba(0,0,0,0)"
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "Custom classes"
        },
		{
          "type": "image_picker",
          "id": "left_icon",
          "label": "Left Image"
        },
      	{
          "type": "checkbox",
          "id": "show_logo",
          "label": "Show Logo",
          "info": "If enabled, Logo will be enable on center section",
          "default": true
        },
		{
          "type": "image_picker",
          "id": "center_icon",
          "label": "Center Image"
        },
		{
            "type": "text",
            "id":"description",
            "label":"Description",
            "default": "description"
        },
      	{
          "type": "checkbox",
          "id": "show_certificate_section",
          "label": "Show Certificate",
          "info": "If enabled, Certificate section will be enabled on right section",
          "default": true
        },
      	{
            "type": "color",
            "id": "certificate_color",
            "label": "Certificate Text Color",
            "default": "#1e3260"
        },
      	{
            "type": "text",
            "id":"certificate_title",
            "label":"Certificate Title",
            "default": "Available Certificate"
        }
    ],
    "blocks":[
    	{
            "type": "image",
            "name": "Collection Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "collection_image",
                    "label": "Certificate Image"
                },
                {
                    "type": "url",
                    "id": "collection_url",
                    "label": "Certificate url"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Guarantee",
            "category": "Custom",
      		"blocks": [
                {
                    "type": "image"
                }
            ]
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
