<div class="container">
  <div class="section_title white">{{ section.settings.title }}</div>
  <div class="cta-wrap">
    <a href="{{ section.settings.btn_link }}" class="button button-primary">{{ section.settings.btn_text }}</a>
  </div>
</div>
{% schema %}
{
  "name": "Have Questions",
  "class": "have-questions ocean_full_width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Questions?"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Check out our FAQs"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Have Questions"
    }
  ]
}
{% endschema %}
