<style>
  .section-with-bg-{{ section.id }} {
    background-image: url({{ section.settings.bg_image | img_url: '2048x' }});
  }

  @media (max-width: 768px) {
    .section-with-bg-{{ section.id }} {
      background-image: url({{ section.settings.bg_image_mobile | img_url: '1024x' }});
    }
  }
</style>
<div class="section-with-bg section-with-bg-{{ section.id }}">
  <div class="container">
    <div class="top-content">
      <div class="eyebrow pineapple-yellow">
        {{ section.settings.eyebrow_text }}
      </div>
      <div class="section_title section_title_large white">{{ section.settings.title }}</div>
      <div class="description-text white">{{ section.settings.description }}</div>
    </div>
    <div class="middle-content">
      <div class="title">How It Works</div>
      <div class="down-icon">{% render 'icon-arrow-down' %}</div>
    </div>
    <div class="bottom-content">
      <div class="image-wrap">
        {% for block in section.blocks %}
          <div data-how-works-image="{{ block.settings.title }}" {% unless forloop.first %}
          style="display: none;"
        {% endunless %}>
            {% include 'rimg', img: block.settings.main_image %}
          </div>
        {% endfor %}
        <div class="description-text white">{{ section.settings.description_bottom }}</div>
      </div>
      <div class="content-wrap">
        <div class="content-details">
          {% for block in section.blocks %}
            <div
              class="content-detail"
              data-how-works-detail="{{ block.settings.title }}"
              {% unless forloop.first %}
                style="display: none;"
              {% endunless %}
            >
              <div class="eyebrow flats-blue">{{ block.settings.eyebrow_text }}</div>
              <div class="section_title white">
                {% if forloop.index < 10 %}0{% endif -%}
                {{- forloop.index }}&nbsp;{{ block.settings.title }}
              </div>
              <div class="description-text white">{{ block.settings.description }}</div>
              <div class="cta-wrap">
                <a href="{{ block.settings.btn_link }}" class="button button-primary">{{ block.settings.btn_text }}</a>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="bottom-icons">
          {% for block in section.blocks %}
            <div
              class="bottom-icon {% if forloop.first %}active{% endif %}"
              data-how-works-icon="{{ block.settings.title }}"
            >
              <img src="{{ block.settings.image | img_url: '100x' }}" alt="{{ block.settings.title }}">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "How it Works",
  "class": "how_it_works ocean_full_width",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Imag Mobile"
    },
    {
      "type": "text",
      "id": "eyebrow_text",
      "label": "Eyebrow Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "description_bottom",
      "label": "Description Bottom"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "main_image",
          "label": "Main Image"
        },
        {
          "type": "text",
          "id": "eyebrow_text",
          "label": "Eyebrow Text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button Url"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "How It Works"
    }
  ]
}
{% endschema %}
