
{%- assign settings = section.settings -%}
{%- assign blocks = section.blocks -%}


{% assign bg_color = settings.background_color %}
{% assign has_bg = false %}


{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}


{% capture container %}
    {{ settings.container }}
    
{% endcapture %}

{% if settings.image != blank %}
  <section class="icon-grid" style="background-image: url('{{ settings.image | img_url: ''}}');background-repeat: {{settings.background-repeat}}; background-position: {{settings.background-position}}; background-size: {{settings.background-size}}; background-color: {{ bg_color }};">
    <div class="{{ container }} {{ settings.custom_class }}">
      <div class="inner-container">
        <div class="heading-wrapper">
          {% if settings.heading != blank %}
            <h3 class="{{ settings.custom_class }}" style="color: {{settings.text-color}}">{{ settings.heading }}</h3>
          {% endif %}
        </div>
      </div>
      <div class="flex flex-wrap card-wrapper">
        {% for block in blocks %}
        <div class="w-100 card-single">
          {% if block.settings.icon_heading != blank %}
          <h4 style="color: {{settings.text-color}}">{{ block.settings.icon_heading }}</h4>
          {% endif %}

          {% if block.settings.icon_image != blank %}
          <img src="{{ block.settings.icon_image | img_url: ''}}">
          {% else %}
          {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
          {% endif %}

          {% if block.settings.icon_description != blank %}
          <p style="color: {{settings.text-color}}">{{ block.settings.icon_description }}</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      {% if settings.button_link != blank and settings.button_text != blank%}
      <div class="button-wrapper px-3 py-8">
        <div class="{{ settings.custom_class }}">
          <a href="{{ settings.button_link }}" class="sf__btn sf__btn-inverted sf__btn-small cs-btn" style="background-color:{{settings.button_color}}; color: {{settings.button_text_color}}; border-color: {{settings.button_color}};">{{ settings.button_text }}</a>
        </div>
      </div>
      {% endif %}
      
    </div>
  </section>
{% else %}
	<section class="icon-grid" style="background-image: linear-gradient({{ settings.background_color_first }} {{settings.percentage_gradient}}%, {{settings.background_color_second}});">
      <div class="{{ container }} {{ settings.custom_class }}">
        <div class="inner-container">
          <div class="heading-wrapper">
            {% if settings.heading != blank %}
              <h3 class="{{ settings.custom_class }}" style="color: {{settings.text-color}}">{{ settings.heading }}</h3>
            {% endif %}
          </div>
        </div>
        <div class="flex flex-wrap card-wrapper">
          {% for block in blocks %}
          <div class="w-100 card-single">
            {% if block.settings.icon_heading != blank %}
            <h4 style="color: {{settings.text-color}}">{{ block.settings.icon_heading }}</h4>
            {% endif %}

            {% if block.settings.icon_image != blank %}
            <img src="{{ block.settings.icon_image | img_url: ''}}">
            {% else %}
            {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
            {% endif %}

            {% if block.settings.icon_description != blank %}
            <p style="color: {{settings.text-color}}">{{ block.settings.icon_description }}</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>

        {% if settings.button_link != blank and settings.button_text != blank%}
        <div class="button-wrapper px-3 py-8">
          <div class="{{ settings.custom_class }}">
            <a href="{{ settings.button_link }}" class="sf__btn sf__btn-inverted sf__btn-small cs-btn" style="background-color:{{settings.button_color}}; color: {{settings.button_text_color}}; border-color: {{settings.button_color}};">{{ settings.button_text }}</a>
          </div>
        </div>
        {% endif %}
      </div>
    </section>

{% endif %}

{% schema %}
{
    "name": "Icon Grid",
"class": "ocean_full_width noborder",
    "settings": [
       {
            "type": "header",
            "content": "Section header"
        },
        {
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default": "Heading"
        },
		{
            "type": "color",
            "id": "button_color",
            "label": "Button Color",
            "default": "#ffce6d"
        },
		{
            "type": "color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#0f489f"
        },
        {
            "type":"text",
            "id":"button_text",
            "label":"Button Text",
            "default": "Explore now"
        },
        {
            "type":"url",
            "id":"button_link",
            "label":"Button Link"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Background color",
            "default": "rgba(0,0,0,0)"
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "Custom classes"
        },
		{
            "type": "select",
            "id": "text-color",
            "label": "Text Color",
            "default": "#fff",
            "options": [
                {
                    "value": "#fff",
                    "label": "White"
                },
                {
                    "value": "#000",
                    "label": "Black"
                }
            ]
        },
		{
            "type": "image_picker",
            "id": "image",
            "label": "Background Image"
		},
		{
            "type": "select",
            "id": "background-position",
            "label": "Background Position",
            "default": "center",
            "options": [
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "left top",
                    "label": "Left Top"
                },
                {
                    "value": "right top",
                    "label": "Right Top"
                },
                {
                    "value": "left bottom",
                    "label": "Left Bottom"
                },
                {
                    "value": "right bottom",
                    "label": "Right Bottom"
                }
            ]
        },
		{
            "type": "select",
            "id": "background-size",
            "label": "Background Size",
            "default": "cover",
            "options": [
                {
                    "value": "contain",
                    "label": "Contain"
                },
                {
                    "value": "cover",
                    "label": "Cover"
                },
                {
                    "value": "auto",
                    "label": "Default"
                }
            ]
        },
		{
            "type": "select",
            "id": "background-repeat",
            "label": "Background Repeat",
            "default": "no-repeat",
            "options": [
                {
                    "value": "no-repeat",
                    "label": "No Repeat"
                },
                {
                    "value": "repeat",
                    "label": "Repeat"
                }
            ]
        },
		{
            "type": "color",
            "id": "background_color_first",
            "label": "Background color First",
            "default": "#1f3e75"
        },
		{
            "type": "color",
            "id": "background_color_second",
            "label": "Background color Second",
            "default": "#204788"
        },
		{
            "type": "text",
            "id": "percentage_gradient",
            "label": "Gradient First Color Height in Percentage",
			"default": "60"
        }
    ],
	"max_blocks": 5,
    "blocks": [
        {
            "type": "icon_item",
            "name": "Icon Item",
            "settings": [
                 {
                    "type":"text",
                    "id":"icon_heading",
                    "label":"Heading",
                    "default": "Heading"
                },
                {
                    "type": "image_picker",
                    "id": "icon_image",
                    "label": "Image"
                },
                {
                    "type":"textarea",
                    "id":"icon_description",
                    "label":"Description"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Icon Grid",
            "category": "Custom",
            "blocks": [
                {
                    "type": "icon_item"
                }
            ]
        }
    ]
}
{% endschema %}