{% if section.settings.enable_section %}
<div  class="shopify-section section-featured-collections imagepanels" > 

  {%- if section.settings.html-s1 != blank -%}
  <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-right">
      <div class="collection-featured-item-info">
      	{%- if section.settings.html != blank -%}
    		 {{ section.settings.html }}
          {%- else -%}
                <h2 class="marketing-item-title">The <span>Oceanworks&#8482;</span> Better without plastic in it.</h2>
        {%- endif -%}
        
        <div class="image-panel-text">

                <div class="column">
                  {%- if section.settings.html-s1 != blank -%}
              <p>
                {{ section.settings.html-s1}}
              </p>
            {%- endif -%}
                </div>
              </div>
      </div>
      <figure class="collection-featured-item-image">
        
                      <img src="{{ section.settings.image_s1 | img_url: '1200x' }}" alt="{{ section.settings.image_s1.alt | escape }}">
        
      </figure>
    </article>
  </section>
  {%- endif -%}
    {%- if section.settings.html-s2 != blank -%}
    <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-left">
    <figure class="collection-featured-item-image image-mobile">
            <img src="{{ section.settings.image_s2 | img_url: '1200x' }}" alt="{{ section.settings.image_s2.alt | escape }}">
     </figure>
           <div class="collection-featured-item-info">
              	{%- if section.settings.html2 != blank -%}
    		 {{ section.settings.html2 }}
          {%- else -%}
                <h2 class="marketing-item-title">The <span>Oceanworks&#8482;</span> Better without plastic in it.</h2>
        {%- endif -%}

             
        <div class="image-panel-text">
 
                <div class="column">
                  {%- if section.settings.html-s2 != blank -%}
              <p>
               {{ section.settings.html-s2}}
              </p>
            {%- endif -%}
                </div>
              </div>

      </div>
      <figure class="collection-featured-item-image image-dt">
                      <img src="{{ section.settings.image_s2 | img_url: '1200x' }}" alt="{{ section.settings.image_s2.alt | escape }}">
      </figure>
 
    </article>
  </section>
    {%- endif -%}
  
  {%- if section.settings.html-s3 != blank -%}
  <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-right">
      <figure class="collection-featured-item-image">
       
                      <img src="{{ section.settings.image_s3 | img_url: '1200x' }}" alt="{{ section.settings.image_s3.alt | escape }}">
  
      </figure>
      <div class="collection-featured-item-info">
         {%- if section.settings.html3 != blank -%}
    		 {{ section.settings.html3 }}
          {%- else -%}
                <h2 class="marketing-item-title">The <span>Oceanworks&#8482;</span> Better without plastic in it.</h2>
        {%- endif -%}
    
        
        <div class="image-panel-text">

          <div class="column">
                  {%- if section.settings.html-s3 != blank -%}
              <p>
                {{ section.settings.html-s3}}
              </p>
            {%- endif -%}
          </div>
        </div>

      </div>
    </article>
  </section>
  {%- endif -%}
</div>

  {%- endif -%}



{% schema %}
{
  "name": "Marketing OW Panels",
  "class": "marketing image-panels",
  "settings": [
    	  	 {
      "type": "checkbox",
      "id": "enable_section",
      "label": "Show Section",
      "default": true
       },
	{
      "type": "image_picker",
      "id": "image_s1",
      "label": "Image Section 1",
      "info": "800 x"
    },
    {
      "type": "html",
      "id": "html",
      "label": "Title 1",
      "default": "<h2 class='marketing-item-title'>The <span>Oceanworks&#8482;</span> Better without plastic in it.</h2>"
    },
    {
      "type": "html",
      "id": "html-s1",
      "label": "Text Sec 1",
	  "default": "<p>Some Text</p><ul><li>Bullet Point One</li><li>Bullet Point Two</li></ul>"
    },
	{
      "type": "url",
      "id": "lmore_url",
      "label": "Learn More URL"
    },
	{
      "type": "url",
      "id": "b_samples",
      "label": "Samples URL"
    },
  {
      "type": "image_picker",
      "id": "image_s2",
      "label": "Image Section 2",
      "info": "800 x"
    },
    {
      "type": "html",
      "id": "html2",
      "label": "Title 2",
      "default": "<h2 class='marketing-item-title'>The <span>Oceanworks&#8482;</span> Better without plastic in it.</h2>"
    },
    {
      "type": "html",
      "id": "html-s2",
      "label": "Text Sec 2",
	  "default": "<p>Some Text</p><ul><li>Bullet Point One</li><li>Bullet Point Two</li></ul>"
    },
    {
      "type": "image_picker",
      "id": "image_s3",
      "label": "Image Section 3",
      "info": "800 x"
    },
 	{
      "type": "html",
      "id": "html3",
      "label": "Title 3",
      "default": "  <h2 class='marketing-item-title'>The <span>Oceanworks&#8482;</span> Better without plastic in it.</h2>"
    },
    {
      "type": "html",
      "id": "html-s3",
      "label": "Text Sec 3",
	  "default": "<p>Some Text</p><ul><li>Bullet Point One</li><li>Bullet Point Two</li></ul>"
    }
  ]
}
{% endschema %}