<div class="section-wrapper{% if section.settings.overlay %} layout-overlay{% endif %}" id="{{ section.settings.section_id }}">

  {% if section.settings.section_bg != blank %}
    <div class="image-wrapper bg-wrapper">
      {%
        include 'rimg',
        img: section.settings.section_bg,
        size: '2000x',
        lazy: true
      %}
    </div>
  {% endif %}

  <div class="container">
    {% if section.settings.image != blank %}
      <div class="section-logo m-auto text-center">
        {%
          include 'rimg',
          img: section.settings.image,
          size: '600x',
          lazy: true
        %}
      </div>
    {% endif %}
    <div class="image-text-grid{% if section.settings.overlay %} flex{% endif %}">
      {% for block in section.blocks %}
        <div class="image-and-text-item {% if block.settings.image_on_right == true %}reverse{% endif %}">
          <div class="image-wrap">
            {% if block.settings.image %}
              {% include 'rimg', img: block.settings.image %}
            {% endif %}
          </div>
          <div class="text-wrap white">
            {% if block.settings.eyebrow_text != '' %}
              <div class="eyebrow">{{ block.settings.eyebrow_text }}</div>
            {% endif %}
            <div class="title">{{ block.settings.title }}</div>
            <div class="description">
              {% if block.settings.show_diagline %}
                <div class="diag-line">{% render 'icon-diag-line' %}</div>
              {% endif %}
              <div class="description-text">{{ block.settings.description }}</div>
            </div>
            {% if block.settings.btn_text != '' %}
              <div class="cta-wrap">
                <a href="{{ block.settings.btn_link }}" class="button button-primary button-large">{{ block.settings.btn_text }}</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</div>

{% schema %}
{
  "name": "Image with Text",
  "class": "image-with-text ocean_full_width",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID"
    },
    {
      "type": "checkbox",
      "id": "overlay",
      "label": "Layout overlay"
    },
    {
      "type": "image_picker",
      "id": "section_bg",
      "label": "Background"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Icon"
    }
  ],
  "blocks": [
    {
      "type": "image_with_text",
      "name": "Image with Text",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_on_right",
          "label": "Image on right?",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "eyebrow_text",
          "label": "Eyebrow Text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        },
        {
          "type": "checkbox",
          "id": "show_diagline",
          "label": "Show Diag Line",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
