<style>
  .image-banner-{{ section.id }} {
    background-image: url({{ section.settings.bg_image | img_url: '2048x' }});
  }

  @media (max-width: 768px) {
    .image-banner-{{ section.id }} {
      background-image: url({{ section.settings.bg_image_mobile | img_url: '1024x' }});
    }
  }
</style>
<div class="image-banner-with-bg image-banner-{{ section.id }}">
  <div class="container">
    <div class="text-content">
      <div class="eyebrow">{{ section.settings.eyebrow_text }}</div>
      <div class="section_title">{{ section.settings.title }}</div>
      <div class="description-text white">{{ section.settings.description }}</div>
    </div>
    {% if section.settings.image %}
      <div class="image-content">
        {% include 'rimg', img: section.settings.image %}
      </div>
    {% endif %}
  </div>
</div>

{%- schema -%}
{
  "name": "Image Banner 1",
  "class": "image-banner1 ocean_full_width",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image Mobile"
    },
    {
      "type": "text",
      "id": "eyebrow_text",
      "label": "Eyebrow Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Image Banner1"
    }
  ]
}
{%- endschema -%}
