<style>
  .section-with-bg-{{ section.id }} {
    background-image: url({{ section.settings.bg_image | img_url: '2048x' }});
  }

  @media (max-width: 768px) {
    .section-with-bg-{{ section.id }} {
      background-image: url({{ section.settings.bg_image_mobile | img_url: '1024x' }});
    }
  }
</style>
<div class="section-with-bg section-with-bg-{{ section.id }}">
  <div class="container image-with-text-overlay-blocks">
    {% for block in section.blocks %}
      <div class="image-with-text-overlay-block">
        <div class="image-content">
          {% include 'rimg', img: block.settings.image %}
        </div>
        <div class="text-content">
          <div class="eyebrow">{{ block.settings.eyebrow_text }}</div>
          <div class="section_title white">{{ block.settings.title }}</div>
          <div class="description-text white">{{ block.settings.description }}</div>
          {% if block.settings.btn_text != '' %}
            <div class="cta-wrap">
              <a href="{{ block.settings.btn_link }}" class="button button-primary">{{ block.settings.btn_text }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{%- schema -%}
{
  "name": "Image with Text Overlay",
  "class": "image-with-text-overlay ocean_full_width",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image Mobile"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "eyebrow_text",
          "label": "Eyebrow Text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with Text Overlay"
    }
  ]
}
{%- endschema -%}
