<div class="container">
  <div class="text-content title-description-flex">
    <div class="content-group">
      <div class="eyebrow flats-blue">
        {{ section.settings.eyebrow_text }}
      </div>
      <div class="section_title section_title_large inshore-blue">{{ section.settings.title }}</div>
    </div>
    <div class="content-group">
      <div class="description">
        <div class="diag-line">{% render 'icon-diag-line' %}</div>
        <div class="description-text inshore-blue">{{ section.settings.description }}</div>
      </div>
    </div>
  </div>
  <div class="image-content">
    {% for block in section.blocks %}
      {% if block.settings.link != blank or block.settings.target_id != blank %}
        <a href="{% if block.settings.target_id != blank %}#{{ block.settings.target_id }}{% else %}{{ block.settings.link }}{% endif %}">
      {% endif %}
      <div class="image-item">
        {% include 'rimg', img: block.settings.image %}
        <div class="overlap-title" style="color: {{ block.settings.text_color }};">{{ block.settings.title }}</div>
      </div>
      {% if block.settings.link != blank or block.settings.target_id != blank %}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Images Grid with Text",
  "class": "image_grid_with_text ocean_full_width",
  "settings": [
    {
      "type": "text",
      "id": "eyebrow_text",
      "label": "Eyebrow Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "paragraph",
          "content": "or"
        },
        {
          "type": "text",
          "id": "target_id",
          "label": "Anchor target ID"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Grid with Text"
    }
  ]
}
{% endschema %}
