<div class="container">
  {% for block in section.blocks %}
    <div class="image-and-text-item {% if block.settings.image_on_right == true %}reverse{% endif %}">
      <div class="image-wrap">
        {% if block.settings.image %}
          {% include 'rimg', img: block.settings.image %}
        {% endif %}
      </div>
      <div class="text-wrap">
        {% if block.settings.eyebrow_text != '' %}
          <div class="eyebrow coral-red">{{ block.settings.eyebrow_text }}</div>
        {% endif %}
        <div class="title inshore-blue">{{ block.settings.title }}</div>
        <div class="description">
          {% if block.settings.show_diagline %}
            <div class="diag-line">{% render 'icon-diag-line' %}</div>
          {% endif %}
          <div class="description-text inshore-blue">{{ block.settings.description }}</div>
        </div>
        <div class="cta-wrap">
          {% if block.settings.btn_text != '' %}
            <a href="{{ block.settings.btn_link }}" class="button button-primary">{{ block.settings.btn_text }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% schema %}
{
  "name": "Image with Text",
  "class": "image-with-text ocean_full_width",
  "blocks": [
    {
      "type": "image_with_text",
      "name": "Image with Text",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_on_right",
          "label": "Image on right?",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "eyebrow_text",
          "label": "Eyebrow Text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        },
        {
          "type": "checkbox",
          "id": "show_diagline",
          "label": "Show Diag Line",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with Text"
    }
  ]
}
{% endschema %}
