<div  class="shopify-section section-featured-collections imagepanels" > 
<div style="margin-bottom: 40px; padding: 20px; text-align: center;">
  <img src="{{ 'oceanworks_guaranteed.png' | asset_img_url: '1200x' }}" style="width: 125px;" alt="Oceanworks Guaranteed"/>
  <h2>What is the Oceanworks Guarantee?</h2>
  <p style="font-family: williams-caslon-text,serif; font-size: 20px; font-weight: 400;">The Oceanworks® Guarantee shows our customers, brands and suppliers that they are part of a larger mission - keeping plastic out of the ocean. Together we are building a circular economy. Oceanworks’ global supply chain promotes transparency by tracking our materials from collection to manufacturing and ensures that Oceanworks® Guaranteed partners comply with international standards for business, environmental and fair labor practices. Our quality standards allow our customers to purchase with confidence while the capacity of our global network provides security at scale. Join us to help make a difference and sea plastic differently®.</p>
</div>
</div>
  
  <div  class="shopify-section section-featured-collections imagepanels" > 

    {%- if section.settings.html-s1 != blank -%}
  <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-right">
      <figure class="collection-featured-item-image">
        
                      <img src="{{ section.settings.image_s1 | img_url: '1200x' }}" alt="{{ section.settings.image_s1.alt | escape }}">
        
      </figure>
      <div class="collection-featured-item-info">
      	{%- if section.settings.html != blank -%}
    		 <img src="{{ 'oceanworks_guaranteed.png' | asset_img_url: '1200x' }}" style="float: right; width: 100px;" alt="Oceanworks Guaranteed"/>
        	{{ section.settings.html }}
          {%- else -%}
                <h2 class="marketing-item-title">The <span>Oceanworks&#8482;</span> Better without plastic in it.</h2>
        {%- endif -%}
        
        <div class="image-panel-text">
                <div class="column">
                  {%- if section.settings.html-s1 != blank -%}
              <p>
                  {{ section.settings.html-s1}}
              </p>
            {%- endif -%}
                  
                  <a class="collection-featured-item-cta" href="https://oceanworks.co/pages/sampling">
                    <span class="collection-featured-item-cta-text">Learn More</span>
                    <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                      <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
      </div>
    </article>
  </section>
    {%- endif -%}
    {%- if section.settings.html-s2 != blank -%}
    <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-left">
    <figure class="collection-featured-item-image image-mobile">
      
                      <img src="{{ section.settings.image_s2 | img_url: '1200x' }}" alt="{{ section.settings.image_s2.alt | escape }}">
        
      </figure>
           <div class="collection-featured-item-info">
              	{%- if section.settings.html2 != blank -%}
    		 {{ section.settings.html2 }}
          {%- else -%}
                <h2 class="marketing-item-title">The <span>Oceanworks&#8482;</span> Better without plastic in it.</h2>
        {%- endif -%}

             
        <div class="image-panel-text">
           
         <div class="column">
          {%- if section.settings.html-s2 != blank -%}
              <p>
                 {{ section.settings.html-s2}}
              </p>
            {%- endif -%}
                  
                  <a class="collection-featured-item-cta" href="https://oceanworks.co/pages/quality-traceability">
                    <span class="collection-featured-item-cta-text">Learn More</span>
                    <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                      <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
                      </svg>
                    </span>
                  </a>
          </div>
         </div>
       </div>

      <figure class="collection-featured-item-image image-dt">

                      <img src="{{ section.settings.image_s2 | img_url: '1200x' }}" alt="{{ section.settings.image_s2.alt | escape }}">

      </figure>
 
    </article>
  </section>
    {%- endif -%}
    {%- if section.settings.html-s3 != blank -%}
    <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-right">
      <figure class="collection-featured-item-image">
       
                      <img src="{{ section.settings.image_s3 | img_url: '1200x' }}" alt="{{ section.settings.image_s3.alt | escape }}">
  
      </figure>
      <div class="collection-featured-item-info">
         {%- if section.settings.html3 != blank -%}
    		 {{ section.settings.html3 }}
          {%- else -%}
                <h2 class="marketing-item-title">The <span>Oceanworks&#8482;</span> Better without plastic in it.</h2>
        {%- endif -%}
    
        
        <div class="image-panel-text">
                  <div class="column">
                  {%- if section.settings.html-s3 != blank -%}
              <p>
                 {{ section.settings.html-s3}}
              </p>
            {%- endif -%}
                  
                  <a class="collection-featured-item-cta" href="https://oceanworks.co/pages/global-logistics">
                    <span class="collection-featured-item-cta-text">Learn More</span>
                    <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                      <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
          </div>
    </article>
  </section>
    {%- endif -%}
    {%- if section.settings.html-s4 != blank -%}
    <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-left">
    <figure class="collection-featured-item-image image-mobile">
      
                      <img src="{{ section.settings.image_s4 | img_url: '1400x' }}" alt="{{ section.settings.image_s4.alt | escape }}">
        
      </figure>
           <div class="collection-featured-item-info">
              	{%- if section.settings.html4 != blank -%}
    		 {{ section.settings.html4 }}
          {%- else -%}
                <h4 class="marketing-item-title">The <span>Oceanworks&#8484;</span> Better without plastic in it.</h4>
        {%- endif -%}

             
        <div class="image-panel-text">
           
         <div class="column">
          {%- if section.settings.html-s4 != blank -%}
              <p>
                 {{ section.settings.html-s4}}
              </p>
            {%- endif -%}
                  
                  <a class="collection-featured-item-cta" href="https://oceanworks.co/pages/oceanworks-guaranteed-track-and-trace">
                    <span class="collection-featured-item-cta-text">Learn More</span>
                    <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                      <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
                      </svg>
                    </span>
                  </a>
          </div>
         </div>
       </div>

      <figure class="collection-featured-item-image image-dt">
        <a href="/pages/marketplace">
                      <img src="{{ section.settings.image_s4 | img_url: '1400x' }}" alt="{{ section.settings.image_s4.alt | escape }}">
        </a>
      </figure>
 
    </article>
  </section>
    {%- endif -%}
    {%- if section.settings.html-s5 != blank -%}
    <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-right">
      <figure class="collection-featured-item-image">
       
                      <img src="{{ section.settings.image_s5 | img_url: '1200x' }}" alt="{{ section.settings.image_s5.alt | escape }}">
  
      </figure>
      <div class="collection-featured-item-info">
            		 <img src="{{ 'oceanworks_guaranteed.png' | asset_img_url: '1200x' }}" style="float: right; width: 100px; margin: 15px;" alt="Oceanworks Guaranteed"/>

         {%- if section.settings.html5 != blank -%}
    		 {{ section.settings.html5 }}
          {%- else -%}
                <h2 class="marketing-item-title">The <span>Oceanworks&#8482;</span> Better without plastic in it.</h2>
        {%- endif -%}
    
        
        <div class="image-panel-text">
                  <div class="column">
                  {%- if section.settings.html-s5 != blank -%}
              <p>
                
                 {{ section.settings.html-s5}}
              </p>
            {%- endif -%}
                  
                  <a class="collection-featured-item-cta" href="https://oceanworks.co/pages/marketing">
                    <span class="collection-featured-item-cta-text">Learn More</span>
                    <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                      <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
          </div>
    </article>
  </section>
    {%- endif -%}
  {%- if section.settings.html-s6 != blank -%}
<section class="collection-featured">
<article class="collection-featured-item collection-featured-item-alignment-left">
  <div class="collection-featured-item-info">
     {%- if section.settings.html6 != blank -%}
     {{ section.settings.html6 }}
      {%- else -%}
            <h2 class="marketing-item-title">The <span>Oceanworks&#8482;</span> Better without plastic in it.</h2>
    {%- endif -%}

    
    <div class="image-panel-text">
              <div class="column">
              {%- if section.settings.html-s6 != blank -%}
          <p>
             {{ section.settings.html-s6}}
          </p>
        {%- endif -%}
              
              <a class="collection-featured-item-cta" href="https://oceanworks.co/pages/oceanworks-social-impact">
                <span class="collection-featured-item-cta-text">Learn More</span>
                <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                  <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
                  </svg>
                </span>
              </a>
            </div>
          </div>
      </div>
  <figure class="collection-featured-item-image">
   
                  <img src="{{ section.settings.image_s6 | img_url: '1200x' }}" alt="{{ section.settings.image_s6.alt | escape }}">

  </figure>
</article>
</section>
{%- endif -%}
</div>


{% schema %}
{
  "name": "Services Panels",
  "class": "services",
  "settings": [
     {
      "type": "image_picker",
      "id": "image_s1",
      "label": "Image Section 1",
      "info": "800 x"
    },
    {
      "type": "html",
      "id": "html",
      "label": "Title 1",
      "default": "<h2 class='marketing-item-title'>The <span>Oceanworks&#8482;</span> Better without plastic in it.</h2>"
    },
    {
      "type": "html",
      "id": "html-s1",
      "label": "Text Sec 1",
	  "default": "<p>Some Text</p><ul><li>Bullet Point One</li><li>Bullet Point Two</li></ul>"
    },
	{
      "type": "url",
      "id": "lmore_url",
      "label": "Learn More URL"
    },
	{
      "type": "url",
      "id": "b_samples",
      "label": "Samples URL"
    },
  {
      "type": "image_picker",
      "id": "image_s2",
      "label": "Image Section 2",
      "info": "800 x"
    },
    {
      "type": "html",
      "id": "html2",
      "label": "Title 2",
      "default": "<h2 class='marketing-item-title'>The <span>Oceanworks&#8482;</span> Better without plastic in it.</h2>"
    },
    {
      "type": "html",
      "id": "html-s2",
      "label": "Text Sec 2",
	  "default": "<p>Some Text</p><ul><li>Bullet Point One</li><li>Bullet Point Two</li></ul>"
    },
    {
      "type": "image_picker",
      "id": "image_s3",
      "label": "Image Section 3",
      "info": "800 x"
    },
 	{
      "type": "html",
      "id": "html3",
      "label": "Title 3",
      "default": "  <h2 class='marketing-item-title'>The <span>Oceanworks&#8482;</span> Better without plastic in it.</h2>"
    },
    {
      "type": "html",
      "id": "html-s3",
      "label": "Text Sec 3",
	  "default": "<p>Some Text</p><ul><li>Bullet Point One</li><li>Bullet Point Two</li></ul>"
    },
    {
      "type": "image_picker",
      "id": "image_s4",
      "label": "Image Section 4",
      "info": "800 x"
    },
 	{
      "type": "html",
      "id": "html4",
      "label": "Title 4",
      "default": "  <h2 class='marketing-item-title'>The <span>Oceanworks&#8482;</span> Better without plastic in it.</h2>"
    },
    {
      "type": "html",
      "id": "html-s4",
      "label": "Text Sec 4",
	  "default": "<p>Some Text</p><ul><li>Bullet Point One</li><li>Bullet Point Two</li></ul>"
    },
    {
      "type": "image_picker",
      "id": "image_s5",
      "label": "Image Section 5",
      "info": "800 x"
    },
 	{
      "type": "html",
      "id": "html5",
      "label": "Title 5",
      "default": "  <h2 class='marketing-item-title'>The <span>Oceanworks&#8582;</span> Better without plastic in it.</h2>"
    },
    {
      "type": "html",
      "id": "html-s5",
      "label": "Text Sec 5",
	  "default": "<p>Some Text</p><ul><li>Bullet Point One</li><li>Bullet Point Two</li></ul>"
    },
    {
      "type": "image_picker",
      "id": "image_s6",
      "label": "Image Section 6",
      "info": "800 x"
    },
 	{
      "type": "html",
      "id": "html6",
      "label": "Title 6",
      "default": "  <h2 class='marketing-item-title'>The <span>Oceanworks&#8582;</span> Better without plastic in it.</h2>"
    },
    {
      "type": "html",
      "id": "html-s6",
      "label": "Text Sec 6",
	  "default": "<p>Some Text</p><ul><li>Bullet Point One</li><li>Bullet Point Two</li></ul>"
    }
  ]
}
{% endschema %}