
{%- assign settings = section.settings -%}
{%- assign blocks = section.blocks -%}


{% assign bg_color = settings.background_color %}
{% assign has_bg = false %}


{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}


{% capture container %}
    {{ settings.container }}
{% endcapture %}


  <section class="impact-section" style="background-image: linear-gradient({{ settings.background_color_first }} {{settings.percentage_gradient}}%, {{settings.background_color_second}});">
    <div class="{{ container }} {{ settings.custom_class }}">
      	<div class="flex flex-wrap items-center">
          <div class="w-100 lg:w-12/12">
            <div class="flex cs-row flex-wrap">
              {% for block in blocks %}
                <div class="cs-col lg:w-3/12 progress-circle">
                  <div class="single-chart">
                    
                    <svg viewBox="0 0 36 36" class="circular-chart colored">
<!--                       <path class="circle-bg"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 0 1 0 31.831
                          a 15.9155 15.9155 0 0 1 0 -31.831"
                      /> -->
                      <defs>
                        <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                          <stop offset="0%"   stop-color="#45819b"/>
                          <stop offset="100%" stop-color="#1e5c76"/>
                        </linearGradient>
                      </defs>
                      <path class="circle"
                        stroke="url(#grad1)"
                        stroke-dasharray="{{block.settings.progress_value}}, 100"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 0 1 0 31.831
                          a 15.9155 15.9155 0 0 1 0 -31.831"
                      />
                      
                      {% if block.settings.progress_text != blank%}
                      <div class="progress-text-wrapper">
                        <span class="progress-text" style="color: {{settings.text-color}}">{{block.settings.progress_text}}</span>
                        <span class="progress-unit" style="color: {{settings.text-color}}">{{block.settings.progress_unit}}</span>
                      </div>
                      {% endif %}
                    </svg>
                  </div>
                  

                  {% if block.settings.progress_heading != blank %}
                  	<p class="progress-heading" style="color: {{settings.text-color}}">{{ block.settings.progress_heading }}</p>
                  {% endif %}
                </div>
                {% endfor %}
            </div>
          </div>
          <div class="w-100 lg:w-12/12">
            {% if settings.button_link != blank and settings.button_text != blank%}
              <div class="button-wrapper px-3 py-8">
                  <div class="{{ settings.custom_class }} text-center">
                    <a href="{{ settings.button_link }}" class="sf__btn sf__btn-small cs-btn btn-rel" style="color: {{settings.button_text_color}}; border-color: {{settings.button_text_color}}; ">
                      <span class="btn-bg" style="background-color:{{settings.button_color}};opacity: {{settings.button_opacity}};"></span>
                      <span class="rel">{{ settings.button_text }}</span>
                    </a>
                  </div>
              </div>
            {% endif %}
          </div>
      	</div>
    </div>
  </section>


{% schema %}
  {
    "name": "Imapct Program",
    "class": "ocean_full_width noborder",
    "settings": [
		{
            "type": "header",
            "content": "Section header"
        },
		{
            "type": "color",
            "id": "button_color",
            "label": "Button Color",
            "default": "#ffce6d"
        },
		{
            "type": "color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#0f489f"
        },
        {
            "type":"text",
            "id":"button_text",
            "label":"Button Text",
            "default": "Explore now"
        },
        {
            "type":"url",
            "id":"button_link",
            "label":"Button Link"
        },
		{
            "type":"text",
            "id":"button_opacity",
            "label":"Button Background Opacity",
            "default": "1"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
        {
            "type": "color",
            "id": "background_color_first",
            "label": "Background color First",
            "default": "#5badb4 "
        },
		{
            "type": "color",
            "id": "background_color_second",
            "label": "Background color Second",
            "default": "#1e3260"
        },
		{
            "type": "text",
            "id": "percentage_gradient",
            "label": "Gradient First Color Height in Percentage",
			"default": "60"
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "Custom classes"
        },
      	{
            "type": "color",
            "id": "text-color",
            "label": "Text Color",
            "default": "#ffffff"
        }
	],
	"max_blocks": 4,
	"blocks": [
        {
            "type": "item",
            "name": "Circular Progress Bar",
            "settings": [
				{
                    "type":"text",
                    "id":"progress_value",
                    "label":"Progress value",
                    "default": "70"
                },
                 {
                    "type":"text",
                    "id":"progress_text",
                    "label":"Progress Text",
                    "default": "70%"
                },
                {
                    "type": "text",
                    "id": "progress_unit",
                    "label": "Progress Unit",
					"default": "Reduction"
                },
                {
                    "type":"textarea",
                    "id":"progress_heading",
                    "label":"Progress Heading",
					"default": "Waste Reduction"
                }
            ]
        }
    ],
	"presets": [
        {
            "name": "Imapct Program",
            "category": "Custom",
            "blocks": [
                {
                    "type": "item"
                }
            ]
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
