{% if section.settings.bg_image != blank or section.settings.bg_image_mobile != blank %}
  <div class="background-img">
    <img class="bg-image bg-image-desktop" src="{{ section.settings.bg_image | img_url: '2048x' }}">
    <img class="bg-image bg-image-mobile" src="{{ section.settings.bg_image_mobile | img_url: '768x' }}">
  </div>
{% endif %}
<div class="container">
  <div class="top-content">
    <div class="title-and-cta">
      <div class="section_title inshore-blue">{{ section.settings.title }}</div>
      {% if section.settings.top_btn_text != blank %}
        <div class="cta-wrap">
          <a href="{{ section.settings.top_btn_link }}" class="button button-primary">
            {{- section.settings.top_btn_text  | replace: '+', '<span class="plus-sign">+</span>' -}}
          </a>
        </div>
      {% endif %}
    </div>
    <div class="images-grid">
      {% for block in section.blocks %}
        {% capture item %}
        <div class="image-grid-item">
          <div class="image-wrap">
            <img src="{{ block.settings.image | img_url: '768x' }}" alt="{{ block.settings.title }}">
          </div>
          <div class="text-wrap">
            <div class="eyebrow white">{{ block.settings.eyebrow_text }}</div>
            <div class="section_title white">{{ block.settings.title }}</div>
          </div>
          <div class="link-arrow" data-target="grid-detail-{{ forloop.index }}">
            {% render 'icon-arrow-right' %}
          </div>
        </div>
        {% endcapture %}

        {{ item }}

        <div class="popup grid-detail" data-handle="grid-detail-{{ forloop.index }}">
          <div class="popup-wrapper">
            {{ item }}
            <div class="popup-content">{{ block.settings.popup_content }}</div>
          </div>
          <button class="popup-close">{% render 'icon', id: 'popup-close' %}</button>
          <div class="popup-bg"></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="middle-content">
    <div class="section_title inshore-blue">{{ section.settings.middle_title }}</div>
    <div class="description-text inshore-blue">{{ section.settings.middle_description }}</div>
    {% if section.settings.middle_btn_text != blank %}
      <div class="cta-wrap">
        <a href="{{ section.settings.middle_btn_link }}" class="button button-primary">
          {{- section.settings.middle_btn_text -}}
        </a>
      </div>
    {% endif %}
  </div>
  <div class="bottom-content">
    <div class="title inshore-blue">{{ section.settings.bottom_title }}</div>
    <div class="text-numbers">
      <div class="counter">
        {%- assign number = section.settings.text_number | split: '' -%}
        {% for char in number %}
          <span>{{ char }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{%- schema -%}
{
  "name": "Our Projects",
  "class": "our-projects ocean_full_width",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image Mobile"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    },
    {
      "type": "text",
      "id": "top_btn_text",
      "label": "Top Button Text"
    },
    {
      "type": "url",
      "id": "top_btn_link",
      "label": "Top Button Link"
    },
    {
      "type": "text",
      "id": "middle_title",
      "label": "Middle Section Title"
    },
    {
      "type": "text",
      "id": "middle_description",
      "label": "Middle Section Description"
    },
    {
      "type": "text",
      "id": "middle_btn_text",
      "label": "Middle Button Text"
    },
    {
      "type": "url",
      "id": "middle_btn_link",
      "label": "Middle Button Link"
    },
    {
      "type": "text",
      "id": "bottom_title",
      "label": "Bottom Title"
    },
    {
      "type": "text",
      "id": "text_number",
      "label": "Text Number",
      "default": "4638905"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "eyebrow_text",
          "label": "Eyebrow Text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "popup_content",
          "label": "Popup content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Our Projects"
    }
  ]
}
{%- endschema -%}
