<div class="container">
  {%- paginate blog.articles by 12 -%}
    <div class="article-grid-wrap {% if section.settings.item_per_row == 2 %}two-in-row{% endif %}">
      {% for article in blog.articles %}
        {% include 'article-grid-item', article: article %}
      {% endfor %}
    </div>
    {%- include 'pagination' -%}
  {% endpaginate %}
</div>
{%- schema -%}
{
  "name": "Blog",
  "class": "blog-section ocean_full_width",
  "settings": [
    {
      "type": "range",
      "id": "item_per_row",
      "label": "Items Per Row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    }
  ]
}
{%- endschema -%}
