<style>
  .section-with-bg-{{ section.id }} {
    background-image: url({{ section.settings.bg_image | img_url: '2048x' }});
  }

  @media (max-width: 768px) {
    .section-with-bg-{{ section.id }} {
      background-image: url({{ section.settings.bg_image_mobile | img_url: '1024x' }});
    }
  }
</style>
<div class="section-with-bg section-with-bg-{{ section.id }}">
  <div class="container">
    <div class="top-content">
      <div class="eyebrow flats-blue">{{ section.settings.eyebrow_text }}</div>
      <div class="section_title white">{{ section.settings.title | replace: '+', '<span class="plus-sign">+</span>' }}</div>
      <div class="description-text white">{{ section.settings.description }}</div>
    </div>
    <div class="bottom-content">
      {% for block in section.blocks %}
        <div class="icon-grid-item">
          <div class="image-wrap">
            <img src="{{ block.settings.image | img_url: '400x' }}" alt="{{ block.settings.title }}">
          </div>
          <div class="title flats-blue">{{ block.settings.title }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{%- schema -%}
{
  "name": "Make Impact",
  "class": "make-impact ocean_full_width",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image Mobile"
    },
    {
      "type": "text",
      "id": "eyebrow_text",
      "label": "Eyebrow Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Make Impact"
    }
  ]
}
{%- endschema -%}
