{%- assign settings = section.settings -%}
{%- assign blocks = section.blocks -%}


{% assign bg_color = settings.background_color %}
{% assign has_bg = false %}


{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}


{% capture container %}
    {{ settings.container }}
    
{% endcapture %}


{% assign sectionId  = 'make-own' %}

{% if settings.section_id != blank %} 
	{% assign sectionId =   settings.section_id %}
{% endif %}

<div class="make-your-own" id="{{ sectionId }}" style="background: linear-gradient(180deg, #F26969 0%, #F7975D 100%);">
  <div class="bottle-image">
    {% if settings.image != blank %}
    	<img src="{{ settings.image | img_url: ''}}">
    {% else %}
    	{{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
    {% endif %}
  </div>
  <div class="{{ container }}">
    <div class="small-container">
      <h5>{{settings.title}}</h5>
      <h3>{{settings.heading}}</h3>
      <p>{{settings.description}}</p>
    </div>
    <div class="make-box-wrapper">
      {% for block in blocks %}
      	<div class="make-box">
            {% if block.settings.make_box_image != blank %}
            	<img src="{{ block.settings.make_box_image | img_url: ''}}">
            {% else %}
            	{{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
            {% endif %}
            <p>{{block.settings.make_box_description}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
    "name": "Make Your Own",
	"class": "ocean_full_width noborder",
    "settings": [
		{
            "type":"text",
            "id":"section_id",
            "label":"Section ID"
        },


        {
            "type":"text",
            "id":"title",
            "label":"Title",
            "default": "CHOOSE HOW TO"
        },
		{
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default": "Make Your Impac+"
        },
		{
            "type":"textarea",
            "id":"description",
            "label":"Description",
            "default":"Whether you're a tech company, you're already using recycled materials in your products, or you're just starting your sustainability journey, flexibility means you can create a program that fits your brand goals"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
		{
            "type": "image_picker",
            "id": "image",
            "label": "Background Image"
		}
    ],
	"max_blocks": 4,
    "blocks": [
        {
            "type": "banner_box",
            "name": "Banner Box",
            "settings": [
                {
                    "type":"textarea",
                    "id":"make_box_description",
                    "label":"Make Box Description",
					"default":"Commit To Removing A Specific Amount"
                },
				{
                    "type": "image_picker",
                    "id": "make_box_image",
                    "label": "Make Box Image"
                }               
				
            ]
        }
    ],
    "presets": [
        {
            "name": "Make Your Own",
            "category": "Custom",
            "blocks": [
                {
                    "type": "banner_box"
                }
            ]
        }
    ]
}
{% endschema %}

{% stylesheet %}

	.make-your-own {
		position: relative;
		padding: 200px 0 92px;
		text-align: center;
		color: #fff;
		overflow: hidden;
	}

    .bottle-image {
        position: absolute;
        left: 0;
        right: 0;
        max-width: 302px;
        margin: 0 auto;
        z-index: 0;
        top: 72px;
		mix-blend-mode: multiply;
    }

    .make-your-own .container {
		z-index: 2;
		position: relative;
	}

    .make-box-wrapper {
		display: flex;
		margin: 120px -16px 0;
	}

	.make-box {
        margin: 0 16px;
    }

    .make-your-own h5 {
        font-family: 'Founders Grotesk Condensed'!important;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.31em;
        color: #FFD06D;
        margin: 0 0 21px;
    }

    .make-your-own h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on, 'case' on, 'cpsp' on;
        color: #FFFFFF;
        margin: 0 0 21px;
	}

    .make-your-own p {
        font-family: 'WilliamsCaslonText';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

	.make-your-own .make-box p {
        font-family: 'Founders Grotesk Condensed'!important;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 6.51042px;
        text-transform: uppercase;
        color: #1E3261;
		margin: 24px 0 0;
    }

	@media (max-width: 1024px) {

		.make-your-own h5 {
			font-size: 20px;
		}

		.make-your-own h3 {
			font-size: 32px;
    		line-height: 48px;
		}

	}


	@media (max-width: 767px) {
		.make-box-wrapper {
			flex-wrap: wrap;
			margin: 120px 0 0;
		}

        .make-your-own {
        	padding: 72px 0 78px;
		}

		.make-box {
            margin: 0 0 28px;
            padding: 10px 11vw;
            width: 100%;
        }

		.bottle-image {
			top: 102px;
		}

	}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
