<!--use this section as an example for flex box column layout-->

<div class="shopify-section-page-header" >
      
      {% if section.settings.title != blank %}
  		<h1 class="masthead-title">{{ section.settings.title }}</h1>
		{% endif %}
  		{% if section.settings.subtitle != blank %}
    		<h2 class="masthead-subtitle">{{ section.settings.subtitle }}</h2>
  		{% endif %}
   		<div class="link-wrapper"> <a class="small-cta-button" href="{{ section.settings.lmore_url }}">Join the Marketplace</a></div>

  <div class="material-wrapper">
    
    {%- for block in section.blocks -%}
    <div class="material">
      <img src="{{ block.settings.image | img_url: "150x"  }}">
      <p>{{ block.settings.material-name }}</p>
   </div>
    {%- endfor -%}
    
   </div>
    
    
  </div>


<style>
  .button-wrapper{text-align:center;}
  .material-wrapper{display:flex;flex-wrap:nowrap;justify-content:center;}
  .material{width:20%;}
  .material-wrapper .material p{color:#f26969;text-align:center;font-size:1.2em;}
  .material{text-align:center;}
  
  .link-wrapper{text-align:center;}
  
  
  
  
@media screen and (max-width: 959px){

  .material-wrapper{display:flex;flex-wrap:wrap;}
  .material{width:33%;}
}

  
</style>

{% schema %}
{
  "name": "Material Choices",
  "class": "new-section",
  "settings": [
	{
      "type": "text",
      "id": "title",
      "label": "Header Title",
      "default": "Variety of Choices, One t Away"
    },
	{ "type": "richtext",
      "id": "subtitle",
      "label": "Header Subtitle",
"default": "<p>HDPE, PET, PP, and Fiber. We have what you need, with material samples and high volumes readily available</p>"

    }, 
	{
      "type": "url",
      "id": "b_url",
      "label": "Tagline URL"
    },
    {
      "type": "text",
      "id": "b_text",
      "label": "Call to Action  Text"
    }
  ],
 "blocks": [
    {
      "type": "image",
      "name": "materials",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Material Image"
        },
        {
          "id": "material-name",
          "type": "text",
          "label": "Material Name"
        }
      ]
    }
  ]
}
{% endschema %}
