<div class="section-container {% if section.settings.image != blank %}layout-bg-overlay{% endif %}">
  {% if section.settings.image != blank %}
    <div class="image-wrapper hide--mobile">
      {%
        include 'rimg',
        img: section.settings.image,
        size: '3000x',
        lazy: true
      %}
    </div>
    <div class="image-wrapper hide--desktop">
      {% assign mob_img = section.settings.mob_image | default: section.settings.image %}
      {%
        include 'rimg',
        img: section.settings.image,
        size: '1000x',
        lazy: true
      %}
    </div>
  {% endif %}
  <div class="container">
    <div class="section-header text-center">
      {% if section.settings.pretitle != blank %}
        <div class="pretitle">{{ section.settings.pretitle }}</div>
      {% endif %}
      {% if section.settings.title != blank %}
        <h2 class="section_title">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.subtitle !=  blank %}
        <div class="description-text">{{ section.settings.subtitle }}</div>
      {% endif %}

      <div class="ocean-partner-select">
        {% if section.settings.op_title != blank %}
          <div class="section_title flats-blue">{{ section.settings.op_title }}</div>
        {% endif %}
        {% if section.settings.op_type != blank %}
          <div class="selector-wrapper description-text">
            I'm a 
            <select class="ocean-partner-type">
              {% assign op_type = section.settings.op_type | split: ',' %}
              {% for type in op_type %}
                <option value="{{ type | handle }}">{{ type }}</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Ocean partner",
  "class": "section-ocean-partner ocean_full_width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mob_image",
      "label": "Image (mobile)"
    },
    {
      "type": "text",
      "id": "pretitle",
      "label": "Pretitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "Ocean partner"
    },
    {
      "type": "text",
      "id": "op_title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "op_type",
      "label": "type"
    }
  ]
}
{% endschema %}