{%- assign settings = section.settings -%}
{%- assign blocks = section.blocks -%}


{% assign bg_color = settings.background_color %}
{% assign has_bg = false %}


{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}


{% capture container %}
    {{ settings.container }}

{% endcapture %}

<div class="our-project" style="background: {{ settings.bg_color }};">
  <div class="project-bg" style="background-image: url('{{ settings.image | img_url: ''}}');background-repeat: {{settings.background-repeat}}; background-position: top left; background-size: 100% auto;">
  </div>
  <div class="{{ container }}">
    <h2>{{settings.title}}</h2>
    <div class="our-project-box">
      {% for block in blocks %}
      	<div class="project-box" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(0deg, rgba(107, 203, 201, 0.4), rgba(107, 203, 201, 0.4)), url('{{ block.settings.box_bg_img | img_url: ''}}');">
          <h3>{{block.settings.project_heading}}</h3>
          <p>{{block.settings.country_name}}</p>
          <span class="open-box">
            {% if block.settings.project_box_icon != blank %}
              <img src="{{ block.settings.project_box_icon | img_url: ''}}">
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
            {% endif %}
          </span>
      	</div>
      	<div class="box-show">
          <div class="box-inner-wrapper">
            <div class="box-inner box-inner-first"  style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(0deg, rgba(107, 203, 201, 0.4), rgba(107, 203, 201, 0.4)), url('{{ block.settings.box_bg_img | img_url: ''}}');">
                <h3>{{block.settings.project_heading}}</h3>
                <p>{{block.settings.country_name}}</p>
                <span class="open-box">
                  {% if block.settings.project_box_icon != blank %}
                  <img src="{{ block.settings.project_box_icon | img_url: ''}}">
                  {% else %}
                  {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
                  {% endif %}
                </span>
            </div>
            <div class="box-inner">
              <h3>{{ block.settings.project_inner_heading1 }}</h3>
              <p>{{ block.settings.project_inner_description1 }}</p>
            </div>
            <div class="box-inner">
              <h3>{{ block.settings.project_inner_heading2 }}</h3>
              <p>{{ block.settings.project_inner_description2 }}</p>
            </div>
            <div class="box-inner">
              <h3>{{ block.settings.project_inner_heading3 }}</h3>
              <p>{{ block.settings.project_inner_description3 }}</p>
            </div>
            <span class="close">X</span>
          </div>
      	</div>
      {% endfor %}
    </div>
    <div class="project-all">
      {% if settings.button_text != blank %}
      <a href="{{settings.button_link}}" {% if settings.open_new_tab != blank %} target="_blank"{% endif %}>{{settings.button_text}}
        <span class="arrow-icon">
		</span>
      </a>
      {% endif %}

    </div>

    <div class="project-center-section">
      <h4>{{settings.custom_heading}}</h4>
      <p>{{settings.custom_description}}</p>
      <a href="{{settings.custom_button_link}}" {% if settings.open_new_tab != blank %} target="_blank"{% endif %}>{{settings.custom_button_text}}</a>
    </div>

    <div class="project-count">
      <h3>{{settings.count_description}}</h3>
      <div class="counter">
        {%- assign number = settings.text_number | split: '' -%}
        {% for char in number %}
        <span>{{ char }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% schema %}
{
    "name": "Our Project",
	"class": "ocean_full_width noborder",
    "settings": [
		{
            "type":"text",
            "id":"title",
            "label":"Title",
            "default": "OUR PROJECTS"
        },
		{
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default": "Make Your Impac+"
        },
		{
            "type":"textarea",
            "id":"description",
            "label":"Description",
            "default":"Whether you're a tech company, you're already using recycled materials in your products, or you're just starting your sustainability journey, flexibility means you can create a program that fits your brand goals"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
		{
            "type": "image_picker",
            "id": "image",
            "label": "Background Image"
		},
		{
            "type": "select",
            "id": "background-repeat",
            "label": "Background Repeat",
            "default": "no-repeat",
            "options": [
                {
                    "value": "no-repeat",
                    "label": "No Repeat"
                },
                {
                    "value": "repeat",
                    "label": "Repeat"
                }
            ]
        },
		{
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#58b9a8"
        },
		{
          "type":"text",
          "id":"button_text",
          "label":"Button Text",
          "default": "SEE ALL PROGRAMS"
        },
        {
          "type":"url",
          "id":"button_link",
          "label":"Button Link"
        },
        {
          "type": "image_picker",
          "id": "arrow_icon_image",
          "label": "Arrow Icon Image"
        },
        {
          "type":"text",
          "id":"custom_heading",
          "label":"Custom Heading",
          "default": "START A CUSTOM PROJECT"
        },
        {
          "type":"textarea",
          "id":"custom_description",
          "label":"Custom Description",
          "default":"We have a number of programs that are turnkey and ready for your participiation or you can work with us and our network of collection partners to create a custom solution."
        },
        {
          "type":"text",
          "id":"custom_button_text",
          "label":"Custom Button Text",
          "default": "START NOW"
        },
        {
          "type":"url",
          "id":"custom_button_link",
          "label":"Custom Button Link"
        },
		{
          "type": "checkbox",
          "id": "open_new_tab",
          "label": "Open Link in New tab"
        },
        {
          "type":"textarea",
          "id":"count_description",
          "label":"Count Description",
          "default": "TOTAL METRIC TONNES REMOVED BY OUR PARTNERS"
        },
		{
            "type":"text",
            "id":"text_number",
            "label":"Text Number",
            "default": "1948458"
        }
    ],
	"max_blocks": 3,
    "blocks": [
        {
            "type": "project_box",
            "name": "Project Box",
            "settings": [
				{
                    "type": "image_picker",
                    "id": "box_bg_img",
                    "label": "Box Background Image"
                },
				{
                    "type":"text",
                    "id":"project_heading",
                    "label":"Project Heading",
                    "default": "FISHING NET RECOVERY"
                },
                {
                    "type":"text",
                    "id":"country_name",
                    "label":"Country Name",
                    "default": "North America"
                },
				{
                    "type": "image_picker",
                    "id": "project_box_icon",
                    "label": "Project Box Icon"
                },
				{
                    "type":"text",
                    "id":"project_inner_heading1",
                    "label":"Project Inner Heading 1",
                    "default": "The Problem"
                },
                {
                    "type":"textarea",
                    "id":"project_inner_description1",
                    "label":"Project Inner Description 1",
                    "default": "Most end-of-life fishing nets in the US get landfilled or cut away in the ocean. Why? It's costly to dispose of them properly due to lack of existing infrastructure. It's a huge reason for why fishing nets are the largest ocean plastic polluter."
                },
				{
                    "type":"text",
                    "id":"project_inner_heading2",
                    "label":"Project Inner Heading 2",
                    "default": "The Solution"
                },
                {
                    "type":"textarea",
                    "id":"project_inner_description2",
                    "label":"Project Inner Description 2",
                    "default": "This Impac+ program provides the funds needed to incentivize collection and recycling of this gear that otherwise, without Impac+, is valueless or too costly to reclaim."
                },
				{
                    "type":"text",
                    "id":"project_inner_heading3",
                    "label":"Project Inner Heading 3",
                    "default": "Why We Like It?"
                },
                {
                    "type":"textarea",
                    "id":"project_inner_description3",
                    "label":"Project Inner Description 3",
                    "default": "End of life fishing gear in the US is not being mechanically recycled without this program. In fact, our partners are an amazing women-owned, small business working directly with two city governments (Unalaska, AK and Stonington, ME) to remove materials that have already been taken to city landfill sites."
                }

            ]
        },
		{
          "type": "project_box_inner",
           "name": "Project Box Inner",
           "settings": [
				{
                    "type":"text",
                    "id":"project_inner_heading",
                    "label":"Project Inner Heading",
                    "default": "The Problem"
                },
                {
                    "type":"textarea",
                    "id":"project_inner_description",
                    "label":"Project Inner Description",
                    "default": "Most end-of-life fishing nets in the US get landfilled or cut away in the ocean. Why? It's costly to dispose of them properly due to lack of existing infrastructure. It's a huge reason for why fishing nets are the largest ocean plastic polluter."
                }
			]
        }
    ],

    "presets": [
        {
            "name": "Our Project",
            "category": "Custom",
            "blocks": [
                {
                    "type": "project_box"
                }
            ]
        }
    ]
}
{% endschema %}

{% stylesheet %}

.our-project {
    text-align: center;
    padding: 88px 0 96px;
	position: relative;
	overflow: hidden;
}

.project-bg {
	position: absolute;
    bottom: 0;
    left: 0%;
    width: 2000px;
    height: 970px;
    mix-blend-mode: multiply;
    opacity: .4;
    z-index: 0;
}


.our-project .container {
	position: relative;
	z-index: 2;
}

.our-project h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
	letter-spacing: 0.2em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on, 'case' on, 'cpsp' on;
    color: #fff;
    margin: 0;
}


.our-project-box {
    display: flex;
    width: 100%;
    margin: 64px 0 36px;
	position: relative;
}

.project-box {
    margin: 0 10px;
    width: 100%;
    text-align: left;
    padding: 16px;
    color: #fff;
    min-height: 315px;
	background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.project-box img {
	transition: all ease 0.3s;
	margin-left: 0;
}

.project-box img:hover {
	margin-left: 10px;
}

.project-box h3 {
    font-family: 'Founders Grotesk Condensed' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 52px;
    letter-spacing: 6.51042px;
    color: #FFFFFF;
    margin: 0;
}

.project-box p {
    font-family: 'WilliamsCaslonText';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    margin: 5px 0;
}

.project-all a {
	display: block;
    text-align: center;
    letter-spacing: 0.75px;
    font-family: 'Museo Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #1E3261;
}

.project-all a span {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
	margin-top: -4px;
}

.project-all a .arrow-icon {
	background: url('https://cdn.shopify.com/s/files/1/0552/1155/6951/files/blue-right-arrow.png') no-repeat center center;
}

.project-center-section h4 {
    font-family: 'Founders Grotesk Condensed' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.31em;
    color: #FFFFFF;
    margin: 0 0 20px;
}

.project-center-section {
	padding: 136px 0 77px;
}

.project-center-section p {
    font-family: 'WilliamsCaslonText';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #1E3261;
    letter-spacing: 0.06em;
    margin: 0 0 40px;
}

.project-center-section a {
    background: #FFD06D;
    border-radius: 28px;
    padding: 19px 28px 14px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color: #1E3261;
    display: block;
    margin: 0 auto;
    max-width: 212px;
    text-align: center;
	position: relative;
	transition: all ease 0.3s;
	top:0;
}


.project-center-section a:hover {
	top:-5px;
}

.project-count h3 {
    font-family: 'Founders Grotesk Condensed' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    letter-spacing: 0.31em;
    margin: 0 0 24px;
}

.project-count .counter {
	display: flex;
	justify-content: center;
}

.project-count .counter span {
	padding: 19px 20px 2px;
    background: linear-gradient(#EAE6E5 50%,#FFFFFF 51%,#ffffff 100%);
    letter-spacing: 0;
    text-transform: uppercase;
    color: #000;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
    margin: 0 8px;
}

.open-box {
    display: inline-block;
}

.box-show {
	display: none;
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.box-show.open {
    display: block;
}

.box-inner-wrapper {
    display: flex;
    position: relative;
	height: 100%;
}


.box-inner {
    width: 25%;
    text-align: left;
    padding: 30px 15px;
	background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.box-inner h3 {
    font-family: 'Founders Grotesk Condensed' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 6.51042px;
    text-transform: uppercase;
    color: #1E3261;
    margin: 0 0 11px;
}

.box-inner p {
    font-family: 'WilliamsCaslonText';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #235AA7;
    margin: 0;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: 700;
	cursor: pointer;
}

.box-inner.box-inner-first p,
.box-inner.box-inner-first h3 {
    color: #fff;
}

.box-inner.box-inner-first .open-box {
    margin-top: 10px;
}

@media(max-width: 1024px) {

	.our-project {
		padding: 96px 0 98px;
	}

	.our-project h2 {
		font-size: 32px;
    	line-height: 48px;
        max-width: 90%;
		margin: 0 auto;
	}

	.project-box h3 {
		font-size: 32px;
    	line-height: 42px;
	}

	.our-project-box {
		margin: 14px -10px 36px;
	}

    .box-inner {
		max-height: 315px;
    	overflow-y: auto;
    }


	.project-center-section h4 {
		font-size: 20px;
    	line-height: 24px;
		letter-spacing: 6.51042px;
		font-weight: 700;
	}

	.project-count h3 {
		font-size: 20px;
		line-height: 32px;
		font-weight: 700;
	}

	.project-count .counter span {
		font-size: 26px;
		line-height: 42px;
		padding: 12px 11px 8px;
		margin: 0 3px 8px;
	}

	.project-count .counter {
		flex-wrap: wrap;
		margin: 0 -3px;
		justify-content: none;
	}

	.project-bg {
		left: 0;
        width: 100%;
        height: 55vw;
        bottom: 0;
	}

}


@media (max-width: 767px) {

	.box-inner-wrapper,
	.our-project-box {
		flex-wrap: wrap;
	}

	.our-project-box {
		margin: 14px 0 36px;
	}

	.project-box {
		margin: 0 0 32px;
		min-height: 323px;
	}

	.box-inner {
		width: 100%;
		max-height: 100%;
		padding: 48px 16px 8px;
	}

	.box-inner:last-child {
		padding-bottom: 48px;
	}


	.close {
		color: #fff;
	}

	.project-box h3 {
		line-height: 48px;
	}

	.box-inner.box-inner-first h3 {
		font-size: 35px;
    	line-height: 45px;
	}

	.box-inner h3 {
		font-size: 33px;
    	line-height: 48px;
	}

	.box-inner.box-inner-first p {
		font-size: 22px;
    	line-height: 32px;
	}

	.box-inner p {
		font-size: 16px;
    	line-height: 24px;
	}

	/*.project-bg {
		left: 0%;
        width: 100%;
        height: 660px;
	}*/

}


@media (max-width: 375px) {
	.project-bg {
		bottom: 0;
        left: -90%;
        width: 1068px;
        height: 670px;
	}
}

{% endstylesheet %}

{% javascript %}

  jQuery('.open-box').on('click', function(){
	  jQuery('.box-show').removeClass('open');
      jQuery(this).parents('.project-box').next('.box-show').addClass('open');
  })

  jQuery('.close').on('click', function(){
        jQuery('.box-show').removeClass('open');
  });

{% endjavascript %}
