{% assign ow_header_background_image = section.settings.ow_header_background_image %}
{% assign ow_header_dark_text = section.settings.ow_header_dark_text %}


  <div class="shopify-section-page-header-with-background" style="background-image: url( '{{ ow_header_background_image | img_url: 'master' }}' ); background-size: cover;">
    <div class="shopify-section-page-header-with-background-inner{%if ow_header_dark_text %}  shopify-section-page-header-with-background-dark-text{% endif %}" style="background: rgba(30, 90, 168, 0.7);">
      
      <header class="masthead">
        <h1 class="masthead-title">Recycled Plastic Resources</h1>

        {% if subtitle != blank %}
          <h2 class="masthead-subtitle">{{ ow_header_subtitle }}</h2>
        {% endif %}
      </header>

    </div>
  </div>

{% schema %}
{
  "name": "Page Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "ow_header_background_image",
      "label": "Header Background Image"
    },
    {
        "type": "checkbox",
        "id": "ow_header_dark_text",
        "label": "Use Dark Text?"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
