{% assign ow_header_subtitle = section.settings.ow_header_subtitle %}
{% assign ow_header_background_image = section.settings.ow_header_background_image %}
{% assign ow_header_dark_text = section.settings.ow_header_dark_text %}
{% assign demo_video = true %}

{% assign ow_header_background_image = section.settings.ow_header_background_image %}

{% if ow_header_background_image and ow_header_background_image != ''%}

  <div class="shopify-section-page-header-with-background" style="background-image: url( '{{ ow_header_background_image | img_url: 'master' }}' ); background-size: cover;">
    <div class="shopify-section-page-header-with-background-inner{%if ow_header_dark_text %}  shopify-section-page-header-with-background-dark-text{% endif %}" style="background: rgba(30, 90, 168, 0.7);">
  <h1 class="masthead-title">{{ section.settings.title }}</h1>

  {% if ow_header_subtitle != blank %}
    <h2 class="masthead-subtitle">{{ section.settings.ow_header_subtitle }}</h2>
  {% endif %}
      
      
  {% if section.settings.b_url != blank %}
   <div class="button-wrapper">
        <a class="masthead-cta-button" target="_blank" href="{{ section.settings.b_url }}" style="padding-bottom: 3px;">
          <span class="collection-featured-item-cta-text" style="color: #fff !important;">{{ section.settings.b_text }}</span>
         
        </a>
      </div>
   
 {% endif %}
     </div>
    
  </div>

{% else %}

  {% include 'masthead', title: page.title %}

{% endif %}



{% schema %}
{
  "name": "Page Header Freight",
  "class": "freight",
  "settings": [
    {
      "type": "image_picker",
      "id": "ow_header_background_image",
      "label": "Header Background Image"
    },
	{
      "type": "text",
      "id": "title",
      "label": "Header Title"
    },
	{ "type": "richtext",
      "id": "ow_header_subtitle",
      "label": "Header Subtitle"
    }, {
      "type": "url",
      "id": "b_url",
      "label": "Call to Action Button A URL"
    },
    {
      "type": "text",
      "id": "b_text",
      "label": "Call to Action Button B Text"
    }
  ]
}
{% endschema %}

