{% assign ow_footer_cta_title = section.settings.ow_footer_cta_title %}
{% assign ow_footer_cta_description = section.settings.ow_footer_cta_description %}
{% assign ow_footer_cta_button_a_text = section.settings.ow_footer_cta_button_a_text %}
{% assign ow_footer_cta_button_a_url = section.settings.ow_footer_cta_button_a_url %}
{% assign ow_footer_cta_button_b_text = section.settings.ow_footer_cta_button_b_text %}
{% assign ow_footer_cta_button_b_url = section.settings.ow_footer_cta_button_b_url %}

{% include 'page-footer' %}

{% schema %}
{
  "name": "Page Footer",
  "settings": [
    {
      "type": "text",
      "id": "ow_footer_cta_title",
      "label": "Call to Action Title"
    },
    {
      "type": "text",
      "id": "ow_footer_cta_description",
      "label": "Call to Action Description"
    },
    {
      "type": "text",
      "id": "ow_footer_cta_button_a_text",
      "label": "Call to Action Button A Text"
    },
    {
      "type": "text",
      "id": "ow_footer_cta_button_a_url",
      "label": "Call to Action Button A URL"
    },
    {
      "type": "text",
      "id": "ow_footer_cta_button_b_text",
      "label": "Call to Action Button B Text"
    },
    {
      "type": "text",
      "id": "ow_footer_cta_button_b_url",
      "label": "Call to Action Button B URL"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
