

{% assign ow_header_background_image = section.settings.ow_header_background_image %}
{% assign ow_header_dark_text = section.settings.ow_header_dark_text %}

{% if ow_header_background_image and ow_header_background_image != ''%}

  <div class="shopify-section-page-header-with-background" style="background-image: url( '{{ ow_header_background_image | img_url: 'master' }}' ); background-size: cover;">
    <div class="shopify-section-page-header-with-background-inner{%if ow_header_dark_text %}  shopify-section-page-header-with-background-dark-text{% endif %}" style="padding-top: 35px; padding-bottom: 35px; background: rgba(30, 90, 168, 0.85);">
      {% if ow_header_subtitle %}
        {% include 'masthead', title: page.title, subtitle: ow_header_subtitle %}
      {% else %}
        {% include 'masthead', title: page.title %}
      {% endif %}
    </div>
  </div>

{% else %}

  {% include 'masthead', title: page.title %}

{% endif %}

{% schema %}
{
  "name": "Page Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "ow_header_background_image",
      "label": "Header Background Image"
    },
    {
        "type": "checkbox",
        "id": "ow_header_dark_text",
        "label": "Use Dark Text?"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
