{% if section.settings.image != blank %}
     	{%- assign bgImage = section.settings.image | img_url: '1400x' -%}
{%- endif -%}


  <div class="shopify-section-page-header-with-background hero-image hero-image-footer" style="background-color: #fff !important; background-image: url( {{ bgImage }} ); background-size: cover;">
   
   <div class="section-wrapper"> 
     <div class="ow-badge">  <img src={{ 'Oceanworks_Guaranteed_Plastic.png' | asset_img_url: '168x' }} alt="Ocean Works Guarantee"></div>
   <div class="hero-text">
      <div class="hero-header">
            {%- if section.settings.title != blank -%}
              <h2 class="SectionHeader__Heading" style="font-family: Narin; font-style: normal; font-weight: 700; letter-spacing: 2.6px !important; text-transform: uppercase; color: #235aa7;">{{ section.settings.title }}  </h2>
            {%- endif -%}
                   {%- if section.settings.subtitle != blank -%}
        <div style="color: #666;">{{ section.settings.subtitle }}</div>
            {%- endif -%}


            {%- if section.settings.b_text != blank -%}
              <div class="buttonWrapper">
         
                  {%- if section.settings.b_text != blank -%}
                    <a href="{{ section.settings.button_url }}" class="button-custom">{{ section.settings.b_text | escape }}</a>
                  {%- endif -%}
                
                	&nbsp;&nbsp;
                	<br class="" />
                	<br class="" />
                  	<a href="/pages/services" class="button-custom button-custom-inverse">Browse All Services</a>

         
              </div>
            {%- endif -%}
      </div>
    </div>  
    </div>
    
  </div>



<div class="suppliers-bottom-boxes">
  
  <div class="suppliers-bottom-box" style="background: #7593C2; color: #fff;">
    <h2 class="SectionHeader__Heading" style="font-family: Narin; font-style: normal; font-weight: 700; letter-spacing: 2.6px !important; text-transform: uppercase; color: #fff;">
    What's a marketplace?
    </h2>
    <p style="font-size: 24px;">Think of your own website like a standalone store. Think of a marketplace like a shopping mall or trade show. Almost every product on earth can now be found on a marketplace. This same experience is now coming to recycled plastic.</p>

  </div>
  <div class="suppliers-bottom-box" style="background: #567AB4; color: #fff;">
    <h2 class="SectionHeader__Heading" style="font-family: Narin; font-style: normal; font-weight: 700; letter-spacing: 2.6px !important; text-transform: uppercase; color: #fff;">
    Why join a marketplace?
    </h2>
    <p style="font-size: 24px;">In the B2C world, marketplaces (like Amazon) have changed the way we research and buy. Over 50% of all online sales happen in marketplaces. This same trend is now coming to B2B. Soon, this is how your customers will demand to work with you.</p>

  </div>
  <br style="clear: both;" class="hide-for-small" />
  
</div>

<div style="padding-top: 50px; padding-bottom: 50px; text-align: center;">
  
  <h2 class="marketing-item-title" style="font-size: 36px;">Get started today.</h2>
  <div class="button-wrapper">
        <a class="masthead-cta-button" target="_blank" href="https://suppliers.oceanworks.co/register" style="padding-bottom: 3px;">
          <span class="collection-featured-item-cta-text" style="color: #fff !important;">Start your listing</span>
         
        </a>
      </div>
  <br/><br/>
</div>
  
<style>
 .track-full .SectionHeader__Heading {
	font-family: Karla, sans-serif;
	font-size: 28px;
	text-transform: uppercase;
    color: {{ section.settings.text_color }};
}

.track-full .hero-image {
    color: {{ section.settings.text_color }};
}


.track-full .button-custom {
	color: {{ section.settings.button_color }};
	background-color:{{ section.settings.button_background }};
	text-decoration:none;
	text-transform:uppercase;
	padding:7px 25px;
	font-weight:700;
}


.track-full h2.SectionHeader__Heading,
	h3.SectionHeader__SubHeading {
	color: {{ section.settings.text_color}};
}

 
</style>

{% schema %}
{
  "name": "Track Full Width",
  "class": "shopify-section track-full",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_fullscreen",
      "label": "Show full-screen images",
      "info": "If enabled, images will be resized to fit the entire screen.",
      "default": true
    },
 	{
      "type": "image_picker",
      "id": "image",
      "label": "Hero Image"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "b_text",
      "label": "Button Label"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button text",
      "default": "#363636"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "#ffffff"
    },
	{
      "type": "text",
      "id": "title",
      "label": "Header Title",
      "default": "Sea Plastic Differently."
    },
	{ "type": "html",
      "id": "subtitle",
      "label": "Header Subtitle",
	  "default": "Lorem Ipsum"

    }
  ]
}

{% endschema %}
