{% assign ow_header_background_image = section.settings.ow_header_background_image %}
{% assign ow_header_dark_text = section.settings.ow_header_dark_text %}

{% include 'page-header' %}

{% schema %}
{
  "name": "Page Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "ow_header_background_image",
      "label": "Header Background Image"
    },
    {
        "type": "checkbox",
        "id": "ow_header_dark_text",
        "label": "Use Dark Text?"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
