{% if section.settings.image != blank %}
     	{%- assign bgImage = section.settings.image | img_url: '1400x' -%}
{%- endif -%}


  <div class="shopify-section-page-header-with-background hero-image hero-image-footer" style="background-image: url( {{ bgImage }} ); background-size: cover;">
   
   <div class="section-wrapper"> 
     <div class="ow-badge">  <img src={{ 'ow-badge.png' | asset_img_url: '168x' }} alt="Ocean Works Guarantee"></div>
   <div class="hero-text">
      <div class="hero-header">
            {%- if section.settings.title != blank -%}
              <h2 class="SectionHeader__Heading">{{ section.settings.title }}  </h2>
            {%- endif -%}
                   {%- if section.settings.subtitle != blank -%}
              <h3 class="SectionHeader__SubHeading" >{{ section.settings.subtitle | escape }}</h3>
            {%- endif -%}


            {%- if section.settings.b_text != blank -%}
              <div class="buttonWrapper">
         
                  {%- if section.settings.b_text != blank -%}
                    <a href="{{ section.settings.button_url }}" class="button-custom">{{ section.settings.b_text | escape }}</a>
                  {%- endif -%}
         
              </div>
            {%- endif -%}
      </div>
    </div>  
    </div>
    
  </div>
  
<style>

.services-full .SectionHeader__Heading {
	font-family: Karla, sans-serif;
	font-size: 28px;
	text-transform: uppercase;
    color: {{ section.settings.text_color }};
}

.services-full .hero-image {
    color: {{ section.settings.text_color }};
}


.services-full .button-custom {
	color: {{ section.settings.button_color }};
	background-color:{{ section.settings.button_background }};
	text-decoration:none;
	text-transform:uppercase;
	padding:7px 25px;
	font-weight:700;
}


.services-full h2.SectionHeader__Heading,
	h3.SectionHeader__SubHeading {
	color: {{ section.settings.text_color}};
}

</style>

{% schema %}
{
  "name": "Services Full Width",
  "class": "shopify-section services-full",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_fullscreen",
      "label": "Show full-screen images",
      "info": "If enabled, images will be resized to fit the entire screen.",
      "default": true
    },
 	{
      "type": "image_picker",
      "id": "image",
      "label": "Hero Image"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "b_text",
      "label": "Button Label"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button text",
      "default": "#363636"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "#ffffff"
    },
	{
      "type": "text",
      "id": "title",
      "label": "Header Title",
      "default": "Sea Plastic Differently."
    },
	{ "type": "text",
      "id": "subtitle",
      "label": "Header Subtitle",
	  "default": "Lorem Ipsum"

    }
  ]
}

{% endschema %}
