{% assign ow_header_background_image = section.settings.ow_header_background_image %}

{% include 'page-header' %}

{% schema %}
{
  "name": "Page Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "ow_header_background_image",
      "label": "Header Background Image"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
