{%- assign settings = section.settings -%}
{%- assign blocks = section.blocks -%}


{% assign bg_color = settings.background_color %}
{% assign has_bg = false %}


{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}


{% capture container %}
    {{ settings.container }}
    
{% endcapture %}


{% assign sectionId  = 'partner-section' %}

{% if settings.section_id != blank %} 
	{% assign sectionId =   settings.section_id %}
{% endif %}


<div class="partner-section" id="{{ sectionId }}" style="background-image: url('{{ settings.image | img_url: ''}}');background-repeat: {{settings.background-repeat}}; background-position: {{settings.background-position}}; background-size: {{settings.background-size}}; background-color: {{ settings.bg_color }};">
  <div class="{{ container }}">
    <h3>{{settings.title}}</h3>
      <div class="slider slider-for">
        {% for block in blocks %}
        <div>
          <div class="slider-two-col">
            <div class="slider-left">
              <h3>{{block.settings.slider_heading}}</h3>
              <h5>{{block.settings.slider_subheading}}</h5>
              <p>{{block.settings.slider_description}}</p>
            </div>
            <div class="slider-right">
              <div class="iframe-wrapper">
                <iframe src="{{block.settings.iframe_url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    
    
      <div class="slider slider-nav">
        {% for block in blocks %}
        <div>
          <div class="normal-image">
            {% if block.settings.thumbnail_image != blank %}
              <img src="{{ block.settings.thumbnail_image | img_url: ''}}">
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
            {% endif %}
          </div>
          <div class="active-image">
            {% if block.settings.thumbnail_image_active != blank %}
              <img src="{{ block.settings.thumbnail_image_active | img_url: ''}}">
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'sf__placeholder-svg w-full h-full' }}
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    
  </div>
</div>

{% schema %}
{
    "name": "Partner Section",
	"class": "ocean_full_width noborder",
    "settings": [
		 {
            "type":"text",
            "id":"section_id",
            "label":"Section ID"
        },

        {
            "type":"text",
            "id":"title",
            "label":"Title",
            "default": "OUR PARTNERS"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
		{
            "type": "image_picker",
            "id": "image",
            "label": "Background Image"
		},
		{
            "type": "select",
            "id": "background-position",
            "label": "Background Position",
            "default": "center",
            "options": [
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "left top",
                    "label": "Left Top"
                },
                {
                    "value": "right top",
                    "label": "Right Top"
                },
                {
                    "value": "left bottom",
                    "label": "Left Bottom"
                },
                {
                    "value": "right bottom",
                    "label": "Right Bottom"
                }
            ]
        },
		{
            "type": "select",
            "id": "background-size",
            "label": "Background Size",
            "default": "cover",
            "options": [
                {
                    "value": "contain",
                    "label": "Contain"
                },
                {
                    "value": "cover",
                    "label": "Cover"
                },
                {
                    "value": "auto",
                    "label": "Default"
                }
            ]
        },
		{
            "type": "select",
            "id": "background-repeat",
            "label": "Background Repeat",
            "default": "no-repeat",
            "options": [
                {
                    "value": "no-repeat",
                    "label": "No Repeat"
                },
                {
                    "value": "repeat",
                    "label": "Repeat"
                }
            ]
        },
		{
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#fff"
        }
	],
	"blocks": [
        {
            "type": "slider_date",
            "name": "Slider Data",
            "settings": [
				{
                    "type":"text",
                    "id":"slider_heading",
                    "label":"Slider Heading",
                    "default": "COCOBRUSH"
                },
                {
                    "type":"text",
                    "id":"slider_subheading",
                    "label":"Slider Sub Heading",
                    "default": "IMPAC+ AMPLIFIER"
                },
                {
                    "type":"textarea",
                    "id":"slider_description",
                    "label":"Slider Description",
                    "default": "Cocofloss® approached us when they had the idea for their new Cocobrush®. They wanted to do things right, but at the end of the day, they felt like they could do more. That’s where Oceanworks Impac+ comes into play. For the sale of every toothbrush, Cocofloss® committed to the removing an additional 10 Cocobrushes worth of oceanbound plastic."
                },
				{
                    "type":"text",
                    "id":"iframe_url",
                    "label":"Iframe Url",
                    "default": "https://www.youtube.com/embed/aXAnJtzpYhw"
                },
				{
                    "type": "image_picker",
                    "id": "thumbnail_image",
                    "label": "Thumbnail Image Normal"
                },
				{
                    "type": "image_picker",
                    "id": "thumbnail_image_active",
                    "label": "Thumbnail Image Active"
                }
            ]
        }
		
    ],
	
	"presets": [
          {
              "name": "Partner Section",
              "category": "Custom",
              "blocks": [
                  {
                      "type": "slider_date"
                  }
              ]
          }
      ]
}
{% endschema %}

{% stylesheet %}

.partner-section {
    padding: 83px 0;
	position: relative;
	overflow: hidden;
}
/*
.partner-section:before {
	content:"";
	background: url('https://cdn.shopify.com/s/files/1/0552/1155/6951/files/yellow-brush.png?v=1651739088') no-repeat right top / 1000px;
	position: absolute;
	left: -30px;
    top: 120px;
    transform: rotate(-15deg);
    width: 25vw;
    height: 120.67px;	
}


.partner-section:after {
	content:"";
	background: url(https://cdn.shopify.com/s/files/1/0552/1155/6951/files/orange-brush.png?v=1651739088) no-repeat left top / 1000px;
    position: absolute;
    right: -20px;
    top: 20px;
    width: 25vw;
    height: 120.67px;
    transform: rotate(-32.96deg);
}
*/

.partner-section h3 {
    text-align: center;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on, 'case' on, 'cpsp' on;
    color: #FFD06D;
}

.slider-two-col {
    display: flex;
}

.slider-left {
    width: 50%;
    padding-right: 55px;
}

.slider-right {
    width: 50%;
    padding-left: 55px;
}

.slider-nav .slick-current .normal-image {
    display: none;
}

.slider-nav .slick-current .active-image {
    display: flex;
}

.slider-nav .normal-image {
    display: flex;
}

.slider-nav .active-image {
    display: none;
}

.slider.slider-for {
    margin-top: 96px;
}

.normal-image,
.active-image {
	text-align: center;
	align-items: center;
	min-height: 60px;
    padding: 10px;
	cursor: pointer;
}

.normal-image img ,
.active-image img {
	margin: 0 auto;
	max-height: 30px;
	max-width: 135px;
}

.slider-two-col h3 {
    font-family: 'Museo Sans' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: normal;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
}

.slider-two-col h5 {
    font-family: 'Founders Grotesk Condensed' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: normal;
    letter-spacing: 0.31em;
    color: #FFD06D;
    margin: 0 0 24px;
}

.slider-two-col p {
    font-family: 'WilliamsCaslonText';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.slider.slider-nav {
    margin-top: 68px;
}

.slider-nav button.slick-arrow {
    border: none;
    font-size: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
	cursor: pointer;
}

.slider-nav button.slick-prev.slick-arrow {
	left: -40px;
	background: url('https://cdn.shopify.com/s/files/1/0552/1155/6951/files/white-arrow-left.png') no-repeat center center / 11px;
	/*transform: rotate(180deg);*/
}

.slider-nav button.slick-next.slick-arrow {
	right: -40px;
	background: url('https://cdn.shopify.com/s/files/1/0552/1155/6951/files/white-arrow-right.png') no-repeat center center / 11px;
}

.slider-two-col .fluid-width-video-wrapper {
	padding-top: 64% !important;
}

@media (max-width: 1200px) {

	.partner-section:before,
	.partner-section:after {
		content: none;
	}

	.slider-right {
		padding-left: 0;
	}
}


@media(max-width: 1024px) {

	.partner-section h3 {
		font-size: 32px;
    	line-height: 48px;
		margin-bottom: 20px;
		text-align: left;
	}

	.partner-section {
        padding: 58px 0 100px;
    }
	
	.slider.slider-for {
    	margin-top: 36px;
	}

	.slider-nav button.slick-prev.slick-arrow {
        left: 0;
    }

    .slider-nav button.slick-next.slick-arrow {
        right: 0;
    }

}

@media(max-width: 767px) {

	.slider-two-col {
        display: flex;
        flex-wrap: wrap;
    }

	.slider-left {
        width: 100%;
        padding-right: 0;
	}

	.slider-right {
        width: 100%;
        padding-left: 0;
    }

	.partner-section:before,
	.partner-section:after {
		content: none;
	}

	.slider-two-col p {
		margin: 0 0 32px;
	}

	.normal-image img ,
    .active-image img {
      max-width: 175px;
      max-height: 35px;
    }

	.partner-section {
		padding: 58px 0;
	}

	.slider.slider-nav {
    	margin-top: 20px;
	}


}

@media (max-width: 600px) {

	.normal-image img, .active-image img {
      max-width: 100%;
      max-height: 15px;
	}
}


{% endstylesheet %}

{% javascript %}


jQuery('.slider-for').slick({
     slidesToShow: 1,
     slidesToScroll: 1,
     arrows: false,
     fade: true,
     asNavFor: '.slider-nav'
});

jQuery('.slider-nav').slick({
    slidesToShow: 5,
    slidesToScroll: 1,
    asNavFor: '.slider-for',
    dots: false,
    focusOnSelect: true,
    arrows: true,
	responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 2.5,
        slidesToScroll: 1,
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2.5,
        slidesToScroll: 1
      }
    }
  ]
});
 
{% endjavascript %}
