<style>
  .section-with-bg-{{ section.id }} {
    background-image: url({{ section.settings.bg_image | img_url: '2048x' }});
  }

  @media (max-width: 768px) {
    .section-with-bg-{{ section.id }} {
      background-image: url({{ section.settings.bg_image_mobile | img_url: '1024x' }});
    }
  }
</style>
<div class="section-with-bg section-with-bg-{{ section.id }}">
  <div class="container">
    <div class="text-wrap">
      <div class="section_title section_title_large white">{{ section.settings.title }}</div>
      <div class="video-play">
        <span class="video-play-link">
          <span>{% render 'icon-video-play' %}</span>
          <span>Watch Video</span>
        </span>
        <span class="duration">{{ section.settings.video_length }}</span>
      </div>
    </div>
    <div class="image-logo">
      <img src="{{ section.settings.logo | img_url: '200x' }}" alt="oceansmade logo">
    </div>
  </div>
  <div id="modal" class="modal"></div>
  <div class="video-popup">
    <a class="close">&times;</a>
    <!-- Modal content -->
    <div class="video-wrapper">
        <div class="vid-container">
            <iframe width="560" height="315" src="{{ section.settings.video_url  }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Plastic Action",
  "class": "plastic-action ocean_full_width",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image Mobile"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    {
      "type": "text",
      "id": "video_url",
      "label": "Video Url"
    },
    {
      "type": "text",
      "id": "video_length",
      "label": "Video Length"
    }
  ],
  "presets": [
    {
      "name": "Plastic Action"
    }
  ]
}
{% endschema %}
