<script
  type="application/json"
  data-section-type="pxs-announcement-bar"
  data-section-id="{{ section.id }}"
></script>

{% assign enable_announcement = section.settings.show_announcement %}
{% assign homepage_only = section.settings.announcement_home_only %}
{% assign show_announcement = false %}

{% if enable_announcement and homepage_only == false %}
  {% assign show_announcement = true %}
{% endif %}

{% if enable_announcement and homepage_only and template.name == 'index' %}
  {% assign show_announcement = true %}
{% endif %}

{% if section.settings.announcement_text == blank %}
  {% assign show_announcement = false %}
{% endif %}

{% unless show_announcement %}
  {% break %}
{% endunless %}


<div
  class="pxs-announcement-bar"
  style="
    color: {{ section.settings.announcement_color }};
    background-color: {{ section.settings.announcement_background }}
  "
>
  {% if section.settings.announcement_text_mobile != blank %}
    <span class="pxs-announcement-bar-text-mobile">
      {{ section.settings.announcement_text_mobile }}{% if section.settings.popup_button != blank %}<span class="popup-trigger">{{ section.settings.popup_button }}</span>{% endif %}
    </span>
  {% endif %}

  {% if section.settings.announcement_text != blank %}
    <span class="pxs-announcement-bar-text-desktop">
      {{ section.settings.announcement_text }}{% if section.settings.popup_button != blank %}<span class="popup-trigger">{{ section.settings.popup_button }}</span>{% endif %}
    </span>
  {% endif %}
</div>

{% if section.settings.enable_popup != blank %}
  <div class="popup popup-announcement">
    <div class="popup-bg"></div>
    <div class="popup-wrapper">
      <button class="popup-close">{% render 'icon', id: 'popup-close' %}</button>
      {% if section.settings.popup_title != blank %}
        <div class="popup-title">{{ section.settings.popup_title }}</div>
      {% endif %}
      {% if section.settings.popup_content != blank %}
        <div class="popup-content">{{ section.settings.popup_content }}</div>
      {% endif %}
      {% if section.settings.p_btn_label1 != blank %}
        <a class="button button-secondary" href="{{ section.settings.p_btn_link1 | default: '#' }}">{{ section.settings.p_btn_label1 }}</a>
      {% endif %}
      {% if section.settings.p_btn_label2 != blank %}
        <a class="button button-secondary" href="{{ section.settings.p_btn_link2 | default: '#' }}">{{ section.settings.p_btn_label2 }}</a>
      {% endif %}
    </div>
  </div>
{% endif %}


<style>
  #shopify-section-pxs-announcement-bar {
    max-width: 100%;
    padding: 0px;
  }
  #shopify-section-static-header {
    margin-bottom: -100px;
    {% comment %} position: sticky !important; {% endcomment %}
    position: relative !important;
    top: 0px;
  }
  @media (max-width: 768px) {
    #shopify-section-static-header {
      margin-bottom: -70px;
    }
  }
  .pxs-announcement-bar {
    font-family: var(--font-founders);
  }
  @media (max-width: 768px) {
    .pxs-announcement-bar {
      font-size: 14px;
    }
  }
  .pxs-announcement-bar p {
    font-family: var(--font-founders);
    margin: 0px;
  }
  .pxs-announcement-bar strong {
    color: #5aacb0;
  }
  .pxs-announcement-bar p {
    display: inline-block;
  }
  .pxs-announcement-bar a {
    color: #5aacb0;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    position: relative;
    text-decoration: none;
  }
  .pxs-announcement-bar a::before {
    content: '';
    background: #FFF;
    height: 14px;
    width: 1px;
    margin-top: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .popup-announcement {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .popup-announcement.active {
    display: block;
  }
  .popup-announcement .popup-bg {
    background: #00000075;
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
  }
  .popup-announcement .popup-wrapper {
    {% if section.settings.popup_bg != blank %}
      background: url({{ section.settings.popup_bg | img_url: '800x' }});
    {% else %} 
      background: #FFF;
    {% endif %}
    background-size: cover;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 50px;
    position: absolute;
  }
  @media (max-width: 768px) {
    .popup-announcement .popup-wrapper {
      width: 95%;
      padding: 40px 20px;
    }
  }
  .popup-announcement .popup-wrapper .button {
    width: 400px;
    height: 50px;
    margin: 30px auto;
  }
  @media (max-width: 768px) {
    .popup-announcement .popup-wrapper .button {
      height: 40px;
      margin: 10px auto;
      width: 100%;
    }
  }
  .popup-announcement .popup-title {
    color: #235AA7;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: .05em;
    line-height: 1.2;
    text-transform: uppercase;
  }
  @media (max-width: 768px) {
    .popup-announcement .popup-title {
      font-size: 26px;
    }
  }
  .popup-announcement .popup-content {
    color: #1E3261;
    margin-top: 10px;
    font-family: 'Founders Grotesk Text';
    font-size: 22px;
    font-weight: 400;
  }
  @media (max-width: 768px) {
    .popup-announcement .popup-content {
      font-size: 18px;
    }
  }
  .popup-announcement .popup-close {
    background: transparent;
    border: none;
    cursor: pointer;
    right: 10px;
    top: 10px;
    position: absolute;
  }
  .popup-announcement .popup-close svg {
    display: block;
  }
  .popup-announcement .popup-close svg * {
    stroke: #31559f;
  }
</style>


{% if section.settings.enable_popup %}
<script>
  document.querySelectorAll('.pxs-announcement-bar a').forEach(($trigger) => {
    $trigger.addEventListener('click', () => {
      const $popup = document.querySelector('.popup-announcement');
      if($popup) {
        $popup.classList.add('active');
      }
    })
  })
  document.querySelectorAll('.popup-announcement .popup-close').forEach(($close) => {
    $close.addEventListener('click', () => {
      $close.closest('.popup-announcement').classList.remove('active');
    })
  })
</script>
{% endif %}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "announcement_home_only",
      "label": "Show on home page only",
      "default": false
    },
    {
      "id": "announcement_text",
      "type": "richtext",
      "label": "Text",
      "default": "<p>Call attention to a special discount, feature, or promotion here.</p>"
    },
    {
      "id": "announcement_text_mobile",
      "type": "richtext",
      "label": "Text (mobile)",
      "default": "<p>Use less text on mobile!</p>",
      "info": "Use this option if you want to display alternate text in mobile. Recommended for shortening announcement text to make suitable for mobile."
    },
    {
      "id": "announcement_link",
      "type": "url",
      "label": "Link"
    },
    {
      "id": "announcement_color",
      "type": "color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "id": "announcement_background",
      "type": "color",
      "label": "Background color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Popup"
    },
    {
      "type": "checkbox",
      "id": "enable_popup",
      "label": "Enable popup",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "Popup content"
    },
    {
      "type": "image_picker",
      "id": "popup_bg",
      "label": "Popup background"
    },
    {
      "type": "text",
      "id": "popup_title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "popup_content",
      "label": "Popup content"
    },
    {
      "type": "text",
      "id": "p_btn_label1",
      "label": "Button label1"
    },
    {
      "type": "url",
      "id": "p_btn_link1",
      "label": "Button link1"
    },
    {
      "type": "text",
      "id": "p_btn_label2",
      "label": "Button label2"
    },
    {
      "type": "url",
      "id": "p_btn_link2",
      "label": "Button link2"
    }
  ]
}

{% endschema %}