{%- assign settings = section.settings -%}
{%- assign blocks = section.blocks -%}


{% assign bg_color = settings.background_color %}
{% assign has_bg = false %}


{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}


{% capture container %}
    {{ settings.container }}
    
{% endcapture %}

<div class="questions-section" style="background-color: {{ settings.bg_color }};">
  <div class="{{ container }}">
    <h2>{{settings.title}}</h2>
    <a href="{{settings.button_link}}" {% if settings.open_new_tab != blank %} target="_blank"{% endif %}>{{settings.button_text}}</a>
  </div>
</div>

{% schema %}
{
    "name": "Question Section",
	"class": "ocean_full_width noborder",
    "settings": [
        {
            "type":"text",
            "id":"title",
            "label":"Title",
            "default": "QUESTIONS?"
        },
		{
            "type":"text",
            "id":"button_text",
            "label":"Button Text",
            "default": "CHECK OUT OUR FAQs"
        },
		{
          "type":"url",
          "id":"button_link",
          "label":"Button Link"
        },
		{
          "type": "checkbox",
          "id": "open_new_tab",
          "label": "Open Link in New tab"
        },
		{
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#E7E7E7"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        }
		
    ]
}
{% endschema %}

{% stylesheet %}

.questions-section {
    text-align: center;
    padding: 112px 0;
}

.questions-section h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.4;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on, 'case' on, 'cpsp' on;
    color: #00A3FF;
    margin: 0 0 10px;
}

.questions-section a {
    background: #6BCBC9;
    border-radius: 28px;
    padding: 19px 28px 14px;
    text-align: center;
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color: #1E3261;
	max-width: 316px;
    margin: 0 auto;
	position: relative;
	top: 0;
	transition: all ease 0.3s;
}


.questions-section a:hover {
	top: -5px
}

@media (max-width: 1024px) {
	.questions-section h2 {
		font-size: 32px;
    	line-height: 48px;
	}	
}

@media (max-width: 767px) {
	.questions-section {
        text-align: center;
        padding: 72px 0;
	}
}


{% endstylesheet %}

{% javascript %}
{% endjavascript %}
