<style>
  .section-with-bg-{{ section.id }} {
    background-image: url({{ section.settings.bg_image | img_url: '2048x' }});
  }

  @media (max-width: 768px) {
    .section-with-bg-{{ section.id }} {
      background-image: url({{ section.settings.bg_image_mobile | img_url: '1024x' }});
    }
  }
</style>
<div class="section-with-bg section-with-bg-{{ section.id }}">
  <div class="container top-content">
    <div class="material-logo">
      {% include 'rimg', img: section.settings.material_logo %}
    </div>
    <div class="section_title">{{ section.settings.title }}</div>
    <div class="description-text">{{ section.settings.description }}</div>
    <div class="scroll-down" data-scroll-down>
      {% render 'icon-arrow-down'  %}
    </div>
  </div>
  <div class="bottom-content">
    <div class="container">
      <div class="items-wrap">
        {% for block in section.blocks %}
          <div class="reduce-banner-item">
            <div class="image-wrap">
              {% include 'rimg', img: block.settings.image  %}
            </div>
            <div class="title">{{ block.settings.title }}</div>
            <div class="description-text">{{ block.settings.description }}</div>
            <div class="cta-wrap">
              <a href="{{ block.settings.btn_link }}" class="button button-secondary">{{ block.settings.btn_text }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Reduce Banner",
    "class": "reduce-banner ocean_full_width",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "bg_image_mobile",
        "label": "Background Image Mobile"
      },
      {
        "type": "image_picker",
        "id": "material_logo",
        "label": "Material Logo"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "btn_link",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Reduce Banner"
      }
    ]
  }
{% endschema %}