<style>
  .section-with-bg-{{ section.id }} {
    background-image: url({{ section.settings.bg_image | img_url: '2048x' }});
  }

  @media (max-width: 768px) {
    .section-with-bg-{{ section.id }} {
      background-image: url({{ section.settings.bg_image_mobile | img_url: '1024x' }});
    }
  }
</style>
<div class="section-with-bg section-with-bg-{{ section.id }}">
  <div class="container">
    <div class="top-content">
      <div class="eyebrow pineapple-yellow">{{ section.settings.eyebrow_text }}</div>
      <div class="section_title section_title_large white">{{ section.settings.title }}</div>
      <div class="description-text white">{{ section.settings.description }}</div>
    </div>
    <div class="resources-grid-wrap">
      {% for block in section.blocks %}
        <div class="resource-grid-item">
          <div class="image-wrap">
            <img src="{{ block.settings.image | img_url: '1024x' }}" alt="{{ block.settings.image.alt }}">
          </div>
          <div class="text-wrap">
            <div class="eyebrow pineapple-yellow">{{ block.settings.eyebrow_text }}</div>
            <div class="section_title white">{{ block.settings.title }}</div>
            <div class="description-text white">{{ block.settings.description }}</div>
            <div class="cta-wrap">
              <a href="{{ block.settings.btn_link }}" class="button button-primary">{{ block.settings.btn_text }}</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{%- schema -%}
{
  "name": "Resources Grid",
  "class": "resources-grid ocean_full_width",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image Mobile"
    },
    {
      "type": "text",
      "id": "eyebrow_text",
      "label": "Eyebrow Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "resource-item",
      "name": "Resource Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "eyebrow_text",
          "label": "Eyebrow Text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        }
      ]
    }
  ]
}
{%- endschema -%}
