{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<div class="resourceslist-collection">
    
    <a href="/blogs/ocean-plastic-case-studies" class="resourceslist-item">
    <div class="resourceslist-item-inner">
      <h2>Case Studies</h2>
      <p>Learn about some of our customers' journeys and their Oceanworks® campaigns.</p>
      <span>Learn More &raquo;</span>
    </div>
    </a>
    <a href="/blogs/ocean-plastic-news" class="resourceslist-item">
    <div class="resourceslist-item-inner">
      <h2>Blog</h2>
      <p>We're writing about all things recycled plastic, industry updates, and how we're working with our customers to save our oceans.</p>
      <span>Check It Out &raquo;</span>
    </div>
    </a>
    <a href="https://oceanworks.zendesk.com/hc/en-us" target="_blank" class="resourceslist-item">
    <div class="resourceslist-item-inner">
      <h2>FAQs</h2>
      <p>We have answered the most frequently asked questions about working with Oceanworks.</p>
      <span>Read Now &raquo;</span>
    </div>
    </a>
    
  </div>

