<div class="container text-center">
  {% if section.settings.title != blank %}
    <h2 class="section_title inshore-blue">{{ section.settings.title }}</h2>
  {% endif %}
  {% if section.settings.subtitle != blank %}
    <div class="description-text m-auto">{{ section.settings.subtitle }}</div>
  {% endif %}
  {% if section.settings.btn_label != blank %}
    <div class="btn-wrapper">
      <a class="button button-primary button-large no-radius m-auto" href="{{ section.settings.btn_link }}">{{ section.settings.btn_label }}</a>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Richtext",
  "class": "section-richtext",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ]
}
{% endschema %}