{% assign menu_count = 0 %}

{% if shop.customer_accounts_enabled %}
  {% assign menu_count = menu_count | plus: 1 %}
{% endif %}

{% for block in section.blocks %}
  {% if block.type == 'menu' %}
    {% assign menu_count = menu_count | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign social_count = 0 %}

{%- if section.settings.enable_social -%}
  {%- if settings.social_facebook != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_twitter != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_pinterest != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_instagram != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_vimeo != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_youtube != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_medium != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_email != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}

  {%- if settings.social_rss != blank -%}
    {% assign social_count = social_count | plus: 1 %}
  {%- endif -%}
{%- endif -%}

<!--
<div id="resin-request" class="shopify-section section-twitter shopify-section-last" style="border-top: 1px solid #e6e6e6; padding-top: 60px; padding-bottom: 60px;">

  <h4 class="section-twitter-title">
    Can't Find What You're Looking For?
  </h4>

  <article class="tweet">
    <div class="tweet-content" data-tweet-content="" data-rimg="lazy">
      We specialize in sourcing ocean plastics globally. Just let us know what you're looking for.
    </div>

    <a class="tweet-username" href="/pages/contact" target="_blank">
      Request a Resin &raquo;
  	</a>
  </article>

</div>
-->

<footer class="site-footer">


  <div class="site-footer-item site-footer-nav">
    <nav class="footnav footnav-count-{{ menu_count }}">
      {% for block in section.blocks %}
        <div class="footnav-item footnav-item-{{ block.type }}" {{ block.shopify_attributes }}>

          {% if block.type == 'richtext' %}
            <div class="footer-logo">
              {% if section.settings.logo_link != blank and section.settings.footer_logo != blank %}
                <a href="{{section.settings.logo_link}}">
                    <img src="{{ section.settings.footer_logo | img_url: ''}}">
                </a>
              {% endif %}
            </div>
            <h1 class="footnav-title">
              {% if block.settings.title_link != blank %}
              	<a href="{{ block.settings.title_link }}">
              {% endif %}
              	{{ block.settings.title | escape }}
              {% if block.settings.title_link != blank %}
              </a>
              {% endif %}

            </h1>
            <div class="footnav-rte">{{ block.settings.content }}</div>
          {% endif %}

          {% if block.type == 'menu' %}
            {% if section.settings.enable_newsletter %}{% include 'newsletter' %}{% endif %}
            {% assign menu = linklists[block.settings.menu] %}
            <ul class="footnav-menu">
              {% for link in menu.links %}
                {% if forloop.first %}
                  <div>
                {% endif %}
                  <li class="footnav-menu-link">
                    <a href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% if forloop.index == 4 %}
                  </div>
                  <div>
                {% endif %}
                {% if forloop.last %}
                  </div>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}

          {% if block.type == 'customer' %}
            {% if shop.customer_accounts_enabled %}
              <h1 class="footnav-title">{{ block.settings.title | escape }}</h1>
              <ul class="footnav-menu">
                {% if customer %}
                  <li class="footnav-menu-link">
                    <a href="/account">{{ 'footnav.account.logged_in_html' | t: user_name: customer.first_name }}</a>
                  </li>
                  <li class="footnav-menu-link">
                    {{ 'footnav.account.logout' | t | customer_logout_link }}
                  </li>
                {% else %}
                  <li class="footnav-menu-link">
                    {{ 'footnav.account.login' | t | customer_login_link }}
                  </li>
                  {% if shop.customer_accounts_optional %}
                    <li class="footnav-menu-link">
                      {{ 'footnav.account.register' | t | customer_register_link }}
                    </li>
                  {% endif %}
                {% endif %}
              </ul>
            {% endif %}
          {% endif %}
          {% if forloop.index0 == 2 %}
            {% if section.settings.enable_payment_icons and shop.enabled_payment_types.size > 0 %}
              <div class="site-footer-item">
                <div class="payment">
                  {% for type in shop.enabled_payment_types %}
                    <div class="payment-type">
                      {{ type | payment_type_svg_tag }}
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </nav>
  </div>


  <div class="site-footer-bottom">
    <div class="copyright">
      {% capture year %}
        {{ 'now' | date: '%Y' }}
      {% endcapture %}

      {{ 'general.general.copyright_html' | t: year: year, shop_name: shop.name }}
    </div>
    <div class="site-footer-social">
      {% include 'social' %}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "class": "ocean_full_width noborder",
  "settings": [
	{
      "type":"url",
      "id":"logo_link",
      "label":"Footer Logo Link"
	},
	{
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
	},
    {
      "type": "checkbox",
      "id": "enable_newsletter",
      "label": "Show newsletter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_social",
      "label": "Show social accounts",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_payment_icons",
      "label": "Show payment icons",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "richtext",
      "name": "Rich text",
      "limit": 2,
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Heading",
          "default": "About"
        },
		{
          "id": "title_link",
          "type": "url",
          "label": "Title Link"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "Content",
          "default": "<p>Use this space to give credit where it's due, reinforce your brand identity, shop policy, or company motto.</p>"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "limit": 6,
      "settings": [
        {
          "id": "menu",
          "type": "link_list",
          "label": "Menu",
          "info": "This menu won't show dropdown items"
        }
      ]
    },
    {
      "type": "customer",
      "name": "Customer links",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Show Log In and Register links. Ensure you've enabled customer accounts in the Checkout settings of your Shopify admin."
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "Account"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "richtext",
        "settings": {}
      },
      {
        "type": "menu",
        "settings": {
          "menu": "footer"
        }
      },
      {
        "type": "customer",
        "settings": {}
      }
    ]
  },
  "locales": {
    "en": {
      "footnav": {
        "about": {
          "title": "About"
        },
        "account": {
          "login": "Log in",
          "logout": "Log out",
          "register": "Register",
          "logged_in_html": "Logged in as {{ user_name }}"
        }
      },
      "copyright_html": "Copyright &copy; {{ year }} {{ shop_name }}."
    }
  }
}

{% endschema %}