{%- assign settings = section.settings -%}
{%- assign blocks = section.blocks -%}


{% assign bg_color = settings.background_color %}
{% assign has_bg = false %}


{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}


{% capture container %}
    {{ settings.container }}
    
{% endcapture %}


<div class="social-banner" style="background-color: {{settings.solid_bg}}">
  <div class="social-banner-img desktop-view" style="background: linear-gradient({{settings.background_img_degree}}deg, {{settings.img_first_color}}, {{settings.img_second_color}}),url('{{ settings.background_image | img_url: ''}}');">
    <div class="banner-gradient" 
         style="background: linear-gradient({{settings.gradient_degree}}deg, {{settings.first_gradient_color}} {{settings.first_gradient_height}}%, {{settings.second_gradient_color}} {{settings.second_gradient_height}}%);
        opacity: {{settings.gradient_opacity}};
        transform: rotate({{settings.gradient_rotation_degree}}deg);">
    </div>
  </div>
  <div class="social-banner-img mobile-view" style="background: linear-gradient({{settings.m_background_img_degree}}deg, {{settings.m_img_first_color}}, {{settings.m_img_second_color}}),url('{{ settings.background_image | img_url: ''}}');">
    <div class="banner-gradient" 
         style="background: linear-gradient({{settings.m_gradient_degree}}deg, {{settings.m_first_gradient_color}} {{settings.m_first_gradient_height}}%, {{settings.m_second_gradient_color}} {{settings.m_second_gradient_height}}%);
        opacity: {{settings.m_gradient_opacity}};
        transform: rotate({{settings.m_gradient_rotation_degree}}deg);">
    </div>
  </div>
  <div class="{{ container }}">
    <div class="social-banner-top">
      {% if settings.banner_title != blank %}
      <h1>{{ settings.banner_title }}<sup>{{settings.logo_icon}}</sup></h1>
      {% endif %}
      <a href="{{settings.button_link}}">
        {{settings.button_text}}
        <span class="arrow-down">
        	<img src="https://cdn.shopify.com/s/files/1/0552/1155/6951/files/light-arrow-down.png?v=1651819965">
        </span>
      </a>
    </div>
    <div class="social-banner-bottom" id="bannerBottom">
      <div class="small-container">
        <h6>{{settings.heading}}</h6>
        <h3>{{settings.red_heading}}</h3>
        <p>{{settings.description}}</p>
      </div>
      
      <div class="banner-box-wrapper">
        {% for block in blocks %}
        <div class="banner-box">
          <div>
            <h4>{{ block.settings.box_heading }}</h4>
            <p>{{ block.settings.box_description }}</p>
          </div>
          
          	{% if block.settings.box_external_link != blank%}
          		<a href="{{block.settings.box_external_link}}"  {% if block.settings.open_new_tab != blank %} target="_blank"{% endif %} >{{block.settings.box_button_text}}</a>
          	{% else %}
          		<a href="{{block.settings.box_button_link}}" {% if block.settings.open_new_tab != blank %} target="_blank"{% endif %}>{{block.settings.box_button_text}}</a>
          	{% endif %}
          
        </div>
        {% endfor %}
      </div>
      
    </div>
  </div>
</div>

{% schema %}
{
    "name": "Social Banner",
	"class": "ocean_full_width noborder",
    "settings": [
		{
            "type": "color",
            "id": "solid_bg",
            "label": "Solid Background Color",
            "default": "#1E3261"
        },
		{
            "type":"text",
            "id":"background_img_degree",
            "label":"Background Image Degree Value",
            "default": "0"
        },
		{
            "type":"text",
            "id":"img_first_color",
            "label":"Image First Gradient Color In RGBA or HEX Code",
            "default": "rgba(30, 50, 97, 0.27)"
        },
		{
            "type":"text",
            "id":"img_second_color",
            "label":"Image Second Gradient Color In RGBA or HEX Code",
            "default": "rgba(30, 50, 97, 0.27)"
        },
		{
            "type":"text",
            "id":"first_gradient_color",
            "label":"First Gradient Color In RGBA or HEX Code",
            "default": "#1E3261"
        },
		{
            "type":"text",
            "id":"first_gradient_height",
            "label":"First Gradient Height in percentage",
            "default": "76.04"
        },
		{
            "type":"text",
            "id":"second_gradient_color",
            "label":"Second Gradient Color In RGBA",
            "default": "rgba(30, 50, 97, 0)"
        },
		{
            "type":"text",
            "id":"second_gradient_height",
            "label":"Second Gradient Height in percentage",
            "default": "100"
        },
		{
            "type":"text",
            "id":"gradient_degree",
            "label":"Gradient Degree Value",
            "default": "180"
        },
		{
			"type":"text",
            "id":"gradient_opacity",
            "label":"Gradient Opacity",
			"default": "0.64"
		},
		{
            "type":"text",
            "id":"gradient_rotation_degree",
            "label":"Gradient Rotation Degree Value",
            "default": "-180"
        },
		{
            "type":"text",
            "id":"m_background_img_degree",
            "label":"Mobile Background Image Degree Value",
            "default": "0"
        },
		{
            "type":"text",
            "id":"m_img_first_color",
            "label":"Mobile Image First Gradient Color In RGBA or HEX Code",
            "default": "rgba(30, 50, 97, 0.95)"
        },
		{
            "type":"text",
            "id":"m_img_second_color",
            "label":"Mobile Image Second Gradient Color In RGBA or HEX Code",
            "default": "rgba(30, 50, 97, 0.27)"
        },
		{
            "type":"text",
            "id":"m_first_gradient_color",
            "label":"Mobile First Gradient Color In RGBA or HEX Code",
            "default": "#1E3261"
        },
		{
            "type":"text",
            "id":"m_first_gradient_height",
            "label":"Mobile First Gradient Height in percentage",
            "default": "76.04"
        },
		{
            "type":"text",
            "id":"m_second_gradient_color",
            "label":"Mobile Second Gradient Color In RGBA",
            "default": "rgba(30, 50, 97, 0)"
        },
		{
            "type":"text",
            "id":"m_second_gradient_height",
            "label":"Mobile Second Gradient Height in percentage",
            "default": "100"
        },
		{
            "type":"text",
            "id":"m_gradient_degree",
            "label":"Mobile Gradient Degree Value",
            "default": "180"
        },
		{
			"type":"text",
            "id":"m_gradient_opacity",
            "label":"Mobile Gradient Opacity",
			"default": "0.64"
		},
		{
            "type":"text",
            "id":"m_gradient_rotation_degree",
            "label":"Mobile Gradient Rotation Degree Value",
            "default": "-180"
        },
        {
            "type":"text",
            "id":"banner_title",
            "label":"Banner Title",
            "default": "Create your own impac"
        },
		{
            "type":"text",
            "id":"logo_icon",
            "label":"Logo Plus Icon",
            "default": "+"
        },
		{
            "type":"url",
            "id":"button_link",
            "label":"Button Link"
        },
		{
            "type":"text",
            "id":"button_text",
            "label":"Button Text",
            "default": "HERE IS HOW"
        },
		{
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default": "THE MOST COST-EFFECTIVE WAY TO"
        },
		{
            "type":"text",
            "id":"red_heading",
            "label":"Red Heading",
            "default": "offset your plastic footprint"
        },
		{
            "type":"textarea",
            "id":"description",
            "label":"Description",
            "default": "Oceanworks® is a Plastic Action Platform and our Impac+ program directly delivers and guarantees the removal of plastic waste from the environment."
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
		{
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
		}
		
    ],
	"max_blocks": 3,
    "blocks": [
        {
            "type": "banner_box",
            "name": "Banner Box",
            "settings": [
                 {
                    "type":"text",
                    "id":"box_heading",
                    "label":"Box Heading",
                    "default": "ALIGN"
                },
                {
                    "type":"textarea",
                    "id":"box_description",
                    "label":"Box Description",
					"default":"66% of people (73% of Millenials) are willing to pay more for products and services from companies committed to positive social and environmental impact."
                },
				{
                  "type":"url",
                  "id":"box_button_link",
                  "label":"Box Button Link"
                },
                {
                      "type": "text",
                      "id": "box_external_link",
                      "label": "Box External Link"
                },

                {
                      "type": "checkbox",
                      "id": "open_new_tab",
                      "label": "Open Link in New tab"
                },
				{
                    "type":"text",
                    "id":"box_button_text",
                    "label":"Box Button Text",
                    "default": "LEARN MORE"
                }                
				
            ]
        }
    ],
    "presets": [
        {
            "name": "Social Banner",
            "category": "Custom",
            "blocks": [
                {
                    "type": "banner_box"
                }
            ]
        }
    ]
}
{% endschema %}

{% stylesheet %}

	.social-banner {
		text-align: center;
		color: #ffffff;
		padding: 00135px;
		position: relative;
    }

	.social-banner .container {
		position: relative;
	}

	.banner-gradient {
		position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
	}

	.social-banner-img {
		position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
		background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
	}

	.social-banner-top {
		min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

	.social-banner-top h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 64px;
        color: #FFFFFF;
        text-shadow: 0px 0px 16px rgb(0 33 52 / 26%);
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
		margin: 0 auto;
    	max-width: 700px;
	}

	.social-banner-top h1 sup {
		font-size: 76px;
        font-weight: 600;
        top: -8px;
        left: 8px;
	}

	.banner-box-wrapper {
    	display: flex;
		margin: 80px -35px 0;
		justify-content: center;
	}

	.banner-box {
        margin: 0 35px;
		width: 33%;
    	display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 

	.social-banner-top a {
        color: #FFFFFF;
        text-shadow: 0px 0px 16px rgb(0 33 52 / 26%);
        letter-spacing: 0.31em;
        font-family: 'Founders Grotesk Condensed';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
    }

	.social-banner-top .arrow-down {
        display: block;
        margin: 18px 0 0;
    }

	.small-container {
        max-width: 80%;
        margin: 0 auto;
    }

    .social-banner-bottom {
        /*padding-top: 100px;*/
    }

	.social-banner-bottom h6 {
        font-family: 'Founders Grotesk Condensed' !important;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.31em;
        color: #FFFFFF;
        margin: 24px 0px;
    }

    .social-banner-bottom h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #F26969;
        font-feature-settings: 'pnum' on, 'lnum' on, 'case' on, 'cpsp' on;
		margin: 24px 0px;
    }

	
    .social-banner-bottom p {
        font-family: 'WilliamsCaslonText';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        margin: 16px 0px;
    }

	.banner-box h4 {
        font-family: 'Founders Grotesk Condensed' !important;
        font-style: normal;
        font-weight: 700;
        font-size: 33px;
        line-height: 40px;
        color: #fff;
        letter-spacing: 6.51042px;
        text-transform: uppercase;
		margin: 24px 0px 12px;
    }

	.social-banner-bottom .banner-box p {
        font-family: 'WilliamsCaslonText';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }

	.banner-box a {
        background: #F26969;
        border-radius: 28px;
        display: block;
        padding: 19px 28px 14px;
        font-family: 'Narin';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        max-width: 212px;
        margin: 39px auto;
		position: relative;
        top: 0;
        transition: all ease 0.3s;
		width: 100%;
    }

	.banner-box a:hover {
        top: -5px;
    }

	.mobile-view {
		display: none;
	}

	#bannerBottom {
        margin-top: -100px;
        padding-top: 100px;
		overflow: hidden;
    }


	@media (min-width:1921px) {

		.project-bg {
			width: 100%;
    		height: 1190px;
		}


	}
	
	@media (max-width: 1024px) {
		
		.social-banner-top h1 {
			font-size: 32px;
			line-height: 48px;
		}		

		.social-banner-top a {
			font-size: 20px;
			line-height: 30px;
		}

		.social-banner-bottom h6 {
			font-size: 20px;
			line-height: 24px;
		}

		.social-banner-bottom h3 {
			font-size: 32px;
			line-height: 48px;
			margin: 0 0 16px;
		}

		.social-banner-bottom .banner-box p {
			margin: 0;
		}

		.banner-box h4 {
			margin: 0 0 24px;
		}

		.banner-box a {
			margin: 32px auto;
		}

		.small-container {
			max-width: 90%;
		}

		.social-banner-top h1 sup {
			font-size: 36px;
            top: -5px;
            left: -2px;
        }

	}

	@media (max-width:991px) {

		.banner-box-wrapper {
			flex-wrap: wrap;
		}

	}

	@media (max-width: 767px) {

		.social-banner-img {
			height: 80%;
		}

		.banner-box-wrapper {
        	flex-wrap: wrap;
      	}

		.banner-box {
			width: 100%;
		}

		.social-banner {
			padding: 135px 0 46px;
		}

		.social-banner-bottom h6 {
			max-width: 298px;
    		margin: 24px auto;
			font-weight: 700;
		}

		.social-banner-top .arrow-down {
			margin: 5px 0 0;
		}

		.social-banner-bottom p {
			font-size: 20px;
    		line-height: 32px;
		}

		.social-banner-bottom .banner-box p {
			font-size: 16px;
    		line-height: 30px;
		}

		.mobile-view {
			display: block;
		}

		.desktop-view {
			display: none;
		}

	}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
