{% if section.settings.image != blank %}
     	{%- assign bgImage = section.settings.image | img_url: '1400x' -%}
{%- endif -%}


  <div class="shopify-section-page-header-with-background hero-image" style="background-image: url( {{ bgImage }} ); background-size: cover;">
   
    
        <div class="hero-text">
      <div class="hero-header">
            {%- if section.settings.title != blank -%}
              <h2 class="SectionHeader__Heading">{{ section.settings.title }}  </h2>
            {%- endif -%}
                   {%- if section.settings.subtitle != blank -%}
              <h3 class="SectionHeader__SubHeading" >{{ section.settings.subtitle | escape }}</h3>
            {%- endif -%}


            {%- if section.settings.button_1_text != blank or section.settings.button_2_text != blank -%}
              <div class="SectionHeader__ButtonWrapper">
                <div class="ButtonGroup ButtonGroup--spacingSmall {% if has_two_buttons %}ButtonGroup--sameSize{% endif %}">
                  {%- if section.settings.button_1_text != blank -%}
                    <a href="{{ section.settings.button_1_link }}" class="ButtonGroup__Item Button">{{ section.settings.button_1_text | escape }}</a>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
      </div>
    </div>  
    
    
  </div>
  
<style>
     .shopify-section-page-header{width:100%!important;;}
  
    .hero-image {
      display:flex;flex-direction:column;justify-content:center;
      align-items:center;color:{{ section.settings.text_color }};height:600px;}
  
  #section-{{ section.id }} .Button {
    color: {{ section.settings.button_color }};
    border-color: {{ section.settings.button_background }};
  }

  #section-{{ section.id }} .Button::before {
    background-color: {{ section.settings.button_background }};
  }
  
  h2.SectionHeader__Heading, h3.SectionHeader__SubHeading {color:{{ section.settings.text_color }};}
  
@media screen and (min-width: 1240px){

}
  
</style>

{% schema %}
{
  "name": "Trusted Sourcing",
  "class": "shopify-section full-width",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_fullscreen",
      "label": "Show full-screen images",
      "info": "If enabled, images will be resized to fit the entire screen.",
      "default": true
    },
 	{
      "type": "image_picker",
      "id": "image",
      "label": "Hero Image"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button text",
      "default": "#363636"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "#ffffff"
    },
	{
      "type": "text",
      "id": "title",
      "label": "Header Title",
      "default": "Variety of Choices, One t Away"
    },
	{ "type": "text",
      "id": "subtitle",
      "label": "Header Subtitle",
	  "default": "HDPE, PET, PP, and Fiber. We have what you need, with material samples and high volumes readily available"

    }
  ]
}

{% endschema %}