{%- include 'bold-cart' -%}
<script
        type="application/json"
        data-section-type="static-cart"
        data-section-id="{{ section.id }}"
        data-section-data>
  {
    "money_format": {{ shop.money_format | json }},
      "button_update_shipping_title": {{ 'cart.button_update_shipping_title' | t | json }},
        "button_update_shipping_disabled_title": {{ 'cart.button_update_shipping_disabled_title' | t | json }},
          "money_format": {{ shop.money_with_currency_format | json }},
            "customer_logged_in": {%- if customer -%}true{%- else -%}false{%- endif -%}
  }
</script>

<h1 class="cart-title">{{ 'cart.title' | t }}</h1>
<h2 class="cart-empty-message{% if cart.items.size != 0 %} cart-empty-message-hidden{% endif %}" data-cart-empty-message>{{ 'cart.empty' | t }}</h2>

{% comment %}
<div id="become-a-member" class="shopify-section section-featured-collections" style="display: none; margin-bottom: 25px; background: #235aa7; padding: 50px; color: white;"> 

  <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-left">
      <div class="collection-featured-item-info">
        <h4 class="collection-featured-item-title" style="color: white;"><a href="/account/register">
          Become a Member to Checkout
          </a></h4>
        <div class="collection-featured-item-description">
          <div class="page" title="Page 3">
            <div class="section">
              <div class="layoutArea">
                <div class="column">
                  <p>
                    Oceanworks requires a membership to our marketplace to order samples and tonnage. Add a membership to your cart to proceed.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="collection-featured-item-cta" href="/products/oceanworks-marketplace-membership" style="color: white;">
          <span class="collection-featured-item-cta-text">Add Your Membership</span>
          <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
            <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
            </svg>
          </span>
        </a>
      </div>
      <figure class="collection-featured-item-image">
        <a href="/products/oceanworks-marketplace-membership">
          <img src={{ 'whale_white.png' | asset_img_url: '900x' }} alt="Recycled ocean plastic solutions for growing sustainable brands.">
        </a>
      </figure>
    </article>
  </section>

</div>
{% endcomment %}

<form class="cart-form{% if cart.items.size == 0 %} cart-empty{% endif %}" action="/cart" method="post" data-cart-form>
  <section class="cart-items" data-cart-items>
    {%- for item in cart.items -%}
    {%- include 'bold-options-hybrid-cart-item' with item -%}
    {% comment %}{%- include 'bold-cart-item' with item -%}{% endcomment %}
    {%- include 'cart-item', item: item -%}
    {%- endfor -%}
  </section>

  {%- if section.settings.show_notes -%}
  <section class="cart-note">
    <textarea
              class="cart-note-content"
              name="note"
              placeholder="{{ section.settings.notes_placeholder | escape }}"
              aria-label="{{ 'cart.notes' | t }}">{{ cart.note }}</textarea>
  </section>
  {%- endif -%}

  <section class="cart-totals">
    <div class="cart-discounts" data-cart-discounts>
      {% for discount_application in cart.cart_level_discount_applications %}
      <div class="cart-discount">
        <span class="cart-discount-title">
          {%- include 'icon', id: 'sale-tag', class: 'cart-discount-sale-tag' -%}
          {{ discount_application.title }}
        </span>

        <span class="cart-discount-amount">
          -<span class="money">{{ discount_application.total_allocated_amount | money }}</span>
        </span>
      </div>
      {% endfor %}
    </div>

    <div class="cart-total-row">
      <span class="cart-total-row-title">{{ 'cart.totals.subtotal_title' | t }}</span>
      <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>
      <span class="cart-total-row-value money" data-cart-subtotal>
        {{ bold_cart_total_price | money }}
      </span>
    </div>

    {% comment %}
    {% unless section.settings.enable_menu_form %}
    {% include 'shipping-calculator', inline: true %}
    {% endunless %}
    {% endcomment %}

    {% comment %}
    <div style="margin-top: 10px; padding: 20px; border: 1px solid #e6e6e6;">
      <input type="hidden" id="attributes[I understand that by proceeding to checkout I am agreeing to the Oceanworks Terms of Service and Terms and Conditions.]" name="attributes[I understand that by proceeding to checkout I am agreeing to the Oceanworks Terms of Service and Terms and Conditions.]" value="No">
      <input id="agree-to-terms" class="required" type="checkbox" name="attributes[I understand that by proceeding to checkout I am agreeing to the Oceanworks Terms of Service and Terms and Conditions.]" value="Yes"{% if true == flase and cart.attributes["I understand that by proceeding to checkout I am agreeing to the Oceanworks Terms of Service and Terms and Conditions."] == "Yes" %} checked{% endif %}>
      <label for="attributes[I understand that by proceeding to checkout I am agreeing to the Oceanworks Terms of Service and Terms and Conditions.]">&nbsp;I understand that by proceeding to checkout I am agreeing to the Oceanworks <a href="/pages/terms-of-service" target="_blank" style="color: #235aa7 !important;">Terms of Service</a> and <a href="/pages/terms-and-conditions" target="_blank" style="color: #235aa7 !important;">Terms and Conditions</a>.</label>
    </div>
    {% endcomment %}

    <div style="margin-top: 10px; padding: 20px; font-size: 12px; color: #999; text-align: center;">
      I understand that by proceeding to checkout I am agreeing to the <a href="/pages/oceanworks-platform-terms-conditions" target="_blank" style="color: #235aa7 !important;">Oceanworks Platform Terms and Conditions</a>.
    </div>

    {% if section.settings.enable_menu_form %}
    <noscript>
      {% endif %}
      <button
              class="cart-totals-checkout"
              type="submit"
              name="checkout">
        {% if section.settings.enable_checkout_lock_icon %}
        {% include 'icon',
            id: 'checkout-lock',
        %}
        {% endif %}
        <span>{{ 'cart.button_checkout_title' | t }}</span>
      </button>
      {% if section.settings.enable_menu_form %}
    </noscript>
    {% endif %}

    {% if additional_checkout_buttons %}
    <span class="additional-checkout-buttons">
      <div class="
                  cart-additional-checkout-buttons
                  {% if section.settings.enable_menu_form == false %}cart-additional-checkout-buttons-inline{% endif %}
                  ">
        {{ content_for_additional_checkout_buttons }}
      </div>
    </span>
    {% endif %}
  </section>

  {% if section.settings.enable_menu_form %}
  {%- include 'cart-menu' -%}
  {% endif %}

</form>

{% schema %}
{
"name": "Cart page",
"class": "section-cart",
"settings": [
{
"type": "checkbox",
"id": "enable_checkout_lock_icon",
"label": "Show lock icon on checkout button",
"default": false
},
{
"type": "checkbox",
"id": "enable_menu_form",
"label": "Enable bottom menu",
"default": true,
"info": "Displays shipping calculator and checkout in a sticky bottom menu."
},
{
"id": "show_notes",
"type": "checkbox",
"label": "Show notes",
"default": true
},
{
"id": "notes_placeholder",
"type": "text",
"label": "Notes placeholder text",
"default": "Write any special instructions for your shipment here"
},
{
"id": "shipping_calculator_default_country",
"type": "text",
"label": "Shipping calculator default country",
"default": "United States"
}
]
}

{% endschema %}