{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
{% capture added_to_cart_link %}
  {% include 'icon', id: 'checkmark' %}
  {{ 'product.added_to_cart_link_html' | t }}
{% endcapture %}

{% assign gallery_position = section.settings.gallery_position_desktop %}
{% assign gallery_position_mobile = section.settings.gallery_position_mobile %}
{% assign gallery_layout = section.settings.gallery_layout %}

{% if section.settings.enable_menu_form %}
  {% assign enable_inline_form = false %}
{% else %}
  {% assign enable_inline_form = true %}
{% endif %}

{% comment %}
Standard layout is the full size, scrollable image list
Alternate layout is any of the thumbnail layouts
{% endcomment %}
{% assign layout = 'standard' %}
{% if gallery_layout contains 'thumbnails' %}
  {% assign layout = 'alternate' %}
{% endif %}

{% assign thumbnails_direction = 'vertical' %}
{% if gallery_layout contains 'bottom' %}
  {% assign thumbnails_direction = 'horizontal' %}
{% endif %}

<br/><br/>

<script
  type="application/json"
  data-section-type="static-product"
  data-section-id="{{ section.id }}"
  data-section-data>
  {
    "product": {{ product | json }},
    "selected_variant": {{ product.selected_variant | json }},
    "selected_or_first_available_variant": {{ bold_selected_or_first_available_variant | json }},
    "money_format": {{ shop.money_format | json }},
    "form_is_inline": {{ enable_inline_form | json }},
    "enable_cart_redirection": {{ section.settings.enable_cart_redirection | json }},
    "use_history": true,
    "images_layout": {{ layout | json }},
    "thumbnails_direction": {{ thumbnails_direction | json }},
    "text": {
      "added_to_cart_link": {{ added_to_cart_link | json }},
      "product_available": {{ 'product.add_to_cart.available' | t | json }},
      "product_unavailable": {{ 'product.add_to_cart.unavailable' | t | json }}
    }
  }
</script>

{% if enable_inline_form %}
  <div class="product-alert">
    <div class="product-alert-content">
      <div class="product-alert-dismiss">{% include 'icon', id: 'close' %}</div>
      <div class="product-alert-message"></div>
    </div>
  </div>
{% endif %}

{% assign productTags = product.tags | join:',' | downcase %}


{% assign consumer_friendly = false %}
{% if productTags contains 'priced' %}
{% assign consumer_friendly = true %}
{% endif %}

{% if customer %}
{% if productTags contains 'tc,' or productTags contains ',tc' %}
<div style="margin-bottom: 25px; padding: 15px; border-bottom: 1px solid #EEE; text-align: center;">
<img src="{{ 'Oceanworks_Ocean_Plastic_and_Terracycle.jpg' | asset_img_url: '900x' }}"
         style="width: 50%; max-width: 400px; margin: 0 auto;" />
</div>
{% elsif productTags contains 'tide' %}
<div style="margin-bottom: 25px; padding: 15px; border-bottom: 1px solid #EEE; text-align: center;">
<img src="{{ 'OW_Tide_Oceanworks.png' | asset_img_url: '900x' }}"
         style="width: 50%; max-width: 400px; margin: 0 auto;" />
</div>
{% endif %}
{% endif %}


  {% capture product_images %}
 
    {%
      include 'product-images',
      gallery_layout: gallery_layout,
      gallery_position: gallery_position,
      layout: layout,
    %}
  
      
      
    
  {% endcapture %}


{% capture product_vendor_title_price %}
  {% if section.settings.show_product_vendor %}
    <h2 class="product-vendor">
      <a href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
    </h2>
  {% endif %}

  <h1 class="product-title" style="margin-bottom: 3px;">{{ product.title }}</h1>
<div style="margin-bottom: 8px; font-style: italic; font-size: 14px; color: rgba(102,102,102,0.5);">SKU: {{ product.selected_or_first_available_variant.sku }}</div>


{% if product.metafields.oceanworks.api___source_type %}
<div class="product-line-box">
  <a href="https://oceanworks.co/pages/ocean-plastics-collection-areas" style="color: white; text-decoration: none;">
    {{product.metafields.oceanworks.api___source_type}}
    <img src="https://cdn.shopify.com/s/files/1/0022/9847/8638/t/39/assets/info-circle.png?v=1619446740" style="width: 10px; display: inline;" />
  </a>
</div>
{% endif %}




  {% include 'product-price' %}

      <div class="payment" style="display: none; padding-top: 15px; padding-bottom: 20px;">
        {% for type in shop.enabled_payment_types %}
          <div class="payment-type" style="margin-left: 2px; margin-right: 2px;">
            {{ type | payment_type_svg_tag }}
          </div>
        {% endfor %}
      </div>

{% endcapture %}

{% capture product_details %}
  <section class="product-details product-details-relative {{product.tags | join:' tag-' | downcase}}" data-product-details>
    {% if enable_inline_form %}
      {% include 'breadcrumbs' %}
    {% endif %}
    
{% if product.metafields.oceanworks.api___combined_product_type and product.metafields.oceanworks.api___combined_product_type contains "Zipper" %}
<img src="{{ 'ykk_200x80' | append: '.png' | asset_img_url: '300x' }}"
   style="margin-top: 20px; margin-bottom: 5px; width: 100px; height: auto !important;" />
{% endif %}

    {{ product_vendor_title_price }}
	 <form action="/cart" method="post">
       <input type="hidden" name="id" value="{{product.selected_or_first_available_variant.id}}"/>
    <div class="product-rte rte" style="margin-bottom: 0px;">
      
      
      {% if product.available == false %}
      <div class="product-box product-box-inverse">
        <img src="{{ 'forklift-icon' | append: '.png' | asset_img_url: '300x' }}"
           style=""
           class="product-box-icon" />
        <span class="product-box-maintext">Bulk Orders Only</span><br/>
        <span class="product-box-subtext">Samples are not currently available.</span>
      </div>
      {% endif %}
      
      
      {% comment %}
      {% if customer %}
      {% assign showMOQ = false %}
      {% if product.metafields.oceanworks.customer_sample_moq and product.metafields.oceanworks.customer_sample_moq != "" %}{% assign showMOQ = true %}{% endif %}
      {% if product.metafields.oceanworks.customer_bulk_moq and product.metafields.oceanworks.customer_bulk_moq != "" %}{% assign showMOQ = true %}{% endif %}
		{% if showMOQ == true %}
        <div class="product-box dk-blue">
          <span class="product-box-maintext">
            {% if product.available %}
                {% if product.metafields.oceanworks.customer_sample_moq and product.metafields.oceanworks.customer_sample_moq != "" %}<div class="product-detail-lineitem"><strong>Sample MOQ:</strong> {{product.metafields.oceanworks.customer_sample_moq}}</div>{% endif %}
            {% endif %}
            {% if product.metafields.oceanworks.customer_bulk_moq and product.metafields.oceanworks.customer_bulk_moq != "" %}<div class="product-detail-lineitem"><strong>Bulk MOQ:</strong> {{product.metafields.oceanworks.customer_bulk_moq}}</div>{% endif %}
          </span>
        </div>
      {% endif %}
      {% endif %}
      
      {% assign showLeadTime = false %}
      {% if product.metafields.oceanworks.sample_lead_time and product.metafields.oceanworks.sample_lead_time != "" %}{% assign showLeadTime = true %}{% endif %}
      {% if product.metafields.oceanworks.bulk_lead_time and product.metafields.oceanworks.bulk_lead_time != "" %}{% assign showLeadTime = true %}{% endif %}
      {% if showLeadTime == true %}
      <div class="product-box teal">
        <span class="product-box-maintext">
          {% if product.available %}
          	{% if product.metafields.oceanworks.sample_lead_time and product.metafields.oceanworks.sample_lead_time != "" %}<div class="product-detail-lineitem"><strong>Sample Lead Time:</strong> {{product.metafields.oceanworks.sample_lead_time}}</div>{% endif %}
          {% endif %}
          {% if product.metafields.oceanworks.bulk_lead_time and product.metafields.oceanworks.bulk_lead_time != "" %}<div class="product-detail-lineitem"><strong>Bulk Lead Time:</strong> {{product.metafields.oceanworks.bulk_lead_time}}</div>{% endif %}
        </span>
      </div>
      {% endif %}
      {% endcomment %}
      
      {% if customer %}
      {% assign showMOQAndLeadTime = false %}
      {% if product.metafields.oceanworks.customer_bulk_moq and product.metafields.oceanworks.customer_bulk_moq != "" %}{% assign showMOQAndLeadTime = true %}{% endif %}
      {% if product.metafields.oceanworks.bulk_lead_time and product.metafields.oceanworks.bulk_lead_time != "" %}{% assign showMOQAndLeadTime = true %}{% endif %}

		{% if showMOQAndLeadTime == true %}
        <div class="product-box dk-blue">
          <span class="product-box-maintext">
            {% if product.metafields.oceanworks.customer_bulk_moq and product.metafields.oceanworks.customer_bulk_moq != "" %}<div class="product-detail-lineitem"><strong>Bulk MOQ:</strong> {{product.metafields.oceanworks.customer_bulk_moq}}</div>{% endif %}
          	{% if product.metafields.oceanworks.bulk_lead_time and product.metafields.oceanworks.bulk_lead_time != "" %}<div class="product-detail-lineitem"><strong>Bulk Lead Time:</strong> {{product.metafields.oceanworks.bulk_lead_time}}</div>{% endif %}
          </span>
        </div>
      {% endif %}
      {% endif %}
      {% if product.metafields.oceanworks.capacity and product.metafields.oceanworks.capacity != "" %}
        <div class="product-box orange">
          <span class="product-box-maintext"><strong>Capacity:</strong> {{product.metafields.oceanworks.capacity}}</span>
        </div>
      {% endif %}
          
      
      
      
      
      <br/>
      
    </div>
    </form>
    
    {% assign current_variant = product.selected_or_first_available_variant %}
    {% assign purchase_unavailable = false %}
    
    {% if product.id == 4536137023549 %}
    	<a
          class="request-quote" href="https://airtable.com/shrno7HFqd3dD6lGi?prefill_First Name={{ customer.first_name }}&prefill_Last Name={{ customer.last_name }}&prefill_Email={{ customer.email }}"
        >
          Request More Info &raquo;
        </a>
    {% endif %}
    
    {% if product.selected_or_first_available_variant.sku == 'OR.CUSTOM' %}
        <a
          class="request-quote" href="https://airtable.com/shrnYNn2G6VROBs3W?prefill_First Name={{ customer.first_name }}&prefill_Last Name={{ customer.last_name }}&prefill_Email Address={{ customer.email }}"
        >
          Customize Your Resin &raquo;
        </a>
    
    {% else %}
    {% if customer %}
    
    {% if product.metafields.oceanworks.api___combined_product_type and product.metafields.oceanworks.api___combined_product_type contains "Zipper" %}

    	{% if current_variant.sku != 'OZ.201401' and current_variant.sku != 'OZ.201402' and current_variant.sku != 'OZ.200131' and current_variant.sku != 'OZ.200151'%}
    		{% assign purchase_unavailable = true %}
    		<div style="text-align: center;">
              <a href="/collections/zippers/samples-available?" style="font-size: 18px; color: #235aa7;">
                Sample YKK zippers are available in Aqua #5 and Black #3 &raquo;
              </a>
            </div>
        {% endif %}
      {% endif %}

      {% if purchase_unavailable %}<div class="hide-add-product-form">{% endif %}
      {% unless product.available %}<div class="hide-add-product-form">{% endunless %}

        {% if enable_inline_form %}
          {%
            include 'product-form-inline',
            show_payment_button: section.settings.show_payment_button
          %}
        {% endif %}
    {% include 'product-form-nojs' %}

      {% unless product.available %}</div>{% endunless %}
    {% if purchase_unavailable %}</div>{% endif %}
    
	
      {% if purchase_unavailable or product.available == false %}
        <a
          class="request-quote" href="https://airtable.com/shriSaPcZCPQywFkt?prefill_First Name={{ customer.first_name }}&prefill_Last Name={{ customer.last_name }}&prefill_Email={{ customer.email }}&prefill_Product={{ product.title }}"
        >
          Request Bulk Info &raquo;
        </a>
      {% else %}


          {% if customer.orders_count > 0 %}
          <a
             class="request-quote" href="https://airtable.com/shriSaPcZCPQywFkt?prefill_First Name={{ customer.first_name }}&prefill_Last Name={{ customer.last_name }}&prefill_Email={{ customer.email }}&prefill_Product={{ product.title }}"
             >
            Request Bulk Info &raquo;
          </a>
          {% else %}
          <a
             class="request-quote" href="/pages/request-bulk-info"
             >
            Request Bulk Info &raquo;
          </a>
          {% endif %}

      {% endif %}
    
	{% else %}
    
    
    {% if consumer_friendly == true %}
      {% if enable_inline_form %}
            {%
              include 'product-form-inline',
              show_payment_button: section.settings.show_payment_button
            %}
          {% endif %}
      {% include 'product-form-nojs' %}
    {% else %}
      <a
        class="request-quote" href="/pages/request-a-demo?product={{ product.selected_or_first_available_variant.sku }}"
      >
        Start Order Now &raquo;
      </a>
    {% endif %}
    
    {% endif %}

      {% endif %}

    {% if section.settings.enable_social_sharing %}
      {% include 'share-buttons' %}
    {% endif %}

  </section>
{% endcapture %}

<div
  class="product-wrapper {% if product.images.size == 0 %}product-wrapper-no-images{% endif %}"
  data-product-wrapper
>
  
  {% if gallery_position_mobile == 'below_title' %}
    <div class="product-details-mobile">
      {{ product_vendor_title_price }}
    </div>
  {% endif %}

  {% if gallery_position == 'left' %}
    {{ product_images }}
    {{ product_details }}
  {% endif %}

  {% if gallery_position == 'right' %}
    {{ product_details }}
    {{ product_images }}
  {% endif %}
  
  {% if product.metafields.oceanworks.api___combined_product_type and product.metafields.oceanworks.api___combined_product_type contains "Resin" %}

    
  {% assign showBasicProperties = false %}
  {% if product.metafields.oceanworks.api___material_type and product.metafields.oceanworks.api___material_type != "" %}{% assign showBasicProperties = true %}{% endif %}
  {% if product.metafields.oceanworks.color and product.metafields.oceanworks.color != "" %}{% assign showBasicProperties = true %}{% endif %}
  {% if product.metafields.oceanworks.form and product.metafields.oceanworks.form != "" %}{% assign showBasicProperties = true %}{% endif %}
  {% if product.metafields.oceanworks.certifications and product.metafields.oceanworks.certifications != "" %}{% assign showBasicProperties = true %}{% endif %}

  {% assign showMaterialSource = false %}
  {% if product.metafields.oceanworks.api___source_type and product.metafields.oceanworks.api___source_type != "" %}{% assign showMaterialSource = true %}{% endif %}
  {% if product.metafields.oceanworks.source_continent and product.metafields.oceanworks.source_continent != "" %}{% assign showMaterialSource = true %}{% endif %}

  {% assign showComposition = false %}
  {% if product.metafields.oceanworks.percent_ocean_plastic and product.metafields.oceanworks.percent_ocean_plastic != "" %}{% assign showComposition = true %}{% endif %}
  {% if product.metafields.oceanworks.percent_averted_plastic and product.metafields.oceanworks.percent_averted_plastic != "" %}{% assign showComposition = true %}{% endif %}
  {% if product.metafields.oceanworks.percent_pcr___other and product.metafields.oceanworks.percent_pcr___other != "" %}{% assign showComposition = true %}{% endif %}
  {% if product.metafields.oceanworks.percent_pcr___recovered and product.metafields.oceanworks.percent_pcr___recovered != "" %}{% assign showComposition = true %}{% endif %}
  {% if product.metafields.oceanworks.percent_pre_consumer___post_i and product.metafields.oceanworks.percent_pre_consumer___post_i != "" %}{% assign showComposition = true %}{% endif %}
  {% if product.metafields.oceanworks.percent_virgin_plastic and product.metafields.oceanworks.percent_virgin_plastic != "" %}{% assign showComposition = true %}{% endif %}
  {% if product.metafields.oceanworks.percent_non_plastic and product.metafields.oceanworks.percent_non_plastic != "" %}{% assign showComposition = true %}{% endif %}

  {% assign showTechnicalProperties = false %}

  {% if product.metafields.oceanworks.ash_content_percent and product.metafields.oceanworks.ash_content_percent != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.melt_point__c and product.metafields.oceanworks.melt_point__c != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.tg__c and product.metafields.oceanworks.tg__c != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.mfi_g_10_min and product.metafields.oceanworks.mfi_g_10_min != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.density_g_cm_3 and product.metafields.oceanworks.density_g_cm_3 != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.intrinsic_viscosity_dl_g and product.metafields.oceanworks.intrinsic_viscosity_dl_g != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.moisture_content_percent and product.metafields.oceanworks.moisture_content_percent != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.yield_strength_mpa and product.metafields.oceanworks.yield_strength_mpa != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.yield_strain_percent and product.metafields.oceanworks.yield_strain_percent != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.break_strength_n and product.metafields.oceanworks.break_strength_n != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.max_strain_percent and product.metafields.oceanworks.max_strain_percent != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.tensile_strength_mpa and product.metafields.oceanworks.tensile_strength_mpa != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.elongation_percent and product.metafields.oceanworks.elongation_percent != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.e_modulus_2_percent and product.metafields.oceanworks.e_modulus_2_percent != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.flexural_modulus_mpa and product.metafields.oceanworks.flexural_modulus_mpa != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.tensile_modulus_mpa and product.metafields.oceanworks.tensile_modulus_mpa != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.tensile_strength___strain_per and product.metafields.oceanworks.tensile_strength___strain_per != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.tensile_strength___break_perc and product.metafields.oceanworks.tensile_strength___break_perc != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.percent_secant_modulus_mpa and product.metafields.oceanworks.percent_secant_modulus_mpa != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.izod_notched__kj___m_2_ and product.metafields.oceanworks.izod_notched__kj___m_2_ != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.izod_impact_energy_kg_cm_cm and product.metafields.oceanworks.izod_impact_energy_kg_cm_cm != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.charpy_notched_kj_m_2_ and product.metafields.oceanworks.charpy_notched_kj_m_2_ != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.hardness_shore_a and product.metafields.oceanworks.hardness_shore_a != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.hardness_shore_d and product.metafields.oceanworks.hardness_shore_d != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.hardness_rockwell_scale and product.metafields.oceanworks.hardness_rockwell_scale != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.purity_index and product.metafields.oceanworks.purity_index != "" %}{% assign showTechnicalProperties = true %}{% endif %}

  {% if product.metafields.oceanworks.tear_strength_lbf_in and product.metafields.oceanworks.tear_strength_lbf_in != "" %}{% assign showTechnicalProperties = true %}{% endif %}
  
  {% assign showTechnicalProperties = false %}
  
  {% assign showTransitTimes = false %}
  {% if product.metafields.oceanworks.days_to_china_shenzhen and product.metafields.oceanworks.days_to_china_shenzhen != "" %}
  {% if product.metafields.oceanworks.days_to_us_east_coast and product.metafields.oceanworks.days_to_us_east_coast != "" %}
  {% if product.metafields.oceanworks.days_to_us_west_coast and product.metafields.oceanworks.days_to_us_west_coast != "" %}
  {% if product.metafields.oceanworks.days_to_europe_rotterdam and product.metafields.oceanworks.days_to_europe_rotterdam != "" %}
  {% if product.metafields.oceanworks.days_to_asia_malaysia and product.metafields.oceanworks.days_to_asia_malaysia != "" %}
	{% assign showTransitTimes = true %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  
  {% assign showDatasheets = false %}
  {% if product.metafields.oceanworks.show_tds and product.metafields.oceanworks.show_tds == "true" %}{% assign showDatasheets = true %}{% endif %}

  
  <!-- showBasicProperties: {{showBasicProperties}} -->
  <!-- showMaterialSource: {{showMaterialSource}} -->
  <!-- showComposition: {{showComposition}} -->
  <!-- showTechnicalProperties: {{showTechnicalProperties}} -->
  <!-- showDatasheets: {{showDatasheets}} -->
  
  {% if showBasicProperties == true or showMaterialSource == true or showComposition == true or showTechnicalProperties == true or showDatasheets == true %}
  
  {% if showBasicProperties == true %}
  {% if product.metafields.oceanworks.certifications and product.metafields.oceanworks.certifications != "" %}
  <div style="width: 100%; margin: 25px; text-align: center;">
    {% if product.metafields.oceanworks.certifications contains "UL" %}
    <img style="height: 75px; margin: 15px;"
         src="{{ 'Oceanworks_UL_Icon' | append: '.png' | asset_img_url: '1200x' }}" />
    {% endif %}
    {% if product.metafields.oceanworks.certifications contains "ZPO" %}
    <img style="height: 75px; margin: 15px;"
         src="{{ 'Oceanworks_Zero_Plastic_Oceans_Icon' | append: '.png' | asset_img_url: '1200x' }}" />
    {% endif %}
    {% if product.metafields.oceanworks.certifications contains "SEDEX" %}
    <img style="height: 75px; margin: 15px;"
         src="{{ 'Oceanworks_Sedex_Icon' | append: '.png' | asset_img_url: '1200x' }}" />
    {% endif %}
    {% if product.metafields.oceanworks.certifications contains "FDA" %}
    <img style="height: 75px; margin: 15px;"
         src="{{ 'Oceanworks_FDA_Icon' | append: '.png' | asset_img_url: '1200x' }}" />
    {% endif %}
    {% if product.metafields.oceanworks.certifications contains "ISO" %}
    <img style="height: 75px; margin: 15px;"
         src="{{ 'Oceanworks_ISO_Icon' | append: '.png' | asset_img_url: '1200x' }}" />
    {% endif %}
    {% if product.metafields.oceanworks.certifications contains "REACH" %}
    <img style="height: 75px; margin: 15px;"
         src="{{ 'Oceanworks_Reach_Icon' | append: '.png' | asset_img_url: '1200x' }}" />
    {% endif %}
    <!---{% if product.metafields.oceanworks.certifications contains "GRS" %}
    <img style="height: 75px; margin: 15px;"
         src="{{ 'Oceanworks_GRS_Icon' | append: '.png' | asset_img_url: '1200x' }}" />
    {% endif %}--->
    {% if product.metafields.oceanworks.certifications contains "NSF" %}
    <img style="height: 75px; margin: 15px;"
         src="{{ 'Oceanworks_NSF_Logo' | append: '.png' | asset_img_url: '1200x' }}" />
    {% endif %}
  </div>
  {% endif %}
  {% endif %}
  
  
  <div class="product-details-lineitems">
      

    {% if showBasicProperties == true or showMaterialSource == true or showComposition == true %}
    <div class="product-details-lineitems-col">
      {% if showBasicProperties == true %}
      <h4>Basic Properties</h4>
      <div class="product-box dk-blue">
        <span class="product-box-maintext">
          {% if product.metafields.oceanworks.api___ow_source_material and product.metafields.oceanworks.api___ow_source_material != "" %}<div class="product-detail-lineitem"><strong>Source Material(s):</strong> {{product.metafields.oceanworks.api___ow_source_material}}</div>{% endif %}
          {% if product.metafields.oceanworks.api___material_type and product.metafields.oceanworks.api___material_type != "" %}<div class="product-detail-lineitem"><strong>Material Type:</strong> {{product.metafields.oceanworks.api___material_type}}</div>{% endif %}
          {% if product.metafields.oceanworks.additives and product.metafields.oceanworks.additives != "" %}<div class="product-detail-lineitem"><strong>Additives:</strong> {{product.metafields.oceanworks.additives}}</div>{% endif %}
          {% if product.metafields.oceanworks.overmolding and product.metafields.oceanworks.overmolding != "" %}<div class="product-detail-lineitem"><strong>Overmolding:</strong> {{product.metafields.oceanworks.overmolding}}</div>{% endif %}
          {% if product.metafields.oceanworks.color and product.metafields.oceanworks.color != "" %}<div class="product-detail-lineitem"><strong>Color:</strong> {{product.metafields.oceanworks.color}}</div>{% endif %}
          {% if product.metafields.oceanworks.form and product.metafields.oceanworks.form != "" %}<div class="product-detail-lineitem"><strong>Form:</strong> {{product.metafields.oceanworks.form}}</div>{% endif %}
          {% if product.metafields.oceanworks.certifications and product.metafields.oceanworks.certifications != "" %}<div class="product-detail-lineitem"><strong>Certifications:</strong> {{product.metafields.oceanworks.certifications}}</div>{% endif %}
          {% if product.metafields.oceanworks.applications and product.metafields.oceanworks.applications != "" %}<div class="product-detail-lineitem"><strong>Applications:</strong> {{product.metafields.oceanworks.applications}}</div>{% endif %}
        </span>
      </div>
      {% endif %}
      {% if showMaterialSource == true %}
      <h4>Material Source</h4>
      <div class="product-box dk-blue">
        <span class="product-box-maintext">
          {% if product.metafields.oceanworks.api___source_type and product.metafields.oceanworks.api___source_type != "" %}<div class="product-detail-lineitem"><strong>Source Type:</strong> {{product.metafields.oceanworks.api___source_type}}</div>{% endif %}
          {% if product.metafields.oceanworks.source_continent and product.metafields.oceanworks.source_continent != "" %}<div class="product-detail-lineitem"><strong>Source Continent:</strong> {{product.metafields.oceanworks.source_continent}}</div>{% endif %}
        </span>
      </div>
      {% endif %}
      {% if showComposition == true %}
      <h4>Composition</h4>
      <div class="product-box dk-blue">
        <span class="product-box-maintext">
          {% if product.metafields.oceanworks.percent_ocean_plastic and product.metafields.oceanworks.percent_ocean_plastic != "" %}<div class="product-detail-lineitem"><strong>% Ocean Plastic:</strong> {{product.metafields.oceanworks.percent_ocean_plastic}}%</div>{% endif %}
          {% if product.metafields.oceanworks.percent_averted_plastic and product.metafields.oceanworks.percent_averted_plastic != "" %}<div class="product-detail-lineitem"><strong>% Averted Plastic:</strong> {{product.metafields.oceanworks.percent_averted_plastic}}%</div>{% endif %}
          {% if product.metafields.oceanworks.percent_pcr___other and product.metafields.oceanworks.percent_pcr___other != "" %}<div class="product-detail-lineitem"><strong>% PCR - Other:</strong> {{product.metafields.oceanworks.percent_pcr___other}}%</div>{% endif %}
          {% if product.metafields.oceanworks.percent_pcr___recovered and product.metafields.oceanworks.percent_pcr___recovered != "" %}<div class="product-detail-lineitem"><strong>% PCR - Recovered:</strong> {{product.metafields.oceanworks.percent_pcr___recovered}}%</div>{% endif %}
          {% if product.metafields.oceanworks.percent_pre_consumer___post_i and product.metafields.oceanworks.percent_pre_consumer___post_i != "" %}<div class="product-detail-lineitem"><strong>% Pre-Consumer / Post-Industrial:</strong> {{product.metafields.oceanworks.percent_pre_consumer___post_i}}%</div>{% endif %}
          {% if product.metafields.oceanworks.percent_virgin_plastic and product.metafields.oceanworks.percent_virgin_plastic != "" %}<div class="product-detail-lineitem"><strong>% Virgin Plastic:</strong> {{product.metafields.oceanworks.percent_virgin_plastic}}%</div>{% endif %}
          {% if product.metafields.oceanworks.non_plastic and product.metafields.oceanworks.percent_non_plastic != "" %}<div class="product-detail-lineitem"><strong>% Non Plastic:</strong> {{product.metafields.oceanworks.percent_non_plastic}}%</div>{% endif %}
        </span>
      </div>
      {% endif %}
    </div>
    {% endif %}
    {% comment %}
    {% if showTechnicalProperties == true %}
    <div class="product-details-lineitems-col">
      <h4>Technical Properties</h4>
      <div class="product-box dk-blue">
        <span class="product-box-maintext">
          
          {% if product.metafields.oceanworks.purity_index and product.metafields.oceanworks.purity_index != "" %}<div class="product-detail-lineitem"><strong>Purity Index:</strong> {{product.metafields.oceanworks.purity_index}}</div>{% endif %}

          {% if product.metafields.oceanworks.ash_content_percent and product.metafields.oceanworks.ash_content_percent != "" %}<div class="product-detail-lineitem"><strong>Ash Content (%):</strong> {{product.metafields.oceanworks.ash_content_percent}}</div>{% endif %}

          {% if product.metafields.oceanworks.melt_point__c and product.metafields.oceanworks.melt_point__c != "" %}<div class="product-detail-lineitem"><strong>Melt Point (ºC):</strong> {{product.metafields.oceanworks.melt_point__c}}</div>{% endif %}

          {% if product.metafields.oceanworks.tg__c and product.metafields.oceanworks.tg__c != "" %}<div class="product-detail-lineitem"><strong>Tg (ºC):</strong> {{product.metafields.oceanworks.tg__c}}</div>{% endif %}

          {% if product.metafields.oceanworks.mfi_g_10_min and product.metafields.oceanworks.mfi_g_10_min != "" %}<div class="product-detail-lineitem"><strong>MFI (g/10 min):</strong> {{product.metafields.oceanworks.mfi_g_10_min}}</div>{% endif %}

          {% if product.metafields.oceanworks.density_g_cm_3 and product.metafields.oceanworks.density_g_cm_3 != "" %}<div class="product-detail-lineitem"><strong>Density (g/cm^3):</strong> {{product.metafields.oceanworks.density_g_cm_3}}</div>{% endif %}

          {% if product.metafields.oceanworks.intrinsic_viscosity_dl_g and product.metafields.oceanworks.intrinsic_viscosity_dl_g != "" %}<div class="product-detail-lineitem"><strong>Intrinsic Viscosity (dl/g):</strong> {{product.metafields.oceanworks.intrinsic_viscosity_dl_g}}</div>{% endif %}

          {% if product.metafields.oceanworks.moisture_content_percent and product.metafields.oceanworks.moisture_content_percent != "" %}<div class="product-detail-lineitem"><strong>Moisture Content (%):</strong> {{product.metafields.oceanworks.moisture_content_percent}}</div>{% endif %}

          {% if product.metafields.oceanworks.yield_strength_mpa and product.metafields.oceanworks.yield_strength_mpa != "" %}<div class="product-detail-lineitem"><strong>Yield Strength (MPa):</strong> {{product.metafields.oceanworks.yield_strength_mpa}}</div>{% endif %}

          {% if product.metafields.oceanworks.yield_strain_percent and product.metafields.oceanworks.yield_strain_percent != "" %}<div class="product-detail-lineitem"><strong>Yield Strain (%):</strong> {{product.metafields.oceanworks.yield_strain_percent}}</div>{% endif %}

          {% if product.metafields.oceanworks.break_strength_n and product.metafields.oceanworks.break_strength_n != "" %}<div class="product-detail-lineitem"><strong>Break Strength (N):</strong> {{product.metafields.oceanworks.break_strength_n}}</div>{% endif %}

          {% if product.metafields.oceanworks.max_strain_percent and product.metafields.oceanworks.max_strain_percent != "" %}<div class="product-detail-lineitem"><strong>Max Strain (%):</strong> {{product.metafields.oceanworks.max_strain_percent}}</div>{% endif %}

          {% if product.metafields.oceanworks.tensile_strength_mpa and product.metafields.oceanworks.tensile_strength_mpa != "" %}<div class="product-detail-lineitem"><strong>Tensile Strength (MPa):</strong> {{product.metafields.oceanworks.tensile_strength_mpa}}</div>{% endif %}

          {% if product.metafields.oceanworks.elongation_percent and product.metafields.oceanworks.elongation_percent != "" %}<div class="product-detail-lineitem"><strong>Elongation (%):</strong> {{product.metafields.oceanworks.elongation_percent}}</div>{% endif %}

          {% if product.metafields.oceanworks.e_modulus_2_percent and product.metafields.oceanworks.e_modulus_2_percent != "" %}<div class="product-detail-lineitem"><strong>E-modulus^2 (%):</strong> {{product.metafields.oceanworks.e_modulus_2_percent}}</div>{% endif %}

          {% if product.metafields.oceanworks.flexural_modulus_mpa and product.metafields.oceanworks.flexural_modulus_mpa != "" %}<div class="product-detail-lineitem"><strong>Flexural Modulus (MPa):</strong> {{product.metafields.oceanworks.flexural_modulus_mpa}}</div>{% endif %}

          {% if product.metafields.oceanworks.tensile_modulus_mpa and product.metafields.oceanworks.tensile_modulus_mpa != "" %}<div class="product-detail-lineitem"><strong>Tensile Modulus (MPa):</strong> {{product.metafields.oceanworks.tensile_modulus_mpa}}</div>{% endif %}

          {% if product.metafields.oceanworks.tensile_strength___strain_per and product.metafields.oceanworks.tensile_strength___strain_per != "" %}<div class="product-detail-lineitem"><strong>Tensile Strength @ Strain (%):</strong> {{product.metafields.oceanworks.tensile_strength___strain_per}}</div>{% endif %}

          {% if product.metafields.oceanworks.tensile_strength___break_perc and product.metafields.oceanworks.tensile_strength___break_perc != "" %}<div class="product-detail-lineitem"><strong>Tensile Strength @ Break (%):</strong> {{product.metafields.oceanworks.tensile_strength___break_perc}}</div>{% endif %}

          {% if product.metafields.oceanworks.percent_secant_modulus_mpa and product.metafields.oceanworks.percent_secant_modulus_mpa != "" %}<div class="product-detail-lineitem"><strong>100% Secant Modulus (MPa):</strong> {{product.metafields.oceanworks.percent_secant_modulus_mpa}}</div>{% endif %}

          {% if product.metafields.oceanworks.izod_notched__kj___m_2_ and product.metafields.oceanworks.izod_notched__kj___m_2_ != "" %}<div class="product-detail-lineitem"><strong>IZOD (notched) (KJ / m^2):</strong> {{product.metafields.oceanworks.izod_notched__kj___m_2_}}</div>{% endif %}

          {% if product.metafields.oceanworks.izod_impact_energy_kg_cm_cm and product.metafields.oceanworks.izod_impact_energy_kg_cm_cm != "" %}<div class="product-detail-lineitem"><strong>IZOD Impact Energy (kg-cm/cm):</strong> {{product.metafields.oceanworks.izod_impact_energy_kg_cm_cm}}</div>{% endif %}

          {% if product.metafields.oceanworks.charpy_notched_kj_m_2_ and product.metafields.oceanworks.charpy_notched_kj_m_2_ != "" %}<div class="product-detail-lineitem"><strong>Charpy (notched)(KJ/m^2):</strong> {{product.metafields.oceanworks.charpy_notched_kj_m_2_}}</div>{% endif %}

          {% if product.metafields.oceanworks.hardness_shore_a and product.metafields.oceanworks.hardness_shore_a != "" %}<div class="product-detail-lineitem"><strong>Hardness Shore A:</strong> {{product.metafields.oceanworks.hardness_shore_a}}</div>{% endif %}

          {% if product.metafields.oceanworks.hardness_shore_d and product.metafields.oceanworks.hardness_shore_d != "" %}<div class="product-detail-lineitem"><strong>Hardness Shore D:</strong> {{product.metafields.oceanworks.hardness_shore_d}}</div>{% endif %}

          {% if product.metafields.oceanworks.hardness_rockwell_scale and product.metafields.oceanworks.hardness_rockwell_scale != "" %}<div class="product-detail-lineitem"><strong>Hardness Rockwell Scale:</strong> {{product.metafields.oceanworks.hardness_rockwell_scale}}</div>{% endif %}

          {% if product.metafields.oceanworks.tear_strength_lbf_in and product.metafields.oceanworks.tear_strength_lbf_in != "" %}<div class="product-detail-lineitem"><strong>Tear Strength (lbf/in):</strong> {{product.metafields.oceanworks.tear_strength_lbf_in}}</div>{% endif %}
		
          	<!-- ADD PROCESSING PARAMETERS HERE! -->
        </span>
      </div>
    </div>
    {% endif %}
    {% endcomment %}
    {% if showDatasheets == true %}
    <div class="product-details-lineitems-col">
      <h4>Datasheets</h4>
      <div class="product-box dk-blue" style="text-align: center !important;">
        <span class="product-box-maintext" style="text-align: center !important; text-transform: none !important;">
          <a href="{{ product.metafields.oceanworks.ow_live_tds_url }}" target="_blank" style="color: #235aa7 !important; text-align: center;">  
          
            <img src="{{ 'OW_TDS' | append: '.png' | asset_img_url: '1200x' }}"
                 style="width: 100%; max-width: 250px;"
                 class="" />
            <br/>
            Download Technical Data Sheet &raquo;
          </a><br/>
          <small style="color: #999;">TDS Current as of {{ "now" | date: "%b %d, %Y" }}</small>
          <br/><br/>
          <a href="/pages/compare-resins" style="color: #999;">Compare with other resins &raquo;</a>
        </span>
      </div>
    </div>
    {% endif %}
  </div>
  
  {% endif %}
  {% endif %}
        
        
        
          
      
      {% comment %}
  		Currently unused fields publicly
            {% if product.metafields.oceanworks.product_categories and product.metafields.oceanworks.product_categories != "" %}<div class="product-detail-lineitem"><strong>Product Categories:</strong> {{product.metafields.oceanworks.product_categories}}</div>{% endif %}
            {% if product.metafields.oceanworks.blend and product.metafields.oceanworks.blend != "" %}<div class="product-detail-lineitem"><strong>Line:</strong> {{product.metafields.oceanworks.blend}}</div>{% endif %}
            {% if product.metafields.oceanworks.main_product_type and product.metafields.oceanworks.main_product_type != "" %}<div class="product-detail-lineitem"><strong>Main Category:</strong> {{product.metafields.oceanworks.main_product_type}}</div>{% endif %}
            {% if product.metafields.oceanworks.supplier_certifications and product.metafields.oceanworks.supplier_certifications != "" %}<div class="product-detail-lineitem"><strong>Supplier Certifications:</strong> {{product.metafields.oceanworks.supplier_certifications}}</div>{% endif %}
            {% if product.metafields.oceanworks.status and product.metafields.oceanworks.status != "" %}<div class="product-detail-lineitem"><strong>Status:</strong> {{product.metafields.oceanworks.status}}</div>{% endif %}
      {% endcomment %}
  
  

</div>


{% if enable_inline_form == false %}
  {%-
    include 'product-menu',
    show_payment_button: section.settings.show_payment_button
  -%}
{% endif %}

{% schema %}
{
  "name": "Product pages",
  "class": "section-product",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_menu_form",
      "label": "Enable bottom menu",
      "default": true,
      "info": "Displays product options and breadcrumbs in a sticky bottom menu."
    },
    {
      "id": "show_product_vendor",
      "type": "checkbox",
      "label": "Show product vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_cart_redirection",
      "label": "Enable cart redirection",
      "info": "Automatically sends users to the Cart page after adding a product.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "select",
      "id": "gallery_layout",
      "options": [
         { "value": "slideshow_thumbnails_bottom", "label": "Slideshow thumbnails bottom" },
         { "value": "slideshow_thumbnails_left", "label": "Slideshow thumbnails left" },
         { "value": "slideshow_thumbnails_right", "label": "Slideshow thumbnails right" },
         { "value": "single_column", "label": "List view" }
      ],
      "label": "Desktop layout",
      "default": "single_column"
    },
    {
      "type": "select",
      "id": "gallery_position_desktop",
      "options": [
         { "value": "left", "label": "Left" },
         { "value": "right", "label": "Right" }
      ],
      "label": "Desktop position",
      "default": "left"
    },
    {
      "type": "select",
      "id": "gallery_position_mobile",
      "options": [
         { "value": "below_title", "label": "Below title" },
         { "value": "above_title", "label": "Above title" }
      ],
      "label": "Tablet & mobile position",
      "default": "above_title"
    },
    {
      "type": "header",
      "content": "Sharing"
    },
    {
      "type": "checkbox",
      "id": "enable_social_sharing",
      "label": "Enable social sharing",
      "default": false
    }
  ]
}

{% endschema %}