{%- assign paginate_by = section.settings.products-per-page -%}
{% assign pagination_method = section.settings.products_pagination_method %}
{% paginate collection.products by paginate_by %}
  {% assign total_products = paginate.items %}
{% endpaginate %}

<script
  type="application/json"
  data-section-type="static-collection"
  data-section-id="{{ section.id }}"
  data-section-data>
  {
    "shop_url": {{ shop.url | replace_first: 'http:' | json }},
    "collection_handle": {{ collection.handle | json }},
    "sort_by": {{ collection.sort_by | default: collection.default_sort_by | json }},
    "pagination_method": {{ pagination_method | json }},
    "products_per_page": {{ section.settings.products-per-page | json }},
    "total_products": {{ total_products | json }},
    "current_tags": [
      {% for tag in current_tags %}
        {{ tag | handleize | json }}
        {% if forloop.last == false %},{% endif %}
      {% endfor %}
    ],
    "text": {
      "refine": {{ 'collection.refine.button_title' | t | json }},
      "apply": {{ 'general.form.apply' | t | json }},
      "cancel": {{ 'general.form.cancel' | t | json }}
    }
  }
</script>

{% capture collection_filter_sortby %}
  {% unless section.settings.enable_menu_form %}
    <div class="collection-filter-sortby">
      <div class="collection-filter">
        <div
          class="collection-filter-select-wrapper"
          data-select-wrapper
          data-select-wrapper-filter
        >
          <span class="collection-filter-title">
            {{ 'collection.refine.title' | t }}
          </span>
          <label
            class="collection-filter-label"
            for="collection-filter"
            data-select-label
          >
            {% capture current_tag %}
              {%- for tag in collection.all_tags -%}
{%- if tag contains '_HIDDEN_PRODUCT' -%}{%- continue -%}{%- endif -%}
                {% if current_tags contains tag %}
                  {{ tag }}
                {% endif %}
              {%- endfor -%}
            {% endcapture %}

            {% if current_tag == blank %}
              {{ 'collection.refine.all' | t }}
            {% else %}
              {{ current_tag }}
            {% endif %}
          </label>

          <select
            class="collection-filter-select"
            id="collection-filter"
            data-select
          >
            <option value="">
              {{ 'collection.refine.all' | t }}
            </option>

            {%- for tag in collection.all_tags -%}
{%- if tag contains '_HIDDEN_PRODUCT' -%}{%- continue -%}{%- endif -%}
              <option
                value="{{ tag | handle }}"
                {% if current_tags contains tag %}
                  selected
                {% endif %}
              >
                {{ tag }}
              </option>
            {%- endfor -%}
          </select>

          <span
            class="collection-filter-select-arrow"
          >
            {%- include 'icon', id: 'arrow' -%}
          </span>
        </div>
      </div>

      {% if collection.image %}
        {% include 'breadcrumbs' %}
      {% endif %}

      <div class="collection-sortby">
        <div
          class="collection-sortby-select-wrapper"
          data-select-wrapper
          data-select-wrapper-sortby
        >

          <span class="collection-sortby-title">
            {{ 'collection.sort_by.title' | t }}
          </span>

          <label
            class="collection-sortby-label"
            for="collection-sortby"
            data-select-label
          >
            {% assign current_sort = collection.sort_by | default: collection.default_sort_by %}
            {%- for option in collection.sort_options -%}
              {%- include 'bold-product' with option, hide_action: 'skip' -%}
              {% if option.value == current_sort %}
                {{ option.name }}
              {% endif %}
            {%- endfor -%}
          </label>

          <select
            class="collection-sortby-select"
            id="collection-sortby"
            data-select
          >
            {%- for option in collection.sort_options -%}
              {%- include 'bold-product' with option, hide_action: 'skip' -%}
              <option
                value="{{ option.value }}"
                {% if current_sort contains option.value %}
                  selected
                {% endif %}
              >
                {{ option.name }}
              </option>
            {%- endfor -%}
          </select>

          <span
            class="collection-sortby-select-arrow"
          >
            {%- include 'icon', id: 'arrow' -%}
          </span>
        </div>
      </div>
    </div>
  {% endunless %}
{% endcapture %}

{%- paginate collection.products by paginate_by -%}
  <div
    class="collection-grid
      collection-grid-uninit
      product-item-style-{{ section.settings.product_item_style }}
      rows-of-{{ section.settings.products-per-row }}"
    data-collection-grid>
    {% if collection.image %}
      {{ collection_filter_sortby }}
    {% endif %}

    <header
      class="
        collection-header
        {% unless collection.image %}collection-header-no-image{% endunless %}
      "
      data-collection-header>
      {%- if collection.image -%}
        <figure
          class="collection-image"
          {%
            include 'rimg',
            img: collection.image,
            size: '600x',
            background: true,
            lazy: true
          %}
        >
          {%
            include 'rimg',
            img: collection.image,
            size: '600x',
            lazy: true
          %}
        </figure>
      {%- endif -%}
      <div class="collection-header-info">
        {% unless collection.image %}
          {% include 'breadcrumbs' %}
        {% endunless %}

        <h1 class="collection-title">{{ collection.title }} <a class="show-collection-header-description" href="#" style="font-size: 12px;">(show more)</a></h1>
        {%- if collection.description != blank -%}
        <div class="collection-header-description" style="display: none;">{{ collection.description }} <a class="hide-collection-header-description" href="#">(show less)</a></div>
        {%- endif -%}
      </div>

      {% unless collection.image %}
        {{ collection_filter_sortby }}
      {% endunless %}
    </header>

    {%- if collection.products.size == 0 -%}
      <p class="collection-empty">
        {%- if collection.all_products_count == 0 -%}
          {{ 'collection.empty' | t }}
        {%- else -%}
          {{ 'collection.tags_empty' | t }}
        {%- endif -%}
      </p>
    {%- endif -%}
    {%- for product in collection.products  -%}
{%- include 'bold-product' with product, hide_action: 'skip' -%}
      {%- assign index_based_on_page = paginate.current_offset | plus: forloop.index -%}

      <div
        class="collection-grid-item"
        data-collection-grid-item>
        {%-
          include 'product-item',
          product_style: section.settings.product_item_style,
          product_cropped: section.settings.product_item_crop,
          use_quickshop: section.settings.enable_product_quickshop,
          show_vendors: section.settings.show_product_vendors
        -%}
      </div>

      {%- for block in section.blocks -%}
        {%- assign block_index = block.settings.index | times: 1 -%}
        {%- if block.settings.collection == blank or block.settings.collection == collection.handle -%}
          {%- if block_index == index_based_on_page -%}
            {%- assign advertisement = block -%}
            <div class="collection-grid-item collection-grid-item-advertisement" {{ block.shopify_attributes }} data-collection-grid-item>
              <p class="collection-grid-item-advertisement-text">{{ advertisement.settings.text | escape }}</p>
              <a class="collection-grid-item-advertisement-link" href="{{ advertisement.settings.link }}">
                <span class="collection-grid-item-advertisement-link-text">{{ advertisement.settings.link_text | escape }}</span>
                <span class="collection-grid-item-advertisement-link-arrow">{%- include 'icon', id: 'arrow' -%}</span>
              </a>
            </div>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}

    {%- unless paginate.next -%}
      {%- for block in section.blocks -%}
        {%- assign block_index = block.settings.index | times: 1 -%}
        {%- if block.settings.collection == collection.handle and block_index > index_based_on_page -%}
          {%- assign advertisement = block -%}
          <div class="collection-grid-item collection-grid-item-advertisement" {{ block.shopify_attributes }} data-collection-grid-item>
            <p class="collection-grid-item-advertisement-text">{{ advertisement.settings.text }}</p>
            <a class="collection-grid-item-advertisement-link" href="{{ advertisement.settings.link }}">
              <span class="collection-grid-item-advertisement-link-text">{{ advertisement.settings.link_text | escape }}</span>
              <span class="collection-grid-item-advertisement-link-arrow">{%- include 'icon', id: 'arrow' -%}</span>
            </a>
          </div>
        {%- endif -%}
      {%- endfor -%}
    {%- endunless -%}
    
    
    {% if collection.handle == "blended-resins" %}
    {% comment %}
    <br/>
    <div style="border-top: 1px solid rgb(230, 230, 230);">
      &nbsp;
    </div>
    <br/>
    <h4 class="collection-featured-item-title" style="text-align: center;">
      Browse by technical properties
    </h4>
    <br/>
    <iframe class="airtable-embed" src="https://airtable.com/embed/shrzbk4ONr6J3tAL1?backgroundColor=blue" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
    <br/><br/><br/>
    {% endcomment %}
    {% endif %}
    
    
  </div>
  {% if pagination_method contains "infinite_scroll" %}
    <div class="infinite-scroll" data-infinite-scroll-target>
      <button class="infinite-scroll-show-more"
        data-infinite-scroll-show-more="{{ 'collection.show_more' | t }}"
        data-infinite-scroll-loading="{{ 'collection.loading' | t }}"
      >
        {{ 'collection.show_more' | t }}
      </button>
    </div>
  {% endif %}
  {%- include 'pagination' -%}
{%- endpaginate -%}

{% if section.settings.enable_menu_form %}
  {%- include 'collection-menu' -%}
{% endif %}

{% schema %}
{
  "name": "Collection pages",
  "class": "section-collection",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_menu_form",
      "label": "Enable bottom menu",
      "default": true,
      "info": "Displays tag filtering and sorting in a sticky bottom menu."
    },
    {
      "type": "select",
      "id": "products_pagination_method",
      "label": "Pagination method",
      "options": [
        {
          "value": "infinite_scroll_click_to_load",
          "label": "Click to load more"
        },
        {
          "value": "infinite_scroll",
          "label": "Infinite scroll"
        },
        {
          "value": "traditional_pagination",
          "label": "Traditional pagination"
        }
      ],
      "default": "traditional_pagination"
    },
    {
      "type": "range",
      "id": "products-per-page",
      "label": "Products per page",
      "min": 12,
      "max": 50,
      "step": 1,
      "default": 12
    },
    {
      "type": "range",
      "id": "products-per-row",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "id": "product_item_style",
      "type": "select",
      "label": "Product aspect ratio",
      "info": "Using an uncropped setting will generate white space around the image to create a uniform grid without cropping your image. The background in the editor indicates the applied white space, but will not appear on your storefront.",
      "options": [
        { "group": "Uncropped", "value": "natural", "label": "Natural" },
        { "group": "Uncropped", "value": "small", "label": "Short (4:3)" },
        { "group": "Uncropped", "value": "medium", "label": "Square (1:1)" },
        { "group": "Uncropped", "value": "large", "label": "Tall (2:3)" },
        { "group": "Cropped", "value": "cropped-small", "label": "Short (4:3)" },
        { "group": "Cropped", "value": "cropped-medium", "label": "Square (1:1)" },
        { "group": "Cropped", "value": "cropped-large", "label": "Tall (2:3)" }
      ],
      "default": "natural"
    },
    {
      "type": "checkbox",
      "id": "product_grid_show_second_image",
      "label": "Show second product image on hover",
      "default": false
    },
    {
      "id": "enable_product_quickshop",
      "type": "checkbox",
      "label": "Enable product quickshop",
      "default": false
    },
    {
      "id": "show_product_vendors",
      "type": "checkbox",
      "label": "Show product vendors",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "ad",
      "name": "Promotion",
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection",
          "info": "Unless specified, promotion will appear on all collection pages"
        },
        {
          "id": "index",
          "type": "text",
          "label": "Display after X products",
          "default": "10"
        },
        {
          "id": "text",
          "type": "textarea",
          "label": "Text",
          "default": "Promotion text"
        },
        {
          "id": "link",
          "type": "url",
          "label": "Link"
        },
        {
          "id": "link_text",
          "type": "text",
          "label": "Link text",
          "default": "More info here"
        }
      ]
    }
  ]
}

{% endschema %}