<script
  type="application/json"
  data-section-type="static-article"
  data-section-id="{{ section.id }}">
</script>

{%- capture article_publication_info -%}
  <div class="article-publication-info">
    {% comment %}
    <span class="article-date">{{ article.published_at | date: format: 'short_day_month_year' }}</span>
    <span class="article-publication-info-seperator">&middot;</span>
    {% endcomment %}
    {% unless blog.title == "Case Studies" %}
    <span class="article-author">{{ 'article.author' | t: author: article.author }}</span>
    {% endunless %}
    {% comment %}
    {%- if article.tags.size > 0 -%}
      <span class="article-publication-info-seperator">&middot;</span>
      {%- for tag in article.tags -%}
        <span class="article-tag">
          {{ tag | link_to_tag: tag }}
          {%- unless forloop.last -%},{%- endunless -%}
        </span>
      {%- endfor -%}
    {%- endif -%}
	{% endcomment %}
    {% if article.comments_enabled? %}
      <span class="article-publication-info-seperator">&middot;</span>
      <a href="#comments" class="article-comment-count">{{ 'article.comments_count' | t: count: article.comments_count }}</a>
    {% endif %}
  </div>
{%- endcapture -%}

<div
  class="
    article-wrapper
    {% unless article.image %}
      article-wrapper-no-image
    {% endunless %}
  "
  data-article-wrapper
>
  {%- if article.image -%}
    <figure
      class="article-image"
      {%
        include 'rimg',
        img: article.image,
        size: 'x1100',
        background: true,
        lazy: true
      %}
      data-article-image
    >
      {%
        include 'rimg',
        img: article.image,
        size: '1100x',
        lazy: true
      %}
    </figure>
  {%- endif -%}

  <article class="article" style="margin-bottom: 0px; padding-bottom: 0px;">
    {{ article_publication_info }}
    <h1 class="article-title">{{ article.title }}</h1>
    {{ article_publication_info }}
    
    
  
    {% if blog.title == 'Case Studies' %}
    
    	{% assign articleTags = article.tags | join:',' | downcase %}

        {% assign category = '' %}
        {% if articleTags contains 'electronics' %}
          {% assign category = "Electronics" %}
        {% elsif articleTags contains 'packaging' %}
          {% assign category = "Packaging" %}
        {% elsif articleTags contains 'textiles' %}
          {% assign category = "Textiles" %}
        {% elsif articleTags contains 'XXX' %}
          {% assign category = "XXX" %}
        {% endif %}

        {% assign industry = '' %}
        {% if articleTags contains 'finance' %}
          {% assign industry = "Finance" %}
        {% elsif articleTags contains 'cannabis' %}
          {% assign industry = "Cannabis" %}
        {% elsif articleTags contains 'apparel' %}
          {% assign industry = "Apparel" %}
        {% elsif articleTags contains 'bags' %}
          {% assign industry = "Bags" %}
        {% elsif articleTags contains 'XXX' %}
          {% assign industry = "XXX" %}
        {% endif %}

        {% assign polymer = '' %}
        {% if articleTags contains 'hdpe' %}
          {% assign polymer = "HDPE" %}
        {% elsif articleTags contains 'pp' %}
          {% assign polymer = "Polypropylene" %}
        {% elsif articleTags contains 'pet' %}
          {% assign polymer = "Polyethylene Terephthalate" %}
        {% elsif articleTags contains 'fiber' %}
          {% assign polymer = "Polyester Fiber" %}
        {% elsif articleTags contains 'XXX' %}
          {% assign polymer = "XXX" %}
        {% endif %}

        {% assign source = '' %}
        {% if articleTags contains 'north america' %}
          {% assign source = "North America" %}
        {% elsif articleTags contains 'south america' %}
          {% assign source = "South America" %}
        {% elsif articleTags contains 'europe' %}
          {% assign source = "Europe" %}
        {% elsif articleTags contains 'oceania' %}
          {% assign source = "Oceania" %}
        {% elsif articleTags contains 'asia' %}
          {% assign source = "Asia" %}
        {% endif %}

        {% assign year = '' %}
        {% if articleTags contains '2015' %}
          {% assign year = "2015" %}
        {% elsif articleTags contains '2016' %}
          {% assign year = "2016" %}
        {% elsif articleTags contains '2017' %}
          {% assign year = "2017" %}
        {% elsif articleTags contains '2018' %}
          {% assign year = "2018" %}
        {% elsif articleTags contains '2019' %}
          {% assign year = "2019" %}
        {% elsif articleTags contains '2020' %}
          {% assign year = "2020" %}
        {% elsif articleTags contains '2021' %}
          {% assign year = "2021" %}
        {% elsif articleTags contains '2022' %}
          {% assign year = "2022" %}
        {% endif %}
    
    	<div class="article-case-study-facts">
          
          {% if category != '' %}
          <div class="article-case-study-fact">
            <span class="article-case-study-fact-label">Category:</span> {{ category }}
          </div>
          {% endif %}
          
          {% if industry != '' %}
          <div class="article-case-study-fact">
            <span class="article-case-study-fact-label">Industry:</span> {{ industry }}
          </div>
          {% endif %}
          
          {% if polymer != '' %}
          <div class="article-case-study-fact">
            <span class="article-case-study-fact-label">Polymer:</span> {{ polymer }}
          </div>
          {% endif %}
          
          {% if source != '' %}
          <div class="article-case-study-fact">
            <span class="article-case-study-fact-label">Source:</span> {{ source }}
          </div>
          {% endif %}
          
          {% if year != '' %}
          <div class="article-case-study-fact">
            <span class="article-case-study-fact-label">Collected:</span> {{ year }}
          </div>
          {% endif %}
          
    	</div>
    
    {% endif %}
    
    <div class="article-rte rte">{{ article.content }}</div>
    
    {% if blog.title == "Guides" %}
    	<div style="float: right; padding-bottom: 60px;">
          <img src={{ 'Rob_Ianelli_Oceanworks_CEO_Signature.png' | asset_img_url: '400x' }} alt="Rob Ianelli" />
          <br/>
          <strong>Rob Ianelli, CEO</strong>
      </div>
    	<br style="clear: both;" />
    {% endif %}
    
    {%- if section.settings.enable_social_sharing -%}
      {%- include 'share-buttons' -%}
    	<br/><br/>
    {%- endif -%}
    
    {%- if blog.previous_article or blog.next_article -%}
      <nav class="article-pagination">
        {% if blog.previous_article %}
          <a class="article-pagination-previous-post" href="{{ blog.previous_article }}">
            <span class="article-pagination-arrow">{%- include 'icon', id: 'arrow' -%}</span>
            <span class="article-pagination-previous-text">{{ 'article.pagination.previous' | t }}</span>
          </a>
        {% endif %}

        <a class="article-pagination-blog" href="{{ blog.url }}">
          <span class="article-pagination-blog-text">See All</span>
        </a>

        {% if blog.next_article %}
          <a class="article-pagination-next-post" href="{{ blog.next_article }}">
            <span class="article-pagination-next-text">{{ 'article.pagination.next' | t }}</span>
            <span class="article-pagination-arrow">{%- include 'icon', id: 'arrow' -%}</span>
          </a>
        {% endif %}
      </nav>
    {%- endif -%}

    {% if article.comments_enabled? %}
      <aside class="comments">

        {% if article.comments_count > 0 %}
          <div class="comments-list">

            <h1 class="comments-list-title">
              <a name="comments">{{ 'article.comments.title' | t }}</a>
            </h1>

            {% paginate article.comments by 10 %}
              {% for comment in article.comments %}
                <article class="comment" id="comment-{{ comment.id }}">
                  <div class="comment-publication-info">
                    <h1 class="comment-author">{{ comment.author }}</h1>
                    <span class="comment-publication-info-separator">&mdash;</span>
                    <a href="{{ comment.url }}" class="comment-date">{{ comment.created_at | date: format: 'short_day_month_year' }}</a>
                  </div>
                  <div class="comment-rte">{{ comment.content }}</div>
                </article>
              {% endfor %}

              {% if paginate.previous or paginate.next %}
                {% include 'pagination' %}
              {% endif %}

            {% endpaginate %}
          </div>
        {% endif %}

        <div class="comments-submit">
          <h2 class="comment-form-title">
            {%- if article.comments_count > 0 -%}
              {{ 'article.comments.leave_a_comment' | t }}
            {%- else -%}
              <a name="comments">{{ 'article.comments.leave_a_comment' | t }}</a>
            {%- endif -%}
          </h2>

          {% form article %}

            {% if form.posted_successfully? %}
              <p>
              {% if blog.moderated? %}
                {{ 'article.comments.comment_pending' | t }}
              {% else %}
                {{ 'article.comments.comment_success' | t }}
              {% endif %}
              </p>
            {% endif %}

            {% if form.errors %}
              <p class="error-message">{{ 'article.comments.comment_error' | t }}</p>
            {% endif %}

            <div class="input-wrapper {% if form.errors contains 'author' %}error{% endif %}">
              <label
                class="visually-hidden"
                for="comment-name">
                {{ 'general.form.name' | t }} {{ form.errors.messages['author'] }}
              </label>
              <input
                class="input-field"
                id="comment-name"
                name="comment[author]"
                type="text"
                placeholder="{{ 'general.form.name_placeholder' | t }}"
                value="{{ form.author }}">
            </div>

            <div class="input-wrapper {% if form.errors contains 'email' %}error{% endif %}">
              <label
                class="visually-hidden"
                for="comment-email">
                {{ 'general.form.email' | t }} {{ form.errors.messages['email'] }}
              </label>
              <input
                class="input-field"
                id="comment-email"
                name="comment[email]"
                type="email"
                placeholder="{{ 'general.form.email_placeholder' | t }}"
                value="{{ form.email }}">
            </div>

            <div class="input-wrapper {% if form.errors contains 'body' %}error{% endif %}">
              <label
                class="visually-hidden"
                for="comment-body">
                {{ 'general.form.message' | t }} {{ form.errors.messages['body'] }}
              </label>
              <textarea
                class="input-field"
                name="comment[body]"
                id="comment-body"
                placeholder="{{ 'general.form.message_placeholder' | t }}">{{ form.body }}</textarea>
            </div>

            <div class="input-wrapper">
              <input type="submit" class="button" value="{{ 'article.comments.submit' | t }}">
            </div>

          {% endform %}
        </div>

      </aside>
    {% endif %}
  </article>
  
</div>

{% schema %}
{
  "name": "Article pages",
  "class": "section-article",
  "settings": [
    {
      "type": "header",
      "content": "Sharing"
    },
    {
      "type": "checkbox",
      "id": "enable_social_sharing",
      "label": "Enable social sharing",
      "default": false
    }
  ]
}

{% endschema %}