<div class="container">
  <div class="eyebrow">{{ section.settings.eyebrow_text }}</div>
  <h2 class="section_title">{{ section.settings.title }}</h2>
  <div class="text-info-blocks">
    {% for block in section.blocks %}
      <div class="text-info-item">
        <div class="text-info-title">
          {{ block.settings.title }}
        </div>
        <div class="text-info-subtitle">{{ block.settings.subtitle }}</div>
      </div>
    {% endfor %}
  </div>
</div>

{%- schema -%}
{
  "name": "Text Info",
  "class": "text-info ocean_full_width",
  "settings": [
    {
      "type": "text",
      "id": "eyebrow_text",
      "label": "Eyebrow Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text Info"
    }
  ]
}
{%- endschema -%}
