<div class="container">
  <div class="top-content title-description-flex">
    <div class="content-group">
      <div class="eyebrow flats-blue">
        {{ section.settings.eyebrow_text }}
      </div>
      <div class="section_title inshore-blue">{{ section.settings.title }}</div>
    </div>
    <div class="content-group">
      <div class="description">
        <div class="diag-line">{% render 'icon-diag-line' %}</div>
        <div class="description-text inshore-blue">{{ section.settings.description }}</div>
      </div>
    </div>
  </div>
  <div class="bottom-content">
    {% for block in section.blocks %}
      <div class="text-grid-item">
        <div class="section_title inshore-blue">{{ block.settings.title }}</div>
        <div class="description-text inshore-blue">{{ block.settings.description }}</div>
        <div class="cta-wrap hide--desktop">
        <a href="{{ block.settings.btn_link }}" class="button button-secondary">{{ block.settings.btn_text }}</a>
      </div>
      </div>
    {% endfor %}
    {% for block in section.blocks %}
      <div class="cta-wrap hide--mobile">
        <a href="{% if block.settings.btn_anchor_id != blank %}#{{ block.settings.btn_anchor_id }}{% else %}{{ block.settings.btn_link }}{% endif %}" class="button button-secondary">{{ block.settings.btn_text }}</a>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Text Content Grid",
  "class": "text-content-grid ocean_full_width",
  "settings": [
    {
      "type": "text",
      "id": "eyebrow_text",
      "label": "Eyebrow Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        },
        {
          "type": "paragraph",
          "content": "or"
        },
        {
          "type": "text",
          "id": "btn_anchor_id",
          "label": "Anchor target ID"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text Content Grid"
    }
  ]
}
{% endschema %}
