{% assign set = section.settings %}

<div class="container text-center">
  {% if set.title != blank %}
    <h2 class="section_title inshore-blue">{{ set.title }}</h2>
  {% endif %}
  {% if set.subtitle != blank %}
    <div class="description-text m-auto">{{ set.subtitle }}</div>
  {% endif %}
  {% if section.blocks.size > 0 %}
    <div class="text-grid flex description-text m-auto">
      {% for block in section.blocks %}
        <div class="text-item">{{ block.settings.title }}</div>
      {% endfor %}
    </div>
  {% endif %}

  {% if set.btn_label != blank %}
    <div class="btn-wrapper">
      <a href="{{ set.btn_link }}" class="button button-secondary button-large m-auto">{{ set.btn_label }}</a>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Text with grid (Manuf)",
  "class": "section-text-with-grid",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ]
}
{% endschema %}