<div class="container">
  <div class="top-content title-description-flex">
    <div class="content-group">
      {% if section.settings.eyebrow_text != '' %}
        <div class="eyebrow flats-blue">
          {{ section.settings.eyebrow_text }}
        </div>
      {% endif %}
      <div class="section_title inshore-blue">{{ section.settings.title }}</div>
      {% if section.settings.btn_text != '' %}
        <div class="cta-wrap hide--mobile">
          <a href="{{ section.settings.btn_link }}" class="button button-primary">{{ section.settings.btn_text }}</a>
        </div>
      {% endif %}
    </div>
    <div class="content-group">
      <div class="description">
        <div class="diag-line">{% render 'icon-diag-line' %}</div>
        <div class="description-text inshore-blue">{{ section.settings.description }}</div>
      </div>
      {% if section.settings.btn_text != '' %}
        <div class="cta-wrap hide--desktop">
          <a href="{{ section.settings.btn_link }}" class="button button-primary">{{ section.settings.btn_text }}</a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="bottom-content">
    <img src="{{ section.settings.image | img_url: '1024x' }}" alt="{{ section.settings.image.alt }}">
  </div>
</div>

{% schema %}
{
  "name": "Transparency",
  "class": "transparency-section ocean_full_width",
  "settings": [
    {
      "type": "text",
      "id": "eyebrow_text",
      "label": "Eyebrow Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Transparency"
    }
  ]
}
{% endschema %}
