{%- assign settings = section.settings -%}
{%- assign blocks = section.blocks -%}


{% assign button_link = '#' %}

{% if  settings.button_link  != blank %}
  {% assign button_link = settings.button_link %}
{% endif %}




{% assign bg_color = settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}

{% capture container %}
    {{ settings.container }}
{% endcapture %}


<section style="background-color: {{ bg_color }};">
 
  <div class="{{ container }}">
    <div class="tabber-wrapper">
      {% if settings.position_tabber == 'right' %}
          <div class="flex flex-wrap cs-row">
            <div class="w-full lg:w-4/12 cs-col tab-category">
              <div class="category-block"  style="background-image: url('{{ settings.image | img_url: ''}}');background-repeat: {{settings.background-repeat}}; background-position: {{settings.background-position}}; background-size: {{settings.background-size}};">
                {% if settings.heading != blank %}
                	<a href="{{ settings.button_link }}">
                      <h3 style="color: {{settings.text-color}}">{{ settings.heading }}</h3>
                    </a>
                {% endif %}
              </div>
            </div>
            <div class="w-full lg:w-8/12 cs-col tab-section">
              {% if settings.tabber_color == 'green' %}
                <div class="flex cs-row green">
                  <div class="cs-col w-full">
                    {% for block in blocks %}
                    	{% if block.settings.iframe != blank %}
                          {% if forloop.index0 == 0 %}
                              <div id="{{ section.id }}-{{ forloop.index0 }}" style="display: block;" class="tabcontent equalHeight" data-section-id="{{ section.id }}">
                                <div class="flex iframe-container">
                                  <iframe src="{{block.settings.iframe}}?autoplay=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                              </div>
                          {% else %}
                    		  <div id="{{ section.id }}-{{ forloop.index0 }}" class="tabcontent equalHeight" data-section-id="{{ section.id }}">
                                <div class="flex iframe-container">
                                  <iframe src="{{block.settings.iframe}}?autoplay=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                              </div>
                          {% endif %}
                    	{% else %}
                    		{% if forloop.index0 == 0 %}
                              <div id="{{ section.id }}-{{ forloop.index0 }}" style="display: block;" class="tabcontent equalHeight" data-section-id="{{ section.id }}">
                                <blockquote style="color: {{settings.text_color}}">
                                  <span class="quote-left">
                                  	<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-quote-left fa-w-16 fa-fw fa-2x"><path fill="{{settings.text_color}}" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z" class="">
                                      </path>
                                    </svg>
                                  </span>
                                  <span class="quote-right">
                                  	<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-quote-right fa-w-16 fa-fw fa-2x"><path fill="{{settings.text_color}}" d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z" class="">
                                      </path>
                                    </svg>
                                  </span>
                                  {{block.settings.content}}
                                </blockquote>
                              </div>
                          	{% else %}
                              <div id="{{ section.id }}-{{ forloop.index0 }}" class="tabcontent equalHeight" data-section-id="{{ section.id }}">
                                <blockquote style="color: {{settings.text_color}}">
                                  <span class="quote-left">
                                  	<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-quote-left fa-w-16 fa-fw fa-2x"><path fill="{{settings.text_color}}" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z" class="">
                                      </path>
                                    </svg>
                                  </span>
                                  <span class="quote-right">
                                  	<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-quote-right fa-w-16 fa-fw fa-2x"><path fill="{{settings.text_color}}" d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z" class="">
                                      </path>
                                    </svg>
                                  </span>
                                  {{block.settings.content}}
                                </blockquote>
                              </div>
                          	{% endif %}
                    	{% endif %}
                    {% endfor %}
                  </div>
                </div>
<!--                 <div class="tabs cs-row green">
                  {% for block in blocks %}
                      {% if forloop.index0 == 0 %}
                          <button class="tablinks cs-col active" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                            <img src="{{block.settings.image | img_url: ''}}">
                            <span class="upperlayer"></span>
                          </button>
                      {% else %}
                          <button class="tablinks cs-col" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                            <img src="{{block.settings.image | img_url: ''}}">
                            <span class="upperlayer"></span>
                          </button>
                      {% endif %}
                  {% endfor %}
                </div> -->
              	<div class="tabs cs-row green desktop-only">
                    {% for block in blocks %}
                        {% if forloop.index0 == 0 %}
                            <button {% if block.settings.external_link != blank %} onclick="window.open('{{block.settings.external_link}}')" {% endif %} class="tablinks cs-col active tab-{{ forloop.index0 }}" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                              <img src="{{block.settings.image | img_url: ''}}">
                              <span class="upperlayer"></span>
                            </button>
                        {% else %}
                            <button {% if block.settings.external_link != blank %} onclick="window.open('{{block.settings.external_link}}')" {% endif %} class="tablinks cs-col tab-{{ forloop.index0 }}" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                              <img src="{{block.settings.image | img_url: ''}}">
                              <span class="upperlayer"></span>
                            </button>
                        {% endif %}
                    {% endfor %}
                  </div>

                  <div class="tabs cs-row green mobile-only">
                    {% for block in blocks %}
                        {% if forloop.index0 == 0 %}
                            <button  class="tablinks cs-col active tab-{{ forloop.index0 }}" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')" onclick="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                              <img src="{{block.settings.image | img_url: ''}}">
                              <span class="upperlayer"></span>
                            </button>
                        {% else %}
                            <button class="tablinks cs-col tab-{{ forloop.index0 }}" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')" onclick="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                              <img src="{{block.settings.image | img_url: ''}}">
                              <span class="upperlayer"></span>
                            </button>
                        {% endif %}
                    {% endfor %}
              	</div>
              {% else %}
              	<div class="flex cs-row">
                  <div class="cs-col w-full">
                    {% for block in blocks %}
                      {%if block.settings.iframe != blank %}
                          {% if forloop.index0 == 0 %}
                              <div id="{{ section.id }}-{{ forloop.index0 }}" style="display: block;" class="tabcontent equalHeight" data-section-id="{{ section.id }}">
                                <div class="flex iframe-container">
                                  <iframe src="{{block.settings.iframe}}?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                              </div>
                          {% else %}
                    		  <div id="{{ section.id }}-{{ forloop.index0 }}" class="tabcontent equalHeight" data-section-id="{{ section.id }}">
                                <div class="flex iframe-container">
                                  <iframe src="{{block.settings.iframe}}?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                              </div>
                          {% endif %}
                    	{% else %}
                    		{% if forloop.index0 == 0 %}
                              <div id="{{ section.id }}-{{ forloop.index0 }}" style="display: block;" class="tabcontent equalHeight" data-section-id="{{ section.id }}">
                                <blockquote style="color: {{settings.text_color}}">
                                  <span class="quote-left">
                                  	<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-quote-left fa-w-16 fa-fw fa-2x"><path fill="{{settings.text_color}}" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z" class="">
                                      </path>
                                    </svg>
                                  </span>
                                  <span class="quote-right">
                                  	<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-quote-right fa-w-16 fa-fw fa-2x"><path fill="{{settings.text_color}}" d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z" class="">
                                      </path>
                                    </svg>
                                  </span>
                                  {{block.settings.content}}
                                </blockquote>
                              </div>
                          	{% else %}
                              <div id="{{ section.id }}-{{ forloop.index0 }}" class="tabcontent equalHeight" data-section-id="{{ section.id }}">
                                <blockquote style="color: {{settings.text_color}}">
                                  <span class="quote-left">
                                  	<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-quote-left fa-w-16 fa-fw fa-2x"><path fill="{{settings.text_color}}" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z" class="">
                                      </path>
                                    </svg>
                                  </span>
                                  <span class="quote-right">
                                  	<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-quote-right fa-w-16 fa-fw fa-2x"><path fill="{{settings.text_color}}" d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z" class="">
                                      </path>
                                    </svg>
                                  </span>
                                  {{block.settings.content}}
                                </blockquote>
                              </div>
                          	{% endif %}
                    	{% endif %}
                    {% endfor %}
                  </div>
                </div>
<!--               	<div class="tabs cs-row">
                  {% for block in blocks %}
                      {% if forloop.index0 == 0 %}
                          <button class="tablinks cs-col active" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                            <img src="{{block.settings.image | img_url: ''}}">
                            <span class="upperlayer"></span>
                          </button>
                      {% else %}
                          <button class="tablinks cs-col" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                            <img src="{{block.settings.image | img_url: ''}}">
                            <span class="upperlayer"></span>
                          </button>
                      {% endif %}
                  {% endfor %}
                </div> -->
              	<div class="tabs cs-row desktop-only">
                  {% for block in blocks %}
                      {% if forloop.index0 == 0 %}
                          <button {% if block.settings.external_link != blank %} onclick="window.open('{{block.settings.external_link}}')" {% endif %} class="tablinks cs-col active tab-{{ forloop.index0 }}" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                            <img src="{{block.settings.image | img_url: ''}}">
                            <span class="upperlayer"></span>
                          </button>
                      {% else %}
                          <button {% if block.settings.external_link != blank %} onclick="window.open('{{block.settings.external_link}}')" {% endif %} class="tablinks cs-col tab-{{ forloop.index0 }}" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                            <img src="{{block.settings.image | img_url: ''}}">
                            <span class="upperlayer"></span>
                          </button>
                      {% endif %}
                  {% endfor %}
              	</div>
              
              	<div class="tabs cs-row mobile-only">
                  {% for block in blocks %}
                      {% if forloop.index0 == 0 %}
                          <button  class="tablinks cs-col active tab-{{ forloop.index0 }}" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')" onclick="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                            <img src="{{block.settings.image | img_url: ''}}">
                            <span class="upperlayer"></span>
                          </button>
                      {% else %}
                          <button class="tablinks cs-col tab-{{ forloop.index0 }}" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')" onclick="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                            <img src="{{block.settings.image | img_url: ''}}">
                            <span class="upperlayer"></span>
                          </button>
                      {% endif %}
                  {% endfor %}
                </div>
              
              {% endif %}
            </div>
          </div>
      {% elsif settings.position_tabber == 'left' %}
          <div class="flex flex-wrap cs-row">
            <div class="w-full lg:w-8/12 cs-col tab-section">
              {% if settings.tabber_color == 'green' %}
                <div class="flex cs-row green">
                  <div class="cs-col w-full">
                    {% for block in blocks %}
                      {%if block.settings.iframe != blank %}
                          {% if forloop.index0 == 0 %}
                              <div id="{{ section.id }}-{{ forloop.index0 }}" style="display: block;" class="tabcontent equalHeight" data-section-id="{{ section.id }}">
                                <div class="flex iframe-container">
                                  <iframe src="{{block.settings.iframe}}?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                              </div>
                          {% else %}
                    		  <div id="{{ section.id }}-{{ forloop.index0 }}" class="tabcontent equalHeight" data-section-id="{{ section.id }}">
                                <div class="flex iframe-container">
                                  <iframe src="{{block.settings.iframe}}?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                              </div>
                          {% endif %}
                    	{% else %}
                    		{% if forloop.index0 == 0 %}
                              <div id="{{ section.id }}-{{ forloop.index0 }}" style="display: block;" class="tabcontent equalHeight" data-section-id="{{ section.id }}">
                                <blockquote style="color: {{settings.text_color}}">
                                  <span class="quote-left">
                                  	<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-quote-left fa-w-16 fa-fw fa-2x"><path fill="{{settings.text_color}}" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z" class="">
                                      </path>
                                    </svg>
                                  </span>
                                  <span class="quote-right">
                                  	<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-quote-right fa-w-16 fa-fw fa-2x"><path fill="{{settings.text_color}}" d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z" class="">
                                      </path>
                                    </svg>
                                  </span>
                                  {{block.settings.content}}
                                </blockquote>
                              </div>
                          	{% else %}
                              <div id="{{ section.id }}-{{ forloop.index0 }}" class="tabcontent equalHeight" data-section-id="{{ section.id }}">
                                <blockquote style="color: {{settings.text_color}}">
                                  <span class="quote-left">
                                  	<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-quote-left fa-w-16 fa-fw fa-2x"><path fill="{{settings.text_color}}" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z" class="">
                                      </path>
                                    </svg>
                                  </span>
                                  <span class="quote-right">
                                  	<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-quote-right fa-w-16 fa-fw fa-2x"><path fill="{{settings.text_color}}" d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z" class="">
                                      </path>
                                    </svg>
                                  </span>
                                  {{block.settings.content}}
                                </blockquote>
                              </div>
                          	{% endif %}
                    	{% endif %}
                    {% endfor %}
                  </div>
                </div>
<!--                 <div class="tabs cs-row green">
                  {% for block in blocks %}
                      {% if forloop.index0 == 0 %}
                          <button class="tablinks cs-col active" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                            <img src="{{block.settings.image | img_url: ''}}">
                            <span class="upperlayer"></span>
                          </button>
                      {% else %}
                          <button class="tablinks cs-col" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                            <img src="{{block.settings.image | img_url: ''}}">
                            <span class="upperlayer"></span>
                          </button>
                      {% endif %}
                  {% endfor %}
                </div> -->
              	<div class="tabs cs-row green desktop-only">
                    {% for block in blocks %}
                        {% if forloop.index0 == 0 %}
                            <button {% if block.settings.external_link != blank %} onclick="window.open('{{block.settings.external_link}}')" {% endif %} class="tablinks cs-col active tab-{{ forloop.index0 }}" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                              <img src="{{block.settings.image | img_url: ''}}">
                              <span class="upperlayer"></span>
                            </button>
                        {% else %}
                            <button {% if block.settings.external_link != blank %} onclick="window.open('{{block.settings.external_link}}')" {% endif %} class="tablinks cs-col tab-{{ forloop.index0 }}" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                              <img src="{{block.settings.image | img_url: ''}}">
                              <span class="upperlayer"></span>
                            </button>
                        {% endif %}
                    {% endfor %}
                  </div>

                  <div class="tabs cs-row green mobile-only">
                    {% for block in blocks %}
                        {% if forloop.index0 == 0 %}
                            <button  class="tablinks cs-col active tab-{{ forloop.index0 }}" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')" onclick="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                              <img src="{{block.settings.image | img_url: ''}}">
                              <span class="upperlayer"></span>
                            </button>
                        {% else %}
                            <button class="tablinks cs-col tab-{{ forloop.index0 }}" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')" onclick="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                              <img src="{{block.settings.image | img_url: ''}}">
                              <span class="upperlayer"></span>
                            </button>
                        {% endif %}
                    {% endfor %}
              	</div>
              {% else %}
              	<div class="flex cs-row">
                  <div class="cs-col w-full">
                    {% for block in blocks %}
                      {%if block.settings.iframe != blank %}
                          {% if forloop.index0 == 0 %}
                              <div id="{{ section.id }}-{{ forloop.index0 }}" style="display: block;" class="tabcontent equalHeight" data-section-id="{{ section.id }}">
                                <div class="flex iframe-container">
                                  <iframe src="{{block.settings.iframe}}?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                              </div>
                          {% else %}
                    		  <div id="{{ section.id }}-{{ forloop.index0 }}" class="tabcontent equalHeight" data-section-id="{{ section.id }}">
                                <div class="flex iframe-container">
                                  <iframe src="{{block.settings.iframe}}?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                              </div>
                          {% endif %}
                    	{% else %}
                    		{% if forloop.index0 == 0 %}
                              <div id="{{ section.id }}-{{ forloop.index0 }}" style="display: block;" class="tabcontent equalHeight" data-section-id="{{ section.id }}">
                                <blockquote style="color: {{settings.text_color}}">
                                  <span class="quote-left">
                                  	<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-quote-left fa-w-16 fa-fw fa-2x"><path fill="{{settings.text_color}}" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z" class="">
                                      </path>
                                    </svg>
                                  </span>
                                  <span class="quote-right">
                                  	<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-quote-right fa-w-16 fa-fw fa-2x"><path fill="{{settings.text_color}}" d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z" class="">
                                      </path>
                                    </svg>
                                  </span>
                                  {{block.settings.content}}
                                </blockquote>
                              </div>
                          	{% else %}
                              <div id="{{ section.id }}-{{ forloop.index0 }}" class="tabcontent equalHeight" data-section-id="{{ section.id }}">
                                <blockquote style="color: {{settings.text_color}}">
                                  <span class="quote-left">
                                  	<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-quote-left fa-w-16 fa-fw fa-2x"><path fill="{{settings.text_color}}" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z" class="">
                                      </path>
                                    </svg>
                                  </span>
                                  <span class="quote-right">
                                  	<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-quote-right fa-w-16 fa-fw fa-2x"><path fill="{{settings.text_color}}" d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z" class="">
                                      </path>
                                    </svg>
                                  </span>
                                  {{block.settings.content}}
                                </blockquote>
                              </div>
                          	{% endif %}
                    	{% endif %}
                    {% endfor %}
                  </div>
                </div>
              	<div class="tabs cs-row desktop-only">
                  {% for block in blocks %}
                      {% if forloop.index0 == 0 %}
                          <button {% if block.settings.external_link != blank %} onclick="window.open('{{block.settings.external_link}}')" {% endif %} class="tablinks cs-col active tab-{{ forloop.index0 }}" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                            <img src="{{block.settings.image | img_url: ''}}">
                            <span class="upperlayer"></span>
                          </button>
                      {% else %}
                          <button {% if block.settings.external_link != blank %} onclick="window.open('{{block.settings.external_link}}')" {% endif %} class="tablinks cs-col tab-{{ forloop.index0 }}" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                            <img src="{{block.settings.image | img_url: ''}}">
                            <span class="upperlayer"></span>
                          </button>
                      {% endif %}
                  {% endfor %}
              	</div>
              
              	<div class="tabs cs-row mobile-only">
                  {% for block in blocks %}
                      {% if forloop.index0 == 0 %}
                          <button  class="tablinks cs-col active tab-{{ forloop.index0 }}" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')" onclick="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                            <img src="{{block.settings.image | img_url: ''}}">
                            <span class="upperlayer"></span>
                          </button>
                      {% else %}
                          <button class="tablinks cs-col tab-{{ forloop.index0 }}" onmouseenter="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')" onclick="openTab(event, '{{ section.id }}-{{ forloop.index0 }}')">
                            <img src="{{block.settings.image | img_url: ''}}">
                            <span class="upperlayer"></span>
                          </button>
                      {% endif %}
                  {% endfor %}
                </div>
              
              {% endif %}
            </div>

            <div class="w-full lg:w-4/12 cs-col tab-category">
              <div class="category-block"  style="background-image: url('{{ settings.image | img_url: ''}}');background-repeat: {{settings.background-repeat}}; background-position: {{settings.background-position}}; background-size: {{settings.background-size}};">
                {% if settings.heading != blank %}
                	<a href="{{ settings.button_link }}">
                      <h3 style="color: {{settings.text-color}}">{{ settings.heading }}</h3>
                    </a>
                {% endif %}
              </div>
            </div>
          </div>
      {% endif %}
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Two Column Tabber",
"class": "ocean_full_width noborder",
    "settings": [
		{
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Background color",
            "default": "rgba(0,0,0,0)"
        },
		{
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default": "Heading"
        },
		{
            "type":"url",
            "id":"button_link",
            "label":"Card Link"
        },
		{
            "type": "select",
            "id": "text-color",
            "label": "Text Color",
            "default": "#fff",
            "options": [
                {
                    "value": "#fff",
                    "label": "White"
                },
                {
                    "value": "#000",
                    "label": "Black"
                }
            ]
        },
		{
            "type": "image_picker",
            "id": "image",
            "label": "Background Image"
		},
		{
            "type": "select",
            "id": "background-position",
            "label": "Background Position",
            "default": "center",
            "options": [
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "left top",
                    "label": "Left Top"
                },
                {
                    "value": "right top",
                    "label": "Right Top"
                },
                {
                    "value": "left bottom",
                    "label": "Left Bottom"
                },
                {
                    "value": "right bottom",
                    "label": "Right Bottom"
                }
            ]
        },
		{
            "type": "select",
            "id": "background-size",
            "label": "Background Size",
            "default": " ",
            "options": [
                {
                    "value": "contain",
                    "label": "Contain"
                },
                {
                    "value": "cover",
                    "label": "Cover"
                },
                {
                    "value": " ",
                    "label": "Default"
                }
            ]
        },
		{
            "type": "select",
            "id": "background-repeat",
            "label": "Background Repeat",
            "default": "no-repeat",
            "options": [
                {
                    "value": "no-repeat",
                    "label": "No Repeat"
                },
                {
                    "value": "repeat",
                    "label": "Repeat"
                }
            ]
        },
		{
            "type": "select",
            "id": "position_tabber",
            "label": "Position of Tabber",
            "default": "left",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ]
        },
		{
            "type": "select",
            "id": "tabber_color",
            "label": "Tabber Color",
            "default": "green",
            "options": [
                {
                    "value": "green",
                    "label": "Ocean Green"
                },
                {
                    "value": "white",
                    "label": "White"
                }
            ]
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Tab Text Color",
          "default": "#0D2F3D"
        }
	],
	"max_blocks": 4,
	"blocks": [
        {
            "type": "item",
            "name": "Custom content",
            "settings": [
                 {
                  	"type": "image_picker",
            		"id": "image",
            		"label": "Collapsible tab Image"
				},
				{
                  "type": "richtext",
                  "id": "content",
                  "label": "Accordion content",
                  "default": "<p>Shipping cost is based on weight. Just add products to your cart and use the Shipping Calculator to see the shipping price.</p><p>We want you to be 100% satisfied with your purchase. Items can be returned or exchanged within 30 days of delivery.</p>"
				},
				{
                    "type": "text",
                    "id": "iframe",
                    "label": "Iframe Link"
                },
				{
                    "type": "text",
                    "id": "external_link",
                    "label": "Extenral Link"
                }
            ]
        }
    ],
	"presets": [
        {
            "name": "Two Column Tabber",
			"category": "Custom",
            "blocks": [
                {
                    "type": "item"
                }
            ]
            
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
	
{% endjavascript %}
