{% if section.settings.enable_section %}
<div  class="shopify-section" > 
  <div class="material-wrapper">
    <div class="material">
      <img src="{{ section.settings.image-l | img_url: "450x"  }}">
      <h2>{{ section.settings.title-left }}</h2>
      {{ section.settings.tagline-left }}
	</div>
 
    
    <div class="material separator">
      <img src="{{ section.settings.image-r | img_url: "450x"  }}">
      <h2>{{ section.settings.title-right }}</h2>
      {{ section.settings.tagline-right }}
   </div>
</div>
    
    
<div class="material-wrapper" style="margin-top:40px;">
    <div class="material">
      <img src="{{ section.settings.image-bottom-left | img_url: "450x"  }}">
    </div>
 
    
    <div class="material">
      <img src="{{ section.settings.image-bottom-right | img_url: "450x"  }}">
	</div>
</div>
</div>
  {%- endif -%}

{% schema %}
{
  "name": "Tracking Bottom section",
  "class": "new-section track-bottom",
  "settings": [
	  	 {
      "type": "checkbox",
      "id": "enable_section",
      "label": "Show Section",
      "default": true
       },
		{
          "id": "image-l",
          "type": "image_picker",
          "label": "Image Left"
        },
	 {
      "type": "text",
      "id": "title-left",
      "label": "Title Left",
      "default": "Turn this"
    },
	{ "type": "richtext",
      "id": "tagline-left",
      "label": "Header Subtitle",
	  "default": "<p>Lorem Ipsum, with material samples and high volumes readily available</p>"

    }, 
	   {
          "id": "image-r",
          "type": "image_picker",
          "label": "Image Right"
        },
	 {
      "type": "text",
      "id": "title-right",
      "label": "Title Right",
      "default": "Turn this"
    },
	{ "type": "richtext",
      "id": "tagline-right",
      "label": "Tagline Right",
	  "default": "<p>Lorem Ipsum, with material samples and high volumes readily available</p>"

    },
	   {
          "id": "image-bottom-left",
          "type": "image_picker",
          "label": "Image Bottom Left"
        },
	   {
          "id": "image-bottom-right",
          "type": "image_picker",
          "label": "Image Bottom Right"
        }

  ]
}
{% endschema %}
