
:root {
  --color-white: #fff;
  --color-pineapple-yellow: #FFCE6D;
  --color-offshore-blue: #1E3261;
  --color-inshor-blue: #235AA7;
  --color-flats-blue: #6BCBC9;
  --color-coral-red: #F26969;
  --color-sunset-orange: #F8975C;
  --font-narin: 'Narin', sans-serif;
  --font-founders: 'Founders Grotesk Text';
  --font-founders-condensed: 'Founders Grotesk X-Condensed';
}


html {
  scroll-behavior: smooth;
}

body, body .h1, body .h2, body .h3, body .h4, body .h5, body .h6, body h1, body h2, body h3, body h4, body h5, body h6 {
	font-family: 'Narin',sans-serif;
}

body {
    padding-bottom: 0;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.no-radius {
  border-radius: 0px !important;
}

.text-underline {
  text-decoration: underline !important;
}

body:not(.page-template-index) {
    padding-top: 100px;
}

body.page-template-page\.social-impact {
    padding-top: 0;
}

body.page-template-page\.social-impact .inner-page-header {
  	background: transparent;
  	box-shadow: none;
}

.hidden {
  display: none !important;
}

.sf-image.sf-logo-transparent{width:70px;}

.sf__btn.cs-btn {
  padding: 1.2rem 1rem 1rem !important;
  text-transform: uppercase;
  font-weight: 700;
/*   max-width: 325px; */
  border-radius: 6px;
  line-height: normal;
  border-width: 2px;
  white-space: normal;
  min-width: 210px;
  position: relative;
  top:0;
  transition: all .3s ease-in-out 0s;
  text-decoration: none;
}

.sf__btn.cs-btn:hover {
  box-shadow: none !important;
  top: -0.8rem;
}

.btn-rel {
  position: relative;
}

.btn-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.rel {
  position: relative;
}

.sf-header .sf-menu-item > a {
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.sf-header.sf-mega-active .sf-menu-item > a {
  color: #081a2b;
}

.sf-header .sf-menu-item:last-child > a{
  background: #ffce6d;
  color: #081a2b;
}


.sf-header .sf-menu-item > a:after {
  bottom: 3px;
}

.sf-header .sf-menu-item:last-child > a:after {
  content: none;
}

.sf-header.scroll-up .sf-menu-item > a {
  color: #081a2b;
}

.lg\:w-12\/12 {
    width: 100%;
}

.full-width-container {
	max-width: 100%;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.w-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

img {
	max-width: 100%;
}

.sf__btn.choice-btn {
    padding: 2rem 1rem 1.8rem !important;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 330px;
    border-radius: 6px;
    line-height: normal;
    border-width: 2px;
    white-space: normal;
    width: 100%;
    position: relative;
    top: 0;
    transition: all .3s ease-in-out 0s;
  text-decoration: none;
  overflow: hidden;
}

.btn, .sf__btn {
    outline: none;
    transition: all .32s;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    letter-spacing: 0;
    text-transform: none;
    border-radius: 5px;
    line-height: 23px;
    text-align: center;
  text-decoration: none;
}

@media (min-width: 768px)
.btn, .sf__btn {
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (min-width: 1024px) {
  .lg\:w-3\/12{width:25%}
  .lg\:w-4\/12{width:33.333333%}
  .lg\:w-5\/12{width:41.666667%}
  .lg\:w-6\/12{width:50%}
  .lg\:w-7\/12{width:58.333333%}
  .lg\:w-8\/12{width:66.666667%}
  .lg\:w-9\/12{width:75%}
  .lg\:w-10\/12{width:83.333333%}
  .lg\:w-11\/12{width:91.666667%}
}

.py-2{padding-top:.5rem;padding-bottom:.5rem}
.px-4{padding-left:1rem;padding-right:1rem}
.py-6{padding-top:1.5rem;padding-bottom:1.5rem}
.py-4{padding-top:1rem;padding-bottom:1rem}
.px-6{padding-left:1.5rem;padding-right:1.5rem}
.py-8{padding-top:2rem;padding-bottom:2rem}
.px-0{padding-left:0;padding-right:0}
.py-16{padding-top:4rem;padding-bottom:4rem}
.py-0{padding-top:0;padding-bottom:0}
.py-24{padding-top:6rem;padding-bottom:6rem}
.px-5{padding-left:1.25rem;padding-right:1.25rem}
.px-2{padding-left:.5rem;padding-right:.5rem}
.px-3{padding-left:.75rem;padding-right:.75rem}
.py-10{padding-top:2.5rem;padding-bottom:2.5rem}
.py-3{padding-top:.75rem;padding-bottom:.75rem}
.py-5{padding-top:1.25rem;padding-bottom:1.25rem}
.py-1{padding-top:.25rem;padding-bottom:.25rem}

.ocean_full_width {
    max-width: 100% !important;
    padding: 0 !important;
  margin: 0 !important;
}

.ocean_full_width a {
	text-decoration: none;
}

.noborder {
    border: none !important;
}

.container.section-py {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container {
    max-width: 1168px;
    margin: 0 auto;
  padding: 0 32px;
}

.item-start {
	align-item: flex-start;
}

.item-center {
	align-item: center;
}

.item-end {
	align-item: flex-end;
}

#shopify-section-static-header {
    position: relative;
    z-index: 999;
}

/**** Start of Header Styling ****/

.site-header.updated-header {
  max-width: 100%;
  padding: 0;
}

.site-header-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px;
  transition: all ease 0.3s;
}

.fixed .site-header-wrapper {
  padding: 0.5rem;
}

.site-header.updated-header {
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
}

.site-header.updated-header.fixed {
  background: #fff;
}

.site-logo-image {
  display: none;
}



@media (min-width: 769px) {
  .site-navigation {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .site-header-wrapper {
    justify-content: space-between;
  }
}
@media (min-width: 769px) and (max-width: 940px) {
  .site-navigation {
    width: 75%;
  }
}

.site-navigation {
  display: flex;
  justify-content: center;
}

.site-navigation .navmenu-link {
  font-weight: 600 !important;
  font-family: var(--font-founders);
  color: #fff;
  padding: 1rem 1rem;
  font-size: 15px;
  line-height: 1;
}

.site-navigation .navmenu-link:hover {
  color: var(--color-white);
}

.site-navigation .navmenu-submenu .navmenu-link {
  color: #1e3261 !important;
  font-weight: 400 !important;
  font-size: 14px;
}


.site-navigation .navmenu-id-marketplace a{
  background: #ffce6d;
  color: #081a2b;
}

.fixed .site-navigation .navmenu-link {
  color: #1e3261;
}

.inner-page-header {
  background: #235aa7;
}

.fixed .inner-page-header {
  /* background: #fff; */
  /* box-shadow: 0 3px 6px #ccc; */
}

.inner-page-header .site-navigation > ul > .navmenu-item-parent > a.navmenu-link:hover {
    color: #fff;
}

.fixed .inner-page-header .site-navigation > ul > .navmenu-item-parent > a.navmenu-link:hover {
	color: #1e3261;
}
/**** End of Header Styling ****/


/**** Start of Banner Section ****/


.sf__slide-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.sf__slide-bg video {
	width: 100%;
}

.video-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  min-height: 500px;
}

.video-container.nav-remove {
  margin-top: -118px;
}

.video-text-container {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
  align-content: center;
  justify-content: center;
  min-height: 540px;
}

.slide__block-description p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
}

.sf__slide-block .sf__btn {
  padding: 1.2rem 1rem 1rem !important;
  text-transform: uppercase;
  font-weight: 700;
  max-width: 455px;
  border-radius: 10px;
  line-height: 1;
  border: 2px solid #fff;
  background: transparent !important;
  color: #fff !important;
  position: relative;
  top: 0;
  transition: all .3s ease-in-out 0s;
}

.sf__slide-block .sf__btn:hover {
  top: -0.8rem;
}

.sf__slide-content .slide__block-title {
  font-size: 65px;
  letter-spacing: 0.1em;
  font-weight: 600 !important;
  line-height: 1.25 !important;
  margin: 0 0 0.5rem;
  text-transform: uppercase;
  color: #fff;
}

.sf__slide-content .slide__block-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 2rem;
}

.slide__block-description {
    max-width: 680px;
    margin-top: 24px;
    margin: 0 auto 1.75rem;
    font-family: var(--font-founders);
}

.slide__block-description p {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  letter-spacing: normal;
}

/**** End of Banner Section ****/


/**** Start of Customer Logo ****/

.customer-logo-list {
    padding: 2rem 0 4rem;
}

.customer-logo__container {
    text-align: center;
    max-width: 800px;
    margin: 0.6rem auto 0;
}

.customer-logo__logo {
    max-width: 150px;
}

.customer-logo__container ul {
  margin: 0 auto;
  align-items: center;
  width: 100%;
  flex: 1 1 100%;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
}

.customer-logo-image {
    margin: 0 0.5rem;
}

.customer-logo-list .section__header.text-center {
	margin: 0;
}

.customer-logo-list .section__header.text-center .section__heading{
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600 !important;
    line-height: 1 !important;
}

/**** End of Customer Logo ****/


/**** Start of Global Mission ****/
.global-mission {
	padding: 3rem 0 1rem;
}

.global-mission .heading-wrapper h3 {
	margin: 0 0 2rem;
}

.image-box {
/*   max-width: 320px;
  max-height: 140px; */
  position: absolute;
}

.image-box img {
  max-height: 220px;
  transform: scale(1);
  transition: all .3s ease-in-out 0s;
}

.image-box:hover img {
  transform: scale(1.1);
}

.image-container {
  position: relative;
  width: 100%;
  min-height: 500px;
}

.global-mission .desc {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 0 0 2rem;
  padding: 0 4rem 0 0;
}

.global-mission .desc p {
	margin: 0;
}

.flex.container-small {
  max-width: 530px;
}

.flex.container-small .heading-wrapper {
  padding: 0;
}

.global-mission .bg-image {
  position: absolute;
  width: 50%;
  height: 73%;
  right: -3%;
  top: 27%;
  background-repeat: no-repeat;
  background-size: contain;
}



/**** End of Global Mission ****/


/**** Start of Choice Collection ****/

.choice-collection {
  padding: 6rem 0 1rem;
}

.main-image {
  padding-right: 2rem;
}

.content-section {
  padding-left: 2rem;
}

.choice-collection .heading-wrapper {
  padding: 0;
}

.choose-section .heading-wrapper {
  max-width: 400px;
}

.border-left-box {
  padding-left: 2rem;
  margin-bottom: 1rem;
  border-width: 0 0 0 2px;
  border-style: solid;
  max-width: 396px;
  padding-right: 1rem;
  line-height: 1.2;
  font-weight: 600;
  font-size: 1.3rem;
  color: #1e3261;
}

.border-left-box ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 1.2rem;
}

.border-left-box ul li {
	padding-right: 2rem;
}

.border-left-box p {
  line-height: 1.2;
  font-weight: 600;
  font-size: 1.3rem;
  color: #1e3261;
}

.icon-list {
  margin: 0 -1rem;
  padding: 0;
	list-style: none;
}

.icon-double {
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.icon-single {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: -webkit-calc(50% - 1rem);
  width: calc(50% - 1rem);
  padding: 0 1rem;
}

.icon-double img,
.icon-single img {
  max-width: 100%;
  transform: scale(1);
  transition: all .3s ease-in-out 0s;
  max-width: 120px;
}

.icon-double:hover img,
.icon-single:hover img {
  transform: scale(1.1);
}

.sf__btn.choice-btn {
  padding: 2rem 1rem 1.8rem!important;
  text-transform: uppercase;
  font-weight: 700;
  max-width: 330px;
  border-radius: 10px;
  line-height: normal;
  border-width: 2px;
  white-space: normal;
  width: 100%;
  position: relative;
  top:0;
  transition: all .3s ease-in-out 0s;
}

.sf__btn.choice-btn:hover {
  box-shadow: none !important;
  top: -0.8rem;
}

/**** End of Choice Collection ****/

/**** Start of Guarantee ****/

#guarantee {
    margin-top: -80px;
    padding-top: 80px;
}

#guarantee .container {
    padding-top: 100px;
}

.guarantee-section .description-box p {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 600;
}

.guarantee-section .heading-wrapper {
    padding: .8rem 10rem 1.2rem;
}

.guarantee-section .left-icon {
    position: relative;
    right: -11%;
}

.guarantee-section .left-icon img {
    max-width: 250px;
}

/* .guarantee-section .center-icon {
	margin-right: 0;
}
 */
.guarantee-section .center-icon img {
    max-width: 180px;
    margin: 0 auto;
}

.description-box {
  margin-bottom: 1.5rem;
}

.visible-mobile {
  display: none;
}

.yellow-box {
  padding: 1rem;
}

.yellow-box h4 {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 1rem;
  line-height: 1;
}

.yellow-box h4:empty {
	display: none;
}

.whale-icon {
    position: absolute;
    left: 0px;
    top: -103px;
    z-index: 0;
    width: 330px;
}

.whale-icon img {
    max-height: 100%;
}

.content-row {
    padding-left: 330px;
}

.logo-icon {
    max-width: 132px;
    padding: 2rem 1rem;
}

/* .guarantee-text {
    text-align: left;
    width: 40%;
} */

/* .certificate-section {
    width: 40%;
} */

.guarantee-text {
    text-align: left;
    width: 60%;
}

.certificate-section {
    width: 25%;
}

.certificate-logo img {
    max-width: 90px;
}

.certificate-icons {
    display: flex;
  justify-content: center;
}

.certificate-logo {
    padding: 0 1rem;
}

/**** End of Guarantee ****/

/**** Start of Icon Grid Styling ****/

/* .card-wrapper {
  border: 1px solid var(--text-white);
} */

.card-single {
/*   border-right: 1px solid var(--text-white);
  border-bottom: 1px solid var(--text-white); */
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
/*   justify-content: space-between; */
  flex-wrap: wrap;
  max-width: 20%;
}

.heading-wrapper {
	padding: 0.8rem 0.8rem 1.2rem;
}

.choose-section .heading-wrapper h3 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1;
  margin: 0 0 1.5rem;
}


.heading-wrapper h3 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 1.5rem;
}

.card-single:nth-child(3n) {
  border-right: none;
}

.card-single:nth-child(n + 4) {
  border-bottom: none;
}


.card-single .card-image {
    margin-bottom: 1rem;
}

.card-single h4 {
    margin-bottom: 1.4rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
}

.card-single p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
}

.card-single img {
/*     max-width: 100%; */
  margin: 2rem auto;
  max-width: 90px;
  max-height: 63px;
}

.sf__btn-inverted {
    background: #fff;
    text-transform: uppercase;
}

.icon-grid {
	padding-bottom: 3rem;
}

.icon-grid .inner-container {
    max-width: 710px;
    margin: 0 auto;
}

.icon-grid .card-wrapper  {
/* 	padding: 2rem 0 1.5rem; */
  padding: 0 0 1.5rem;
}

/**** End of Icon Grid Styling ****/

/**** Start of Content Icon Box Styling ****/

.content-icon {
	padding-top: 100px;
  padding-bottom: 50px;
}

.content-icon .heading-wrapper {
  padding: .8rem 1.5rem 1.2rem 0;
  width: 430px;
}

.content-icon .icon-card {
    width: 400px;
}

.content-icon .heading-wrapper h3 {
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 3.2rem;
}

.icon-card p {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.2;
  	padding-top: 1rem;
}

.icon-circle-wrapper {
    width: 100%;
}

.circle-card-block {
    width: 100%;
    justify-content: space-between;
}

.circle-card-block {
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
}

.image-card {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
  font-size: 1.2rem;
  width: 280px;
  height: 280px;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  margin:1rem 1.5rem;
  position: relative;
  transform: scale(1);
  transition: all .3s ease-in-out 0s;
  text-align: center;
}

.image-card:hover {
  transform: scale(1.1);
}

.image-card p {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
}

.image-card img {
    width: auto;
    margin: 0 auto 1.5rem;
    max-width: 60%;
  max-height: 85px;
}

/**** Start of Content Icon Box Styling ****/


/**** Start of Two Col Tabbar ****/

.tabber-wrapper {
	padding: 7.5px 0;
}

.tabber-wrapper h3 {
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
}

.category-block {
    height: 100%;
    display: flex;
/*   	flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    border-radius: 10px;
  	position: relative;
  	top: 0;
    transition: all .3s ease-in-out 0s;
}

.category-block a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.category-block:hover {
	top: -0.8rem;
}

.cs-row {
	margin: 0 -7.5px;
}

.cs-col {
	padding: 0 7.5px;
}

.tabs {
    display: flex;
}

.tablinks {
  border-radius: 10px;
  margin: 7.5px 7.5px 0;
  padding: 2rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  transition: all .3s ease-in-out 0s;
  border: none;
  cursor: pointer;
}

.tablinks:hover {
    top: -0.8rem;
}

.tablinks .upperlayer {
	display: none;
}

.tablinks.active .upperlayer {
    position: absolute;
    left: 0;
    top: -23px;
    width: 100%;
    height: 32px;
    z-index: 0;
  	display: block;
}

.tablinks img {
    max-height: 60%;
    max-width: 60%;
}

.tablinks:last-child img {
  max-height: 100%;
  max-width: 60%;
}
.tabcontent {
    width: 100%;
    border-radius: 10px;
    padding: 1.3rem;
    display: none;
    margin: 0 0 7.5px;
    font-size: 2.2rem;
    line-height: 1;
    font-weight: 600;
  	min-height: 360px;
}

.green .tabcontent {
    background: #6bcbc9;
  	min-height: 0;
}

.green .tablinks{
    background: #519fa5;
}

.green .tablinks.active .upperlayer ,
.green .tablinks.active {
    background: #6bcbc9;
}

.tabcontent, .tablinks {
    background: #ffffff;
}

.tablinks.active .upperlayer {
    background: #ffffff;
}


.tabber-wrapper blockquote {
  padding: 1rem;
  position: relative;
  margin: 0;
}

.tabber-wrapper blockquote .quote-left {
  position: absolute;
  left: 0;
  top:0;
}

.tabber-wrapper blockquote .quote-left svg {
  width: 18px;
}

.tabber-wrapper blockquote .quote-right {
  position: absolute;
  right: 0;
  top:0;
}

.tabber-wrapper blockquote .quote-right svg {
  width: 18px;
}

.tabber-wrapper blockquote p {
  font-size: 1.3rem;
  line-height: 1.2;
}

.iframe-container .fluid-width-video-wrapper {
  position: relative;
  padding: 50% 0 0 0 !important;
}

.iframe-container iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/**** End of Two Col Tabbar ****/


/**** Start of Impact Program ****/

.impact-section {
  padding-bottom: 50px;
}

.single-chart {
  width: 100%;
  justify-content: space-around ;
  position: relative;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
}

.circle-bg {
  fill: none;
  stroke: transparent;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: square;
  stroke: transparent;
}

.circle-animation {
  animation: progress 3s ease-out forwards;
}

.circular-chart.colored .circle.circle-animation {
  /*stroke: #62859d;*/
  stroke: url(#grad1)
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }

}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.progress-heading {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.progress-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  margin-top: 10px;
}

.progress-text {
    font-size: 2rem;
    font-weight: 600;
    line-height: 0.5;
}

.progress-unit {
    font-size: 1.2rem;
}

/**** End of Impact Program ****/


/**** Start of footer ****/

.sf-footer .sf__accordion-content {
    text-align: center;
}

.sf-footer .sf__accordion-content img {
    max-width: 380px;
}

footer.sf-footer {
    background-color: #204788;
}


/**** Override existing footer ****/


#shopify-section-site-footer {
  background: #021129;
  color: #fff;
  font-family: 'Narin', sans-serif;
}

#shopify-section-site-footer h1, #shopify-section-site-footer h1 a {
  color: #D1D5DB;
  font-family: 'Narin', sans-serif !important;
  font-weight: 600 !important;
  font-size: 20px;
}

#shopify-section-site-footer p {
  color: #D1D5DB;
  font-family: 'Foundes Grotesk Text'
  font-size: 20px;
  line-height: 1.2;
  margin: 3;
}

#shopify-section-site-footer .footnav-menu {
  color: #fff;
  /* font-family: 'Narin', sans-serif !important; */
  font-family: var(--font-founders) !important;
  font-weight: 100;
}

#shopify-section-site-footer .footnav-menu li {
  font-size: 1.2rem;
  line-height: 1.2;
}

#shopify-section-site-footer .credits a {
  color: #fff;
  font-family: 'Narin', sans-serif;
}
#shopify-section-site-footer .social-link {
    color: #fff;
  fill: #fff;
}
#shopify-section-site-footer .site-footer {
    padding: 100px 1rem 0;
    max-width: 1170px;
}
#shopify-section-site-footer .site-footer-item {
  border: none;
  padding-bottom: 0;
}

#shopify-section-site-footer .footer-logo {
    width: 100%;
    text-align: left;
}

#shopify-section-site-footer .footer-logo img {
  width: 226px;
}

#shopify-section-site-footer .newsletter.subscribe-button {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}

#shopify-section-site-footer .newsletter.subscribe-button > span {
  padding: 0 !important;
}

#shopify-section-site-footer button.needsclick {
  display: flex;
  align-items: center;
  height: 54px !important;
  padding: 0px 32px !important;
  text-transform: uppercase;
  line-height: normal !important;
  border-radius: 100px !important;
  min-width: unset;
  overflow: hidden;
  font-family: var(--font-founders) !important;
  margin: 0 0 0 1rem;
  background: #FFCE6D !important;
  color: #1E3261 !important;
  font-weight: 600 !important;
  letter-spacing: 0.12em !important;
}

#shopify-section-site-footer div.needsclick {
  padding: 0 !important;
}

#shopify-section-site-footer div.needsclick input {
  padding: 16px 22px !important;
  height: auto !important;
  border-radius: 100px !important;
  background: transparent !important;
  border: 1.5px solid white !important;
  color: #6BCBC9 !important;
  font-size: 16px !important;
  font-family: var(--font-founders) !important;
}

#shopify-section-site-footer div.needsclick input::placeholder {
  color: #6BCBC9 !important;
  font-size: 16px !important;
  font-family: var(--font-founders) !important;
}

#shopify-section-site-footer .payment {
  justify-content: flex-start;
  margin: 0 -10px;
}

.footnav {
  margin-right: 0;
}

/**** Override existing footer ****/

/**** End of Footer ****/


.resourceslist-collection a {
  color: #235aa7;
  font-family: Narin,sans-serif !important;
  font-weight: 600;
}

.desktop-only {}
.mobile-only {
	display: none;
}

@media (max-width: 1440px) {
  .sf-header .sf-menu-item > a {
    color: #081a2b;
  }
}

@media (max-width: 1200px) {

  .global-mission .bg-image {
  	right: 2%;
  }

}

@media (max-width: 1024px) {

  .desktop-only {
  	display: none;
  }

  .mobile-only {
      display: flex;
  }

  .sf__slide-bg video {
  	width: auto;
  }

  .choose-section .main-image img {
    max-width: 300px;
    margin: 0 auto 2rem;
  }

  .content-icon .heading-wrapper h3,
  .sf__slide-content .slide__block-title,
  .heading-wrapper h3 {
  	font-size: 2.2rem;
  }

  .three-col>div,
  .card-single p,
  .card-single h4,
  .guarantee-section .description-box p,
  .global-mission .desc,
  .sf__slide-content .slide__block-subtitle,
  .slide__block-description p,
  .border-left-box,
  .border-left-box p {
  	font-size: 1.2rem;
  }

  .border-left-box ul {
  	justify-content: center;
    padding: 0;
  }

  .icon-card p {
  	font-size: 1.5rem;
  }

  .card-single {
  	max-width: 33%;
  }

  .tab-category {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .category-block {
  	min-height: 250px;
  }

  .image-container {
  	width: -webkit-calc(100vw - 48px);
    width: calc(100vw - 48px);
    margin-top: 11rem;
  }

  .global-mission .bg-image {
    width: -webkit-calc(100vw - 48px);
    width: calc(100vw - 48px);
    height: 63%;
    right: 0;
    top: 37%;
    left: 0;
    margin: 0 auto;
  }


  .tabber-wrapper blockquote .quote-right svg,
  .tabber-wrapper blockquote .quote-left svg {
    width: 14px;
  }

  .sf-logo {
    width: 100%;
  }

  .icon-list {
  	justify-content: center;
  }

  .icon-single {
    width: 80px;
  }

  .icon-single img {
  	max-width: 62px;
  }

  .content-section {
    text-align: center;
    padding-top: 2rem;
  }

  .choose-section .heading-wrapper {
    max-width: 100%;
  }

  .border-left-box {
    padding-left: 2rem;
    border-width: 0;
    padding-right: 2rem;
    max-width: 100%;
  }

  .sf__btn.choice-btn {
    padding: 1.5rem 1rem 1.2rem!important;
  }

  .guarantee-section .left-icon {
    position: relative;
    right: 0;
    left: 0;
    margin: 0 auto 1rem;
  }

  .guarantee-text {
	text-align: center;
    width: 55%;
  }

  .hidden-mobile  {
  	display: none;
  }

  .visible-mobile  {
  	display: flex;
  }

  .img-pair-left img {
    max-width: 300px
  }

  .img-pair-right img {
    max-width: 150px;
  }

  .mobile-img-pair {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 0 2rem;
  }

  .heading-wrapper {
    padding: 0.8rem 0 1.2rem;
  }

  .global-mission,
  .content-icon-box,
  .impact-section {
  	text-align: center;
  }

  .flex.container-small {
    max-width: 100%;
  }

  .w-100 {
    width: 100%;
  }

  .global-mission .desc {
  	padding: 0 0 1rem 0;
  }

  .icon-card .sf-custom__block {
    padding: 0 15px;
    width: 33%;
  }

  .image-card img {
    margin: 0 auto 2rem;
    max-width: 120px;
  }

  .card-single img {
    max-width: 100%;
  }

  .progress-circle {
    width: 25%;
  }

/*   .icon-grid .inner-container {
    padding: 0;
  } */

  .sf-footer .sf__accordion-content img {
    max-width: 200px;
  }

  .sf-footer .sf__footer-middle .sf-footer__block {
  	width: 100%;
    padding-top: 2rem;
    padding-bottom: 0;
  }

  .sf-footer__accordion {
    display: none;
  }

  .choice-collection {
    padding: 3rem 0 1rem;
  }

  .main-image {
    padding-right: 0;
    text-align: center;
  }

  .content-section {
    padding-left: 0;
  }

  .whale-icon {
    left: 0;
    top: -63px;
    width: 170px;
  }

  .content-row {
    padding-left: 170px;
  }

  .certificate-section {
    width: -webkit-calc(40% - 104px);
    width: calc(40% - 104px);
  }

  .site-navigation-flex .site-navigation {
  	flex-basis: 75%;
  }

  .site-navigation .navmenu-depth-2 {
    margin-left: -90px;
  }

  .content-icon .heading-wrapper {
    width: 100%;
    padding: .8rem 0 1.2rem 0;
  }

  .content-icon .heading-wrapper h3 {
  	margin: 0;
  }

  .content-icon .icon-card {
      width: 100%;
    margin-bottom: 1.5rem;
  }

  .customer-logo-image {
  	margin: 1rem .5rem;
  }

  .site-footer-social {
  	flex-wrap: wrap;
  }


}


@media (max-width: 960px) {

  #shopify-section-site-footer .site-footer-item {
  	padding-left: 0;
    padding-right: 0;
  }

  .tabcontent {
    min-height: 300px;
  }

  .green .tabcontent {
      min-height: 0;
  }
}


@media (max-width: 767px) {

  .image-container {
  	display: flex;
    flex-wrap: wrap;
    min-height: 0;
    margin-top: 0;
  }

  .content-icon {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .icon-grid {
    padding-bottom: 0rem;
  }

  #guarantee .container {
    padding-top: 20px;
  }

  .image-box {
/*     max-width: 40%;
    max-height: 100%; */
    position: static;
    margin: 20px auto;
  }

  .image-box img {
  	max-height: 100%;
  }

  .icon-card .sf-custom__block {
    padding: 1rem 15px;
    width: 100%;
  }

  .img-pair-left img,
  .img-pair-right img {
    max-width: 90%;
  }

  .card-wrapper {
    justify-content: center;
  }

  .card-single {
    max-width: 300px;
    border-right: none;
  }

  .three-col {
    flex-wrap: wrap;
  }

  .three-col > div {
  	margin: 0 0 1rem;
  }

  .three-col > div img {
  	max-width: 80%;
    margin: 0 auto;
  }

/*   .sf__slide-block .sf__btn {
  	border: 2px solid #232323;
    color: #232323 !important;
  } */

  .progress-circle {
    width: 50%;
    margin: 0 0 1rem;
  }

  .progress-text {
  	font-size: 1.2rem;
  }

  .sf__mobile-heading.leading-snug {
    text-transform: uppercase;
    font-weight: 600;
  }

  .sf__mobile-description {
    font-weight: 600;
    color: var(--color-heading-text);
  }

  .icon-grid {
  	background-size: cover !important;
  }

  .content-row > div {
    align-items: center;
  }

  .certificate-section {
    width: 300px;
    margin: 0 auto;
  }

  .content-row {
    padding-left: 0;
  }

  .guarantee-text {
    text-align: center;
    width: 100%;
  }

  .global-mission .heading-wrapper h3 {
    margin: 0 0 1rem;
  }

  .fixed .site-logo-image {
  	max-width: 140px !important;
  }

  .video-text-container {
  	padding-right: 1rem;
	padding-left: 1rem;
  }

  .content-icon .heading-wrapper {
    width: 100%;
    padding: .8rem 0 1.2rem 0;
  }

  .content-icon .icon-card {
      width: 100%;
  }

  #shopify-section-site-footer .newsletter.subscribe-button {
  	margin: 0 0 10px;
  }

  #shopify-section-site-footer .newsletter.subscribe-button form {
  	padding: 10px 0 !important;
  }

  #shopify-section-site-footer .site-footer {
  	padding: 0 1rem 0;
  }

  #shopify-section-site-footer .social {
  	margin-top: 12px;
  }

  .tabber-wrapper blockquote p {
  	font-size: 1.2rem;
  }

  .tabcontent {
    min-height: 440px;
  }

  .green .tabcontent {
      min-height: 0;
  }

  .customer-logo-list {
    padding: 2rem 0;
  }

  .global-mission {
    padding: 1rem 0;
  }

  .video-container {
  	height: auto;
    padding-top: 4rem;
  }


}


@media (max-width: 639px) {

  .fixed .site-logo-image,
  .site-navigation,
  .desktop-view {
    display: none;
  }

  .site-logo-header {
    text-align: center;
  }

  .site-logo-image-mobile {
    position: relative;
  	top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .guarantee-section .heading-wrapper {
    padding: .8rem 1rem 1.2rem 10rem;
  }

  .mobilenav-toggle {
  	width: 24px;
  }

  .mobilenav-toggle svg {
    width: 100%;
    height: auto;
  }

  body:not(.page-template-index) {
    padding-top: 70px;
  }

  body:not(.page-template-index) .site-logo-image-mobile {
  	filter: brightness(0) invert(1);
  }

  body:not(.page-template-index) .fixed .site-logo-image-mobile {
  	filter: none;
  }

  body.page-template-page\.social-impact {
    padding-top: 0;
  }


}


@media (max-width: 500px) {

  .guarantee-section .heading-wrapper {
    padding: .8rem 1rem 1.2rem;
  }

  .whale-icon {
  	display: none;
  }

}

.button {
  height: 40px;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-size: 13px;
  line-height: 1;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-family: var(--font-founders);
  width: fit-content;
  text-align: center;
}

.button-large {
  height: 56px;
  padding: 0 48px;
}

.button-primary {
  background: var(--color-pineapple-yellow);
  color: var(--color-offshore-blue);
}

.button-secondary {
  background: var(--color-coral-red);
  color: var(--color-white);
}

.sf__slide-content .slide__block-subtitle {
  font-size: 20px;
  letter-spacing: 0.19em;
  font-family: var(--font-founders);
  color: var(--color-pineapple-yellow);
  margin-bottom: 24px;
}

.sf__slide-block a {
  margin-left: auto;
  margin-right: auto;
}

.text-info {
  background: #002967;

}

.text-info .container {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.eyebrow {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.19em;
  font-family: var(--font-founders);
  color: var(--color-pineapple-yellow);
  margin-bottom: 16px;
  font-weight: 600;
}

.section_title {
  font-size: 48px;
  font-family: var(--font-narin);
  color: var(--color-white);
  font-weight: bold !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.2 !important;
  margin-top: 0;
}

.text-info .text-info-blocks {
  display: flex;
  justify-content: center;
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
}
@media (max-width: 768px) {
  .text-info .text-info-blocks {
    flex-direction: column;
  }
}
.text-info .text-info-blocks .text-info-item {
  flex: 1;
}

.text-info-blocks .text-info-title {
  font-family: 'Founders Grotesk X-Condensed';
  font-size: 38px;
  line-height: 1.05;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--color-pineapple-yellow);
}
@media (min-width: 769px) {
  .text-info-blocks .text-info-title {
    /* padding: 0 15px; */
  }
}

.text-info-blocks .text-info-subtitle {
  margin-top: 8px;
  font-family: var(--font-founders);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.09em;
  color: var(--color-white);
  text-transform: uppercase;
}

.text-info-item {
  padding: 0 20px;
  border-right: 1px solid var(--color-white);
}

.text-info-item:last-child {
  border-right: 0;
}

.image_grid_with_text .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title-description-flex {
  display: flex;
  justify-content: space-between;
}

.title-description-flex .content-group:first-child {
  width: 40%;
  margin-right: 3%;
}

.title-description-flex .content-group:last-child {
  width: 57%;
}

.flats-blue {
  color: var(--color-flats-blue) !important;
}

.inshore-blue {
  color: var(--color-inshor-blue) !important;
}

.flats-blue {
  color: var(--color-flats-blue) !important;
}

.coral-red {
  color: var(--color-coral-red);
}

.white {
  color: var(--color-white) !important;
}

.section_title_large {
  font-size: 70px;
}

.description-text {
  font-family: var(--font-founders);
  font-size: 22px;
  line-height: 1.2;
}

.description {
  display: flex;
  gap: 36px;
}

.description .diag-line svg {
  width: 56px;
  height: 90px;
}

.title-description-flex .description {
  margin-top: 48px;
}

.image_grid_with_text .image-content {
  margin-top: 80px;
  display: flex;
  gap: 32px;
}

.image_grid_with_text .image-content .image-item {
  position: relative;
}

.image_grid_with_text .image-item .overlap-title {
  position: absolute;
  top: 34px;
  left: 50%;
  transform: translate(-50%);
  font-family: var(--font-narin);
  font-size: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 600;
}

.image-banner1 .image-banner-with-bg {
  background-size: cover;
}

.image-banner1 .container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.image-banner1 .text-content .section_title {
  max-width: 700px;
}

.image-banner1 .description-text {
  max-width: 588px;
  margin-top: 30px;
}

.image-banner1 .image-content {
  width: 402px;
  max-width: 100%;
}

.image-banner1 .image-content img {
  width: 100%;
}

.image-and-text {
  background: linear-gradient(180deg, #FFFFFF 0%, #EDF1F1 100%);
}

.image-with-text .image-and-text-item {
  margin-top: 108px;
  margin-bottom: 108px;
  display: flex;
  align-items: center;
}

.image-and-text-item.reverse {
  flex-direction: row-reverse;
}


.image-and-text-item .image-wrap {
  flex-basis: 50%;
  width: 50%;
}

.image-and-text-item .text-wrap {
  width: 50%;
  flex-basis: 50%;
  padding-left: 8%;
}

.image-and-text-item.reverse .text-wrap {
  padding-left: 0;
  padding-right: 8%;
}

.image-and-text-item .text-wrap .title {
  font-size: 48px;
  text-transform: uppercase;
  font-family: var(--font-narin);
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 57px;
}
.image-and-text-item .text-wrap .title span {
  /* color: #f26969; */
  display: inline-block;
  font-family: var(--font-founders);
  font-weight: 600;
  font-size: 54px;
  line-height: 0;
  /* transform: translateY(-8px); */
}
@media (max-width: 1024px) {
  .image-and-text-item .text-wrap .title span {
    font-size: 40px;
    /* transform: translateY(-4px); */
  }
}

.image-and-text-item .text-wrap .description {
  margin-top: 24px;
}

.image-and-text-item .cta-wrap {
  margin-top: 66px;
}

.section-with-bg {
  background-size: cover;
  background-position: center;
  padding: 120px 0;
}

.image-with-text-overlay-blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 32px;
}

.image-with-text-overlay-block {
  position: relative;
}

.image-with-text-overlay-block .image-content img {
  width: 100%;
  position: relative;
}

.image-with-text-overlay-block .image-content::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #58B9A8e0;
}

.image-with-text-overlay-block:hover .image-content::after {
  content: '';
}

.image-with-text-overlay-block .text-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 48px;
}

.image-with-text-overlay-block .description-text {
  margin: 12px 0;
  max-height: 0;
  transition: all 0.2s linear;
  overflow: hidden;
}

.image-with-text-overlay-block:hover .description-text {
  max-height: 50%;
  margin: 24px 0;
}

.image-tiles .section-with-bg {
  padding: 120px 0;
}

.image-tiles .section_title {
  font-size: 64px;
  text-align: center;
}

.image-tiles .tiles {
  margin-top: 56px;
  display: flex;
  gap: 32px;
}

.image-tiles .tile-big {
  width: 63%;
  flex-basis: 63%;
}

.image-tile .image-wrap img {
  width: 100%;
}

.image-tile .eyebrow {
  margin-top: 27px;
  font-size: 16px;
}

.tile-small .image-tile .eyebrow {
  font-size: 12px;
  margin-top: 16px;
}

.image-tile .title {
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-narin);
  letter-spacing: 0.1em;
  line-height: 28px;
  text-transform: uppercase;
}

.tile-small .image-tile .title {
  font-size: 16px;
}

.cta-wrap {
  margin-top: 36px;
}

.tile-small {
  width: calc(37% - 32px);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.featured-partners-section .container {
  padding-top: 120px;
}

.featured-partners-section > .section_title {
  font-size: 64px;
  text-align: center;
}

.partner-details-group {
  margin-top: 56px;
}

.partner-details-item {
  display: flex;
  gap: 10%;
}

.partner-details-item .text-wrap {
  flex-basis: 45%;
  width: 45%;
}

.partner-details-item .video-wrap {
  flex-basis: 45%;
  width: 45%;
  padding-top: 30px;
}

.partner-details-item .section_title {
  font-size: 48px;
}

.partner-details-item .description {
  margin-top: 24px;
}

.partner-details-item .description .diag-line svg {
  fill: var(--color-flats-blue);
}

.partner-details-item .video-wrap .fluid-width-video-wrapper {
  padding-top: 56% !important;
}

.partner-details-item .video-wrap .btn-wrapper {
  margin-top: 15px;
}
.partner-details-item .video-wrap .btn-wrapper .button {
  margin: 0 auto;
}

.partner-details-item .video-wrap iframe {
  width: 100%;
  height: 100%;
}


.featured-partners-section .partner-icons {
  width: calc(100% - 140px);
}

.featured-partners-section .partner-icon {
  /* margin-right: 60px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
  opacity: 0.7;
}

.featured-partners-section .slick-current .partner-icon {
  opacity: 1;
}

.featured-partners-section .partner-icon .number {
  font-family: var(--font-founders-condensed);
  font-size: 64px;
  letter-spacing: 0.09em;
  line-height: 50px;
  color: var(--color-flats-blue);
}

.featured-partners-section .partner-icon .icon-wrap img {
  width: auto;
}
@media (max-width: 768px) {
  .featured-partners-section .partner-icon .icon-wrap img {
    max-width: 80px;
    height: auto;
  }
}

.featured-partners-section .partner-icon .partner-name {
  font-family: var(--font-founders);
  font-size: 14px;
  color: var(--color-inshor-blue);
  line-height: 17px;
  text-transform: uppercase;
}

.featured-partners-section .partner-icons-slider {
  display: flex;
  margin-top: 72px;
  gap: 40px;
}

.partner-icons-slider .arrows {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  line-height: 0;
}

.partner-icons-slider .arrows svg {
  cursor: pointer;
}

.partner-icons-slider .slick-list {
  padding-right: 70px;
}

.partner-icons-slider {
  padding-left: 16px;
  margin-bottom: 120px;
}

@media (min-width: 1200px) {
  .partner-icons-slider {
    margin-left: calc(50% - 584px);
  }
}

.site-footer {
  color: #D1D5DB;
}


.footnav-title {
  margin-top: 40px;
}

.footnav-rte {
  margin-top: 16px;
}

.footnav-item-menu {
  max-width: 600px;
}

.footnav-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.footnav-menu-link {
  margin-bottom: 16px;
}

.footnav-menu-link a {
  font-size: 20px;
  line-height: 1.2;
}

.site-footer-bottom {
  margin-top: 60px;
  border-top: 1px solid rgba(255,255,255,0.2);
  width: 100%;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer-bottom .site-footer-social {
  width: fit-content;
  padding: 0;
}

.site-footer-bottom .copyright {
  font-family: var(--font-founders);
  font-size: 18px;
}

.page-reduce .image-and-text-item .text-wrap .title {
  font-size: 40px;
  font-weight: 48px;
}


.how_it_works .top-content {
  display: flex;
}

.how_it_works .title-description-flex .section_title {
  font-size: 45px;
}

.how_it_works .middle-content {
  margin: 85px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.how_it_works .middle-content .title {
  font-size: 32px;
  font-weight: 50px;
  letter-spacing: 0.19em;
  font-family: var(--font-founders-condensed);
  color: var(--color-white);
  text-transform: uppercase;
}

.how_it_works .bottom-content {
  display: flex;
  align-items: center;
  gap: 10%;
}

.how_it_works .bottom-content .image-wrap {
  width: 34%;
}

.how_it_works .bottom-content .content-wrap {
  width: 56%;
}

.how_it_works .bottom-icons {
  display: flex;
  align-items: center;
}

.how_it_works .content-details {
  min-height: 450px;
}

.how_it_works .bottom-icon {
  opacity: 0.6;
  cursor: pointer;
  margin-right: 24px;
}

.how_it_works .bottom-icon.active {
  opacity: 1;
}

.how_it_works .bottom-icon img {
  width: 64px;
}

.banner-impact .section-with-bg {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 24px;
}

.banner-impact .impact-logo img {
  width: 236px;
}

.banner-impact .section_title {
  font-size: 64px;
  margin-top: 128px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.banner-impact .bottom_arrow {
  margin-top: 160px;
}

.banner-impact .bottom_arrow .title {
  font-family: var(--font-founders-condensed);
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.19em;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.text-content-grid .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.text-content-grid .title-description-flex .section_title {
  font-size: 40px;
  line-height: 48px;
}

.text-content-grid .bottom-content {
  margin-top: 88px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
}

.text-content-grid .text-grid-item .section_title {
  font-size: 32px;
  margin-bottom: 24px;
}

.text-content-grid .text-grid-item .description-text {
  font-size: 16px;
  line-height: 24px;
}

.text-content-grid .text-grid-item .cta-wrap {
  margin-top: 40px;
}

.text-content-grid .title-description-flex .content-group:first-child {
  width: 41%;
}

.make-impact {
  text-align: center;
}

.make-impact .top-content {
  margin-top: 80px;
}

.make-impact .top-content .eyebrow {
  font-size: 24px;
}

.make-impact .top-content .section_title {
  font-size: 64px;
}

.make-impact .top-content .description-text {
  font-size: 18px;
  margin: 24px auto 0;
  max-width: 680px;
}

.make-impact .bottom-content {
  margin-top: 185px;
  display: flex;
  gap: 36px;
}

.make-impact .icon-grid-item .image-wrap img {
  width: 120px;
}

.make-impact .icon-grid-item .title {
  margin-top: 16px;
  color: var(--color-flats-blue);
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 2.51px;
  font-weight: 600;
  font-family: var(--font-founders);
  text-transform: uppercase;
}

.our-projects .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-projects {
  position: relative;
}

.our-projects .background-img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  line-height: 0;
}

.our-projects .background-img .bg-image {
  width: 100%;
}

.our-projects .bg-image-mobile {
  display: none;
}

@media (max-width: 768px) {
  .our-projects .bg-image-mobile {
    display: block;
  }

  .our-projects .bg-image-desktop {
    display: none;
  }
}

.our-projects::before {
  content: '';
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #FFFFFF 0%, #EDF1F1 52.08%, #A3D9D9 99.48%);
  opacity: 0.8;
}

.our-projects .container {
  position: relative;
  z-index: 1;
}

.our-projects .title-and-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-projects .title-and-cta .section_title {
  font-size: 64px;
}

.our-projects .images-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
  margin-top: 56px;
  position: relative;
}

.popup {
  display: none;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.popup.grid-detail {
  position: absolute;
}
.popup .popup-bg {
  background: #00000075;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
}
.popup .popup-wrapper {
  background: #FFF;
  border-radius: 10px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
}
.popup.grid-detail .popup-wrapper {
  display: flex;
  width: 100%;
}
@media (max-width: 768px) {
  .popup.grid-detail .popup-wrapper {
    height: 100%;
  }
}
.popup.grid-detail .popup-content {
  color: #215cac;
  font-size: 14px;
  font-family: var(--font-founders);
  padding: 15px 30px;
}
.popup.grid-detail .popup-wrapper .image-wrap {
  height: 100%;
  position: relative;
}
.popup.grid-detail .popup-wrapper .image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popup.grid-detail .popup-content strong {
  color: #6fc9c7;
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
}
.popup .popup-close {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}
.popup .popup-close svg {
  display: block;
}
@media (max-width: 768px) {
  .popup.grid-detail .popup-close svg * {
    stroke: #FFF;
  }
}
.popup.active {
  display: block;
}
.popup.grid-detail .image-grid-item {
  min-width: calc(100% / 3 - 32px / 3);
}
@media (max-width: 768px) {
  .popup.grid-detail .popup-wrapper {
    flex-direction: column;
  }
}
.popup.grid-detail .popup-wrapper p {
  margin: 0px;
}

.our-projects .image-grid-item {
  position: relative;
}

.our-projects .image-grid-item .image-wrap {
  width: 100%;
  line-height: 0;
}

.our-projects .image-grid-item .image-wrap img {
  width: 100%;
}

.our-projects .image-grid-item .text-wrap {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

.our-projects .image-grid-item .eyebrow {
  font-size: 12px;
  margin-bottom: 24px;
}

.our-projects .image-grid-item .section_title {
  font-size: 36px;
}

.our-projects .image-grid-item .link-arrow {
  cursor: pointer;
  position: absolute;
  width: 40px;
  bottom: 20px;
  right: 16px;
}

.our-projects .image-grid-item .link-arrow svg {
  width: 100%;
}

.our-projects .image-grid-item .link-arrow svg path {
  fill: var(--color-white);
}

.our-projects .image-grid-item .link-arrow svg rect {
  stroke: var(--color-white);
}

.our-projects .middle-content {
  margin: 240px auto 184px;
  max-width: 680px;
  text-align: center;
}

.our-projects .middle-content .section_title {
  font-size: 40px;
}

.our-projects .middle-content .description-text {
  margin: 24px auto;
  font-size: 18px;
  line-height: 155%;
}

.our-projects .middle-content .cta-wrap {
  width: fit-content;
  margin: auto;
}

.our-projects .bottom-content .title {
  font-family: var(--font-founders);
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 2.5px;
  text-align: center;
}

.our-projects .text-numbers {
  margin-top: 32px;
}

.our-projects .text-numbers .counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.our-projects .text-numbers .counter span {
  width: 80px;
  height: 100px;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-founders-condensed);
  font-size: 96px;
  font-weight: 400;
  line-height: 50px;
  color: var(--color-inshor-blue);
}

.have-questions .container {
  padding-top: 134px;
  padding-bottom: 134px;
  text-align: center;
}

.have-questions .cta-wrap {
  margin: 24px auto 0;
  width: fit-content;
}

.have-questions {
  background: linear-gradient(180deg, rgba(11, 25, 109, 0.9) 0%, rgba(0, 4, 13, 0.9) 204.29%);
}

.guarantee-banner .section-with-bg {
  padding-top: 178px;
  padding-bottom: 0;
}

.guarantee-banner .top-content {
  margin-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8%;
}

.guarantee-banner .text-wrap {
  width: 62%;
}

.guarantee-banner .image-wrap {
  width: 30%;
}

.guarantee-banner .image-wrap img {
  width: 100%;
}

.guarantee-banner .top-content .section_title {
  font-size: 70px;
  line-height: 84px;
  margin-top: 24px;
}

.guarantee-banner .top-content .description-text {
  max-width: 640px;
  margin-top: 30px;
}

.guarantee-banner .bottom-content {
  background: rgba(0, 55, 107, 0.8);
  padding: 80px 0;
}

.guarantee-banner .icon-with-text-grid {
  display: flex;
  /* gap: 32px; */
}

.guarantee-banner .icon-with-text-item {
  text-align: center;
  flex-grow: 1;
  max-width: 25%;
  min-width: 25%;
}

.guarantee-banner .icon-with-text-item .icon-wrap {
  width: 56px;
  margin: auto;
}

.guarantee-banner .icon-with-text-item .icon-wrap img {
  width: 100%;
}

.guarantee-banner .icon-with-text-item .title {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-narin);
  letter-spacing: 0.1em;
  line-height: 24px;
  text-transform: uppercase;
}

.guarantee-banner .icon-with-text-item .description-text {
  margin-top: 16px;
  font-size: 18px;
  line-height: 24px;
}

.guarantee-banner .icon-with-text-item .cta-wrap {
  width: fit-content;
  margin: 32px auto 0;
}

.transparency-section .container {
  margin-top: 120px;
  margin-bottom: 120px;
}

.transparency-section .bottom-content {
  margin-top: 99px;
  text-align: center;
}

.transparency-section .bottom-content img {
  width: 100%;
  max-width: 712px;
  margin: auto;
}

.page-guarantee .image-with-text-overlay-block .description-text {
  max-height: unset;
  margin-bottom: 0;
  margin-top: 24px;
}

.page-guarantee .image-with-text-overlay-block .image-content::after {
  content: none !important;
}

.page-guarantee .image-with-text-overlay-block .section_title {
  font-size: 44px;
}

.built-in-transparency .section-with-bg {
  padding-top: 0;
  padding-bottom: 0;
}

.built-in-transparency .text-wrap {
  padding-top: 170px;
  padding-bottom: 109px;
}

.built-in-transparency .cta-wrap {
  margin-top: 49px;
}

.built-in-transparency .section_title {
  max-width: 800px;
}

.built-in-transparency .description-text {
  max-width: 635px;
  margin-top: 30px;
}

.built-in-transparency .container {
  position: relative;
}

.built-in-transparency .image-wrap {
  position: absolute;
  bottom: 0;
  right: 32px;
  width: 438px;
}

.built-in-transparency .image-wrap img {
  display: block;
  width: 100%;
}

.page-track .description .diag-line svg rect {
  fill: var(--color-coral-red);
}

.plastic-action .section-with-bg {
  padding-top: 56px;
  padding-bottom: 64px;
  height: 678px;
}

.plastic-action .container {
  position: relative;
  height: 100%;
}

.plastic-action .text-wrap {
  position: absolute;
  left: 16px;
  bottom: 0;
}

.plastic-action .video-play {
  margin-top: 30px;
  display: flex;
  gap: 39px;
  font-family: var(--font-founders);
  font-size: 22px;
  font-weight: 600;
  color: var(--color-white);
}

.plastic-action .video-play-link {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

.plastic-action .video-play-link .duration {
  opacity: 0.8;
}

.plastic-action .image-logo {
  position: absolute;
  top: 0;
  right: 16px;
  width: 104px;
}

.plastic-action .image-logo img {
  width: 100%;
}

.page-track .title-description-flex .section_title {
  font-size: 40px;
}

.page-track .title-description-flex .content-group:first-child {
  width: 44%;
}

.page-track .title-description-flex .description {
  margin-top: 0;
}

.resources-grid .section-with-bg {
  padding-top: 212px;
  padding-bottom: 120px;
}

.resources-grid .description-text {
  margin-top: 30px;
}

.resources-grid .top-content .description-text {
  max-width: 650px;
}

.resources-grid-wrap {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.resource-grid-item {
  position: relative;
}

.resource-grid-item .image-wrap {
  line-height: 0;
}

.resource-grid-item .image-wrap img {
  width: 100%;
}

.resource-grid-item .text-wrap {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 48px;
}

.resource-grid-item .description-text {
  min-height: 106px;
}

.resource-grid-item .cta-wrap {
  margin-top: 64px;
}

.page-pcr-collection .how_it_works .top-content {
  display: block;
}

.page-pcr-collection .how_it_works .top-content .description-text {
  margin-top: 30px;
  max-width: 650px;
}

.page-pcr-collection .how_it_works .top-content .section_title {
  max-width: 800px;
}

.page-pcr-collection .how_it_works .image-wrap .description-text {
  font-size: 12px;
  font-family: var(--font-founders);
  font-style: italic;
  margin-top: 16px;
}

.page-pcr-collection .section-with-bg {
  padding-top: 168px;
}

.faq-banner .container {
  text-align: center;
}

.search-form {
  margin-top: 40px;
  max-width: 672px;
  background: transparent;
  border: none;
  position: relative;
  margin-bottom: 0;
}

.search-form .faq-search-input {
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1.5px solid #7884A0;
  font-size: 16px;
  padding-left: 42px;
  padding-right: 12px;
  font-family: var(--font-founders);
  color: var(--color-inshor-blue);
}

.search-form .search-icon {
  position: absolute;
  top: 11px;
  left: 13px;
  pointer-events: none;
}

.search-form .faq-search-input::placeholder {
  color: var(--color-inshor-blue);
}

.faq-banner .description-text {
  margin-top: 20px;
  font-size: 14px;
}

.faq-banner .section-with-bg {
  padding-top: 168px;
}

.faq_content {
  margin-top: 56px;
  margin-bottom: 56px;
}

.faq_content .title-and-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq_content .title {
  font-size: 24px;
  line-height: 1;
  font-family: var(--font-founders);
  color: var(--color-offshore-blue);
  text-transform: uppercase;
  font-weight: 600;
}

.faq_content .faq-group-link {
  font-family: var(--font-founders);
  font-size: 18px;
  color: var(--color-flats-blue);
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
}

.faq_content .accordion {
  margin-top: 38px;
}

.faq_content .accordion-title {
  font-size: 18px;
  color: var(--color-inshor-blue);
  font-weight: 500;
  font-family: var(--font-founders);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  cursor: pointer;
}



.faq_content .accordion-item .accordion-content {
  max-height: 0px;
  margin: 0;
  overflow: hidden;
  transition: all 0.2s;
  font-size: 16px;
  line-height: 150%;
  font-family: var(--font-founders);
  color: var(--color-offshore-blue);
}

.faq_content .accordion-item .chevron svg {
  transform: rotate(180deg);
  transition: all 0.1s;
}

.faq_content .accordion-item.active .accordion-content {
  max-height: 200px;
  padding-bottom: 20px;
}

.faq_content .accordion-item {
  border-bottom: 1px solid #ddd;
}

.faq_content .accordion-item.active .chevron svg {
  transform: none;
}

.featured-partners-section .container > .section_title {
  text-align: center;
}

.partner-content-wrap .container {
  margin-top: 0;
  padding-top: 0 !important;
}

.hide--desktop {
  display: none;
}

.page-track .transparency-section .description .diag-line svg rect {
  fill: var(--color-flats-blue);
}

.site-header.updated-header.fixed {
  background-color: var(--color-inshor-blue);
  transition: all .3s ease;
}
#shopify-section-static-header.fixed {
  position: fixed !important;
}

.fixed .site-navigation .navmenu-link {
  color: white;
}

.blog-banner .section-with-bg {
  padding-top: 212px;
  padding-bottom: 300px;
}

.blog-section .container {
  margin-top: 56px;
  margin-bottom: 56px;
}

.blog-section .article-grid-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 104px;
}

.blog-section .article-grid-wrap.two-in-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.article-grid-item .article-item-image a {
  position: relative;
  display: block;
  line-height: 0;
}

.article-grid-item .article-item-image:hover .hover-content {
  display: flex;
}

.article-grid-item .article-item-image .hover-content {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(35, 90, 167, 0.9), rgba(35, 90, 167, 0.9));
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--font-founders);
  font-size: 32px;
  letter-spacing: 0.19em;
  font-weight: 600;
  gap: 24px;
}

.article-grid-item .article-item-image .hover-content svg path {
  fill: var(--color-white);
}

.article-grid-item .article-item-image .hover-content svg rect {
  stroke: var(--color-white);
}

.article-grid-item .eyebrow {
  margin-top: 24px;
  font-size: 16px;
  margin-bottom: -8px;
}
@media (min-width: 769px) {
  .blog-section .article-grid-wrap .article-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .blog-section .article-item-image {
    flex: 1;
  }
  .blog-section .article-item-title {
    flex: 2;
  }
  .blog-section .article-item-date {
    flex: 3;
  }
  .blog-section .article-item-excerpt {
    flex: 4;
  }
}
.article-item-title {
  font-family: var(--font-founders);
  color: var(--color-inshor-blue);
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 20px;
}
.article-item-date {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  text-transform: uppercase;
}
.article-item-excerpt {
  font-family: var(--font-founders);
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-inshor-blue);
  margin-top: 16px;
}

.article-grid-item .read-more {
  margin-top: 16px;
  display: block;
  font-family: var(--font-founders);
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-coral-red);
  text-transform: uppercase;
}

.pagination a {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  border: 2px solid var(--color-inshor-blue);
  align-items: center;
  justify-content: center;
  color: var(--color-inshor-blue);
  font-size: 24px;
  line-height: 28px;
  font-family: var(--font-founders-condensed);
  margin: 0 4px;
  opacity: 0.7;
}

.pagination .pagination-active a {
  background: var(--color-inshor-blue);
  opacity: 1;
  color: white;
}

.blog-banner {
  position: relative;
}

.blog-scroll-down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px 0;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(2px);
  text-align: center;
  gap: 8px;
  font-family: var(--font-founders);
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-white);
  cursor: pointer;
}

.sf__slide-bg video {
  height: 100vh;
  object-fit: cover;
}

.bg-image-slider img {
  width: 100%;
}

.reduce-banner .section-with-bg {
  padding-top: 150px;
  padding-bottom: 0;
}

.reduce-banner .top-content {
  text-align: center;
}

.reduce-banner .material-logo {
  width: 244px;
  margin: auto;
}

.reduce-banner .top-content .section_title {
  font-size: 64px;
  line-height: 77px;
  max-width: 1008px;
  margin: 56px auto 0;
}

.reduce-banner .top-content .description-text {
  font-size: 22px;
  line-height: 26px;
  max-width: 640px;
  margin: 24px auto 0;
  color: var(--color-white);
}

.reduce-banner .scroll-down {
  width: 40px;
  margin: 100px auto 0;
}

.reduce-banner .top-content {
  margin-bottom: 30px;
}

.reduce-banner .bottom-content {
  padding: 64px 0;
  background-color: rgba(0, 55, 107, 0.8);
}

.reduce-banner .items-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
}

.reduce-banner .reduce-banner-item {
  text-align: center;
}

.reduce-banner-item .image-wrap {
  width: 152px;
  line-height: 0;
  margin: auto;
}

.reduce-banner-item .title {
  font-size: 32px;
  line-height: 38px;
  font-family: var(--font-narin);
  color: var(--color-white);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 56px;
}

.reduce-banner-item .description-text {
  margin: 16px auto 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-white);
  max-width: 300px;
  min-height: 48px;
}

.reduce-banner-item .cta-wrap {
  width: fit-content;
  margin: 40px auto 0;
}

.blog-banner .section_title {
  max-width: 500px;
}

.plastic-action .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.plastic-action .video-popup {
  display: none;
  z-index: 2;
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 1px solid #ccc;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 4px;
}

.plastic-action .video-popup.visible {
  display: block;
}

.plastic-action .video-popup .close {
  position: absolute;
  right: 8px;
  top: -3px;
  font-weight: 900;
  font-size: 28px;
  color: black;
  padding: 5px 10px;
  border-bottom: none;
  cursor: pointer;
}

.plastic-action .video-wrapper {
  width: 800px;
  max-width: 90vw;
  margin: 30px auto;
}

.plastic-action .video-wrapper .vid-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.plastic-action .video-wrapper .vid-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.plus-sign {
  font-family: var(--font-founders);
}

@media (max-width: 1200px) {
  .how_it_works .content-details {
    min-height: unset;
    margin-bottom: 20px;
  }
  .resource-grid-item .text-wrap {
    padding: 20px;
  }
  .resources-grid-wrap {
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
  .resource-grid-item .cta-wrap {
    margin-top: 32px;
  }
  .built-in-transparency .image-wrap {
    width: 360px;
    margin-left: auto;
  }

  .built-in-transparency .section_title {
    font-size: 60px;
  }

  .built-in-transparency .description-text {
    max-width: 560px;
  }
}

.hide--l-desktop {
  display: none;
}

@media (max-width: 1024px) {
  .hide--laptop {
    display: none;
  }
  .hide--l-desktop {
    display: block;
  }
  .built-in-transparency .section_title {
    font-size: 32px;
  }
  .guarantee-banner .icon-with-text-item .description-text {
    min-height: unset;
  }
  .sf__slide-bg video {
    height: auto;
  }

  .text-content-grid .text-grid-item .description-text {
    min-height: unset;
  }

  .text-content-grid .text-grid-item .cta-wrap {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .text-content-grid .text-grid-item:last-child .cta-wrap {
    margin-bottom: 0;
  }

  .site-header-wrapper .site-logo {
    margin-left: 0px;
  }

  .site-logo-header {
    width: 40px;
  }


  .sf__slide-content .slide__block-subtitle {
    font-size: 12px;
  }

  .sf__slide-content .slide__block-title {
    font-size: 32px;
    margin-top: 24px;
  }

  .slide__block-description {
    margin-top: 24px;
    font-size: 12px;
    max-width: 90%;
    font-weight: 400;
  }

  .button {
    font-size: 13px;
  }

  .button-large {
    height: 40px;
    padding: 10px 32px;
  }

  .text-info .container {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .eyebrow {
    font-size: 12px;
    margin-bottom: 24px;
  }

  .section_title {
    font-size: 32px;
    line-height: 38px;
  }

  .text-info .text-info-blocks {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .text-info-item {
    max-width: 210px;
    padding: 19px 0;
    border: none;
    margin: auto;
    position: relative;
  }

  .text-info-blocks .text-info-title {
    font-size: 32px;
    line-height: 38px;
  }

  .text-info-blocks .text-info-subtitle {
    font-size: 10px;
    line-height: 24px;
  }

  .text-info-item:not(:last-child)::after {
    content: '';
    display: block;
    background-color: white;
    position: absolute;
    width: 130px;
    height: 1px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }

  .image_grid_with_text .container {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .title-description-flex {
    flex-direction: column;
  }

  .title-description-flex .content-group:last-child {
    width: 100%;
    margin-right: 0;
  }

  .title-description-flex .description {
    margin-top: 32px;
  }

  .description .diag-line svg {
    width: 15px;
    height: 21px;
  }

  .description {
    gap: 11px;
  }

  .description-text {
    font-size: 14px;
    line-height: 17px;
  }

  .image_grid_with_text .image-content {
    margin-top: 72px;
  }

  .image-banner1 .container {
    flex-direction: column;
  }

  .image-banner1 .image-content {
    margin-top: 72px;
  }

  .image-banner1 .container {
    gap: 0;
  }

  .image-banner1 .container {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .image-with-text .image-and-text-item {
    margin-top: 64px;
    margin-bottom: 64px;

  }



  .image-and-text-item .cta-wrap {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .section-with-bg {
    padding-top: 56px;
    padding-bottom: 56px;
  }



  .image-with-text-overlay-block .image-content::after {
    content: '';
  }

  .image-with-text-overlay-block .description-text {
    max-height: 50%;
    margin: 16px 0 24px;
    font-size: 14px;
    line-height: 17px;
  }

  .image-with-text-overlay-block:hover .description-text {
    margin: 16px 0 24px;
  }

  .partner-content-wrap {
    display: flex;
    flex-direction: column-reverse;
  }

  .image-with-text-overlay-block .text-content {
    padding: 15px 32px;
  }

  .featured-partners-section .container {
    padding-top: 56px;
  }

  .featured-partners-section .partner-icons-slider {
    margin-top: 52px;
    margin-bottom: 71px;
  }

  .partner-icons-slider .arrows {
    display: none;
  }

  .featured-partners-section .partner-icons {
    width: 100%;
  }

  .partner-icons-slider .slick-list {
    padding-right: 20px;
  }

  .featured-partners-section .partner-icon .number {
    font-size: 48px;
  }

  .featured-partners-section .partner-icon {
    margin-right: 32px;
  }

  .partner-details-item {
    flex-direction: column;
  }

  .partner-details-item .text-wrap {
    flex-basis: 100%;
    width: 100%;
  }

  .partner-details-item .video-wrap {
    flex-basis: 100%;
    width: 100%;
    padding-top: 72px;
  }

  .partner-details-group {
    margin-top: 0;
    margin-bottom: 64px;
  }

  .partner-details-item .section_title {
    font-size: 32px;
  }

  .image-tiles .section_title {
    font-size: 32px;
  }

  .image-tiles .section-with-bg {
    padding: 56px 0;
  }

  .image-tiles .tiles {
    margin-top: 72px;
  }



  .image-tile .title {
    font-size: 16px;
    line-height: 19px;
  }

  .image-tile .eyebrow {
    margin-top: 17px;
    margin-bottom: 16px;
  }







  .site-footer {
    padding-top: 32px !important;
  }

  #shopify-section-site-footer .footer-logo img {
    width: 178px;
  }

  .footnav-title {
    margin-top: 16px;
    display: none;
  }

  #shopify-section-site-footer p {
    font-size: 14px;
  }

  .footnav-item-menu .subscribe-button {
    display: block;
  }

  #shopify-section-site-footer div.needsclick input {
    padding: 7px 22px !important;
    font-size: 12px !important;
    line-height: 18px !important;
  }

  #shopify-section-site-footer button.needsclick {
    height: 35px !important;
    padding: 0px 22px !important;
    font-size: 11px !important;
  }

  .footnav-menu-link a {
    font-size: 14px;
  }

  .site-footer-bottom {
    margin-top: 40px;
    padding-top: 0;
    border-top: 0;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }

  #shopify-section-site-footer .social {
    justify-content: flex-start;
  }

  .site-footer-bottom .site-footer-social {
    width: 100%;
  }

  .site-footer-bottom .copyright {
    margin-top: 20px;
    font-size: 14px;
  }

  .image-and-text-item .text-wrap .title {
    font-size: 32px;

  }

  .title-description-flex .content-group:first-child {
    width: 60%;
  }

  .page-reduce .image-and-text-item .text-wrap .title {
    font-size: 32px;
    line-height: 39px;
  }

  .page-reduce .image-and-text-item .cta-wrap {
    margin-top: 60px;
  }

  .how_it_works .title-description-flex .section_title {
    font-size: 32px;
  }

  .how_it_works .title-description-flex .content-group:first-child {
    width: 100%;
  }

  .how_it_works .bottom-content {
    flex-direction: column;
  }

  .how_it_works .bottom-content .image-wrap {
    width: 100%;
    max-width: 400px;
  }

  .how_it_works .bottom-content .content-wrap {
    width: 100%;
    margin-top: 40px;
  }

  .how_it_works .bottom-icons {
    margin-top: 40px;
  }



  .our-projects .title-and-cta {
    flex-direction: column;
    align-items: flex-start;
  }

  .our-projects .images-grid {
    margin-top: 72px;
    gap: 32px;
  }



  .fixed .site-header-wrapper {
    background-color: var(--color-inshor-blue);
  }

  .banner-impact .impact-logo img {
    width: 118px;
  }

  .banner-impact .section_title {
    margin-top: 168px;
    font-size: 32px;
  }

  .banner-impact .bottom_arrow {
    margin-top: 248px;
  }

  .banner-impact .bottom_arrow .title {
    font-size: 24px;
    line-height: 40px;
  }

  .text-content-grid .title-description-flex .content-group:first-child {
    width: 100%;
  }

  .text-content-grid .bottom-content {
    margin-top: 104px;
  }

  .text-content-grid .text-grid-item .section_title {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .text-content-grid .text-grid-item .description-text {
    font-size: 14px;
    line-height: 24px;
  }



  .text-content-grid .container {
    padding-top: 64px;
    padding-bottom: 40px;
  }

  .make-impact .top-content .eyebrow {
    font-size: 12px;
    margin-bottom: 16px;
  }

  .make-impact .top-content .section_title {
    font-size: 32px;
  }

  .make-impact .top-content .description-text {
    font-size: 12px;
    line-height: 14.4px;
    margin-top: 16px;
  }

  .make-impact .bottom-content {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .make-impact .icon-grid-item .image-wrap img {
    width: 64px;
  }

  .make-impact .icon-grid-item .title {
    font-size: 12px;
    line-height: 24px;
    margin-top: 17px;
  }

  .our-projects .container {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .our-projects .title-and-cta .section_title {
    font-size: 32px;
  }

  .our-projects .image-grid-item .section_title {
    font-size: 24px;
  }

  .our-projects .image-grid-item .text-wrap {
    left: 15px;
    right: 15px;
    bottom: 15px;
  }

  .our-projects .middle-content {
    margin: 136px auto;
  }

  .our-projects .middle-content .section_title {
    font-size: 24px;
    line-height: 29px;
  }

  .our-projects .middle-content .description-text {
    font-size: 12px;
    line-height: 14.4px;
  }

  .our-projects .middle-content .cta-wrap {
    margin-top: 40px;
  }

  .our-projects .bottom-content .title {
    font-size: 16px;
    line-height: 24px;
  }

  .our-projects .text-numbers .counter {
    gap: 8px;
  }

  .our-projects .text-numbers .counter span {
    font-size: 48px;
    width: 40px;
    height: 60px;
  }

  .have-questions .container {
    padding-top: 99px;
    padding-bottom: 99px;
  }

  .have-questions .cta-wrap {
    margin-top: 40px;
  }

  .guarantee-banner .top-content {
    flex-direction: column;
  }

  .guarantee-banner .icon-with-text-grid {
    flex-direction: column;
  }

  .guarantee-banner .text-wrap {
    width: 100%;
    text-align: center;
  }

  .guarantee-banner .top-content .section_title {
    font-size: 32px;
  }

  .guarantee-banner .top-content .description-text {
    font-size: 12px;
    line-height: 14.4px;
    max-width: 70%;
    margin: 24px auto 0;
  }

  .guarantee-banner .image-wrap {
    margin-top: 64px;
    width: 128px;
  }

  .guarantee-banner .section-with-bg {
    padding-top: 100px;
  }

  .guarantee-banner .icon-with-text-item {
    max-width: 80%;
    margin: auto;
  }

  .guarantee-banner .bottom-content {
    padding: 72px 0;
  }

  .guarantee-banner .icon-with-text-item .title {
    margin: 16px auto 0;
    max-width: 200px;
  }

  .transparency-section .container {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .transparency-section .bottom-content {
    margin-top: 72px;
  }

  .plastic-action .section-with-bg {
    padding-top: 24px;
    padding-bottom: 72px;
  }

  .plastic-action .video-play {
    margin-top: 21px;
  }


  .image-with-text-overlay-block .text-content {
    padding: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: max-content;
  }

  .page-guarantee .image-with-text-overlay-block .section_title {
    font-size: 32px;
  }

  .page-guarantee .image-with-text-overlay-block .description-text {
    margin-top: 16px;
  }

  .page-guarantee .image-with-text-overlay .section-with-bg {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .built-in-transparency .text-wrap {
    padding-top: 101px;
    padding-bottom: 80px;
  }

  .built-in-transparency .description-text {
    font-size: 12px;
    font-weight: 14.4px;
  }

  .built-in-transparency .cta-wrap {
    margin-top: 40px;
  }

  .built-in-transparency .image-wrap {
    width: 360px;
    max-width: 100%;
    position: relative;
    right: unset;
    margin: auto;
  }

  .image-and-text-item .text-wrap .title {
    line-height: 39px;
  }

  .page-track .title-description-flex .content-group:first-child {
    width: 100%;
  }

  .page-track .title-description-flex .section_title {
    font-size: 32px;
  }

  .title-description-flex .content-group:last-child {
    margin-top: 24px;
  }

  .resources-grid-wrap {
    margin-top: 72px;
  }

  .resources-grid .section-with-bg {
    padding-top: 108px;
    padding-bottom: 72px;
  }

  .resources-grid .top-content .description-text {
    margin-top: 24px;
    font-size: 12px;
    line-height: 14.4px;
  }

  .resource-grid-item .text-wrap {
    padding: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
  }


  .resource-grid-item .description-text {
    min-height: unset;
  }

  .faq-banner .section-with-bg {
    padding-top: 108px;
  }

  .faq-banner .container {
    text-align: left;
  }

  .search-form {
    margin-top: 72px;
  }

  .faq-banner .description-text {
    text-align: center;
  }

  .faq_content .title {
    font-size: 20px;
  }

  .faq_content .faq-group-link {
    font-size: 14px;
  }

  .faq_content {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .faq_content .accordion-title {
    font-size: 14px;
    gap: 10px;
  }

  .faq_content .accordion-item .accordion-content {
    font-size: 12px;
  }

  .blog-section .container {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .blog-section .article-grid-wrap {
    grid-row-gap: 48px;
  }

  .article-item-title {
    font-size: 20px;
    line-height: 25px;
  }

  .reduce-banner .section-with-bg {
    padding-top: 100px;
    padding-bottom: 0;
  }

  .reduce-banner .material-logo {
    width: 146px;
  }

  .reduce-banner .top-content .section_title {
    margin: 24px auto 0;
    font-size: 32px;
    line-height: 38.4px;
    max-width: 90%;
  }

  .reduce-banner .top-content .description-text {
    margin: 24px auto 0;
    font-size: 12px;
    line-height: 14.4px;
    max-width: 80%;
  }

  .reduce-banner .scroll-down {
    margin: 72px auto 0;
  }

  .reduce-banner .top-content {
    margin-bottom: 72px;
  }

  .reduce-banner-item .image-wrap {
    width: 72px;
  }

  .reduce-banner-item .title {
    font-size: 24px;
    line-height: 28px;
    margin-top: 24px;
  }

  .reduce-banner-item .description-text {
    margin: 8px auto 0;
    font-size: 12px;
    line-height: 24px;
  }

  .reduce-banner-item .cta-wrap {
    margin-top: 24px;
  }



  .image_grid_with_text .image-item .overlap-title {
    font-size: 32px;
  }
}

@media (min-width: 840px) and (max-width: 960px) {
  .our-projects .image-grid-item .section_title {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 839px) {
  .our-projects .image-grid-item .section_title {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .site-header-wrapper .site-logo {
    margin-right: 36px;
  }
}

@media (max-width: 733px) {

  .site-navigation .navmenu-link {
    padding: 1rem 10px;
  }

  .hide--desktop {
    display: block;
  }

  .hide--mobile {
    display: none;
  }

  .image-tiles .cta-wrap {
    margin: 72px auto 0;
    width: fit-content;
  }

  .image_grid_with_text .image-content {
    flex-direction: column;
  }

  .image_grid_with_text .image-content .image-item {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .image-with-text .image-and-text-item {
    flex-direction: column;
  }

  .image-and-text-item .cta-wrap {
    margin-bottom: 32px;
  }

  .image-and-text-item .image-wrap {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 32px;
  }

  .image-and-text-item .text-wrap {
    flex-basis: 100%;
    width: 100%;
    padding: 0;
  }

  .image-with-text-overlay-blocks {
    grid-template-columns: 1fr;
    grid-row-gap: 24px;
  }



  .partner-details-item .video-wrap iframe {
    height: 100%;
  }

  .image-tiles .tiles {
    flex-direction: column;
  }

  #shopify-section-site-footer .social {
    margin-left: -20px;
  }

  .reduce-banner .items-wrap {
    flex-direction: column;
    align-items: center;
  }

  .our-projects .images-grid {
    grid-template-columns: 1fr;
  }

  .our-projects .image-grid-item .section_title {
    font-size: 32px;
  }

  .text-content-grid .bottom-content {
    grid-template-columns: 1fr;
  }

  .resources-grid-wrap {
    grid-template-columns: 1fr;
  }

  .blog-section .article-grid-wrap {
    grid-template-columns: 1fr !important;
  }

  .image-tiles .tile-big {
    width: 100%;
    flex-basis: 100%;
  }

  .tile-small {
    width: 100%;
    gap: 32px;
  }

  .text-content-grid .text-grid-item {
    margin-bottom: 32px;
  }
}

@media (min-width: 769px) {
  .mobilenav-toggle {
    display: none;
  }


}

@media (max-width: 1050px) {
  .site-navigation {
    display: none;
  }
  .mobilenav-toggle {
    display: block;
  }
  .site-header-wrapper .site-logo {
    display: block;
    flex-grow: 1;
  }
  .site-logo-header {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 769px) and (max-width: 960px) {
  #shopify-section-static-header {
    margin-bottom: -70px !important;
  }
}

/* @media (max-width: 680px) { */
@media (max-width: 960px) {
  .title-description-flex .content-group:last-child {
    margin-top: 0px;
  }
  .mobilenav .navmenu-link {
    color: var(--color-inshor-blue) !important;
    font-family: var(--font-founders);
    font-weight: 600;
    text-transform: uppercase;
  }
  .fixed .site-logo-image {
    display: none;
  }
  .site-logo img {
    /* margin-left: -24px; */
  }
  .site-header-wrapper .cta {
    display: none;
  }

  .site-logo-header .desktop-view {
    display: none;
  }

  .site-logo-image-mobile {
    display: block;
  }

  .site-navigation {
    display: none;
  }


  .site-logo-header img {
    max-width: 100%;
    position: relative;
    top: 0;
  }

  .site-header-wrapper .site-logo {
    display: block;
    flex-grow: 1;
  }

  .site-logo-header {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    padding: 0 16px;
  }
}


@media (max-width: 367px) {
  .button {
    font-size: 12px;
  }
}

body.page-contact {
  flex-wrap: wrap;
}
body.page-contact .site-main,
body.page-contact #shopify-section-site-footer {
  min-width: 100%;
}


/* Section iamge with text */

.page-join-oceanworks .image-with-text {
  position: relative;
}
.page-join-oceanworks .image-with-text img {
  background: transparent;
}
.page-join-oceanworks .bg-wrapper img {
  width: 100%;
}
.page-join-oceanworks .layout-overlay .image-text-grid {
  gap: 0 50px;
}
@media (max-width: 768px) {
  .page-join-oceanworks .layout-overlay .image-text-grid {
    flex-direction: column;
    gap: 0px;
  }
  .page-join-oceanworks .layout-overlay .image-wrap {
    margin-bottom: 0px;
  }
}
.page-join-oceanworks .image-with-text .bg-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.page-join-oceanworks .image-with-text .bg-wrapper img {
  width: 100%;
  height: 100%;
}
.page-join-oceanworks .image-with-text .container {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  /* position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%); */
}
.page-join-oceanworks .layout-overlay .image-and-text-item {
  display: block;
  flex: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
}
.page-join-oceanworks .layout-overlay .image-and-text-item .image-wrap {
  width: 100%;
  flex-basis: 100%;
}
.page-join-oceanworks .layout-overlay .image-and-text-item .image-wrap img {
  width: 100%;
}
.page-join-oceanworks .layout-overlay .image-and-text-item .text-wrap {
  width: 100%;
  flex-basis: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 30px 60px;
}
.page-join-oceanworks .layout-overlay .image-and-text-item .text-wrap {
  padding-bottom: 30px;
}
.page-join-oceanworks .image-with-text .section-logo {
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .page-join-oceanworks .image-with-text .section-logo {
    margin-bottom: 50px;
  }
  .page-join-oceanworks .layout-overlay .image-and-text-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.page-join-oceanworks .layout-overlay .image-with-text {
  /* padding-top: 80px !important; */
}
@media (max-width: 768px) {
  .page-join-oceanworks .layout-overlay .image-with-text {
    /* padding-top: 50px !important; */
  }
}

.page-join-oceanworks .image-with-text #material .image-and-text-item {
  margin-top: 0px;
  margin-bottom: 0px;
}


/* .page-join-oceanworks .image-with-text::before {
  background: var(--color-inshor-blue);
  content: '';
  width: 100%;
  height: 2px;
  max-width: 1240px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
} */


/* Section ocean partner */

.section-ocean-partner {
  padding: 80px 0;
}
@media (max-width: 768px) {
  .section-ocean-partner {
    padding: 50px 0;
  }
}
.section-ocean-partner .layout-bg-overlay {
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;
}
.section-ocean-partner .layout-bg-overlay .image-wrapper {
  height: 100%;
}
.section-ocean-partner .layout-bg-overlay .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .section-ocean-partner .layout-bg-overlay {
    height: calc(100vh - 69px);
  }

}
.section-ocean-partner .layout-bg-overlay .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.section-ocean-partner .pretitle {
  color: #FFF;
  font-family: var(--font-founders);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.section-ocean-partner .section_title {
  max-width: 700px;
  margin: 15px auto 0;
  /* font-size: 34px; */
}
.section-ocean-partner .description-text {
  color: #FFF;
  max-width: 800px;
  margin: 0 auto;
}
.ocean-partner-select {
  margin-top: 50px;
}
.ocean-partner-select select {
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
  color: #FFF;
  outline: none;
} 
.ocean-partner-select select option {
  color: #000;
}
.ocean-partner-select .description-text p {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .ocean-partner-select .description-text p {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.ocean-partner-select .selector-wrapper {
  font-size: 18px;
  margin-top: 10px;
}
.ocean-partner-select .section_title {
  font-size: 20px;
}
@media (max-width: 768px) {
  .ocean-partner-select .section_title {
    padding: 0 15px;
  }
}

/* Section text with grid */

.section-text-with-grid {
  padding: 80px 0;
}
@media (max-width: 768px) {
  .section-text-with-grid {
    padding: 50px 0;
  }
}
.section-text-with-grid .description-text {
  max-width: 800px;
}
.section-text-with-grid .text-grid {
  font-weight: 500;
  margin-top: 50px;
  max-width: 800px;
  justify-content: center;
}
@media (max-width: 768px) {
  .section-text-with-grid .text-grid {
    flex-wrap: wrap;
    align-items: center;
  }
}
.section-text-with-grid .text-item {
  min-width: 25%;
  max-width: 25%;
  padding: 0 15px;
}
@media (max-width: 768px) {
  .section-text-with-grid .text-item {
    min-width: 50%;
    max-width: 50%;
    margin-bottom: 15px;
  }
}
.section-text-with-grid .btn-wrapper {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .section-text-with-grid .btn-wrapper {
    margin-top: 30px;
  }
}
.button.button-large {
  height: 50px;
  padding: 0 80px;
}

/* Section contact form */

.section-contact-form {
  padding: 50px 0;
}
.section-contact-form .btn-wrapper {
  margin-top: 50px;
}
.popup[data-handle="contact"] .needsclick.kl-private-reset-css-Xuajs1 {
  flex-wrap: wrap;
}
.popup[data-handle="contact"] .needsclick.kl-private-reset-css-Xuajs1 * {
  width: 100%;
}
.popup[data-handle="contact"] .popup-wrapper {
  width: 500px;
  padding: 30px 15px;
}
.popup[data-handle="contact"] input[type="email"], 
.popup[data-handle="contact"] button.kl-private-reset-css-Xuajs1 {
  height: 45px !important;
}
.popup[data-handle="contact"] button.kl-private-reset-css-Xuajs1 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* Section featured impact program */

.section-featured-impact-program .image-text-grid {
  background: #57b9a8;
  padding: 20px 10px;
}
@media (max-width: 768px) {
  .section-featured-impact-program .image-text-grid {
    flex-direction: column;
  }
}
.section-featured-impact-program .grid-item {
  max-width: calc(100% / 3);
  min-width: calc(100% / 3);
  padding: 0 10px;
  position: relative;
}
@media (max-width: 768px) {
  .section-featured-impact-program .grid-item {
    max-width: 100%;
    min-width: 100%;
  }
  .section-featured-impact-program .grid-item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.section-featured-impact-program .grid-item * {
  color: #FFF;
  fill: #FFF;
}
.section-featured-impact-program .grid-item svg {
  width: 26px;
  height: auto;
}
.section-featured-impact-program .grid-info {
  position: absolute;
  top: 10px;
  left: 20px;
}
.section-featured-impact-program .grid-title {
  font-family: var(--font-narin);
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}
.section-featured-impact-program .grid-subtitle {
  font-family: var(--font-founders);
}
.section-featured-impact-program .description-text {
  max-width: 680px;
}
.section-featured-impact-program img {
  display: block;
}

/* Section richtext */

.section-richtext {
  padding: 50px 0;
}
.section-richtext .description-text {
  max-width: 800px;
}
.section-richtext .btn-wrapper {
  margin-top: 50px;
}
.page-join-oceanworks .section-richtext {
  /* margin-top: 80px; */
  margin-bottom: 50px;
  position: relative;
}
@media (max-width: 768px) {
  .page-join-oceanworks .section-richtext {
    margin-top: 50px;
    margin-bottom: 0px;
  }
}
/* .page-join-oceanworks .section-richtext::before {
  background: var(--color-inshor-blue);
  content: '';
  width: 100%;
  height: 2px;
  max-width: 1240px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
} */

body.page-template-index .site-main > .shopify-section:first-child .shopify-section-page-header-with-background-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}
body.page-template-index .site-main > .shopify-section:first-child .shopify-section-page-header-with-background-inner h1 {
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  body.page-template-page {
    padding-left: 0px;
    padding-right: 0px;
  }
}

body.page-press h1.page-title {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  body.page-press h1.page-title {
    font-size: 32px;
  }
}
#press-coverage h3 a {
  font-family: var(--font-founders) !important;
  font-size: 16px !important;
  font-weight: 600;
}

/* Section our projects */

.page-join-oceanworks .our-projects .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .page-join-oceanworks .our-projects .container {
    padding-bottom: 50px;
  }
}
.page-join-oceanworks .our-projects::before {
  display: none;
}
.page-join-oceanworks .our-projects .middle-content {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 800px;
}
.page-join-oceanworks .our-projects .middle-content .description-text {
  color: #666 !important;
}
.page-join-oceanworks .our-projects .title-and-cta .section_title {
  font-size: 48px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .page-join-oceanworks .our-projects .title-and-cta .section_title {
    font-size: 32px;
    text-align: center;
  }
  .page-join-oceanworks .our-projects .images-grid {
    margin-top: 30px;
  }
}
.page-join-oceanworks .cta-wrap {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .page-join-oceanworks .cta-wrap {
    margin-bottom: 0px;
  }
}
.page-join-oceanworks .cta-wrap a {
  height: 50px;
  padding: 0 80px;
}
@media (max-width: 768px) {
  .page-join-oceanworks .transparency-section .container {
    margin-top: 20px;
  }
  .page-join-oceanworks .transparency-section .content-group {
    width: 100%;
    text-align: center;
  }
  .page-join-oceanworks .transparency-section .section_title {
    margin-bottom: 30px;
  }
  .page-join-oceanworks .transparency-section .diag-line {
    display: none;
  }
  .page-join-oceanworks .cta-wrap a {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Section transparency */

.page-join-oceanworks .transparency-section .description {
  margin-top: 0px;
}