@font-face {
    font-family: 'Narin';
    src: url('Narin-Bold.eot');
    src: url('Narin-Bold.eot?#iefix') format('embedded-opentype'),
        url('Narin-Bold.woff2') format('woff2'),
        url('Narin-Bold.woff') format('woff'),
        url('Narin-Bold.ttf') format('truetype'),
        url('Narin-Bold.svg#Narin-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

