{%- include 'bold-cart' -%}
{% layout none %}
{%- include 'bold-options-hybrid-cart-item-count' with cart -%}
<template data-options>
  {
    "item_count": {{  bold_options_hybrid_item_count | json }},
    "total_price": {{ cart.total_price | json }}
  }
</template>

<template data-html="cart_items">
  {% if cart.item_count > 0 %}
    {% for item in cart.items %}
  {%- include 'bold-options-hybrid-cart-item' with item -%}
      {%- include 'bold-cart-item' with item -%}
      {% include 'cart-item' %}
    {% endfor %}
  {% else %}
    <div class="cart-mini-empty">
      {{ 'cart.empty' | t }}
        <a
          class="product-menu-button-secondary
            cart-mini-button-continueshopping
          "
          href="{{ collection.url | default: shop.url }}"
        >
            {{ 'product.continue_shopping' | t }}
        </a>
    </div>
  {% endif %}
</template>

<template data-html="cart_discounts">
  {% for discount_application in cart.cart_level_discount_applications %}
    <div class="cart-discount">
      <span class="cart-discount-title">
        {%- include 'icon', id: 'sale-tag', class: 'cart-item-discount-sale-tag' -%}
        {{ discount_application.title }}
      </span>

      <span class="cart-discount-amount">
        -<span class="money">{{ discount_application.total_allocated_amount | money }}</span>
      </span>
    </div>
  {% endfor %}
</template>

<template data-html="cart_discounts_simplified">
  {% for discount_application in cart.cart_level_discount_applications %}
    <div class="cart-discount">
      {%- include 'icon', id: 'sale-tag', class: 'cart-discount-sale-tag' -%}
      {{ discount_application.title }} (-<span class="money">{{ discount_application.total_allocated_amount | money }}</span>)
    </div>
  {% endfor %}
</template>

<template data-html="cart_subtotal">{{ bold_cart_total_price | money }}</template>
