{%- include 'bold-cart' -%}
<!-- Begin ReCharge code -->

<!-- End ReCharge code -->
{%- section 'static-cart' -%}

			<!-- PERFECT AUDIENCE INTEGRATION START -->
			{% include 'perfect-audience-cart' %}
			<!-- PERFECT AUDIENCE INTEGRATION END -->
		