<p style="display: none;">The iZettle + Oceanworks Guaranteed Card Reader can be found exclusively at iZettle merchants throughout Europe. Comprised of polypropylene fishing gear, this card reader is ready for consumers to Pay it Forward and positively impact the oceans.</p>
<div class="story">
  <div class="story-logo">
    <img src={{ 'ow_izettle_logo.jpg' | asset_img_url: '900x' }} alt="Oceanworks and iZettle by PayPal" />
  </div>
  <div class="story-header">
    <img src={{ 'ow_izettle_header.jpg' | asset_img_url: '900x' }} alt="Sea the impact story." />
  </div>
  <div class="story-main">
    <div class="story-content">
      <img src={{ 'ow_izettle_content.jpg' | asset_img_url: '900x' }} alt="The iZettle + Oceanworks Guaranteed Card Reader can be found exclusively at iZettle merchants throughout Europe. Comprised of polypropylene fishing gear, this card reader is ready for consumers to Pay it Forward and positively impact the oceans." />
    </div>
    <div class="story-sidebar">
      <img src={{ 'ow_izettle_sidebar.jpg' | asset_img_url: '900x' }} alt="" />
    </div>
    <br style="clear: both;" />
    <br/>
  </div>
  <div class="story-impact">
    <img src={{ 'ow_izettle_impact.jpg' | asset_img_url: '900x' }} alt="iZettle Reader Recycled Ocean Plastic Saves emissions, oil, electricity, and more." />
  </div>
  <div class="story-logo">
    <img src={{ 'ow_izettle_share.jpg' | asset_img_url: '900x' }} alt="Oceanworks and iZettle by PayPal" />
  </div>
</div>

<article class="page">
  <div class="page-content rte">
    {{ page.content }}
  </div>
</article>
