{% section 'page-header-marketplace' %}

<article class="page">
  <div class="page-content rte" style="padding-bottom: 10px;">
    
    <h2>Why Oceanworks</h2>
    <p>Companies join the network to access volume pricing, supplier compliance information, chain-of-custody tracking, and impact metrics. Products sourced through the network may carry the Oceanworks Guaranteed mark showcasing their authenticity.</p>
  
    <br/>
    
  </div>
  
  <div id="shopify-section-section-99x" class="shopify-section section-featured-collections shopify-section-66-33"> 

    <section class="collection-featured">
      <article class="collection-featured-item collection-featured-item-alignment-left">
        <figure class="collection-featured-item-image">
          <img src="https://cdn.shopify.com/s/files/1/0022/9847/8638/files/Screen_Shot_2020-02-06_at_9.29.02_AM.png?v=1580999569" />
        </figure>
        <div class="collection-featured-item-info">
          
          <h2 style="margin-top: 5px; font-size: 34px; padding-bottom: 3px; border-bottom: 1px solid #1e5aa8;">Benefits</h2>
    
          <strong style="font-family: 'Founders Grotesk'; font-size: 17px; letter-spacing: 0.05em; color: #f26969;">SAMPLE</strong><br/>
          Immediate access to trusted ocean plastic sources<br/><br/>
          <strong style="font-family: 'Founders Grotesk';font-size: 17px; letter-spacing: 0.05em; color: #f26969;">SCALE</strong><br/>
          High-capacity materials sourced globally<br/><br/>
          <strong style="font-family: 'Founders Grotesk';font-size: 17px; letter-spacing: 0.05em; color: #f26969;">TRACK</strong><br/>
          Transparent chain of custody and authentication<br/><br/>
          <strong style="font-family: 'Founders Grotesk';font-size: 17px; letter-spacing: 0.05em; color: #f26969;">MARKET</strong><br/>
          Oceanworks® Guaranteed mark with impact metrics and product stories
          
        </div>
      </article>
    </section>

  </div>
  
  <div class="page-content rte" style="padding-top: 10px; padding-bottom: 10px;">
    
    <h2>Your Commitment</h2>
    <p>By joining our network you agree to <a href="/pages/compliance">Oceanworks code-of-conduct</a> and supporting the network through dues and licensing fees. Your contributions help Oceanworks to continually source, verify, and onboard new materials. By expanding our material offerings, we can increase supply reliability, shorten supply chains, drive costs down, and, most importantly, keep plastic from polluting our oceans.</p>
  
  </div>
</article>

<br/>
<div id="shopify-section-static-list-collections" class="shopify-section section-list-collections">
  <h2 style="font-size: 34px; text-align: center; border-bottom: 1px solid #1e5aa8; margin: 10px 0 20px; line-height: 0.1em;">
    <span style="background: #fff !important; display: inline; padding: 0 15px; line-height: auto;">
      Available Products
    </span>
  </h2>
  <br/>
  {% section 'static-list-collections' %}
  
  <br/><br/>
  <h2 style="font-size: 34px; text-align: center; border-bottom: 1px solid #1e5aa8; margin: 10px 0 20px; line-height: 0.1em;">
    <span style="background: #fff !important; display: inline; padding: 0 15px; line-height: auto;">
      The Process
    </span>
  </h2>
  <br/>
</div>



<div id="shopify-section-section-999" class="shopify-section section-featured-collections" style="background: white; padding: 0px; color: white;"> 

  <section class="collection-featured">
    
    <img src={{ 'Oceanworks_Customer_Process.jpg' | asset_img_url: '2400x' }} alt="The Oceanworks process involves sampling materials, joining our network, and launching your product." style="max-width: 100%;" />
    
  </section>
</div>

<br/>

<div id="shopify-section-section-995" class="shopify-section section-featured-collections" style="background: #235aa7; padding: 50px; color: white;"> 

  <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-left">
      <div class="collection-featured-item-info">
        <h4 class="collection-featured-item-title" style="color: white;"><a href="/pages/demo-the-marketplace">
          Get Samples
          </a></h4>
        <div class="collection-featured-item-description" style="margin-top: -10px;">
          <div class="page" title="Page 3">
            <div class="section">
              <div class="layoutArea">
                <div class="column">
                  <p>
                    Login to access simple, fast, and trusted ocean plastic sources from around the world.  
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="collection-featured-item-cta" href="/pages/demo-the-marketplace" style="color: white;">
          <span class="collection-featured-item-cta-text">Get Samples</span>
          <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
            <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
            </svg>
          </span>
        </a>
      </div>
      <figure class="collection-featured-item-image">
        <a href="/pages/demo-the-marketplace">
          <img src={{ 'whale_white.png' | asset_img_url: '900x' }} alt="Recycled ocean plastic solutions for growing sustainable brands.">
        </a>
      </figure>
    </article>
  </section>

</div>
<br/><br/>

{% section 'page-footer-marketplace' %}