{% section 'ocean-partner' %}
<div class="sections-wrapper" data-handle="manufacturers">
  {% section 'text-grid-manufacturers' %}
  {% section 'transparency' %}
  {% comment %} {% section 'contact-form' %} {% endcomment %}
</div>
<div class="sections-wrapper hidden" data-handle="recyclers,collectors">
  {% section 'text-grid-recyclers' %}
  {% section 'image-with-text-recyclers' %}
  {% comment %} {% section 'image-text-overlay' %} {% endcomment %}
  {% comment %} {% section 'featured-impact-programs' %} {% endcomment %}
  {% section 'impact-our-projects' %}
  {% section 'image-with-text-material' %}
  {% comment %} {% section 'richtext' %} {% endcomment %}
</div>

<script>
  $type = document.querySelector('.ocean-partner-type');
  if($type) {
    $type.addEventListener('change', () => {
      let type = $type.value;
      document.querySelectorAll('.sections-wrapper').forEach(($section) => {
        $section.classList.add('hidden');
        if($section.getAttribute('data-handle').includes(type)) {
          $section.classList.remove('hidden');
        }
      })
    })
  }

  
</script>