{% section 'page-header-apply' %}

<article class="page page-contact">
  <div class="page-content rte">
    {{ page.content }}
    
    <br/><br/>
    
      <!--  ----------------------------------------------------------------------  -->
      <!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
      <!--  If necessary, please modify the charset parameter to specify the        -->
      <!--  character set of your HTML page.                                        -->
      <!--  ----------------------------------------------------------------------  -->

      <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
      {% comment %}
        <script src="https://www.google.com/recaptcha/api.js"></script>
      <script>
       function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500); 
      </script>
        <script type="text/javascript">
          function recaptcha_callback(){
            $('.button').prop("disabled", false);
          }
        </script>
		{% endcomment %}
      <!--  ----------------------------------------------------------------------  -->
      <!--  NOTE: Please add the following <FORM> element to your page.             -->
      <!--  ----------------------------------------------------------------------  -->

      <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

      <input type=hidden name="oid" value="00Df20000012TX5">
      <input type=hidden name="retURL" value="https://marketplace.oceanworks.co/pages/thank-you-lead-supplier">
      <input type="hidden" id="00Nf200000E2bJw" name="00Nf200000E2bJw" title="Lead Type" value="Supplier" />
      {% comment %}  <input type=hidden name='captcha_settings' value='{"keyname":"OW_reCAPTCHA","fallback":"true","orgId":"00Df20000012TX5","ts":""}'>
		{% endcomment %}
      <!--  ----------------------------------------------------------------------  -->
      <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
      <!--  these lines if you wish to test in debug mode.                          -->
      <!--  <input type="hidden" name="debug" value=1>                              -->
      <!--  <input type="hidden" name="debugEmail" value="prcheek@gmail.com">       -->
      <!--  ----------------------------------------------------------------------  -->

      <label for="first_name">First Name</label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>

      <label for="last_name">Last Name</label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>

      <label for="title">Job Title</label><input  id="title" maxlength="40" name="title" size="20" type="text" /><br>

      <label for="company">Company</label><input  id="company" maxlength="40" name="company" size="20" type="text" /><br>

      <label for="email">Work Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>

      <label for="phone">Phone</label><input  id="phone" maxlength="40" name="phone" size="20" type="text" /><br>

      <label for="url">Website</label><input  id="url" maxlength="80" name="url" size="20" type="text" /><br>

      How did you hear about Oceanworks?<select  id="lead_source" name="lead_source" title="Referral Source"><option value="">--None--</option><option value="Search Engine">Search Engine</option>
<option value="Press">News Article or Press Release</option>
<option value="Partner">Oceanworks Partner</option>
<option value="Social Media">Social Media</option>
<option value="Word of Mouth">Word of Mouth</option>
<option value="Conference">Conference</option>
<option value="Other">Other</option>
</select><br>
        
      Materials Available:<select  id="00Nf200000E2SZ7" multiple="multiple" name="00Nf200000E2SZ7" title="Materials"><option value="PET">PET</option>
      <option value="HDPE">HDPE</option>
      <option value="PP">PP</option>
      <option value="Nylon">Nylon</option>
      <option value="Fiber">Fiber</option>
      <option value="Components">Components</option>
      </select><br>

      Source Types:<select  id="00Nf200000E2bK1" multiple="multiple" name="00Nf200000E2bK1" title="Source Types"><option value="Pre-Consumer">Pre-Consumer</option>
      <option value="Oceanbound">Oceanbound</option>
      <option value="Waterway">Waterway</option>
      <option value="Coastal">Coastal</option>
      <option value="Near Shore">Near Shore</option>
      <option value="High Seas">High Seas</option>
      </select><br>

      <label for="description">Description</label><textarea name="description"></textarea><br>
        {% comment %}
      <div class="g-recaptcha" data-sitekey="6LdxpMEUAAAAALCtqxderMxfrYkncJcX6vIeor0e" data-callback="recaptcha_callback"></div><br>
		{% endcomment %}
      <input type="submit" name="submit" class="button" onClick="gtag_report_conversion()">

      </form>


    
  </div>
</article>
  
  <!-- Event snippet for Lead - Thank You Page conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
function gtag_report_conversion(url) {
  console.log('conversion!');
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-664495528/vSaICNOC18UBEKjL7bwC',
      'event_callback': callback
  });
  return false;
}
</script>


{% section 'page-footer-apply' %}
