

<article class="page">
  <div class="story-logo">
    <img src={{ 'OW_Padding_Top.jpg' | asset_img_url: '900x' }} alt="Oceanworks and iZettle by PayPal" />
  </div>
  <div class="klaviyo-form-XNSyRj"></div>
  <div class="story-logo">
    <img src={{ 'OW_Padding.jpg' | asset_img_url: '900x' }} alt="Oceanworks and iZettle by PayPal" />
  </div>
</article>
