{% section 'page-header-contact' %}

<article class="page page-contact">
  <div class="page-content rte">
    {{ page.content }}
    
    <br/><br/>
    
    {% include 'web-to-lead', lead_type: "Customer", exclude_qualification_questions: "y" %}
    
  </div>
</article>

{% section 'page-footer-contact' %}
