<article class="page">
  <div class="page-content rte" style="width: 800px; max-width: 90%;">
    <h1 class="page-title" style="text-align: center;">
      Press
    </h1>
    {{ page.content }}
    <br/><br/>
    <div id="press-coverage">
      <div id="press-error" style="display: none;">
      
      
        
        
        
        
        
        
      		<div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.plasteurope.com/news/GUALA_CLOSURES_t246598/" target="_blank">Plasteurope</a>: <a href="https://www.plasteurope.com/news/GUALA_CLOSURES_t246598/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">GUALA CLOSURES: Italian closures giant selects reclaimed ocean plastics for bottle stoppers | Plasteurope.com</a></h3>
              <small>Tue Dec 22 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.sustainableplastics.com/news/guala-closures-develop-closures-made-ocean-plastics" target="_blank">Sustainable Plastics</a>: <a href="https://www.sustainableplastics.com/news/guala-closures-develop-closures-made-ocean-plastics" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Guala Closures to develop closures made from ocean plastics</a></h3>
              <small>Sun Dec 20 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.eppm.com/materials/guala-closures-signs-exclusive-agreement-with-oceanworks/" target="_blank">EPPM</a>: <a href="https://www.eppm.com/materials/guala-closures-signs-exclusive-agreement-with-oceanworks/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Guala Closures signs exclusive agreement with Oceanworks</a></h3>
              <small>Sun Dec 20 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://packagingsouthasia.com/she-safety-health-and-environment/sustainability-health/guala-closures-signs/" target="_blank">Packaging South Asia</a>: <a href="https://packagingsouthasia.com/she-safety-health-and-environment/sustainability-health/guala-closures-signs/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Guala Closures signs exclusive agreement with Oceanworks</a></h3>
              <small>Sat Dec 19 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://plasticsinpackaging.com/guala-to-develop-closures-from-ocean-plastics/" target="_blank">Plastics in Packaging</a>: <a href="https://plasticsinpackaging.com/guala-to-develop-closures-from-ocean-plastics/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Guala to develop closures from ocean plastics</a></h3>
              <small>Fri Dec 18 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.packagingstrategies.com/articles/95822-guala-closures-to-develop-closures-made-with-ocean-plastics" target="_blank">Packaging Strategies</a>: <a href="https://www.packagingstrategies.com/articles/95822-guala-closures-to-develop-closures-made-with-ocean-plastics" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Guala Closures to Develop Closures Made with Ocean Plastics</a></h3>
              <small>Thu Dec 17 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.efanews.eu/item/15694-agreement-between-guala-closures-and-oceanworks.html" target="_blank">EFA News - European Food Agency</a>: <a href="https://www.efanews.eu/item/15694-agreement-between-guala-closures-and-oceanworks.html" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Agreement between Guala Closures and Oceanworks - The corks of wines and spirits with plastic recovered from the oceans</a></h3>
              <small>Thu Dec 17 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.dezeen.com/2020/12/16/shahar-livne-balenciaga-jewellery-design/" target="_blank">Dezeen</a>: <a href="https://www.dezeen.com/2020/12/16/shahar-livne-balenciaga-jewellery-design/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Shahar Livne designs fossil-like jewellery for Balenciaga from ocean plastic</a></h3>
              <small>Tue Dec 15 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.polymerupdate.com/news/press-release-details.aspx?id=19744" target="_blank">Polymer Update</a>: <a href="https://www.polymerupdate.com/news/press-release-details.aspx?id=19744" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">The end plastic waste innovation platform expands to china</a></h3>
              <small>Wed Nov 25 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.fibre2fashion.com/news/apparel-news/ykk-s-ocean-sourced-zippers-now-on-oceanworks-marketplace-266660-newsdetails.htm" target="_blank">Fibre2fashion</a>: <a href="https://www.fibre2fashion.com/news/apparel-news/ykk-s-ocean-sourced-zippers-now-on-oceanworks-marketplace-266660-newsdetails.htm" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">YKK's Ocean Sourced zippers now on Oceanworks marketplace</a></h3>
              <small>Sat Nov 21 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://cheddar.com/media/the-eco-friendly-bluetooth-finder-made-from-ocean-plastic" target="_blank">Cheddar</a>: <a href="https://cheddar.com/media/the-eco-friendly-bluetooth-finder-made-from-ocean-plastic" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">The Eco-Friendly Bluetooth Finder Made from Ocean Plastic</a></h3>
              <small>Wed Nov 18 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.springwise.com/sustainability-innovation/blue-tooth-tracker-ocean-plastic-chipolo" target="_blank">Springwise</a>: <a href="https://www.springwise.com/sustainability-innovation/blue-tooth-tracker-ocean-plastic-chipolo" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">The world's first Bluetooth item finder made from recycled fishing nets - Springwise</a></h3>
              <small>Thu Oct 29 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.yankodesign.com/2020/10/19/the-worlds-first-item-tracker-made-from-recycled-ocean-plastic/" target="_blank">Yankodesign</a>: <a href="https://www.yankodesign.com/2020/10/19/the-worlds-first-item-tracker-made-from-recycled-ocean-plastic/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">The world's first item-tracker made from recycled ocean-plastic</a></h3>
              <small>Sun Oct 18 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://sustmeme.com/2020/10/08/news-lost-is-found-in-fight-to-tackle-ocean-plastic/" target="_blank">SustMeme</a>: <a href="https://sustmeme.com/2020/10/08/news-lost-is-found-in-fight-to-tackle-ocean-plastic/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">First item-finder made from ocean plastic</a></h3>
              <small>Wed Oct 07 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.forbes.com/sites/anthonykarcz/2020/10/08/turning-ocean-plastic-into-new-gear/?sh=144db6336ea0" target="_blank">Forbes</a>: <a href="https://www.forbes.com/sites/anthonykarcz/2020/10/08/turning-ocean-plastic-into-new-gear/?sh=144db6336ea0" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Turning Ocean Plastic Into New Gear</a></h3>
              <small>Wed Oct 07 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://electronics360.globalspec.com/article/15782/bluetooth-tracker-made-of-ocean-plastic" target="_blank">Globalspec</a>: <a href="https://electronics360.globalspec.com/article/15782/bluetooth-tracker-made-of-ocean-plastic" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Bluetooth tracker made of ocean plastic</a></h3>
              <small>Tue Oct 06 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://mobilesyrup.com/2020/10/06/chipolo-ocean-edition-bluetooth-tracker/" target="_blank">MobileSyrup</a>: <a href="https://mobilesyrup.com/2020/10/06/chipolo-ocean-edition-bluetooth-tracker/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Chipolo launches 'Ocean Edition' Bluetooth tracker made with plastic from the sea</a></h3>
              <small>Mon Oct 05 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.mentalfloss.com/article/632833/chipolo-one-ocean-edition-tracker" target="_blank">Mentalfloss</a>: <a href="https://www.mentalfloss.com/article/632833/chipolo-one-ocean-edition-tracker" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Find Your Keys While Being Sustainable With Chipolo's New Bluetooth Tracker That's Made From Recycled Ocean Plastics</a></h3>
              <small>Mon Oct 05 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://appleinsider.com/articles/20/10/06/chipolo-unveils-new-tracking-tag-made-from-recycled-fishing-nets" target="_blank">AppleInsider</a>: <a href="https://appleinsider.com/articles/20/10/06/chipolo-unveils-new-tracking-tag-made-from-recycled-fishing-nets" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Chipolo unveils new tracking tag made from recycled fishing nets | AppleInsider</a></h3>
              <small>Mon Oct 05 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://9to5mac.com/2020/10/06/ahead-of-apples-airtags-chipolo-releases-new-environmentally-friendly-item-tracker/" target="_blank">9to5Mac</a>: <a href="https://9to5mac.com/2020/10/06/ahead-of-apples-airtags-chipolo-releases-new-environmentally-friendly-item-tracker/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Chipolo One Ocean is made from plastic waste from the ocean - 9to5Mac</a></h3>
              <small>Mon Oct 05 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.plasticsnews.com/article/20190110/BLOG06/190119988/sana-mixes-two-hot-trends-in-one-package" target="_blank">Plastics News</a>: <a href="https://www.plasticsnews.com/article/20190110/BLOG06/190119988/sana-mixes-two-hot-trends-in-one-package" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Sana mixes two hot trends in one package</a></h3>
              <small>Wed Sep 30 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.plasticsinsight.com/avient-launches-several-new-pcr-and-pir-portfolios-under-resound-r-brand-name/" target="_blank">Plastics Insight</a>: <a href="https://www.plasticsinsight.com/avient-launches-several-new-pcr-and-pir-portfolios-under-resound-r-brand-name/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Avient launches several new PCR and PIR portfolios under reSound™ R brand name</a></h3>
              <small>Wed Sep 16 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.avient.com/avient-launches-resound-r-recycled-content-portfolios-north-america-and-asia" target="_blank">Avient</a>: <a href="https://www.avient.com/avient-launches-resound-r-recycled-content-portfolios-north-america-and-asia" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Avient Launches reSound™ R Recycled Content Portfolios in North America and Asia</a></h3>
              <small>Mon Sep 14 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://ecocult.com/recycled-ocean-plastic-fashion/" target="_blank">Ecocult</a>: <a href="https://ecocult.com/recycled-ocean-plastic-fashion/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Recycled Ocean Plastic Fashion Isn't What You Think It Is</a></h3>
              <small>Tue Jun 16 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.theedgemarkets.com/article/certifying-products-help-keep-plastic-waste-out-oceans" target="_blank">The Edge Markets</a>: <a href="https://www.theedgemarkets.com/article/certifying-products-help-keep-plastic-waste-out-oceans" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Certifying products that help keep plastic waste out of oceans</a></h3>
              <small>Mon Jun 08 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="http://www.mountainblog.eu/ykk-collaboration-oceanworks-for-materials-made-from-recycled-ocean-plastic/" target="_blank">MountainBlog Europe</a>: <a href="http://www.mountainblog.eu/ykk-collaboration-oceanworks-for-materials-made-from-recycled-ocean-plastic/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">YKK Announces its Collaboration with Oceanworks®, the Leading Marketplace for Materials Made From Recycled Ocean Plastic - MountainBlog Europe</a></h3>
              <small>Wed Apr 22 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://sourcingjournal.com/denim/denim-innovations/ykk-oceanworks-natulon-zippers-recycled-ocean-plastic-collaboration-206766/" target="_blank">Sourcing Journal</a>: <a href="https://sourcingjournal.com/denim/denim-innovations/ykk-oceanworks-natulon-zippers-recycled-ocean-plastic-collaboration-206766/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">YKK, Oceanworks Team on Zippers Derived from Ocean Bound Plastic</a></h3>
              <small>Tue Apr 21 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://pciaw.org/industry-news/ykk-announces-its-collaboration-with-oceanworks-the-leading-marketplace-for-materials-made-from-recycled-ocean-plastic/" target="_blank">PCIAW</a>: <a href="https://pciaw.org/industry-news/ykk-announces-its-collaboration-with-oceanworks-the-leading-marketplace-for-materials-made-from-recycled-ocean-plastic/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">YKK Announces its Collaboration with Oceanworks®, the Leading Marketplace for Materials Made From Recycled Ocean Plastic - PCIAW</a></h3>
              <small>Mon Apr 20 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://finance.yahoo.com/news/sak-commits-sustainable-future-184300049.html" target="_blank">Yahoo</a>: <a href="https://finance.yahoo.com/news/sak-commits-sustainable-future-184300049.html" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">The Sak Commits to a Sustainable Future</a></h3>
              <small>Sun Feb 02 2020</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.businessgreen.com/bg/news/3084191/money-for-old-rope-credit-card-reader-made-from-recycled-plastic-fishing-nets-unveiled" target="_blank">Businessgreen</a>: <a href="https://www.businessgreen.com/bg/news/3084191/money-for-old-rope-credit-card-reader-made-from-recycled-plastic-fishing-nets-unveiled" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Money for old rope? Credit card reader made from recycled plastic fishing nets unveiled</a></h3>
              <small>Sun Nov 24 2019</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://uk.finance.yahoo.com/news/payment-card-reader-made-recycled-000100303.html" target="_blank">Yahoo</a>: <a href="https://uk.finance.yahoo.com/news/payment-card-reader-made-recycled-000100303.html" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Payment card reader made from recycled ocean plastics launched</a></h3>
              <small>Tue Nov 19 2019</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.voguebusiness.com/companies/fashion-phase-out-plastic-sustainability" target="_blank">Vogue Business</a>: <a href="https://www.voguebusiness.com/companies/fashion-phase-out-plastic-sustainability" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Fashion's fight to phase out plastics</a></h3>
              <small>Sun Oct 13 2019</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.packaging-gateway.com/features/ocean-plastic/" target="_blank">Packaging Gateway</a>: <a href="https://www.packaging-gateway.com/features/ocean-plastic/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Ocean plastic: will more packaging companies take the plunge?</a></h3>
              <small>Thu Apr 18 2019</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.intelligentliving.co/cannabis-ocean-plastic/" target="_blank">Intelligent Living</a>: <a href="https://www.intelligentliving.co/cannabis-ocean-plastic/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">The Cannabis Industry Is Helping To Clean Up Ocean Plastic, Here's How</a></h3>
              <small>Thu Apr 11 2019</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://sustainablebrands.com/read/chemistry-materials-packaging/trending-cannabis-companies-cultivating-circular-degradable-packaging-solutions" target="_blank">Sustainable Brands</a>: <a href="https://sustainablebrands.com/read/chemistry-materials-packaging/trending-cannabis-companies-cultivating-circular-degradable-packaging-solutions" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Trending: Cannabis Companies Cultivating Circular, Degradable Packaging Solutions</a></h3>
              <small>Thu Apr 11 2019</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.recyclingtoday.com/article/sustainability-alert-sustana-clearwater-paper-develop-recyclable-paper-cup/" target="_blank">Recycling Today</a>: <a href="https://www.recyclingtoday.com/article/sustainability-alert-sustana-clearwater-paper-develop-recyclable-paper-cup/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Sustainability alert: Clearwater Paper launches NuVo cup stock</a></h3>
              <small>Tue Apr 02 2019</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.prnewswire.com/news-releases/sana-packaging-launches-new-line-of-reclaimed-ocean-plastic-cannabis-packaging-300806844.html" target="_blank">PR Newswire</a>: <a href="https://www.prnewswire.com/news-releases/sana-packaging-launches-new-line-of-reclaimed-ocean-plastic-cannabis-packaging-300806844.html" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Sana Packaging Launches New Line of Reclaimed Ocean Plastic Cannabis Packaging</a></h3>
              <small>Mon Mar 04 2019</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://finfeed.com/opinion/the-420-report/how-weed-reducing-pollution-our-oceans/" target="_blank">Finfeed</a>: <a href="https://finfeed.com/opinion/the-420-report/how-weed-reducing-pollution-our-oceans/" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">How weed is reducing pollution in our oceans</a></h3>
              <small>Thu Feb 14 2019</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://www.outerknown.com/blogs/journey/ocean-plastic-buttons" target="_blank">Outerknown</a>: <a href="https://www.outerknown.com/blogs/journey/ocean-plastic-buttons" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Ocean Plastic Buttons</a></h3>
              <small>Wed Dec 31 1969</small>
			</div>
		
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 25px;">
              <h3 style="margin-bottom: 0px;"><a href="https://sea-technology.com/soapbox-0119" target="_blank">Sea Technology magazine</a>: <a href="https://sea-technology.com/soapbox-0119" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">Soapbox - January Sea Technology magazine</a></h3>
              <small>Wed Dec 31 1969</small>
			</div>
        
        
        
        
        
        
        
        
      
      
      
      </div>
      <div id="press-loading" style="text-align: center; display: block;">Loading...</div>
    </div>
  </div>
</article>

<script type="text/javascript">
jQuery(function() {
  var jqxhr = jQuery.get("https://api.oceanworks.co/api/press/", function(data) {
    if(!data) {
      jQuery('#press-error').css('display', 'block');
      jQuery('#press-loading').css('display', 'none');
    } else {
      jQuery('#press-error').css('display', 'none');
      jQuery('#press-loading').css('display', 'none');
      jQuery.each(data, function( index, value ) {
        jQuery('#press-coverage').append(`
            <div style="text-align: left; border-top: 1px solid #ddd; padding-bottom: 20px; padding-top: 20px;">
              <small>${new Date(value['Published Pretty']).toDateString()}</small>
				<h3 style="margin-top: 0px; margin-bottom: 0px;"><a href="${value['URL']}" target="_blank">${value['Outlet']}</a>: <a href="${value['URL']}" target="_blank" style="color: rgb(102, 102, 102); font-family: williams-caslon-text, serif; font-weight: 400; font-size: 20px; text-decoration: none;">${value['Article Title']}</a></h3>
                  <a class="article-excerpt-read-more" href="${value['URL']}" target="_blank" style="color: #f26969 !important">
                      <span class="article-excerpt-read-more-text">Read the Story</span>
						<span class="article-excerpt-read-more-arrow" style="margin-left: 3px;">
                          <svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                              <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
                          </svg>
                      </span>
                  </a>
			</div>

		`);
      });
      
    }
  })
  .fail(function() {
    jQuery('#press-error').css('display', 'block');
    jQuery('#press-loading').css('display', 'none');
  })
  .always(function() {
  });
});
</script>
