{% section 'page-header-demo' %}

<article class="page page-contact">
  <div class="page-content rte">
    {{ page.content }}
    
    <br/><br/>
    
    
    {% include 'web-to-lead', lead_type: "Customer", exclude_qualification_questions: "n" %}


  </div>
</article>


{% section 'page-footer-demo' %}
