{% section 'page-header-resources' %}

<article class="page" style="text-align: center;">
  <div class="page-content rte" style="padding-bottom: 25px;">
    {{ page.content }}
  </div>
    
  {% section 'resources' %}
  
  <br style="clear: both;" />
  <br style="clear: both;" />
  <br style="clear: both;" />
  <br style="clear: both;" />
    
</article>

{% section 'page-footer-resources' %}