<p style="display: none;">The iZettle + Oceanworks Guaranteed Card Reader can be found exclusively at iZettle merchants throughout Europe. Comprised of polypropylene fishing gear, this card reader is ready for consumers to Pay it Forward and positively impact the oceans.</p>
<div class="story">
  <div class="story-logo">
    <img src={{ 'OWG_BusinessCard_LandingPage_1a_01.jpg' | asset_img_url: '900x' }} alt="Oceanworks and iZettle by PayPal" />
  </div>
  <div class="story-header">
    <img src={{ 'OWG_BusinessCard_LandingPageV2_02.jpg' | asset_img_url: '900x' }} alt="Sea the impact story." />
  </div>
  <div class="story-impact">
   <a href="https://drive.google.com/file/d/141fJfZk52McmsmqR2-H_9ZjExsc03oSo/view?usp=sharing">
    <img src={{ 'OWG_BusinessCard_LandingPageV2_05.jpg' | asset_img_url: '900x' }} alt="iZettle Reader Recycled Ocean Plastic Saves emissions, oil, electricity, and more." />
   </a>
  </div>
  <div class="story-impact">
   <a href="https://oceanworks.co/pages/oceanworks-social-impact">
    <img src={{ 'OWG_BusinessCard_LandingPageV2_07.jpg' | asset_img_url: '900x' }} alt="iZettle Reader Recycled Ocean Plastic Saves emissions, oil, electricity, and more." />
   </a>
  </div>
  <div class="story-impact">
   <a href="https://oceanworks.co/search">
    <img src={{ 'OWG_BusinessCard_LandingPageV2_08.jpg' | asset_img_url: '900x' }} alt="iZettle Reader Recycled Ocean Plastic Saves emissions, oil, electricity, and more." />
   </a>
  </div> 
</div>

<article class="page">
  <div class="page-content rte">
    {{ page.content }}
  </div>
</article>
