{% section 'page-header-suppliersv2' %}
{% section 'imagepanels-suppliers' %}




<div style="margin-top: 50px; background: url('https://cdn.shopify.com/s/files/1/0022/9847/8638/files/ocean_2400x.jpg?v=1587865575') center center; background-size: cover; padding: 50px; padding-bottom: 150px; text-align: center; color: #fff;">
  
  <h2 class="SectionHeader__Heading" style="font-family: Narin; font-style: normal; font-weight: 700; letter-spacing: 2.6px !important; text-transform: uppercase; color: #fff; font-size: 36px;">
    Grow your sales
    </h2>
  <p style="font-size: 28px;">Instantly create trust<br/>for your materials and products.</p>
	<div class="suppliers-small-third-boxes">
      <div class="suppliers-small-third-box">
        <h4>Submit</h4>
        <p>Upload and create product profiles for your materials.</p>
      </div>
      <div class="suppliers-small-third-box">
        <h4>Evaluate</h4>
        <p>Review and manage inbound leads and find new customers.</p>
      </div>
      <div class="suppliers-small-third-box">
        <h4>Sell</h4>
        <p>Streamline your sales process and close more deals.</p>
      </div>
      <br style="clear: both;" />
  </div>
</div>



<div style="padding: 50px; text-align: center; ">
  
  <h2 class="SectionHeader__Heading" style="font-family: Narin; font-style: normal; font-weight: 700; letter-spacing: 2.6px !important; text-transform: uppercase; font-size: 36px;">
    Our Innovative Approach
    </h2>
  <p style="font-size: 28px; color: #235aa7;">Showcase your materials and products<br/>to thousands of customers.</p>
	
  <h4 class="storefront-features"><span>Listing Features</span></h4>
  <div class="suppliers-feature-boxes">
      <div class="suppliers-feature-box">
        <h4>Dedicated Listings</h4>
        <p>Your listings feature all of the materials and products you offer and makes it easy for prospective customers to learn about your offerings.</p>
      </div>
      <div class="suppliers-feature-box">
        <h4>Search</h4>
        <p>All supplier listings are searchable by our users. Include your materials in the thousands of weekly search queries for sustainable materials and get seen!</p>
      </div>
      <div class="suppliers-feature-box">
        <h4>Content Management</h4>
        <p>Effortlessly manage your content and information with our simple and easy to use technology and dashboard.</p>
      </div>
      <br style="clear: both;" />
      <div class="suppliers-feature-box">
        <h4>Customer Engagement</h4>
        <p>Communicate with prospective customers and be in control of deciding who you want to work with and supply material to.</p>
      </div>
      <div class="suppliers-feature-box">
        <h4>Metrics &amp; Data</h4>
        <p>Get a detailed view of customer interest. Have the data at your fingertips to drive key business decisions with confidence.</p>
      </div>
      <div class="suppliers-feature-box">
        <h4>Easy Sampling</h4>
        <p>Let Oceanworks and our global distribution centers warehouse your materials and seamlessly ship sample orders directly to customers within 3-5 days.</p>
      </div>
      <br style="clear: both;" />
  </div>
</div>
<div style="text-align: center;">
<img src="{{ 'Oceanworks_Suppliers_Plastic.png' | asset_img_url: '2400x' }}" style="max-width: 80%; width: 960px; color: #fff;" />
</div>

<div style="margin-top: 50px; padding: 50px; text-align: center; background: #FFCE6D;">
  
  <h2 class="SectionHeader__Heading" style="font-family: Narin; font-style: normal; font-weight: 700; letter-spacing: 2.6px !important; text-transform: uppercase; font-size: 36px; color: #F36969; text-decoration: underline;">
    The #'s Speak for Themselves
    </h2>
  <div class="suppliers-feature-boxes" style="text-align: center; color: #F36969;">
      <div class="suppliers-feature-box" style="text-align: center; color: #F36969;">
        <h4 style="font-size: 48px;">40,000+</h4>
        <p>Pageviews last month</p>
      </div>
      <div class="suppliers-feature-box" style="text-align: center; color: #F36969;">
        <h4 style="font-size: 48px;">15,000+</h4>
        <p>Users last month</p>
      </div>
      <div class="suppliers-feature-box" style="text-align: center; color: #F36969;">
        <h4 style="font-size: 48px;">150+</h4>
        <p>Countries served</p>
      </div>
      <br style="clear: both;" />
  </div>
</div>


<div style="padding: 50px; text-align: center; background: #f26969;">
  
  <h2 class="SectionHeader__Heading" style="font-family: Narin; font-style: normal; font-weight: 700; letter-spacing: 2.6px !important; text-transform: uppercase; color: #fff; font-size: 36px;">
    Easy Setup
    </h2>
  	
  <div class="suppliers-setup-boxes">
      <div class="suppliers-setup-box">
        <img src="{{ 'Oceanworks_Onboarding.png' | asset_img_url: '1200x' }}" style="height: 50px; margin-bottom: 15px;" />
        <img src="{{ 'Oceanworks_Arrow.png' | asset_img_url: '1200x' }}" class="suppliers-arrow" />
        <h4>On-board</h4>
        <p>Complete the supplier onboarding form and begin the onboarding process to create listings for your products.</p>
      </div>
      <div class="suppliers-setup-box">
        <img src="{{ 'Oceanworks_Build.png' | asset_img_url: '1200x' }}" style="height: 50px; margin-bottom: 15px;" />
        <img src="{{ 'Oceanworks_Arrow.png' | asset_img_url: '1200x' }}" class="suppliers-arrow" />
		<br/>
        <h4>Build</h4>
        <p>Add products and materials you wish to showcase to the thousands of potential customers.</p>
      </div>
      <div class="suppliers-setup-box">
        <img src="{{ 'Oceanworks_Manage.png' | asset_img_url: '1200x' }}" style="height: 50px; margin-bottom: 15px;" />
        <h4>Manage</h4>
        <p>Review your metrics, technical questions, and use our data to help drive your business forward.</p>
      </div>
      <br style="clear: both;" />
  </div>
  <div class="suppliers-grow">
        <img src="{{ 'Oceanworks_Arrow_Down.png' | asset_img_url: '1200x' }}" />
    <br/><br/>
    
        <img src="{{ 'Oceanworks_Scale_Your_Business.png' | asset_img_url: '1200x' }}" />
    <br/><br/>
      <h2 class="SectionHeader__Heading" style="font-family: Narin; font-style: normal; font-weight: 700; letter-spacing: 2.6px !important; text-transform: uppercase; color: #fff; font-size: 18px;">
    	Market, Sell, and Scale Your Business
    </h2>
  </div>
</div>


{% section 'page-headers-suppliers2' %}
 