{% section 'page-header-mission' %}

<article class="page">
  <div class="page-content rte" style="padding-bottom: 0px;">
    {{ page.content }}
  </div>
</article>


<article class="page">
  <div class="page-content rte">
    <h2 style="text-align: center;">Sea Plastic Differently</h2>
    <p><span style="font-size: 17px;">From collectors, to processors, to brands, and consumers everyone is stepping-up. Together we are reimagining how we buy, use, and dispose of plastic on a daily basis, rethinking how we utilize this precious material, and designing a better future for our planet. We're passionate and committed to thinking outside of the box and excited for you to join us  and do the hard work to Sea Plastic Differently one ton at a time.</p>
  </div>
</article>

	<div style="background: #fff; padding: 40px; text-align: center;">
    <img src={{ 'Oceanworks_Infographic_Impact_2.jpg' | asset_img_url: '900x' }} alt="" style="width: 1000px; max-width: 75%;" />
 	</div>

{% section 'page-footer-mission' %}
