{% section 'page-header-suppliers' %}

<article class="page">
  <div class="page-content rte" style="padding-bottom: 10px;">
    
    <h2>Why Oceanworks</h2>
    <p>Suppliers join the Oceanworks network to access a global customer base and be part of a network collecting millions of pounds of ocean plastic annually. Products sourced through the network may carry the Oceanworks Guaranteed mark showcasing their authenticity.</p>
  
    <br/>
    
  </div>
  
  <div id="shopify-section-section-99x" class="shopify-section section-featured-collections shopify-section-66-33"> 

    <section class="collection-featured">
      <article class="collection-featured-item collection-featured-item-alignment-left">
        <figure class="collection-featured-item-image">
          <img src={{ 'Oceanworks_Pellets_Pallets.jpg' | asset_img_url: '900x' }} />
        </figure>
        <div class="collection-featured-item-info">
          
          <h2 style="margin-top: 5px; font-size: 34px; padding-bottom: 3px; border-bottom: 1px solid #1e5aa8;">Benefits</h2>
    
          <strong style="font-family: 'Founders Grotesk';font-size: 17px; letter-spacing: 0.05em; color: #f26969;">ACCESS</strong><br/>
          Global network of active ocean plastic customers<br/><br/>
          <strong style="font-family: 'Founders Grotesk';font-size: 17px; letter-spacing: 0.05em; color: #f26969;">SAMPLE</strong><br/>
          Turnkey sampling services of materials managed by Oceanworks<br/><br/>
          <strong style="font-family: 'Founders Grotesk';font-size: 17px; letter-spacing: 0.05em; color: #f26969;">MARKET</strong><br/>
          Access to market insights and valuable customer feedback<br/><br/>
          <strong style="font-family: 'Founders Grotesk';font-size: 17px; letter-spacing: 0.05em; color: #f26969;">VERIFY</strong><br/>
          The trusted Oceanworks® Guaranteed mark on products with our materials
          
        </div>
      </article>
    </section>

  </div>
  
  <div class="page-content rte" style="padding-top: 10px;">
    
    <h2>Join Our Supplier Network</h2>
    <p>To be accepted as an Oceanworks supplier, complete supplier qualification and materials approval application. Approved suppliers agree to abide by the Oceanworks code of conduct and sign a Supplier Agreement. Additionally, you may be asked to support site visits and audits.</p>
  
    <br/>
    
  	<p><img src="https://cdn.shopify.com/s/files/1/0022/9847/8638/files/Screen_Shot_2020-02-05_at_4.02.31_PM.png?v=1580937393" alt="" width="" height="" /></p>
    
  </div>
</article>

<div id="shopify-section-section-995" class="shopify-section section-featured-collections" style="background: #235aa7; padding: 50px; color: white;"> 

  <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-left">
      <div class="collection-featured-item-info">
        <h4 class="collection-featured-item-title" style="color: white;"><a href="/pages/demo-the-marketplace">
          Become An Approved Supplier 
          </a></h4>
        <div class="collection-featured-item-description" style="margin-top: -10px;">
          <div class="page" title="Page 3">
            <div class="section">
              <div class="layoutArea">
                <div class="column">
                  <p>
                    Register to list your recycled plastic resins, yarns, components or products. Access more leads from our marketplace and convert them into customers.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="collection-featured-item-cta" href="https://suppliers.oceanworks.co/register" style="color: white;">
          <span class="collection-featured-item-cta-text">Register Now</span>
          <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
            <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
            </svg>
          </span>
        </a>
      </div>
      <figure class="collection-featured-item-image">
        <a href="/pages/supplier-application">
          <img src={{ 'whale_white.png' | asset_img_url: '900x' }} alt="Recycled ocean plastic solutions for growing sustainable brands.">
        </a>
      </figure>
    </article>
  </section>

</div>
<br/><br/>

{% section 'page-footer-suppliers' %}