{% section 'page-header-compliance' %}

<article class="page page-contact" style="margin-bottom: 0px;">
  <div class="page-content rte">
    {{ page.content }}    
  </div>
</article>

<div id="shopify-section-static-list-collections" class="homepage-icons shopify-section section-list-collections">

  <div class="list-collections">

    <article class="collection-item" data-collection-item="">
      <figure class="collection-item-image" data-collection-item-image="">

        <img style="width: 60%;" src={{ 'quality.png' | asset_img_url: '200x' }} alt="Collection Quality" />

      </figure>
      <div class="collection-item-info" data-collection-item-info="">
        <span class="collection-item-title">Material Quality and Authenticity</span>
        <div class="collection-item-description">
</div>
      </div>

    </article>
    <article class="collection-item" data-collection-item="">
      <figure class="collection-item-image" data-collection-item-image="">

        <img style="width: 60%;" src={{ 'transparency.png' | asset_img_url: '200x' }} alt="Transparency" />

      </figure>
      <div class="collection-item-info" data-collection-item-info="">
        <span class="collection-item-title">Supply Chain Transparency</span>
        <div class="collection-item-description"></div>
      </div>
    </article>
    <article class="collection-item" data-collection-item="">
      <figure class="collection-item-image" data-collection-item-image="">

        <img style="width: 60%;" src={{ 'ethics.png' | asset_img_url: '200x' }} alt="Ethical Treatment of People and Planet" />

      </figure>
      <div class="collection-item-info" data-collection-item-info="">
        <span class="collection-item-title">Ethical Treatment of People and Planet</span>
        <div class="collection-item-description"></div>
      </div>
    </article>
    <article class="collection-item" data-collection-item="">
      <figure class="collection-item-image" data-collection-item-image="">

        <img style="width: 60%;" src={{ 'compliance.png' | asset_img_url: '200x' }} alt="Compliant" />

      </figure>
      <div class="collection-item-info" data-collection-item-info="">
        <span class="collection-item-title">Regulatory and Business Compliance</span>
        <div class="collection-item-description"></div>
      </div>
    </article>

  </div>


</div>

<br/>
<br/>
<br/>

{% section 'page-footer-compliance' %}
