{% section 'page-header' %}

<article class="page page-contact">
  <div class="page-content rte">
    <div style="display: none;">{{ page.content }}</div>
    <h3 id="product-name" style="margin-top: 0px; text-align: center;"></h3>

    {% include 'web-to-lead', lead_type: "Customer", exclude_qualification_questions: "y" %}
    
  </div>
</article>
