{% section 'page-header-source' %}

<article class="page">
  <div class="page-content rte">
    {{ page.content }}
    
    <a href="/pages/sources">
      <img src={{ 'OW_New_Infographic_Source_Map_060222.png' | asset_img_url: '900x' }} alt="Recycled ocean plastic solutions for growing sustainable brands.">
    </a>
    
  </div>
</article>

{% section 'page-footer-source' %}
