{% section 'page-header-about' %}

<br/><br/><br/>

<div id="shopify-section-section-995" class="shopify-section section-featured-collections"> 

  <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-left">
      <div class="collection-featured-item-info">
        <h4 class="collection-featured-item-title">
          Who We Are
          </h4>
        <div class="collection-featured-item-description">
          <div class="page" title="Page 3">
            <div class="section">
              <div class="layoutArea">
                <div class="column">
                  <p>
                    Oceanworks® is the largest global marketplace for sustainable materials. We specialize in hard to access ocean and averted plastic and our portfolio is constantly expanding. Fueling this vision is an experienced global team. We’re a group of fast paced innovators, trained engineers, and creative thinkers committed to accelerating the transition to a world without plastic pollution.
                  </p>
                  <p>
                    Our platform is built to drive recycled plastic offtake and reduce demand for new virgin plastic. Our expansive and growing range of recycled resins, textiles, and products is a testament to our forward thinking customers and committed suppliers. Together we can, and will, make a meaningful dent in plastic pollution. The future depends on it.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <figure class="collection-featured-item-image">
          <img src={{ 'OW_Plastic_Petri_Dish_Circle.jpeg' | asset_img_url: '900x' }} alt="Oceanworks® is the global marketplace for recycled ocean plastic materials and products." style="width: 400px; max-width: 90%; margin: 0 auto;">
      </figure>
    </article>
  </section>

</div>

<br/><br/><br/>
<br/><br/>

<div id="shopify-section-section-996" class="shopify-section section-featured-collections"> 

  <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-right">
      <figure class="collection-featured-item-image">
        <a href="https://oceanworks.co/pages/oceanworks-guaranteed"><img src={{ 'Oceanworks_Product_Mark.jpg' | asset_img_url: '900x' }} alt="The Oceanworks® Guaranteed mark is our promise to our partners and their consumers." style="width: 650px; max-width: 90%; margin: 0 auto;"></a>
		</figure>
      <div class="collection-featured-item-info">
        <h4 class="collection-featured-item-title">
          Where We're Going
         </h4>
        <div class="collection-featured-item-description">
          <div class="page" title="Page 3">
            <div class="section">
              <div class="layoutArea">
                <div class="column">
                  <p>
                    Our vision is profoundly large. Today more than 250 million tons of plastic becomes waste every year and the reality is that less than 10% is recycled, a fraction of the commercial potential. This is no small problem to tackle and solving this crisis is a multi-stakeholder effort. We welcome you to work with Oceanworks, whether you’re a brand, manufacturer, or supplier of recycled materials.
                  </p>
                  <p>
                    Our platform was built to help you, our users, catalyze the adoption of recycled plastics that is so desperately needed. We envision a future where recycled content is so reliable and ubiquitous that it becomes table stakes. The use of sustainable materials moves from an eyecatching storyline to a must have for brand survival. Oceanworks offers today the foundations of trust and quality that make it easy to choose the materials your customers now demand.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>

</div>

<br/><br/><br/>
<br/><br/>

<div id="shopify-section-section-995" class="shopify-section section-featured-collections"> 

  <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-left">
      <div class="collection-featured-item-info">
        <h4 class="collection-featured-item-title">
          Our Guaranteed Supplier Network
          </h4>
        <div class="collection-featured-item-description">
          <div class="page" title="Page 3">
            <div class="section">
              <div class="layoutArea">
                <div class="column">
                  <p>
                    At Oceanworks we sea plastic differently. That means reimagining global supply chains, logistics, materials, and traceability. The <a href="https://oceanworks.co/pages/oceanworks-guaranteed">Oceanworks Guaranteed</a> mark on a material or product means that it meets guidelines for source authenticity, supply chain transparency, and social and environment compliance.
                  </p>
                  <p>
                    We work with a global network of collectors, recyclers, and manufacturers to offer a wide selection of guaranteed materials at your fingertips. Our network processes 100s of tons of recycled plastic annually and includes a range of sources, from ocean to averted and beyond. By choosing to source <A href="https://oceanworks.co/pages/oceanworks-guaranteed">Oceanworks Guaranteed</A>, you’re taking a stand against plastic pollution and becoming a part of the new wave. Say hello to the Sustainable Economy.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="collection-featured-item-cta" href="/pages/sources">
          <span class="collection-featured-item-cta-text">Explore Our Sources</span>
          <span class="collection-featured-item-cta-arrow"><svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
            <path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path>
            </svg>
          </span>
        </a>
      </div>
      <figure class="collection-featured-item-image">
        <img src={{ 'Global_Map.jpg' | asset_img_url: '900x' }} alt="We work with a global network of collectors and processing suppliers." style="width: 600px; max-width: 90%; margin: 0 auto;">
      </figure>
    </article>
  </section>

</div>

<br/><br/><br/>
<br/><br/>

<div id="shopify-section-section-996" class="shopify-section section-featured-collections"> 

  <section class="collection-featured">
    <article class="collection-featured-item collection-featured-item-alignment-right">
      <figure class="collection-featured-item-image">
          <img src={{ 'Sunglasses_on_Plastic_Cropped.jpg' | asset_img_url: '900x' }} alt="Dozens of choices. One click away." style="width: 550px; max-width: 90%; margin: 0 auto;">
      </figure>
      <div class="collection-featured-item-info">
        <h4 class="collection-featured-item-title">
          Where We Began
          </h4>
        <div class="collection-featured-item-description">
          <div class="page" title="Page 3">
            <div class="section">
              <div class="layoutArea">
                <div class="column">
                  <p>
					In 2016 our founder Rob Ianelli created Norton Point, a mission oriented brand which debuted the use of ocean plastics in eyewear. In creating Norton Point, Rob witnesses first hand the challenges of navigating the fragmented, disorganized ocean plastic sector. It was clear that someone needed to roll up their sleeves and do something to close the gap on supply and meet consumer demand at scale. Oceanworks was born.
                  </p>
                  <p>
                    We understand direct to consumer, because we’ve been there. We understand manufacturing and the nuances of global supply chains. Most importantly, we have been on the ground, with hundreds of processors around the world, and have intimate knowledge of the challenges they face in connecting their supply to global markets. We are here to make a difference and are ready to work with you to move from commitment to action. Together, we will make history. It’s time to sea plastic differently! 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>

</div>


<br/><br/><br/>
<br/><br/>

<article class="page">
  <div class="page-content rte">
    {{ page.content }}
  </div>
</article>

{% section 'page-footer-about' %}
