{% section 'page-header' %}

<article class="page">
  <div class="page-content rte" style="text-align: center;">
    {{ page.content }}
    <br/><br/>
    <a
       class="request-quote" href="javascript:return;" onclick="window.history.back();"
       style="color: white; margin: 0 auto; display: inline-block;"
       >
      Return to Purchase Samples &raquo;
    </a>

  </div>
</article>
