<p style="display: none;">Performa x Oceanworks Shaker Cups | Available excuslively at performa.com</p>
<div class="story">
  <div class="story-logo">
    <img src={{ 'OWG_PerformaShakerCup_LandingPage_01.jpg' | asset_img_url: '900x' }} alt="Performa x Oceanworks" />
  </div>
  <div class="story-header">
    <img src={{ 'OWG_PerformaShakerCup_LandingPage_02.jpg' | asset_img_url: '900x' }} alt="A Plastic Negative Shaker Cup | Now That's Cool" />
  <div class="story-impact">
   <a href="https://oceanworks.co/search?q=201611">
    <img src={{ 'OWG_PerformaShakerCup_LandingPageV2_04.jpg' | asset_img_url: '900x' }} alt="Breaking down the impact of Ocean-Bound Plastic" />
   </a>
  </div>
  </div>
  <div class="story-impact">
   <a href="https://oceanworks.co/pages/oceanworks-social-impact">
    <img src={{ 'OWG_PerformaShakerCup_LandingPageV2_06.jpg' | asset_img_url: '900x' }} alt="IMPAC+ by Oceanworks | Learn More" />
   </a>
  </div>
</div>

<article class="page">
  <div class="page-content rte">
    {{ page.content }}
  </div>
</article>