{% section 'page-header' %}

<article class="page" style="text-align: center;">
  <div class="page-content rte" style="padding-bottom: 25px;">
    <h3>Thank you for your contacting Oceanworks!</h3>
    One of our dedicated account managers will be in touch shortly.
    <br/><br/>
    In the meantime, please review our resources that were designed to help companies like yours succeed with ocean plastics:
  </div>
    
  {% section 'resources' %}
  
  <br style="clear: both;" />
  <br style="clear: both;" />
  <br style="clear: both;" />
  <br style="clear: both;" />
    
</article>