{% section 'page-header-compare' %}

<article class="page">
  <div class="page-content rte" style="text-align: center; padding-bottom: 35px;">
    {{ page.content }}

  </div>
</article>
<div style="width: 100%; max-width: 980px; margin-left: auto; margin-right: auto;">
  {% if customer %}
  <iframe class="airtable-embed" src="https://airtable.com/embed/shrqhQMOEN05WFCZE?backgroundColor=blue&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
  {% else %}
  <iframe class="airtable-embed" src="https://airtable.com/embed/shroZ4ND7HTaLdXCk?backgroundColor=blue&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="border: 1px solid #ccc; background: transparent;"></iframe>
  {% endif %}
</div>
<br/><br/>
