{% section 'page-header-onboarding' %}

<article class="page">
  <div class="page-content rte" style="text-align: center; padding-bottom: 35px;">
    {{ page.content }}

  </div>
</article>

{% section 'page-footer-onboarding' %}