{% section 'page-header-jobs' %}

<article class="page">
  <div class="page-content rte">
    {{ page.content }}
    
    <br/><br/>
    
    <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrWzE6Jrtg9SiYlY?backgroundColor=teal" frameborder="0" onmousewheel="" width="100%" height="1269" style="background: transparent; border: 1px solid #ccc;"></iframe>
  </div>
</article>

{% section 'page-footer-jobs' %}
