{% section 'page-header-contact' %}

<article class="page page-contact">
  <div class="page-content rte">
    {{ page.content }}
    
    <br/><br/>
    
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
     function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500); 
    </script>
    <script type="text/javascript">
    function recaptcha_callback(){
    $('.button').prop("disabled", false);
    }
    </script>
    
    {% if customer %}

    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: Please add the following <FORM> element to your page.             -->
    <!--  ----------------------------------------------------------------------  -->

    <form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">

    <input type=hidden name="orgid" value="00Df20000012TX5">
    <input type=hidden name="retURL" value="https://marketplace.oceanworks.co/pages/thank-you">
    <input id="00Nf200000E2aiG" maxlength="255" name="00Nf200000E2aiG" type="hidden" value="" />
	<input id="case_origin" name="case_origin" type="hidden" value="Web-to-Case" />
      <input type=hidden name='captcha_settings' value='{"keyname":"OW_reCAPTCHA","fallback":"true","orgId":"00Df20000012TX5","ts":""}'>

    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
    <!--  these lines if you wish to test in debug mode.                          -->
    <!--  <input type="hidden" name="debug" value=1>                              -->
    <!--  <input type="hidden" name="debugEmail" value="prcheek@gmail.com">       -->
    <!--  ----------------------------------------------------------------------  -->

    <label for="name">Contact Name</label><input  id="name" maxlength="80" name="name" size="20" type="text" value="{{customer.first_name}} {{customer.last_name}}" /><br>

    <label for="email">Work Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" value="{{customer.email}}" /><br>

    <label for="phone">Phone</label><input  id="phone" maxlength="40" name="phone" size="20" type="text" value="{{customer.phone}}" /><br>

    <label for="company">Company</label><input  id="company" maxlength="80" name="company" size="20" type="text" /><br>

    <label for="subject">Subject</label><input  id="subject" maxlength="80" name="subject" size="20" type="text" /><br>

    <label for="description">Message</label><textarea name="description"></textarea><br>

    <div class="g-recaptcha" data-sitekey="6LdxpMEUAAAAALCtqxderMxfrYkncJcX6vIeor0e" data-callback="recaptcha_callback"></div><br>
      
    <input type="submit" name="submit" disabled="true" class="button">

    </form>

    <script type="text/javascript">
      function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
          vars[key] = value;
        });
        return vars;
      }
      var product = decodeURIComponent(getUrlVars()["product"]);
      document.getElementById("00Nf200000E2aiG").value = product;
    </script>

    
    {% else %}

    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: Please add the following <FORM> element to your page.             -->
    <!--  ----------------------------------------------------------------------  -->

    <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

    <input type=hidden name="oid" value="00Df20000012TX5">
    <input type=hidden name="retURL" value="https://marketplace.oceanworks.co/pages/thank-you">
    <input id="00Nf200000E2SZ8" maxlength="255" name="00Nf200000E2SZ8" type="hidden" value="" />
    <input type="hidden" id="00Nf200000E2bJw" name="00Nf200000E2bJw" title="Lead Type" value="Customer" />
    <input id="lead_source" name="lead_source" type="hidden" value="Web-to-Lead" />
      <input type=hidden name='captcha_settings' value='{"keyname":"OW_reCAPTCHA","fallback":"true","orgId":"00Df20000012TX5","ts":""}'>

    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
    <!--  these lines if you wish to test in debug mode.                          -->
    <!--  <input type="hidden" name="debug" value=1>                              -->
    <!--  <input type="hidden" name="debugEmail" value="prcheek@gmail.com">       -->
    <!--  ----------------------------------------------------------------------  -->

    <label for="first_name">First Name</label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>

    <label for="last_name">Last Name</label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>

    <label for="title">Title</label><input  id="title" maxlength="40" name="title" size="20" type="text" /><br>

    <label for="company">Company</label><input  id="company" maxlength="40" name="company" size="20" type="text" /><br>

    <label for="email">Work Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>

    <label for="phone">Phone</label><input  id="phone" maxlength="40" name="phone" size="20" type="text" /><br>

    <label>Desired Material Type</label>
    <select  id="00Nf200000E2SZ7" multiple="multiple" name="00Nf200000E2SZ7" title="Desired Material Type"><option value="PET">PET</option>
    <option value="HDPE">HDPE</option>
    <option value="PP">PP</option>
    <option value="Nylon">Nylon</option>
    </select><br>
      
    <label for="description">Message</label><textarea name="description"></textarea><br>
      
    <div class="g-recaptcha" data-sitekey="6LdxpMEUAAAAALCtqxderMxfrYkncJcX6vIeor0e" data-callback="recaptcha_callback"></div><br>
      
    <input type="submit" name="submit" disabled="true" class="button">

    </form>

    <script type="text/javascript">
      function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
          vars[key] = value;
        });
        return vars;
      }
      var product = decodeURIComponent(getUrlVars()["product"]);
      document.getElementById("00Nf200000E2SZ8").value = product;
    </script>
    
    {% endif %}
    
  </div>
</article>

{% section 'page-footer-contact' %}
