{% section 'page-header-video' %}

<article class="page page-contact" style="margin-bottom: 0px;">
  <div class="page-content rte" style="padding-bottom: 25px;">
    {{ page.content }}
    
    <br/>
    
  </div>
</article>

<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
    
<div style="width: 800px; max-width: 90%; margin: 0 auto; margin-bottom: 50px;">
  <div class='embed-container'><iframe src='https://www.youtube.com/embed/lxTWucnKksw' frameborder='0' allowfullscreen></iframe></div>
</div>


{% section 'page-footer-video' %}
