{% comment %} Please don’t update this content {% endcomment %}

{% layout none %}
{
  "product":
    {
      "id":{{ product.id }},
      "metafields":[
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_ash_content_percent = product.metafields.oceanworks["ash_content_percent"] %}
              {% if v_ash_content_percent != blank %}
                {
                  "namespace": "oceanworks",
                  "key": "ash_content_percent",
                  "value": {{ v_ash_content_percent | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_melt_point__c = product.metafields.oceanworks["melt_point__c"] %}
              {% if v_melt_point__c != blank %}
                {
                  "namespace": "oceanworks",
                  "key": "melt_point__c",
                  "value": {{ v_melt_point__c | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_percent_ocean_plastic = product.metafields.oceanworks["percent_ocean_plastic"] %}
              {% if v_percent_ocean_plastic != blank %}
                {
                  "namespace": "oceanworks",
                  "key": "percent_ocean_plastic",
                  "value": {{ v_percent_ocean_plastic | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_mfi_g_10_min = product.metafields.oceanworks["mfi_g_10_min"] %}
              {% if v_mfi_g_10_min != blank %}
                {
                  "namespace": "oceanworks",
                  "key": "mfi_g_10_min",
                  "value": {{ v_mfi_g_10_min | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_tensile_strength_mpa = product.metafields.oceanworks["tensile_strength_mpa"] %}
              {% if v_tensile_strength_mpa != blank %}
                {
                  "namespace": "oceanworks",
                  "key": "tensile_strength_mpa",
                  "value": {{ v_tensile_strength_mpa | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_intrinsic_viscosity_dl_g = product.metafields.oceanworks["intrinsic_viscosity_dl_g"] %}
              {% if v_intrinsic_viscosity_dl_g != blank %}
                {
                  "namespace": "oceanworks",
                  "key": "intrinsic_viscosity_dl_g",
                  "value": {{ v_intrinsic_viscosity_dl_g | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_certifications = product.metafields.oceanworks["certifications"] %}
              {% if v_certifications != blank %}
                {
                  "namespace": "oceanworks",
                  "key": "certifications",
                  "value": {{ v_certifications | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_color = product.metafields.oceanworks["color"] %}
              {% if v_color != blank %}
                {
                  "namespace": "oceanworks",
                  "key": "color",
                  "value": {{ v_color | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_form = product.metafields.oceanworks["form"] %}
              {% if v_form != blank %}
                {
                  "namespace": "oceanworks",
                  "key": "form",
                  "value": {{ v_form | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_api___material_type = product.metafields.oceanworks["api___material_type"] %}
              {% if v_api___material_type != blank %}
                {
                  "namespace": "oceanworks",
                  "key": "api___material_type",
                  "value": {{ v_api___material_type | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_api___source_type = product.metafields.oceanworks["api___source_type"] %}
              {% if v_api___source_type != blank %}
                {
                  "namespace": "oceanworks",
                  "key": "api___source_type",
                  "value": {{ v_api___source_type | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_source_continent = product.metafields.oceanworks["source_continent"] %}
              {% if v_source_continent != blank %}
                {
                  "namespace": "oceanworks",
                  "key": "source_continent",
                  "value": {{ v_source_continent | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_owg_product = product.metafields.oceanworks["owg_product"] %}
              {% if v_owg_product != blank %}
                {
                  "namespace": "oceanworks",
                  "key": "owg_product",
                  "value": {{ v_owg_product | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_api___product_line = product.metafields.oceanworks["api___product_line"] %}
              {% if v_api___product_line != blank %}
                {
                  "namespace": "oceanworks",
                  "key": "api___product_line",
                  "value": {{ v_api___product_line | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_percent_averted_plastic = product.metafields.oceanworks["percent_averted_plastic"] %}
              {% if v_percent_averted_plastic != blank %}
                {
                  "namespace": "oceanworks",
                  "key": "percent_averted_plastic",
                  "value": {{ v_percent_averted_plastic | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_main_product_type = product.metafields.oceanworks["main_product_type"] %}
              {% if v_main_product_type != blank %}
                {
                  "namespace": "oceanworks",
                  "key": "main_product_type",
                  "value": {{ v_main_product_type | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Key5 = product.metafields.Namespace5["Key5"] %}
              {% if v_Key5 != blank %}
                {
                  "namespace": "Namespace5",
                  "key": "Key5",
                  "value": {{ v_Key5 | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Key6 = product.metafields.Namespace6["Key6"] %}
              {% if v_Key6 != blank %}
                {
                  "namespace": "Namespace6",
                  "key": "Key6",
                  "value": {{ v_Key6 | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Key7 = product.metafields.Namespace7["Key7"] %}
              {% if v_Key7 != blank %}
                {
                  "namespace": "Namespace7",
                  "key": "Key7",
                  "value": {{ v_Key7 | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Key8 = product.metafields.Namespace8["Key8"] %}
              {% if v_Key8 != blank %}
                {
                  "namespace": "Namespace8",
                  "key": "Key8",
                  "value": {{ v_Key8 | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Key9 = product.metafields.Namespace9["Key9"] %}
              {% if v_Key9 != blank %}
                {
                  "namespace": "Namespace9",
                  "key": "Key9",
                  "value": {{ v_Key9 | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Key10 = product.metafields.Namespace10["Key10"] %}
              {% if v_Key10 != blank %}
                {
                  "namespace": "Namespace10",
                  "key": "Key10",
                  "value": {{ v_Key10 | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Key11 = product.metafields.Namespace11["Key11"] %}
              {% if v_Key11 != blank %}
                {
                  "namespace": "Namespace11",
                  "key": "Key11",
                  "value": {{ v_Key11 | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Key12 = product.metafields.Namespace12["Key12"] %}
              {% if v_Key12 != blank %}
                {
                  "namespace": "Namespace12",
                  "key": "Key12",
                  "value": {{ v_Key12 | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Key13 = product.metafields.Namespace13["Key13"] %}
              {% if v_Key13 != blank %}
                {
                  "namespace": "Namespace13",
                  "key": "Key13",
                  "value": {{ v_Key13 | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Key14 = product.metafields.Namespace14["Key14"] %}
              {% if v_Key14 != blank %}
                {
                  "namespace": "Namespace14",
                  "key": "Key14",
                  "value": {{ v_Key14 | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Key15 = product.metafields.Namespace15["Key15"] %}
              {% if v_Key15 != blank %}
                {
                  "namespace": "Namespace15",
                  "key": "Key15",
                  "value": {{ v_Key15 | json }}
                },
              {% endif %}
        
      ]
    }
}
